{% extends 'geeks/extends/foundation.html' %}

{% load static %}

{% block title %}
   <title>Nagranie hasło</title>
{% endblock title %}

{% block root %}
<main>
   <section class="py-8">
   <!-- container -->
   <div class="container">
      <div class="row">
         <div class="offset-xl-1 col-xl-10 col-md-12 col-12">
         <div class="row text-center">
            <!-- col -->
            <div class="col-md-12 px-lg-8 mb-8 mt-6">
               <span class="text-uppercase text-primary fw-semibold ls-md">
                Podaj hasło do nagrania
               </span>
               <!-- heading -->
               <h1 class="h1 fw-bold mt-3">
               To nagranie jest chronione hasłem
               </h1>
               <form method="post" action="{% url "core:recording_token_page" uuid=uuid %}">
                {% csrf_token %}
                <input class="form-control" placeholder="Wpisz hasło tutaj" type="text" name="password" id="password" autocomplete="off" minlength="1" maxlength="32" required>
                <input type="submit" class="btn btn-primary mt-4" value="Zatwierdź hasło">
            </form>
            
            {% if password_incorrect %}
                <p class="text-danger mt-2 fw-bold">
                    To hasło niepoprawne. Upewnij się, że wpisujesz poprawne hasło.
                </p>
            {% endif %}
            </div>
         </div>
         </div>
      </div>
   </div>
   </section>
</main>
{% endblock root %}
