{% load static %}
<section class="pt-md-6 pt-6 pb-md-1 pb-6" style="background-image: url({% static "geeks/assets/images/mentor/mentor-glow.svg" %}); background-repeat: no-repeat; background-size: contain">
    <div class="container py-lg-6">
       <!--row-->
       <div class="row align-items-center gy-4 justify-content-center">
          <div class="col-xxl-6 col-xl-6 col-md-10">
             <div class="d-flex flex-column gap-5 text-center">
                <div class="d-flex flex-column gap-2">
                   <span class="text-dark fs-5">
                     Praktycy dla praktyków - Gwarantujemy <b>Minimum teorii - Maksimum praktyki</b>
                  </span>
                   <h1 class="mb-0 display-2 fw-bold">
                      <div>Szkolenia dla branży</div>
                      {% comment %} <span class="headingTyped text-primary" data-strings="Javascript, Startup, React, Marketing, Branding">React</span><span class="typed-cursor typed-cursor--blink" aria-hidden="true">|</span> {% endcomment %}
                      {% comment %} <span class="text-primary">branży</span> {% endcomment %}
                      <span class="headingTyped2 text-primary"></span>
                     </h1>
                </div>

                  {% comment %}
                     <div class="d-flex flex-column gap-3">
                        <!--form-->
                        <form action="{% url 'core:webinar_category_page' slug="wszystkie-szkolenia" %}" method="get">
                           <div class="input-group mb-3">
                              <input type="text" class="form-control form-control-lg" placeholder="Szukaj" aria-label="Szukaj szkolenia" aria-describedby="Szukaj szkolenia">
                              <button class="btn btn-primary btn-lg" id="basic-addon2">Znajdź szkolenia</button>
                           </div>
                        </form>
                       <div class="gap-2 d-flex flex-wrap justify-content-center">
                          <a href="{% url 'core:webinar_category_page' slug="wszystkie-szkolenia" %}" class="btn btn-tag btn-sm btn-light fs-4">Wszystkie szkolenia</a>
                          {% for category, count, _ in CACHED_MAIN_CATEGORIES %}
                             {% if count or 1 %}
                                <a href="{% url 'core:webinar_category_page' slug=category.slug %}" class="btn btn-tag btn-sm fs-4">{{category.name}}</a>
                             {% endif %}
                          {% endfor %}
                        </div>
                     </div>
                  {% endcomment %}
                
             </div>
          </div>
       </div>
    </div>
 </section>