<section class="py-lg-14 bg-light pt-8 pb-10">
  <!-- container -->

  <div class="container">
    <div class="row">
      <!-- col -->

      <div class="offset-xl-1 col-xl-10 col-md-12 col-12">
        <div class="row text-center">
          <div class="col-md-12 px-lg-10 mb-8 mt-6">
            <!-- text -->

            <span class="text-uppercase text-primary fw-semibold ls-md"
              >Przeglądaj kategorie
            </span>
            <!-- heading -->

            <h2 class="h1 fw-bold mt-3">
              Odkryj naszą ofertę szkoleniową
            </h2>
            <!-- text -->

            <p class="mb-0 fs-4">
              Wybierz kategorię, a pokażemy Ci interesujące Cię szkolenia!
            </p>
          </div>
        </div>
        <div class="row gy-4">
          {% for category in categories %}
          <div class="col-lg-4 col-md-4 col-12">
            {% include "geeks/components/category_card.html" with category=category count=0 %}
          </div>
          {% endfor %}
          {% comment %} <div class="col-12 mt-8 text-center">
            <a href="{% url 'core:webinar_category_page' slug="wszystkie" %}" class="btn btn-outline-primary">
              Zobacz wszystkie kategorie
            </a>
          </div> {% endcomment %}
        </div>
      </div>
    </div>
  </div>
</section>
