{% load static %}
<section class="py-lg-6 py-6">
  <div class="container text-center">
    <div class="row">
      <div class="col-xl-12 col-md-12 col-12">
        <div class="text-center mb-6">
          <span class="text-uppercase text-gray-400 ls-md fw-semibold">
            Zaufali nam
          </span>
        </div>
      </div>
      <div class="col-xl-10 offset-xl-1">
        <div class="table-responsive-lg">
          <div
            class="row row-cols-lg-5 row-cols-md-3 row-cols-2 g-4 flex-nowrap"
          >
            {% for logo_url, name in our_clients %}
            <div class="col">
              <div class="text-center mb-3">
                <img
                  src="{% static logo_url %}"
                  alt="{{name}}"
                  style="height: 2rem"
                  class="img-fluid"
                />
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
