{% extends './RegisterExtend.html' %} 
{% load static %}

{% block content %}
<!--begin::Aside-->
<div
class="d-flex flex-column flex-column-fluid flex-center w-lg-50 p-10"
>
<!--begin::Wrapper-->
<div
  class="d-flex justify-content-start flex-column-fluid flex-column w-100 mw-450px"
>
  <!--begin::Header-->
  <div class="d-flex flex-stack py-2">
    <!--begin::Back link-->
    <div class="me-2">
      <a
        href="{% url 'core:homepage' %}"
        class="btn btn-icon bg-light rounded-circle"
      >
        <i class="ki-duotone ki-black-left fs-2 text-gray-800"></i>
      </a>
    </div>
    <!--end::Back link-->
    <!--begin::Sign Up link-->
    <div class="m-0">
      <span
        class="text-gray-400 fw-bold fs-5 me-2"
        data-kt-translate="sign-up-head-desc"
        >Aktywowałeś konto ?</span
      >
      <a
        href="{% url 'core:login_page' %}"
        class="link-primary fw-bold fs-5"
        data-kt-translate="sign-up-head-link"
        >Zaloguj się</a
      >
    </div>
    <!--end::Sign Up link=-->
  </div>
  <!--end::Header-->
  <!--begin::Body-->
  <div class="pt-15">
      <!--begin::Heading-->
      <div class="text-start mb-10">
        <!--begin::Title-->
        <h1
          class="text-dark mb-3 fs-3x"
          data-kt-translate="sign-up-title"
        >
          Konto aktywowane!
        </h1>
        <!--end::Title-->
      </div>
      <!--end::Heading-->

      <p class="fs-4">
        Twoje konto zostało aktywowane!
        <br>
        Dla twojej wygody zostałeś automatycznie zalogowany.
      </p>
      <p class="fs-4">
        Możesz teraz dołączyć do <span class="fw-bold">programu partnerskiego</span>.
      </p>
      <a href="{% url 'core:loyalty_program_terms_of_service_accept_page' %}" class="btn btn-primary hover-scale">
        Dołącz do programu partnerskiego
    </a>

  </div>
  <!--end::Body-->
</div>
<!--end::Wrapper-->
</div>
<!--end::Aside-->
<!--begin::Body-->
<div
class="d-none d-lg-flex flex-lg-row-fluid w-50 bgi-size-cover bgi-position-y-center bgi-position-x-start bgi-no-repeat"
style="background-image: url({% static 'media/auth/bg11.png' %})"
></div>
<!--begin::Body-->
{% endblock content %}


