{% extends 'geeks/extends/foundation.html' %}

{% load static %}

{% block root %}
<main>
  <div
    class="py-20"
    style="
      background: url({% static 'geeks/assets/images/background/company-bg.jpg' %}) no-repeat;
      background-position: center;
      background-size: cover;
    "
  ></div>
  <section>
    <!-- container -->
    <div class="container">
      <!-- row -->
      <div class="row align-items-center">
        <!-- col -->
        <div class="col-12">
          <div class="d-md-flex align-items-center">
            {% comment %} <!-- img -->
            <div class="position-relative mt-n5">
              <img
                src="{% static 'geeks/assets/images/job/png/job-logo.png' %}"
                alt="logo"
                class="rounded-3 border"
              />
            </div> {% endcomment %}

            {% comment %} <div class="w-100 ms-md-4 mt-4"> {% endcomment %}
            <div class="w-100 mt-4">
              <div class="d-flex justify-content-between">
                <div>
                  <!-- heading -->
                  <h1 class="mb-0">{{COMPANY_NAME}}</h1>

                  <div>
                    <!-- reviews -->
                    <span class="text-dark fw-medium"
                      >4.5
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="10"
                        height="10"
                        fill="currentColor"
                        class="bi bi-star-fill text-warning align-baseline"
                        viewBox="0 0 16 16"
                      >
                        <path
                          d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
                        ></path>
                      </svg> </span
                    ><span class="ms-0">(2643 opinii)</span>
                  </div>
                </div>
                {% comment %} <div>
                  <!-- button -->
                  <a href="#" class="btn btn-outline-primary">Follow</a>
                </div> {% endcomment %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="py-6">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <!-- nav -->
          <div>
            <ul class="nav nav-line-bottom">
              <li class="nav-item">
                <a href="company-about.html" class="nav-link active"
                  >O nas</a
                >
              </li>
              {% comment %}
                <li class="nav-item">
                  <a href="company-reviews.html" class="nav-link"
                    >Review <span class="text-inherit">(11.7k)</span></a
                  >
                </li>
                <li class="nav-item">
                  <a href="company-jobs.html" class="nav-link"
                    >Jobs <span class="text-inherit">(109)</span></a
                  >
                </li>
                <li class="nav-item">
                  <a href="company-benefits.html" class="nav-link">Benefits</a>
                </li>
                <li class="nav-item">
                  <a href="company-photos.html" class="nav-link">Photos</a>
                </li>
              {% endcomment %}
            </ul>
          </div>
        </div>
      </div>
      <div class="row mt-6">
        <div class="col-12">
          <div class="mb-6">
            <p>
              Od 2021 roku firma Wykładowca.pl specjalizuje się w integrowaniu środowiska biznesowego oraz w rozwijaniu kompetencji zawodowych. Dostarczamy usługi z zakresu doradztwa podatkowego, księgowości, konsultingu, organizacji konferencji oraz prowadzenia szkoleń. Naszym priorytetem jest realizacja profesjonalnych szkoleń online związanych z zagadnieniami rachunkowości i finansów, które są aktualizowane wraz z postępem technologicznym.
            </p>

            <p>
              Współpracujemy z zespołem ekspertów, którzy posiadają szerokie doświadczenie w przeprowadzaniu szkoleń dla pracowników różnych branż. Nasze szkolenia dotyczą m.in. prawa pracy, podatków, płac, czasu pracy, ubezpieczeń społecznych i dochodów międzynarodowych. Tworzymy spersonalizowane programy szkoleniowe, które dostosowujemy do oczekiwań i potrzeb naszych Klientów.
            </p>

            <p>
              Nasze usługi szkoleniowe skierowane są do kadry zarządzającej, specjalistów finansowo-księgowych oraz osób prywatnych. Wyzwania biznesowe, jakie stają przed przedsiębiorcami, wymagają stałego poszerzania wiedzy i umiejętności. Dlatego nasze szkolenia są dostępne dla osób o różnym poziomie wiedzy - od podstawowej, po zaawansowaną.
            </p>

            <p>
              Jako partnerzy biznesowi, dbamy o profesjonalną realizację usług oraz o budowanie trwałych relacji opartych na zaufaniu i zrozumieniu potrzeb Klientów. Chcemy, aby nasi Klienci czuli się komfortowo i zapewniamy im pełne wsparcie w trakcie szkoleń. Nasza kadra trenerska to doświadczeni eksperci, którzy przekazują wiedzę i umiejętności na najwyższym poziomie.
            </p>

            <p>
              Wykorzystując bogaty kapitał intelektualny naszych wykładowców, trenerów, ekspertów i praktyków, realizujemy nasz główny cel - dostarczanie szkoleń z zakresu rachunkowości, finansów, podatków, kadr i płac, umiejętności interpersonalnych oraz zarządczych. Nasz zespół składa się z doświadczonych profesjonalistów, którzy w sposób przystępny i zrozumiały przekazują swoją wiedzę i umiejętności. Jesteśmy dumni z faktu, że w ciągu ponad dwóch lat działalności, udało nam się zrealizować nasz cel z powodzeniem, pomagając ponad tysiącu uczestników w rozwoju ich kwalifikacji zawodowych. Chcemy kontynuować naszą misję i dostarczać skuteczne i wartościowe szkolenia, dostosowane do potrzeb naszych klientów.
            </p>

            <p>
              Wykładowca.pl oferuje szkolenia, które umożliwiają rozwijanie wiedzy merytorycznej i umiejętności biznesowych dla różnych grup odbiorców, takich jak kadra zarządzająca, specjaliści finansowo-księgowi, przedstawiciele jednostek samorządu terytorialnego, sektora budżetowego oraz osoby prywatne. Nasze szkolenia są dostosowane do potrzeb i oczekiwań uczestników i pozwalają zarówno na poszerzenie wiedzy podstawowej, jak i zdobycie nowych, wartościowych kwalifikacji na rynku pracy.
            </p>

            <p>
              Oprócz tradycyjnych szkoleń stacjonarnych, oferujemy także szkolenia online, które pozwalają na elastyczne dostosowanie się do potrzeb naszych klientów. Wszystkie nasze szkolenia prowadzone są przez wykwalifikowaną kadrę, posiadającą bogate doświadczenie praktyczne oraz pedagogiczne, co gwarantuje najwyższą jakość przekazywanej wiedzy.
            </p>

            <p>
              Jako firma szkoleniowa, dbamy o rozwój naszych uczestników, dlatego też po każdym szkoleniu udostępniamy materiały szkoleniowe oraz zapewniamy dostęp do naszych ekspertów, którzy służą pomocą i radą. Naszym celem jest stałe dostosowywanie się do potrzeb rynku i zapewnienie naszym klientom konkurencyjnej przewagi na rynku pracy.
            </p>

            <p>
              W naszej firmie każdy Klient jest traktowany jak Partner, a nasze relacje biznesowe opierają się na profesjonalizmie i indywidualnym podejściu do potrzeb uczestników szkoleń. Zależy nam na budowaniu długotrwałych i owocnych relacji, dlatego też oferujemy wsparcie naszych Klientów na każdym etapie współpracy. Nasza kadra wykładowców i trenerów to eksperci w swoich dziedzinach, którzy dzielą się z uczestnikami szkoleń wiedzą najwyższej jakości. Chcemy, aby nasi Klienci czuli się u nas komfortowo i bezpiecznie, a szkolenia były dla nich inspiracją do rozwoju zawodowego i osobistego.
            </p>

            <p>
              Nasze szkolenia są prowadzone przez czołowych specjalistów w swoich dziedzinach, którzy posiadają praktyczne doświadczenie w swojej pracy. Wśród wykładowców znajdują się przedstawiciele Izb i Urzędów Skarbowych, wykładowcy wyższych uczelni, praktycy - prawnicy, doradcy podatkowi, biegli rewidenci, główni księgowi, dyrektorzy, kontrolerzy i analitycy finansowi. Każdy z wykładowców posiada duże doświadczenie zawodowe oraz doskonałe przygotowanie warsztatowe, co pozwala im przekazać uczestnikom wiedzę na wysokim poziomie. Cieszą się oni również uznaniem w swoich dziedzinach, publikując liczne fachowe opracowania i artykuły.
            </p>

            <p>
              Jako firma dbamy o to, aby standardy naszych szkoleń były jak najwyższe. Dlatego też, zawsze wybieramy trenerów, którzy nie ograniczają swojego przekazu tylko do omówienia przepisów prawnych, ale przekazują praktyczną wiedzę, którą można zastosować w codziennej pracy. Poza tym, każde szkolenie jest oceniane przez uczestników poprzez wypełnienie ankiet oceniających trenerów oraz skuteczność szkolenia. Dzięki temu, jesteśmy w stanie ewaluować naszą pracę i wciąż podnosić jakość naszych usług. Ponadto, każdy trener jest rozliczany z efektów przeprowadzonych zajęć, co zobowiązuje ich do jak najlepszej pracy i przekazania praktycznych umiejętności.
            </p>

            <p>
              Nasi wykładowcy to prawdziwi eksperci w swoich dziedzinach, którzy stworzyli najnowsze i najbardziej innowacyjne programy szkoleniowe z zakresu kadr i płac. Dzięki ich doświadczeniu i wiedzy, tysiące osób z powodzeniem wykorzystało zdobytą przez nas wiedzę w swojej pracy. Każdy z nich posiada praktyczne podejście do prowadzonych zajęć, a ich umiejętności w przekazywaniu informacji są na bardzo wysokim poziomie. Dysponują wieloletnim doświadczeniem trenerskim, dzięki czemu potrafią skutecznie angażować grupę oraz przekazywać trudne tematy w prosty i zrozumiały sposób.
            </p>
          
        </div>
          
          {% comment %} 
          <!-- text -->
          <div class="mb-6">
            <h2 class="mb-3">Mission</h2>
            <p>
              Aliquam pellentesque mollis interdum. Proin ligula lacus, maximus
              quis ante a, luctus sodales sapien. Donec ut tristique nisi. Nulla
              a quam sit amet turpis convallis porttitor vel sed quam. Ut in
              odio enim. Maecenas eu tellus erat. Maecenas nec maximus elit, ac
              suscipit justo. Maecenas nisl tellus, sodales non gravida eget,
              placerat sit amet erat.
            </p>
          </div>
          <!-- text -->
          <div class="mb-6">
            <h2 class="mb-3">Vision</h2>
            <p>
              Proin ligula lacus, maximus quis ante a, luctus sodales sapien.
              Aliquam pellentesque mollis interdum. Nulla a quam sit amet turpis
              convallis port titor vel sed quam. Donec ut tristique nisi.
            </p>
          </div>
           {% endcomment %}
          <div>
            <!-- table -->

            {% comment %} <table class="table table-borderless w-lg-40 w-md-50">
              <tbody>
                <tr>
                  <td class="ps-0 pb-0">
                    <span class="text-dark fw-semibold">Founded:</span>
                  </td>
                  <td class="ps-0 pb-0"><span>2011</span></td>
                </tr>
                <tr>
                  <td class="ps-0 pb-0">
                    <span class="text-dark fw-semibold">Company size:</span>
                  </td>
                  <td class="ps-0 pb-0"><span>350 - 500</span></td>
                </tr>
                <tr>
                  <td class="ps-0 pb-0">
                    <span class="text-dark fw-semibold">Website:</span>
                  </td>
                  <td class="ps-0 pb-0">
                    <a href="https://codescandy.com/"
                      >https://codescandy.com/</a
                    >
                  </td>
                </tr>
                <tr>
                  <td class="ps-0 pb-0">
                    <span class="text-dark fw-semibold">Industry:</span>
                  </td>
                  <td class="ps-0 pb-0">Information Technology</td>
                </tr>
                <tr>
                  <td class="ps-0 pb-0">
                    <span class="text-dark fw-semibold">Social Presence:</span>
                  </td>
                  <td class="ps-0 pb-0">
                    <a
                      href="#"
                      class="mdi mdi-facebook fs-4 text-muted me-2"
                    ></a>
                    <a href="#" class="mdi mdi-twitter text-muted me-2"></a>
                    <a href="#" class="mdi mdi-linkedin text-muted"></a>
                  </td>
                </tr>
              </tbody>
            </table> {% endcomment %}
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock root %}
