{% extends 'geeks/extends/foundation.html' %}

{% load static %}

{% block title %}
  <title>Krajowy Fundusz Szkoleniowy</title>
{% endblock title %}

{% block root %}
<main>
    <section class="py-8 bg-light">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-12 ">
            <!-- caption-->
            <h1 class="fw-bold mb-0 display-4 lh-1">Krajowy Fundusz Szkoleniowy</h1>
          </div>
        </div>
      </div>
    </section>
    <!-- container  -->
    <section class="pt-3">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-12">
            <div>
              <!-- breadcrumb  -->
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/">Strona główna</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Krajowy Fundusz Szkoleniowy</li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- container  -->
    <section class="pt-7 pt-lg-8 pb-2">
      <div class="container">
        <div class="row justify-content-center">
        </div>
        <div class="row justify-content-center">
          <div class="col-xl-12 col-lg-12 col-md-12 col-12 mb-2">
            <!-- Descriptions -->
            <div>
              <div class="mb-5">
                <h2 class="mb-2">Co to Krajowy Fundusz Szkoleniowy?</h2>
                <p>Krajowy Fundusz Szkoleniowy, w skrócie KFS, został utworzony ze środków Funduszu Pracy z myślą o wsparciu kształcenia ustawicznego pracodawców oraz pracowników. Celem utworzenia KFS jest zapobieganie utracie zatrudnienia przez osoby pracujące z powodu kompetencji nieadekwatnych do wymagań zmieniającej się gospodarki. Zwiększenie inwestycji w potencjał kadrowy powinno poprawić zarówno pozycję firm jak i samych pracowników na rynku pracy.</p>
                <!-- Img  -->
              </div>
              <div class="mb-4">
                <p class="lead text-dark">Kto może ubiegać się o środki z KFS?</p>
                <p>
                  Ze środków Krajowego Funduszu Szkoleniowego mogą skorzystać wszyscy pracodawcy,
                  którzy chcą podnieść kompetencje swoje i/lub pracowników. W rozumieniu Ustawy
                  o promocji zatrudnienia i instytucjach rynku pracy (Dz.U. 2004 Nr 99 poz. 1001)
                  pracodawcą jest każda osoba, która zatrudnia co najmniej jednego pracownika – może
                  to być zarówno osoba fizyczna i osoba prawna, jak i jednostka organizacyjna, która
                  nie posiada osobowości prawnej (np. stowarzyszenie, fundacja). Warunkiem koniecznym
                  jest zatrudnienie pracownika na pełen lub część etatu; nie ma jednak znaczenia, czy
                  jest to umowa na czas określony czy nieokreślony.
                  <br>
                  <br>
                  Środki KFS przekazane pracodawcom prowadzącym działalność gospodarczą w rozumieniu
                  prawa konkurencji UE stanowią pomoc de minimis.
                  <br><br>
                  W przypadku mikroprzedsiębiorców ze środków KFS może zostać sfinansowanych 100%
                  kosztów kształcenia ustawicznego, natomiast w przypadku pozostałych firm pracodawca
                  pokrywa 20% kosztów szkolenia. Kwota przyznana na szkolenie dla jednego pracownika
                  nie może przekroczyć w danym roku 300% przeciętnego wynagrodzenia.
                </p>
              </div>
              <div class="mb-4">
                <p class="lead text-dark">Jak ubiegać się o dofinansowanie z KFS?</p>
                <ul style="
                  list-style-type: none;
                  padding: 0;
                  ">
                  <li>
                    <span>
                    <strong>1.</strong> Pracodawca wypełnia wniosek w formie papierowej lub elektronicznej
                    (w tym przypadku wniosek musi posiadać tzw. bezpieczny podpis elektroniczny).
                    </span>
                  </li>
                  <li>
                    <span>
                    <strong>2.</strong> Wniosek wraz z załącznikami  nr 1, 2 i 3 należy złożyć w powiatowym
                    urzędzie pracy właściwym ze względu na siedzibę pracodawcy lub miejsce prowadzenia działalności gospodarczej.
                    </span>
                  </li>
                  <li>
                    <span>
                    <strong>3.</strong> Powiatowy urząd pracy ma 30 dni na rozpatrzenie wniosku i udzielenie odpowiedzi.
                    </span>
                  </li>
                  <li>
                    <span>
                    <strong>4.</strong> W przypadku pozytywnego rozpatrzenia wniosku, z pracodawcą zostaje zawarta umowa.
                    </span>
                  </li>
                  <li>
                    <span>
                    <strong>5.</strong> Pracodawca zawiera z pracownikiem umowę określającą prawa i obowiązki stron.
                    Pracownik, który nie ukończył kształcenia ustawicznego finansowanego ze środków KFS
                    z powodu rozwiązania przez niego umowy o pracę lub rozwiązania z nim umowy o pracę
                    jest obowiązany do zwrotu pracodawcy poniesionych kosztów. Pracodawca ma natomiast
                    obowiązek zwrócić pobrane na ten cel środki KFS.
                    </span>
                  </li>
                </ul>
                <p>
                  Więcej informacji na stronie
                  <a rel="nofollow" target="_blank" href="https://www.gov.pl/web/rodzina/krajowy-fundusz-szkoleniowy">Ministerstwa Rodziny, Pracy i Polityki Społecznej</a>.
                </p>
                <p>
                  <b>Uwaga! Każdy Urząd Pracy posiada odrębne regulacje dotyczące składania wniosków.</b>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Container -->
    </section>
    <section class="py-lg-5 py-5">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-12">
            <div class="mb-4">
              <h2 class="mb-0 fw-semibold">Pytania i Odpowiedzi</h2>
            </div>
            <div class="accordion accordion-flush" id="accordionExample">
              <div class="border p-3 rounded-3 mb-2" id="headingOne">
                <h3 class="mb-0 fs-4">
                  <a href="#" class="d-flex align-items-center text-inherit text-decoration-none active" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  <span class="me-auto">Gdzie mogę uzyskać więcej informacji o dofinansowaniu?</span>
                  <span class="collapse-toggle ms-4">
                  <i class="fe fe-chevron-down text-muted"></i>
                  </span>
                  </a>
                </h3>
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample" style="">
                  <div class="pt-2">Szczegółowe informacje można uzyskać w każdym powiatowym urzędzie pracy.</div>
                </div>
              </div>
              <!-- Card  -->
              <!-- Card header  -->
              <div class="border p-3 rounded-3 mb-2" id="headingTwo">
                <h3 class="mb-0 fs-4">
                  <a href="#" class="d-flex align-items-center text-inherit text-decoration-none collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  <span class="me-auto">Czy ze środków KFS można sfinansować całkowity koszt szkolenia?</span>
                  <span class="collapse-toggle ms-4">
                  <i class="fe fe-chevron-down text-muted"></i>
                  </span>
                  </a>
                </h3>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample" style="">
                  <div class="pt-3">
                    Tak, dofinansowanie jakie można uzyskać, to kwota do 100% ceny szkolenia.
                  </div>
                </div>
              </div>
              <!-- Card  -->
              <!-- Card header  -->
              <div class="border p-3 rounded-3 mb-2" id="headingThree">
                <h3 class="mb-0 fs-4">
                  <a href="#" class="d-flex align-items-center text-inherit text-decoration-none active collapsed" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  <span class="me-auto">Jaka jest wysokość udzielonego wsparcia finansowego dla pracownika?</span>
                  <span class="collapse-toggle ms-4">
                  <i class="fe fe-chevron-down text-muted"></i>
                  </span>
                  </a>
                </h3>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample" style="">
                  <div class="pt-3">- w przypadku mikroprzedsiębiorstw, 100% poniesionych kosztów, nie więcej jednak niż 300% przeciętnego wynagrodzenia w danym roku na jednego uczestnika,<br>
                    - w przypadku pozostałych przedsiębiorstw, 80% poniesionych kosztów, nie więcej jednak niż 300% przeciętnego wynagrodzenia w danym roku na jednego uczestnika.
                  </div>
                </div>
              </div>
              <!-- Card  -->
              <!-- Card header  -->
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
{% endblock root %}


{% block body_scripts %}{% endblock body_scripts %}