{% extends 'core/pages/crm/extends/CrmBase.html' %} 
{% load static %}

{% block head_stylesheets %}
{% endblock head_stylesheets %}

{% block crm_content %}

<!--begin::Row-->
<div class="row g-6 g-xl-9 mb-10">

  <div class="content flex-column-fluid" id="kt_content">
    <!--begin::Toolbar-->
    <div class="toolbar d-flex flex-stack flex-wrap mb-5 mb-lg-7" id="kt_toolbar">
      <!--begin::Page title-->
      <div class="page-title d-flex flex-column py-1">
        <!--begin::Title-->
        <h1 class="d-flex align-items-center my-1">
          <span class="text-dark fw-bold fs-1">Pytania</span>
          <!--begin::Description-->
          <small class="text-muted fs-6 fw-semibold ms-1">({{CRM_CONTACT_MESSAGE_NEWSET_COUNT}})</small>
          <!--end::Description-->
        </h1>
        <!--end::Title-->
      </div>
      <!--end::Page title-->
    </div>
    <!--end::Toolbar-->
    <!--begin::Post-->
    <div class="post" id="kt_post">
      <!--begin::Questions-->
      <div class="mb-10">
        {% for contact_message in contact_messages %}
        <!--begin::Question-->
        <div class="mb-0">
          <!--begin::Head-->
          <div class="d-flex align-items-center mb-4">
            <!--begin::Title-->
            <a href="../../demo5/dist/apps/devs/question.html" class="fs-2 fw-bold text-gray-900 text-hover-primary me-1">
              {{contact_message.first_name}} {{contact_message.last_name}}
            </a>
            <!--end::Title-->
          </div>
          <!--end::Head-->
          <!--begin::Summary-->
          <div class="fs-2 fw-normal text-gray-700 mb-4">
            {{contact_message.message}}
          </div>
          <!--end::Summary-->
          <!--begin::Foot-->
          <div class="d-flex flex-stack flex-wrap">
            <!--begin::Author-->
            <div class="d-flex align-items-center py-1">
              <!--begin::Name-->
              <div class="d-flex flex-column align-items-start justify-content-center">
                <span class="text-gray-900 fs-5  fw-semibold lh-1 mb-2">
                  {{contact_message.email}}
                </span>
                <span class="text-gray-900 fs-5  fw-semibold lh-1 mb-2">
                  {{contact_message.phone_number|default:"Nie podano numeru telefonu"}}
                </span>
                <span class="text-muted fs-5   fw-semibold lh-1">
                  {{contact_message.created_at}}
                </span>
                <span class="text-muted fs-5   fw-semibold lh-1">
                  <a href="{{contact_message.related_to}}">
                    Strona: {{contact_message.related_to}}
                  </a>
                </span>
              </div>
              <!--end::Name-->
            </div>
            <!--end::Author-->
          </div>
          <!--end::Foot-->
        </div>
        <!--end::Question-->
        <!--begin::Separator-->
        <div class="separator separator-dashed border-gray-300 my-8"></div>
        <!--end::Separator-->
        {% endfor %}
      </div>
      <!--end::Questions-->
    </div>
    <!--end::Post-->
  </div>

{% endblock crm_content %}

{% block body_scripts %}
{% endblock body_scripts %}
