{% extends 'core/pages/crm/extends/CrmBase.html' %} 
{% load static %}

{% block head_stylesheets %}{% endblock head_stylesheets %}

{% block crm_content %}
    <h1>CRM Reset Hasła</h1>

    <p class="fs-4">
        Link do resetowania hasła dla użytkownika <b>{{user}}</b>:
    </p>

    <p class="fs-4">
        <a href="{{reset_url}}"><b>{{reset_url}}</b></a>
    </p>

    <p class="fs-4">
        Linku można użyć bezpośrednio <b>albo</b> wysłać użytkownikowi, aby sam zmienił hasło.
    </p>


{% endblock crm_content %}

{% block body_scripts %}{% endblock body_scripts %}
