<tr>
<td style="{{td_classes|safe}}padding-top:15px;">
    <h3 style="margin: 1em 0; font-size:1.17em">
    Księgowość i kadry - #Dam pracę, #Szukam pracy
    </h3>
    <hr style="border-width: 0; background: #000; color: #000; height:0.2em">
    <p style="margin: 1em 0;">
    📊💼 Chcesz zmienić pracę? Szukasz pracy w księgowości lub kadrach? 📄🖋️
    </p>
    <p style="margin: 1em 0;">
    Mamy dla Ciebie idealne miejsce! Dołącz do dedykowanej grupy na Facebooku, w której znajdziesz najświeższe oferty pracy publikowane przez ekspertów i firmy z branży.
    </p>
    <p style="margin: 1em 0;">
    🔗 Link: <a href="https://www.facebook.com/groups/pracawkadrachiksiegowosci/">
        https://www.facebook.com/groups/pracawkadrachiksiegowosci/
    </a>
    </p>
</td>
</tr>