<tr>
    <td style="{{td_classes|safe}}">
      <h1 style="margin: .67em 0; font-size:2em">
        {% if webinar.is_connected_to_conference %}[ Bezpłatny webinar ]{% endif %}
        {% if subject_override %}
          {{subject_override}}
        {% else %}
          {{webinar.title}}
        {% endif %}
      </h1>
      {% if webinar.description %}
      <h2 style="margin: .83em 0; font-size:1.5em">{{webinar.description}}</h2>
      {% endif %}
    </td>
</tr>

<tr>
  <td style="{{td_classes|safe}}padding-top:15px;">
    <strong style="font-weight: bold">Terminy webinaru:</strong> 
  </td>
</tr>

<tr>
  <td style="{{td_classes|safe}}padding-top:15px;">
    <ul>
        <li>
          <a href="{{cta_href}}">
            {{webinar.date|date:"j E Y"}} godzina {{webinar.date|date:"H:i"}}
          </a>
          {% if pewny_termin %} - <b>Pewny termin</b>{% endif %}
        </li>
        {% for related_webinar in related_webinars %}
        <li style="margin-top:5px;">
          <a href="{{related_webinar.1}}">
            {{related_webinar.0.date|date:"j E Y"}} godzina {{related_webinar.0.date|date:"H:i"}}
          </a>
        </li>
        {% endfor %}
    </ul>
  </td>
</tr>

{% if access_to_recordings %}
<tr>
  <td style="{{td_classes|safe}}padding-top:5px;padding-bottom:15px;">
    <strong style="font-weight: bold; color: #f1416c;">
      Jeśli żaden z terminów webinaru Państwu nie odpowiada, możecie wybrać dostęp do nagrania <u>na 48 godzin</u> po zajęciach.
      Wystarczy zapisać się na webinar i w polu 'Dodatkowe uwagi' podać preferowany termin dostępu.
    </strong>
  </td>
</tr>
{% comment %}
  <tr>
    <td style="{{td_classes|safe}}padding-top:5px;padding-bottom:15px;">
      <strong style="font-weight: bold; color: #f1416c;">
        Możecie Państwo sami wybrać moment rozpoczęcia dostępu do nagrania.
        Wystarczy zapisać się na webinar i w polu 'Dodatkowe uwagi' określić preferowany termin dostępu.
      </strong>
    </td>
  </tr>
{% endcomment %}
{% endif %}

{% if show_last_spots and webinar.remaining_places != 0 %}

<tr>
  <td style="{{td_classes|safe}}padding-top:5px;">
    <strong style="font-weight: bold; color: orange;">Pozostało wolnych miejsc:</strong> {{webinar.remaining_places}}
  </td>
</tr>

{% endif %}

<tr>
  <td style="{{td_classes|safe}}padding-top:5px;">
    <strong style="font-weight: bold">Czas trwania:</strong> 
    {{webinar.get_duration_display}}
  </td>
</tr>

{% if not webinar.is_lecturer_anonymized %}
<tr>
  <td style="{{td_classes|safe}}padding-top:5px;">
    <strong style="font-weight: bold">Wykładowca:</strong> 
    {{webinar.lecturer}}
  </td>
</tr>
{% endif %}

{% if webinar.is_connected_to_conference %}
<tr>
  <td style="{{td_classes|safe}}padding-top:5px;">
    <strong style="font-weight: bold">Cena:</strong> 
    Bezpłatne
  </td>
</tr>
{% endif %}

{% if show_price and not webinar.is_connected_to_conference %}
  {% if webinar.is_discounted %}
  <tr>
    <td style="{{td_classes|safe}}padding-top:5px;">
      <strong style="font-weight: bold">Cena:</strong> 
      {{webinar.discount_netto}}zł {{PRICE_ADNOTATION}} za uczestnika
    </td>
  </tr>
  <tr>
    <td style="{{td_classes|safe}}padding-top:5px;">
      <strong style="font-weight: bold;">
        Stara cena {{webinar.price_netto}}zł. Zniżka trwa do {{webinar.discount_until|date:"j E Y"}} godz. {{webinar.discount_until|date:"H:i"}}
      </strong> 
    </td>
  </tr>
  {% else %}
  <tr>
    <td style="{{td_classes|safe}}padding-top:5px;">
      <strong style="font-weight: bold">Cena:</strong> 
      {{webinar.price}}zł {{PRICE_ADNOTATION}} za uczestnika
    </td>
  </tr>
  {% endif %}
{% endif %}

<tr>
  <td style="{{td_classes|safe}}padding-top:15px;">
  {% include '../includes/WebinarMailingCTA.html' with text=cta_text href=cta_href %}
  </td>
</tr>