{% extends 'geeks/extends/foundation.html' %}
{% load static %}

{% block meta %}
    {% block inner_meta %}{% endblock inner_meta %}
    {% comment %} {% if webinar.description %}
    <meta name="description" content="{{webinar.description}}" />
    <meta property="og:description" content="{{webinar.description}}" />
    {% endif %} {% endcomment %}
    {% comment %} <link rel="canonical" href="{{META__BASE_URL}}{{CANONICAL}}" /> {% endcomment %}
    
    {% comment %} <meta property="og:locale" content="pl_PL" /> {% endcomment %}
    {% comment %} <meta property="og:url" content="{{META__BASE_URL}}{% url "core:webinar_program_page" slug=webinar.slug %}" /> {% endcomment %}
    {% comment %} <meta property="og:type" content="article" /> {% endcomment %}
    {% comment %} <meta property="og:title" content="{{webinar.title}}" /> {% endcomment %}
    {% comment %} <meta property="og:image:width" content="940" /> {% endcomment %}
    {% comment %} <meta property="og:image:height" content="788" /> {% endcomment %}

    {% comment %} {% if webinar.facebook_post_image %}
    <meta property="og:image" content="{{META__BASE_URL}}{% get_media_prefix %}{{webinar.facebook_post_image}}" />
    {% else %}
    <meta property="og:image" content="{{META__BASE_URL}}{% url "core:webinar_ogimage_page" pk=webinar.pk %}" />
    {% endif %}
    <meta property="og:image:alt" content="{{webinar.title}}" /> {% endcomment %}

    {% comment %} <meta property="og:image:type" content="image/png" /> {% endcomment %}
{% endblock meta %}

{% block head_stylesheets %}
{% block _head_stylesheets %}{% endblock _head_stylesheets %}
<style>
  @media only screen and (min-width: 992px) {
    #WebinarDetailAside {
      {% with webinar_length=aggregate.title|length %}
        {% if webinar_length <= 100 %}
        margin-top: -10rem !important
        {% elif webinar_length <= 150 %}
        margin-top: -15rem !important
        {% else %}
        margin-top: -25rem !important
        {% endif %}
      {% endwith %}
    }
  }
  
  @media only screen and (min-width: 992px) {
    #MobileFloatingTab {
      display: none !important;
    }
  }
  
  @media only screen and (max-width: 992px) {    
    #MobileFloatingTab {
      position: fixed;
      bottom:0;
      width:100%;
      height: 120px;
      background-color: white;
    }
  }
  @media (min-width: 992px) {
    .pb-lg-16 {
        padding-bottom: 7.5rem !important;
    }
  }
  @media (min-width: 992px) {
      .pt-lg-8 {
          padding-top: 3.5rem !important;
      }
  }
</style>
{% endblock head_stylesheets %}

{% block root %}
<main>
  <!-- Page header -->
  <section class="pt-lg-8 pb-lg-16 pt-7 pb-12 bg-primary">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-xl-7 col-lg-7 col-md-12">
          <div>
            <h1 class="text-white display-4 fw-semibold">
              {{aggregate.title}}
              {% if request.user.is_staff %}
              <a href="{% url "admin:core_webinaraggregate_change" object_id=aggregate.grouping_token %}" class="text-white">
                  CMS
              </a>
              {% endif %}
            </h1>
            {% if aggregate.short_description %}  
              <p class="text-white mb-6 lead">
                {{aggregate.short_description}}
              </p>
            {% endif %}
            <div class="d-flex align-items-center flex-wrap">
              {% comment %}
                <a class="text-white" href="{% url 'core:lecturer_experience_page' slug=webinar.lecturer.slug %}">
                  {{webinar.lecturer.fullname}}
                </a>
                
              {% if lecturer_opinions_count != 0 %}
                <span class="ms-4">
                  <i class="mdi mdi-star me-n1 text-warning"></i>
                  <i class="mdi mdi-star me-n1 text-warning"></i>
                  <i class="mdi mdi-star me-n1 text-warning"></i>
                  <i class="mdi mdi-star me-n1 text-warning"></i>
                  <i class="mdi mdi-star me-n1-half text-warning"></i>
                  <span class="text-white">
                    ({{lecturer_service.get_lecturer_opinions_count}})
                  </span>
                </span>
                {% endif %}
              {% endcomment %}

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Page content -->
  <section class="pb-10">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-12 col-12 mt-lg-n8 mb-4 mb-lg-0">
          <!-- Card -->
          <div class="card rounded-3">
            <!-- Card header -->
            <div class="card-header border-bottom-0 p-0">
              <div>
                <!-- Nav -->
                <ul class="nav nav-lb-tab" id="tab" role="tablist">

                  <li class="nav-item">
                    <a
                      class="nav-link active"
                      id="description-tab"
                      data-bs-toggle="pill"
                      href="#description"
                      role="tab"
                      aria-controls="description"
                      aria-selected="true">
                      Program Szkolenia
                    </a>
                  </li>

                  <li class="nav-item">
                    <a
                      class="nav-link"
                      id="invoice-tab"
                      data-bs-toggle="pill"
                      href="#invoice"
                      role="tab"
                      aria-controls="invoice"
                      aria-selected="false">
                      Cena i Faktura
                    </a>
                  </li>

                  <li class="nav-item">
                    <a
                      class="nav-link"
                      id="certificate-tab"
                      data-bs-toggle="pill"
                      href="#certificate"
                      role="tab"
                      aria-controls="certificate"
                      aria-selected="false">
                      Certyfikat uczestnictwa
                    </a>
                  </li>

                  <li class="nav-item">
                    <a
                      class="nav-link"
                      id="opinions-tab"
                      data-bs-toggle="pill"
                      href="#opinions"
                      role="tab"
                      aria-controls="opinions"
                      aria-selected="false">
                      Opinie
                    </a>
                  </li>
                  
                  {% comment %}
                    <li class="nav-item">
                      <a
                        class="nav-link"
                        href="{% url 'core:loyalty_program_info_page' %}"
                        role="tab"
                        target="_blank"
                      >
                        Polecaj i Zarabiaj
                      </a>
                    </li>
                    {% if COMPANY_ENABLE_KRS %}
                    <li class="nav-item">
                      <a
                        class="nav-link"
                        href="{% url 'core:krajowy_fundusz_szkoleniowy_page' %}"
                        role="tab"
                        target="_blank"
                      >
                        <b>Dofinansowanie</b>
                      </a>
                    </li>
                    {% endif %}
                  {% endcomment %}
                </ul>
              </div>
            </div>
            <!-- Card Body -->
            <div class="card-body">
              <div class="tab-content" id="tabContent">
                {% block content %}{% endblock content %}
              </div>
            </div>
          </div>
        </div>
        <div
          id="WebinarDetailAside"
          class="col-lg-4 col-md-12 col-12 mt-lg-n22"
        >

          {% if lecturer %}
            {% comment %} Lecturer's card {% endcomment %}
            {% include './components/lecturer_card.html' with lecturer=lecturer %}
          {% endif %}
          
          {% if aggregate.sale_recording %}
          
          <div class="card mb-3 mb-4">
            <div>
              <!-- Card header -->
              <div class="card-header">
                <h4 class="mb-0">
                  <b>Nagranie z tego szkolenia jest dostępne!</b>
                </h4>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item bg-transparent">
                  Nie czekaj na realizację terminu. <br>
                  <b>Uzyskaj dostęp do nagrania już teraz.</b>
                </li>
              </ul>
            </div>
        
            <!-- Card body -->
            <div class="card-body pt-0">
              <div class="d-grid">
                <a
                href="{% url 'core:sale_recording_application_type_page' pk=aggregate.sale_recording.pk %}"
                rel="nofollow"
                class="btn mb-2 border-0 text-white"
                style="background-color: #f1416c"
              >
                <b>Kup Nagranie</b>
              </a>

              </div>
            </div>
          </div>

          {% endif %}
          
          {% if not any_active_webinar %}
          <!-- Card -->
          <div class="card mb-4 border border-primary">
            <!-- Card Header -->
            <div class="card-header bg-light-primary">
              <h3 class="mb-0 text-primary">
                <i class="bi bi-bell-fill"></i>
                Powiadom o dostępnych terminach
              </h3>
            </div>
            <!-- Card Body -->
            <div class="card-body bg-light-primary pt-1">
              <p class="text-dark fw-medium">
                Jeżeli interesuje Cię ten temat daj nam znać, a my <b>wyślemy Ci przypomnienie</b> gdy szkolenie z tej tematyki ponownie znajdzie się w naszej ofercie!
              </p>
              <!-- Form -->
              <form class="row" method="post" action="{% url "core:lead_webinar_post_endpoint" pk=first_webinar.pk %}">
                  {% csrf_token %}
                  <div class="mb-3 col-12 col-md-12">
                    <label class="form-label" for="id_email">Adres E-mail</label>
                    <input name="email" type="email" id="id_email" class="form-control" placeholder="Twój adres e-mail" required>
                  </div>
                  <div class="mb-3 col-12 col-md-12">
                    <input type="submit" value="Wyślij" class="btn btn-primary">
                  </div>
              </form>
            </div>
          </div>
         {% endif %}

          {% comment %} Date and hour card {% endcomment %}
          {% include './components/agg_date_and_hour_card.html' %}

          {% comment %} What we offer {% endcomment %}
          {% include './components/what_we_offer.html' with webinar=first_webinar %}

          <div class="card mt-4 js-sticky-widget">
            <!-- Card body -->
            <div class="card-body">
              <div class="d-flex align-items-center">
                <div class="position-relative">
                  <img
                    src="{% static 'media//avatars/300-12.webp' %}"
                    alt="avatar"
                    class="rounded-circle avatar-xl"
                  />
                  <a
                    href="#"
                    class="position-absolute mt-2 ms-n3"
                  >
                    <img
                      src="{% static 'geeks/assets/images/svg/checked-mark.svg' %}"
                      alt="checked-mark"
                      height="30"
                      width="30"
                    />
                  </a>
                </div>
                <div class="ms-4">
                  <h4 class="mb-0">{{PATRON_FIRST_NAME}} {{PATRON_LAST_NAME}}</h4>
                  <p class="mb-1 fs-6">{{PATRON_JOB_TITLE}}</p>
                </div>
              </div>
              <div class="row mt-3 mb-3 g-0">
                <div class="col-12">
                  <div class="pe-1 ps-2 py-3">
                    <h5 class="mb-0">E-mail</h5>
                    <span>
                        <a href="mailto:{{PATRON_EMAIL}}">
                            {{PATRON_EMAIL}}
                        </a>
                    </span>
                  </div>
                </div>
                <div class="col-12">
                  <div class="pe-1 ps-2 py-1">
                    <h5 class="mb-0">Numer telefonu</h5>
                    <span>
                        {{PATRON_PHONE}}
                    </span>
                  </div>
                </div>
             

              </div>
              
              <div class="d-grid">

                {% if any_active_webinar %}
                <a
                  href="{% url 'core:application_choose_webinar' slug=aggregate.slug %}"
                  rel="nofollow"
                  class="btn btn-primary border-0"
                  style="background-color: #f1416c"
                >
                  Zapisz się teraz!
                </a>
                <hr>
                {% endif %}
                <a
                  href="#"
                  rel="nofollow"
                  data-bs-toggle="modal"
                  data-bs-target="#askQuestionModal"
                  class="btn btn-primary mb-2 border-0"
                >
                  Zadaj pytanie
                </a>
                {% comment %}
                  <a
                    href="{% url 'core:application_type_page' pk=webinar.pk %}?pdf=show"
                    rel="nofollow"
                    class="btn btn-outline-primary mb-2"
                  >
                    Pobierz kartę zgłoszeniową
                  </a>
                {% endcomment %}
                {% comment %} <a href="#" class="btn btn-outline-primary">
                  <!-- TODO: "Pobierz ulotkę" -->
                  Pobierz ulotkę
                </a> {% endcomment %}
              </div>

            </div>
          </div>

        </div>
      </div>
    </div>
  </section>
</main>

<div class="modal fade" id="askQuestionModal" tabindex="-1" role="dialog" aria-labelledby="askQuestionModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="askQuestionModalTitle">Zadaj pytanie</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <div class="modal-body">
        <div hx-get="{% url 'htmx:htmx_contact_message' %}?related_to={{request.path}}" hx-trigger="load">
          Ładowanie ...
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock root %}


{%block body_scripts %}
    <script src="{% static 'js/htmx.min.js' %}"></script>
    <script>
        document.body.addEventListener('htmx:configRequest', (event) => {
            event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
        })
    </script>
    <script src="{% static 'js/sticksy.min.js' %}"></script>
    <script>
        var stickyElement = new Sticksy('.js-sticky-widget', {topSpacing: 70});
        stickyElement.onStateChanged = function (state) {
            if(state === 'fixed') {
              stickyElement.nodeRef.classList.add('widget--sticky')
            } else {
              stickyElement.nodeRef.classList.remove('widget--sticky')
            }
        }
    </script>
    <script>
      document.getElementById("reveal_program_assets").addEventListener("click", function() {
        let footer = document.getElementById("reveal_program_footer");
        footer.style.display = "none";
        
        let reveal_grad_card = document.getElementById("reveal_grad_card");
        reveal_grad_card.style.display = "none";
        
        let reveal_list = document.getElementById("reveal_list");
        reveal_list.style.height = "auto";
      }); 
    </script>
{% endblock body_scripts %}