<div class="card mb-3 mb-4">
  <div>
    <!-- Card header -->
    <div class="card-header">
      <h4 class="mb-0">Szkolenie odbyło się dnia:</h4>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item bg-transparent">
        <i class="fe fe-calendar align-middle me-2 text-info"></i>
        {{webinar.date|date:"j E Y"}} r.
      </li>
      <li
          class="list-group-item"
          data-bs-toggle="tooltip"
          data-placement="top"
          {% if WE_ARE_TAX_EXEMPT %}
          title="{{TAX_EXEMPT_TOOLTIP}}"
          {% endif %}
          style="cursor: pointer;"
        >
          <i class="fe fe-dollar-sign align-middle me-2 text-success"></i>
          
          {% if webinar.is_discounted %}
            <span class="text-decoration-line-through text-danger me-1 fw-bold">
              {{webinar.price_netto}}zł
            </span>
            <b>{{webinar.price}}zł</b>
          {% else %}
            <b>{{webinar.price}}zł</b>
          {% endif %}
          
          <span class="fw-bold">{{PRICE_ADNOTATION}} za osobę</span>

          {% if webinar.is_discounted %}
            <br>
            Promocja trwa do {{webinar.discount_until|date:"j E Y"}} godz. {{webinar.discount_until|date:"H:i"}}
          {% endif %}

        </li>
    </ul>
  </div>
</div>