{% load static %}
<!-- Card -->
<div class="card mb-4">
  <!-- Card body -->
  <div class="card-body">
    
    <div class="d-flex align-items-center">
      <div class="position-relative">
        <img
          {% if lecturer.avatar %}
          src="{% get_media_prefix %}uploads/lecturers/{{lecturer.slug}}_80x80.webp"
          {% else %}
          src="{% static "default/default-lecturer-avatar-80x80.webp" %}"
          {% endif %}
          alt="avatar"
          class="rounded-circle avatar-xl"
        />
        <a
          href="#"
          class="position-absolute mt-2 ms-n3"
          data-bs-toggle="tooltip"
          data-placement="top"
          title="Wykładowca zweryfikowany"
        >
          <img
            src="{% static 'geeks/assets/images/svg/checked-mark.svg' %}"
            alt="checked-mark"
            height="30"
            width="30"
          />
        </a>
      </div>
      <div class="ms-4">
        <h4 class="mb-0">
          <a style="color: var(--geeks-heading-color);" href="{% url 'core:lecturer_experience_page' slug=webinar.lecturer.slug %}">
            {{lecturer.fullname}}
          </a>
        </h4>
        {% if lecturer.profession %}
          <p class="mb-1 fs-6">{{lecturer.profession}}</p>
        {% endif %}

        {% with lecturer_opinions_count=lecturer_service.get_lecturer_opinions_count %}
        {% if lecturer_opinions_count %}
        <span class="fs-6">
          <span class="text-warning">4.5</span>
          <span class="mdi mdi-star text-warning me-2"></span>
          {{lecturer_opinions_count}} opinii
        </span>
        {% endif %}
        {% endwith %}

      </div>
    </div>

    <div class="m-0 mt-2">
      <a href="{% url "core:lecturer_opinion_form_page" slug=lecturer.slug %}" class="btn btn-primary btn-xs mb-2">
        Dodaj opinię
      </a>
      {% for category in webinar.categories.all %}
        <a href="{% url "core:webinar_category_page" slug=category.slug %}" class="btn btn-light btn-xs mb-2">
          {{category.name}}
        </a>
      {% endfor %}
    </div>

    <div class="border-top row border-bottom mb-3 g-0">
      {% if lecturer.fake_stat_participants %}
      <div class="col">
        <div class="pe-1 ps-2 py-3">
          <h5 class="mb-0">{{lecturer.fake_stat_participants}}</h5>
          <span>Przeszkolonych</span>
        </div>
      </div>
      {% endif %}
      {% comment %}
      {% with lecturer_opinions_count=lecturer_service.get_lecturer_opinions_count %}
      {% if lecturer_opinions_count %}
      <div class="col border-start">
        <div class="pe-1 ps-3 py-3">
          <h5 class="mb-0">{{lecturer_opinions_count}}</h5>
          <span>Opinii</span>
        </div>
      </div>
      {% endif %}
      {% endwith %}
      {% endcomment %}
      {% if lecturer.fake_stat_webinars %}
      <div class="col border-start">
        <div class="pe-1 ps-3 py-3">
          <h5 class="mb-0">{{lecturer.fake_stat_webinars}}</h5>
          <span>Szkoleń</span>
        </div>
      </div>
      {% endif %}
    </div>


    <p class="m-0">
      <div id="id_lecturer_short_desc">{{lecturer.biography_email|truncatechars:150}}</div>
      <div id="id_lecturer_long_desc" class="d-none">{{lecturer.biography_email}}</div>
      <a id="id_lecturer_show_desc" href="javascript:$('#id_lecturer_long_desc').toggleClass('d-none');$('#id_lecturer_short_desc').toggleClass('d-none');$('#id_lecturer_show_desc').addClass('d-none');$('#id_lecturer_hide_desc').toggleClass('d-none');">
        Zobacz pełny opis
      </a>
      <a class="d-none" id="id_lecturer_hide_desc" href="javascript:$('#id_lecturer_long_desc').toggleClass('d-none');$('#id_lecturer_short_desc').toggleClass('d-none');$('#id_lecturer_hide_desc').addClass('d-none');$('#id_lecturer_show_desc').toggleClass('d-none');">
        Schowaj pełny opis
      </a>
    </p>
    {% comment %}
    <div class="text-center">
      <a href="instructor-profile.html" class="btn btn-outline-primary btn-sm">
        Zobacz pełny opis
      </a>
    </div>
    {% endcomment %}
  </div>
</div>
<!-- Card -->
