<!-- Card -->
<div class="card">
    <div>
      <!-- Card header -->
      <div class="card-header">
        <h4 class="mb-0">Zakup dostępu do nagrania zawiera:</h4>
      </div>
  
      <ul class="list-group list-group-flush">
        <li class="list-group-item bg-transparent fw-bold">
          <i class="fe fe-youtube align-middle me-2 text-primary"></i>
          7 dniowy dostęp do szkolenia online
        </li>
        <li class="list-group-item bg-transparent border-bottom-0">
          <i class="fe fe-award align-middle me-2 text-primary"></i>
          Imienny certyfikat dla uczestników zawierający informację o <b>ilości godzin szkolenia</b>
        </li>
        <li class="list-group-item bg-transparent">
          <i class="fe fe-award align-middle me-2 text-primary"></i>
          Profesjonalnie przygotowane szkolenie
        </li>
        <li class="list-group-item bg-transparent">
          <i class="fe fe-file-text align-middle me-2 text-primary"></i>
          Autorskie materiały szkoleniowe
        </li>
      </ul>
    </div>
  </div>
  