{% extends 'core/extends/base.html' %} 
{% load static %}
{% block head_stylesheets %} {% endblock head_stylesheets %}

{% block rightbar %}{%endblock rightbar %}

{% block content %}
<!--begin::Wrapper-->
<div
  class="wrapper d-flex flex-column flex-row-fluid mt-5 mt-lg-10"
  id="kt_wrapper"
>
    <!--begin::Content-->
    <div class="content flex-column-fluid" id="kt_content">
        
        {% comment %} BEGIN  {% endcomment %}
        <div class="card">
            <div class="card-header">
                <h1 class="card-title fs-1">§ Polityka prywatności</h1>
                <div class="card-toolbar">
                    <span class="badge badge-light">
                        Data modyfikacji: 5 lipca 2023
                    </span>
                </div>
            </div>
            <div class="card-body">
                <div class="mb-10">
                   <div class="text-left mb-5 text-gray-600">
                      <h2 class="mb-1">1. Informacje ogólne</h2>
                   </div>
                   <div class="fs-5 fw-bold text-gray-600">
                      <ol>
                         <li>Polityka Prywatności określa zasady ochrony danych osobowych i przetwarzania w związku z korzystaniem przez Użytkownika ze Sklepu internetowego prowadzonego pod adresem Sosnowiec 41-208 ul. Wojska Polskiego 8 (Sosnowiecki Park Naukowo-Technologiczny).</li>
                         <li>Użytkownikiem w rozumieniu Polityki Prywatności jest osoba fizyczna korzystające ze świadczonych przez Administratora Danych Osobowych usług drogą elektroniczną, w tym w szczególności z Konta Klienta lub zamówienie w Sklepie internetowym. Pod pojęciem użytkownika rozumie się także osobę będącą wspólnikiem lub członkiem władz spółki osobowej lub kapitałowej w rozumieniu Kodeksu Spółek Handlowych.</li>
                         <li>Administratorem Danych Osobowych w rozumieniu przepisów rozporządzenia Parlamentu Europejskiego i RADY (UE) 2016/679 z dnia 27 kwietnia 2016r. w sprawie ochrony osób fizycznych w związku z przetwarzaniem danych osobowych i w sprawie swobodnego przepływu takich danych oraz uchylenia dyrektywy 95/46/WE („RODO”) jest Wykładowca.pl Tomasz Howaniec, NIP 644-356-26-97, REGON 520095021, Organ rejestrowy Centralna Ewidencja i Informacja o Działalności Gospodarczej przez Minister Rozwoju, Pracy i Technologii.</li>
                         <li>W sprawach przetwarzania danych osobowych z Administratorem można kontaktować korzystając z adresu email biuro@wykladowca.pl</li>
                      </ol>
                   </div>
                </div>
                <div class="mb-10">
                   <div class="text-left mb-5 text-gray-600">
                      <h2 class="mb-1">2. Cel przetwarzania danych przez Administratora</h2>
                   </div>
                   <div class="fs-5 fw-bold text-gray-600">
                      <ol>
                         <li>Użytkownik powierza przetwarzanie danych osobowych Administratorowi w celu korzystania z usług świadczonych drogą elektroniczną za pośrednictwem strony internetowej wykladowca.pl, w tym w szczególności korzystania z usługi Konta Klienta, oraz realizacji umowy sprzedaży, zawieranej za pośrednictwem środków porozumiewania się na odległość. Administrator za wyraźną zgodą Użytkownika może korzystać także z przekazanych przez niego danych osobowych w celach marketingowych. Ponadto, Administrator uprawniony jest do przetwarzania danych osobowych w celu realizacji i obrony swoich praw.</li>
                         <li>
                            Podstawą prawną przetwarzania danych osobowych jest:
                            <ol style="list-style-type: lower-alpha;">
                               <li>art. 6 ust. 1 lit a) RODO,</li>
                               <li>art. 6 ust. 1 lit b) RODO</li>
                               <li>art. 6 ust. 1 lit f) RODO</li>
                            </ol>
                         </li>
                         <li>Podanie przez Użytkownika danych kontaktowych (adres email, numer telefonu) oznacza zgodę na wykorzystanie tych danych w celach, o których mowa w § 2 ust. 1</li>
                         <li>Wyrażenie zgody użytkownika przez podanie danych kontaktowych jest dobrowolne, jej niewyrażenia w niektórych przypadkach może uniemożliwić Administratorowi obsługę zapytania lub zamówienia złożonego przez formularz kontaktowy.</li>
                         <li>Dane osobowe Użytkownika mogą być udostępniane następującym odbiorcom: podmiotom świadczącym usługi księgowe, informatyczne i prawne, a także organom państwowym oraz sądom powszechnym i administracyjnym.</li>
                      </ol>
                   </div>
                </div>
                <div class="mb-10">
                   <div class="text-left mb-5 text-gray-600">
                      <h2 class="mb-1">3. Zakres przetwarzania danych przez Administratora</h2>
                   </div>
                   <div class="fs-5 fw-bold text-gray-600">
                      <ol>
                         <li>Dane osobowe podawane są przez Użytkownika podczas wypełnienia Formularza Rejestracji (założenie Konta Klienta w serwisie wykladowca.pl) oraz wypełnienia Formularza Zamówienia. Dane mogą być w każdym czasie edytowane przez Użytkownika. W przypadku Użytkowników prowadzących działalność gospodarczą Administrator może dodatkowo pobrać dane osobowe zawarte w publicznie jawnych rejestrach, w tym w szczególności danych zawartych w Centralnej Ewidencji Działalności Gospodarczej. Ponadto, w przypadku osób fizycznych będących wspólnikami lub członkami organu reprezentującego osobę prawną, Administrator może pobrać dane osobowe zawarte w Rejestrze Przedsiębiorców Krajowego Rejestru Sądowego. </li>
                         <li>
                            Gromadzone przez Administratora na podstawie niniejszej Polityki Prywatności dane osobowe Użytkowników obejmują wszystkie lub część z wymienionych poniżej danych:
                            <ol style="list-style-type: lower-alpha;">
                               <li>imię i nazwisko Użytkownika,</li>
                               <li>firmę Użytkownika,</li>
                               <li>numer telefonu kontaktowego Użytkownika,</li>
                               <li>NIP Użytkownika,</li>
                               <li>PESEL Użytkownika,</li>
                               <li>adres e-mail do kontaktu z Użytkownikiem</li>
                               <li>adres Użytkownika, w tym jego miejsce zamieszkania</li>
                               <li>adresy IP użytkownika </li>
                               <li>inne podane przez Formularzu Rejestrowym lub Zamówienia</li>
                            </ol>
                         </li>
                         <li>Zakres przetwarzania danych użytkownika, o których mowa w §3 ust. 2 obejmuje także wykonywanie kopii zapasowych, w tym kopii utrwalanych w formie papierowej i elektronicznej. </li>
                         <li>Na stronie internetowej https://wykladowca.pl działa automatyczny system, pozwalający monitorować zachowania użytkownika oraz dopasować treści do zainteresowania użytkownika. </li>
                         <li>System ten wykorzystuje pliki cookies oraz jest zintegrowany z serwisem wykladowca.pl. każdy z użytkowników może w dowolnym momencie zgłosić sprzeciw. </li>
                         <li>Pliki te pozwalają rozpoznać podstawowe parametry urządzenia użytkownika (takie jak: typ i rodzaj urządzenia, na którym użytkownik korzysta z serwisu, rozdzielczość ekranu urządzenia, kraj użytkownika/lokalizację, z którego dochodzi do wejścia) i dzięki temu odpowiednio wyświetlić stronę internetową dostosowaną do potrzeb użytkownika.</li>
                         <li>Administrator usługi wykorzystuje także pliki cookies w celu zbierania ogólnych i anonimowych danych statystycznych za pośrednictwem narzędzi analitycznych Google Analytics (administratorem danych cookies jest Google Inc z siedzibą w USA).</li>
                         <li>Użytkownik może samodzielnie i w dowolnym czasie zmienić ustawienia dotyczące plików cookies, określając warunki ich przechowywania i uzyskiwania dostępu przez pliki cookies do urządzenia użytkownika. Zmiany ustawień plików cookies użytkownik może dokonać za pomocą ustawień swojej przeglądarki internetowej. Ustawienia te mogą zostać zmienione w szczególności w taki sposób, aby blokować automatyczną obsługę plików cookies w ustawieniach przeglądarki internetowej bądź informować o każdorazowym zamieszczeniu cookies na urządzeniu użytkownika. Szczegółowe informacje dotyczące możliwości i sposobach obsługi plików cookies dostępne są w ustawieniach przeglądarki internetowej użytkownika.</li>
                         <li>Użytkownik może w każdej chwili usunąć pliki cookies, korzystając z dostępnych funkcji w przeglądarce internetowej, z której korzysta.</li>
                         <li>Ograniczenie lub zablokowanie stosowania plików cookies może wpłynąć na niektóre funkcjonalności dostępne na stronie internetowej serwisu https://wykladowca.pl</li>
                         <li>Administrator dokona zgłoszenia zbioru danych osobowych Użytkowników do rejestracji w zakresie i na warunkach wymaganym przez RODO lub inne obowiązujące przepisy.</li>
                      </ol>
                   </div>
                </div>
                <div class="mb-10">
                   <div class="text-left mb-5 text-gray-600">
                      <h2 class="mb-1">4. Prawa Użytkownika, którego dane są przetwarzane</h2>
                   </div>
                   <div class="fs-5 fw-bold text-gray-600">
                      <ol>
                         <li>
                            Użytkownikowi przysługuje prawo do:
                            <ol style="list-style-type: lower-alpha;">
                               <li>dostępu do swoich danych osobowych</li>
                               <li>poprawy swoich danych osobowych</li>
                               <li>cofnięcia zgody na przetwarzanie danych osobowych; cofnięcie zgody w dowolnym momencie bez wpływu na zgodność z prawem przetwarzania, którego dokonano na podstawie zgody przed jej cofnięciem,</li>
                               <li>wniesienia sprzeciwu do przetwarzania swoich danych osobowych,</li>
                               <li>wniesienia skargi do organu nadzorczego (Prezesa Urzędu Ochrony Danych Osobowych) ;</li>
                            </ol>
                         </li>
                         <li>Aby skorzystać powyższych uprawnień, Użytkownik powinien wysłać e-mail na adres mailowy: Administrator wykonuje żądanie Użytkownika niezwłocznie. </li>
                         <li>Administrator informuje, że podanie danych osobowych jest warunkiem umownym. Jednakże podanie niektórych danych osobowych tj. imienia, nazwiska, adresu email, adresu zamieszkania lub prowadzenia działalności gospodarczej jest warunkiem koniecznym zawarcia umowy o Konto Klienta oraz złożenie zamówienia. Niepodanie tych danych skutkuje odmową zawarcia umowy o Konto Klienta oraz złożenia zamówienia przez Administratora Danych. Niepodanie NIP-u w przypadku osób prowadzących działalność gospodarczą skutkuje odmową wystawienia faktury VAT. </li>
                      </ol>
                   </div>
                </div>
                <div class="mb-10">
                   <div class="text-left mb-5 text-gray-600">
                      <h2 class="mb-1">5. Okres przetwarzania danych osobowych przez Administratora</h2>
                   </div>
                   <div class="fs-5 fw-bold text-gray-600">
                      <p>Administrator przechowuje dane osobowe Użytkowników nie dłużej, niż jest to niezbędne do wykonania usług świadczonych drogą elektroniczną lub realizacji zamówienia przez użytkownika. Administratorowi wykonanie ciążących na nim obowiązków. Po tym czasie dane użytkownika przechowywane są wyłącznie na potrzeby zabezpieczenia dochodzenia roszczeń przez Administratora lub obrony jego praw. Jeżeli dane osobowe użytkownika będą wykorzystywane wyłącznie na podstawie zgody, dane będą przetwarzane do czasu cofnięcia tej zgody.</p>
                   </div>
                </div>
                <div class="mb-10">
                   <div class="text-left mb-5 text-gray-600">
                      <h2 class="mb-1">6. Obowiązki Administratora</h2>
                   </div>
                   <div class="fs-5 fw-bold text-gray-600">
                      <p>Administrator zobowiązuje się podjąć środki zabezpieczające przetwarzanie danych osobowych w zakresie określonym w Ustawie, w szczególności zobowiązuje się do:</p>
                      <ol>
                         <li>zabezpieczenia danych użytkownika przed ich udostępnieniem osobom nieupoważnionym, zabraniem przez osobę nieuprawnioną, zmianami danych użytkownika, uszkodzeniem danych użytkownika lub ich zniszczeniem,</li>
                         <li>dopuszczenia do przetwarzania danych osobowych użytkownika tylko i wyłącznie osób posiadających wydane przez niego upoważnienie,</li>
                         <li>zapewnienia kontroli nad prawidłowością przetwarzania danych osobowych użytkownika,</li>
                         <li>prowadzenia ewidencji osób upoważnionych do przetwarzania danych osobowych użytkownika, dochowania należytej staranności, aby osoby upoważnione do przetwarzania tych danych zachowały je w tajemnicy, również po zakończeniu realizacji Administratora, między innymi poprzez poinformowanie ich o prawnych konsekwencjach naruszenia poufności danych osobowych użytkownika.</li>
                         <li>prowadzenia wymaganej przepisami prawa dokumentacji opisującej sposób przetwarzania powierzonych danych osobowych użytkownikach oraz zapewnić środki techniczne i organizacyjne służące ochronie przetwarzania tych danych</li>
                         <li>zapewnienia aby urządzenia, systemy informatyczne oraz telekomunikacyjne, służące do przetwarzania danych osobowych użytkowników, były zgodne z wymogami prawa</li>
                         <li>udostępniać dane osobowe wyłącznie tym podmiotom przetwarzającym (procesorom w rozumieniu RODO), którzy dają gwarancję ich przetwarzania zgodnie z wymogami powszechnie obowiązującego prawa.</li>
                      </ol>
                   </div>
                </div>
             </div>
         </div>
        {% comment %} END {% endcomment %}


    </div>
    <!--end::Content-->
</div>
<!--end::Wrapper-->
{% endblock content %} 
{% block body_scripts %} {% endblock body_scripts %}
