{% load static %}
<div class="card bg-primary h-md-100">
  <!--begin::Body-->
  <div class="card-body d-flex flex-column pt-13 pb-14">
    <!--begin::Heading-->
    <div class="m-0">
      <!--begin::Title-->
      <h1 class="fw-semibold text-white text-center lh-lg mb-9">
        Dołącz do naszych
        <br />
        <span class="fw-bolder">Grup na Facebook'u</span>
      </h1>
      <!--end::Title-->
      <!--begin::Illustration-->
      <div
        class="flex-grow-1 bgi-no-repeat bgi-size-contain bgi-position-x-center card-rounded-bottom h-200px mh-200px my-5 mb-lg-12"
        style="
          background-image: url('{% static 'media/svg/illustrations/easy/1.svg' %}');
        "
      ></div>
      <!--end::Illustration-->
    </div>
    <!--end::Heading-->
    <!--begin::Links-->
    <div class="text-center">
      <!--begin::Link-->
      <a
        class="btn btn-sm bg-white btn-color-gray-800 me-2"
        >New Delivery</a
      >
      <!--end::Link-->
      <!--begin::Link-->
      <a
        class="btn btn-sm bg-white btn-color-white bg-opacity-20"
        href="../../demo5/dist/pages/user-profile/projects.html"
        >Quick Guide</a
      >
      <!--end::Link-->
    </div>
    <!--end::Links-->
  </div>
  <!--end::Body-->
</div>
