{% load static %}
<div class="card h-md-100" dir="ltr">
  <!--begin::Body-->
  <div class="card-body d-flex flex-column flex-center">
    <!--begin::Heading-->
    <div class="mb-2">
      <!--begin::Title-->
      <h1 class="fw-semibold text-gray-800 text-center lh-lg">
        Quick form to
        <br />
        <span class="fw-bolder">Bid a New Shipment</span>
      </h1>
      <!--end::Title-->
      <!--begin::Illustration-->
      <div class="py-10 text-center">
        <img
          src="{% static 'media/svg/illustrations/easy/3.svg' %}"
          class="theme-light-show w-200px"
          alt=""
        />
        <img
          src="{% static 'media/svg/illustrations/easy/3-dark.svg' %}"
          class="theme-dark-show w-200px"
          alt=""
        />
      </div>
      <!--end::Illustration-->
    </div>
    <!--end::Heading-->
    <!--begin::Links-->
    <div class="text-center mb-1">
      <!--begin::Link-->
      <a
        class="btn btn-sm btn-primary me-2"
        >Start Now</a
      >
      <!--end::Link-->
      <!--begin::Link-->
      <a
        class="btn btn-sm btn-light"
        href="../../demo5/dist/apps/invoices/view/invoice-2.html"
        >Quick Guide</a
      >
      <!--end::Link-->
    </div>
    <!--end::Links-->
  </div>
  <!--end::Body-->
</div>
