{% load static %}
<div class="card h-md-100" style="background-color: #1c325e;">
  <!--begin::Body-->
  <div class="card-body d-flex flex-column pt-13 pb-14">
    <!--begin::Heading-->
    <div class="m-0">
      <!--begin::Title-->
      <h1 class="fw-semibold text-white text-center lh-lg mb-9">
        Polecaj nasze szkolenia
        <span class="fw-bolder">i <span class="text-danger">zarabiaj!</span></span>
      </h1>
      <!--end::Title-->
      <!--begin::Illustration-->
      <div
        class="flex-grow-1 bgi-no-repeat bgi-size-contain bgi-position-x-center card-rounded-bottom h-200px mh-200px my-5 mb-lg-12"
        style="
          background-image: url('{% static 'media/svg/illustrations/easy/6.svg' %}');
        "
      ></div>
      <!--end::Illustration-->
    </div>
    <!--begin::Title-->
    <h2 class="fw-semibold text-white text-center lh-lg mb-9">
    <b>Prowizja 30%</b>
    </h2>
    <!--end::Title-->
    <!--end::Heading-->
    <!--begin::Links-->
    <div class="d-flex flex-column text-center">
      <!--begin::Link-->
      <a
        href="{{LINK_KSIEGOWOSC_KADRY_DAM_PRACE}}"
        target="_blank"
        class="btn bg-white btn-text-gray-800 mt-3 hover-scale"
       ><b>Szczegóły programu partnerskiego</b></a>
      <!--end::Link-->
    </div>
    <!--end::Links-->
  </div>
  <!--end::Body-->
</div>
