{% extends 'core/pages/crm/extends/CrmBase.html' %} 
{% load static %}

{% block head_stylesheets %}

{% endblock head_stylesheets %}

{% block crm_content %}
<!--begin::Toolbar-->
<div class="toolbar d-flex flex-stack flex-wrap mb-5 mb-lg-7" id="kt_toolbar">
    <!--begin::Page title-->
    <div class="page-title d-flex flex-column py-1">
        <!--begin::Title-->
        <h1 class="d-flex align-items-center my-1">
            <span class="text-dark fw-bold fs-1">{{lecturer.fullname}}</span>
        </h1>
        <!--end::Title-->
    </div>
    <!--end::Page title-->
    <div class="d-flex align-items-center py-1">
        <a href="{% url "admin:core_lecturer_change" object_id=lecturer.pk %}" class="btn btn-flex btn-sm btn-primary fw-bold border-0 fs-6 h-40px">
            Edytuj wykładowcę
        </a>
    </div>
</div>
<!--end::Toolbar-->  


<div class="py-5">
    <div class="row">

        <div class="col-md-4">
            <a href="{% url 'core:lecturer_add_opinions_page' pk=lecturer.pk %}" class="card hover-elevate-up shadow-sm parent-hover">
                <div class="card-body d-flex align-items">
                    <i class="ki-duotone ki-message-programming fs-1">
                        <i class="path1"></i>
                        <i class="path2"></i>
                        <i class="path3"></i>
                        <i class="path4"></i>
                    </i>
                    <span class="ms-3 text-gray-700 parent-hover-primary fs-6 fw-bold">
                        Dodaj opinie <br> (ChatGPT)
                    </span>
                </div>
            </a>
        </div>
        
        <div class="col-md-4">
            <a href="{% url 'core:lecturer_participants_emails_page' pk=lecturer.pk participants_type="paid-participants" %}" class="card hover-elevate-up shadow-sm parent-hover">
                <div class="card-body d-flex align-items">
                    <i class="ki-duotone ki-message-programming fs-1">
                        <i class="path1"></i>
                        <i class="path2"></i>
                        <i class="path3"></i>
                        <i class="path4"></i>
                    </i>
                    <span class="ms-3 text-gray-700 parent-hover-primary fs-6 fw-bold">
                        Adresy e-mail <br> płatnych uczestników <br> (zrealizowane szkolenia)
                    </span>
                </div>
            </a>
        </div>

        <div class="col-md-4">
            <a href="{% url 'core:lecturer_participants_emails_page' pk=lecturer.pk participants_type="paid-participants" %}?include_all_webinars=1" class="card hover-elevate-up shadow-sm parent-hover">
                <div class="card-body d-flex align-items">
                    <i class="ki-duotone ki-message-programming fs-1">
                        <i class="path1"></i>
                        <i class="path2"></i>
                        <i class="path3"></i>
                        <i class="path4"></i>
                    </i>
                    <span class="ms-3 text-gray-700 parent-hover-primary fs-6 fw-bold">
                        Adresy e-mail <br> płatnych uczestników <br> (wszystkie szkolenia)
                    </span>
                </div>
            </a>
        </div>

        <div class="col-md-4">
            <a href="{% url 'core:lecturer_participants_emails_page' pk=lecturer.pk participants_type="free-participants" %}?include_all_webinars=1" class="card hover-elevate-up shadow-sm parent-hover">
                <div class="card-body d-flex align-items">
                    <i class="ki-duotone ki-message-programming fs-1">
                        <i class="path1"></i>
                        <i class="path2"></i>
                        <i class="path3"></i>
                        <i class="path4"></i>
                    </i>
                    <span class="ms-3 text-gray-700 parent-hover-primary fs-6 fw-bold">
                        Adresy e-mail <br> darmowych uczestników
                    </span>
                </div>
            </a>
        </div>

    </div>
</div>

{% endblock crm_content %}


{% block body_scripts %}

{% endblock body_scripts %}
