{% load static %}

<section class="pb-lg-8 pb-6">
    <div class="container">
       <div class="row">
          {% comment %} <div class="col-xl-10 offset-xl-1 col-md-12 col-12"> {% endcomment %}
          <div class="col-xl-12 col-md-12 col-12">
             <div class="row align-items-start">
                <div class="col-lg-5 col-md-12 col-12">
                   <div class="mb-5 mb-lg-0">
                      <h1 class="display-4 fw-bold mb-3">
                        Polecaj i 
                        <u class="text-warning">
                            <span class="text-primary">Zarabiaj</span>
                        </u>
                      </h1>
                      <p class="mb-5 lead">
                        Jesteś księgową, kadrową lub innym specjalistą korzystającym z naszych usług szkoleniowych?
                      </p>
                      <p class="mb-5 lead fw-bold">
                        Weź udział w naszym programie partnerskim i zarabiaj prowizję za każde polecenie!
                      </p>
                      {% if show_button %}
                      <a href="{% url "core:loyalty_program_info_page" %}" class="btn btn-primary">
                        Weź udział w programie!
                     </a>
                     {% endif %}
                   </div>
                </div>

                <div class="col-lg-6 offset-lg-1 col-md-12 col-12">
                  <div class="d-flex justify-content-center align-items-center position-relative rounded border-gray-100 border border-4 rounded-3 bg-cover" style="background-image: url({% static "/media/images/videothumb-v2-600x336.jpg" %}); height: 300px">
                      <a class="glightbox icon-shape rounded-circle btn-play icon-xl" href="https://www.youtube.com/watch?v=WQg_HnpS-jE">
                          <i class="fe fe-play"></i>
                      </a>
                  </div>
              </div>

             </div>
          </div>
       </div>
    </div>
 </section>

