{% load static %}

{% with webinar_ctx.webinar as webinar %}

<tr>
    {% comment %} Avatar {% endcomment %}
    <td {% if webinar.status == "DRAFT" %}style="background-color: #754ffe!important;"{% endif %}>
        <div class="d-flex">
            <div class="symbol">
                <img
                src="{% static 'media/misc/spinner.gif' %}"
                {% if webinar.lecturer.avatar %}
                data-src="{% get_media_prefix %}uploads/lecturers/{{webinar.lecturer.slug}}_35x35.webp"
                {% else %}
                data-src="{% static "default/default-lecturer-avatar-50x50.webp" %}"
                {% endif %}
                class="lozad"
                alt="{{webinar.lecturer.fullname}}"
                />
            </div>
            {% comment %} <div>
                <a href="{% url 'core:lecturer_stats_page' pk=webinar.lecturer.pk %}">
                    <b>{{webinar.lecturer.fullname}}</b>
                </a>
            </div> {% endcomment %}
        </div>
    </td>
    {% comment %} Details {% endcomment %}
    <td style="max-width: 350px;">
        
        <div class="mb-1">
            {% if webinar.status == "DRAFT" %}
            <span class="badge badge-info">
                <a href="./?show_only_drafts=1" class="text-white">
                    Wersja robocza
                </a>
            </span>
            {% endif %}
            {% if webinar_ctx.webinar_metadata.fetched_from %}
                <a href="{{webinar_ctx.webinar_metadata.fetched_from_url}}" target="_blank">
                    <span class="badge badge-success">
                        {{webinar_ctx.webinar_metadata.fetched_from}}
                    </span>
                </a>
            {% endif %}
            {% if webinar.status == "DRAFT" or webinar_ctx.webinar_metadata.fetched_from %}
            <br>
            {% endif %}
            <a href="{% url 'core:crm_webinar_detail_dashboard' pk=webinar.pk %}"
                {% if webinar.is_connected_to_conference %}
                class="text-white bg-info text-hover-primary fw-bold me-1"
                {% elif webinar_ctx.is_fake %}
                class="text-white bg-danger text-hover-primary fw-bold me-1"
                {% else %}
                class="text-primary text-hover-primary fw-bold me-1"
                {% endif %}
            >
                <span class="fs-5">{{webinar.title_original}}</span>
                
            </a>
            {% if webinar_ctx.conference_edition and not webinar_ctx.conference_edition.clickmeeting_pasted %}
            <br>
            <b class="text-danger bg-light-danger px-2">Uzupełnij klucz/strumień w ClickMeeting !</b>
            {% endif %}
            {% if webinar_ctx.conference_edition and not webinar_ctx.conference_edition.dashboard_url %}
            <br>
            <b class="text-danger bg-light-danger px-2">Czy został utworzony stream na YT / FB ?!</b>
            {% endif %}

            {% if webinar_ctx.is_default_program %}
            <br>
            <b class="text-danger bg-light-danger px-2">BRAK USTAWIONEGO PROGRAMU</b>
            {% endif %}

            {% if not webinar.fakturownia_category and not webinar_ctx.conference_edition %}
            <br>
            <b class="text-danger bg-light-danger px-2">Brak kategorii dla fakturowni</b>
            {% endif %}

            <br>
            <b>{{webinar.date|date:"j E (l)"}}</b> <b>{{webinar.date|date:"H:i"}}</b> - {{webinar.date_end|date:"H:i"}}
            {% url 'admin:core_webinar_change' object_id=webinar.id as link %}
            {% include "include/crm/EditWithCmsButton.html" with link=link fs="fs-5" %}
            {% url 'core:webinar_program_page' slug=webinar.slug as link %}
            {% include "include/crm/ShowOnPageButton.html" with link=link fs="fs-5" %}
            <br>
            {{webinar.lecturer.fullname}}
            {% url 'admin:core_lecturer_change' object_id=webinar.lecturer.id as link %}
            {% include "include/crm/EditWithCmsButton.html" with link=link fs="fs-5" %}
            {% url 'core:lecturer_experience_page' slug=webinar.lecturer.slug as link %}
            {% include "include/crm/ShowOnPageButton.html" with link=link fs="fs-5" %}
        </div>

        <div class="d-flex flex-column">
            <li class="d-flex align-items-center">
                <span class="bullet bullet-vertical bg-dark me-5"></span>
                <span>
                    Wolne miejsca: {{webinar.remaining_places}}
                </span>
            </li>
            {% if webinar.grouping_token %}
            <li class="d-flex align-items-center">
                <span class="bullet bullet-vertical bg-dark me-5"></span>
                <span>
                    Token grupujący: 
                    <a href="./?search={{webinar.grouping_token}}">
                        <b>{{webinar.grouping_token}}</b>
                    </a>
                </span>
            </li>
            {% endif %}
            {% if webinar_ctx.is_confirmed %}
            <li class="d-flex align-items-center">
                <span class="bullet bullet-vertical bg-warning me-5"></span>
                <span
                    style="cursor: pointer;"
                    data-bs-dismiss="true"
                    data-bs-toggle="popover"
                    data-bs-placement="right"
                    title="Co to 'Pewny termin'?"
                    data-bs-content="Szkolenia oznaczone jako 'Pewny termin' posiadają oznaczenie na stronie szkolenia oraz w mailingu, że szkolenie na pewno się odbędzie.">
                    Pewny termin
                </span>
            </li>
            {% endif %}
            {% if webinar_ctx.is_fake %}
            <li class="d-flex align-items-center">
                <span class="bullet bullet-vertical bg-danger me-5"></span>
                <span
                    style="cursor: pointer;"
                    data-bs-dismiss="true"
                    data-bs-toggle="popover"
                    data-bs-placement="right"
                    title="Co to 'Fake'owy termin'?"
                    data-bs-content="Szkolenie oznaczone jako 'Fake'owe' posiada widoczny tylko dla pracowników czerowny napis koło tytułu szkolenia (na stronie szkolenia), komunikujący, że to szkolenie jest wystawione bez zamiaru jego realizacji.">
                    Fake'owy termin
                </span>
            </li>
            {% endif %}
            {% if webinar.is_lecturer_anonymized %}
            <li class="d-flex align-items-center">
                <span class="bullet bullet-vertical bg-dark me-5"></span>
                <span class="px-2 bg-dark text-white">
                    ANONIM
                    {% if webinar.anonymize_lecturer %}
                    WEBINAR
                    {% endif %}
                    {% if webinar.lecturer.anonymize %}
                    WYKLAD
                    {% endif %}
                </span>
            </li>
            {% endif %}
            {% if webinar_ctx.is_hidden %}
            <li class="d-flex align-items-center">
                <span class="bullet bullet-vertical bg-info me-5"></span>
                <span
                    class="px-1 text-white bg-info"
                    style="cursor: pointer;"
                    data-bs-dismiss="true"
                    data-bs-toggle="popover"
                    data-bs-placement="right"
                    title="Co to 'Ukryty termin'?"
                    data-bs-content="Ukryty termin jest jedynie niewidoczny w liście szkoleń, jednak nadal można wejść na stronę szkolenia jeśli posiada się bezpośredni link.">
                    Ukryty termin
                </span>
            </li>
            {% endif %}
            <div class="mt-2 ps-5">
                {% include "./WebinarRowMenu.html" with webinar_ctx=webinar_ctx %}
            </div>
        </div>

    </td>
    {% comment %} Sales {% endcomment %}
    <td>
        <span class="fw-bold text-{% include './WebinarStatusColor.html' %}">
            {% comment %} Darmowi uczestnicy {% endcomment %}
            {% if webinar.is_connected_to_conference %}
                {% if webinar_ctx.free_participants %}
                    Zebrano {{webinar_ctx.free_participants|length}} darmowych uczestników
                {% else %}
                <span class="fw-light">Brak darmowych uczestników</span>
                {% endif %}
                <br>
            {% endif %}

            {% comment %} Płatni uczestnicy {% endcomment %}
            {% if webinar_ctx.sent_applications_count != 0 %}
                {% include './WebinarStatusText.html' with webinar=webinar count=webinar_ctx.gathered_participants_count %}
                <span class="text-dark">( {{webinar_ctx.sent_applications_count}} zgł. )</span>
            {% else %}
                <span class="fw-light">Brak płatnych uczestników</span>
            {% endif %}
            <br>

            {% if webinar_ctx.uncertain_participants_count %}
                <span class="px-2 bg-warning text-dark fw-bold">
                    Niepewnych: {{webinar_ctx.uncertain_participants_count}}
                </span>
            {% endif %}
            
        </span>
        <br>
        <div style="font-weight: bold;">
            <span style="cursor: pointer;" onclick="javascript: navigator.clipboard.writeText('{{webinar_ctx.total_netto_value_of_webinar}}'); ShowClipboardMsg();">
                {{webinar_ctx.total_netto_value_of_webinar_display}}zł
            </span>
            /
            {% if webinar_ctx.lecturer_netto_price != 0 %}
            {{webinar_ctx.lecturer_netto_price_display}}zł
            {% else %}
            <span class="fw-bold">
                <a class="text-dark" href="{% url 'core:crm_webinar_detail_dashboard' pk=webinar.pk %}">
                    uzupełnij
                </a>
            </span>
            {% endif %}
        </div>

        <br>

        {% if webinar_ctx.webinar_rating >= 1 %}
            <span
            {% if webinar_ctx.webinar_rating < 5 %}
                class="fs-6 fw-bold badge bg-light text-dark"
            {% elif webinar_ctx.webinar_rating < 30 %}
                class="fs-6 fw-bold badge bg-secondary"
            {% elif webinar_ctx.webinar_rating < 50 %}
                class="fs-6 fw-bold badge badge-dark"
            {% elif webinar_ctx.webinar_rating >= 50 %}
                class="fs-6 fw-bold badge badge-success"
            {% elif webinar_ctx.webinar_rating >= 75 %}
                class="fs-6 fw-bold badge bg-primary"
            {% endif %}
                data-bs-toggle="tooltip"
                data-bs-custom-class="tooltip-inverse"
                data-bs-placement="top"
            >
                Rating: {{webinar_ctx.webinar_rating|floatformat:"0"}} / 100
            </span>
            <br>
        {% endif %}
        
        <span style="font-size: 0.9rem;">
        {% if webinar_ctx.unfinished_applications_count %}
            <span>NZ={{webinar_ctx.unfinished_applications_count}}</span>
        {% endif %}
        {% if webinar_ctx.click_count_mailing and webinar_ctx.mailing_campaigns %}
            <span>M={{webinar_ctx.click_count_mailing}}</span>
        {% endif %}
        {% if webinar_ctx.click_count_facebook %}
            <span>FB={{webinar_ctx.click_count_facebook}}</span>
        {% endif %}
        {% if webinar_ctx.click_count_onesignal %}
            <span>PUSH={{webinar_ctx.click_count_onesignal}}</span>
        {% endif %}
        <br>
        </span>

        {% with webinar_ctx.date_changes|length as date_changes_length %}
            {% if date_changes_length > 1 %}
                <b>Historia zmian daty szkolenia:</b>
                <ol>
                {% for web_date in webinar_ctx.date_changes %}
                    {% if forloop.last %}
                        <li><u>{{web_date|date:"j E Y H:i"}}</u></li>
                    {% else %}
                        <li>{{web_date|date:"j E Y H:i"}}</li>
                    {% endif %}
                {% endfor %}
                </ol>
            {% endif %}
        {% endwith %}

    </td>
    {% comment %} Time left {% endcomment %}
    <td>
        {% if webinar.time_to_webinar %}
        <b>Pozostało: {{webinar.time_to_webinar}}</b>
        {% else %}
            {% if webinar.status == "INIT" %}
            <b class="text-danger">Nie odbył się</b>
            <div hx-get="{% url 'htmx:htmx_crm_cancel_webinar' pk=webinar.pk %}" hx-trigger="click" hx-swap="outerHTML">
                {% comment %} <img  alt="Ładowanie..." class="htmx-indicator" width="10" height="10" src="{% static 'media/misc/spinner.gif' %}"/> {% endcomment %}
                <button
                    class="btn btn-danger py-0 px-1 fs-6"
                >
                    Pokaż przycisk Odwołania
                </button>
            </div>
            {% elif webinar.status == "CONFIRMED" %}
            <b class="text-success">W trakcie</b>
            {% elif webinar.status == "CANCELED" %}
            <b class="text-danger">Odwołany</b>
            {% elif webinar.status == "DONE" %}
            <b class="text-success">Zrealizowany</b>
            {% endif %}
        {% endif %}
    
        {% if webinar_ctx.webinar_assets_count == 0 %}
            {% if webinar.status == "CONFIRMED" %}
                <br>
                <b>
                    <a href="{% url 'core:crm_webinar_assets' pk=webinar.pk %}" class="text-danger fw-bold text-hover-primary">
                        !! PRZEŚLIJ MATERIAŁY !!
                    </a>
                </b>
            {% endif %}
        {% else %}
        <span class="d-flex align-items-center text-gray-700 me-5 mb-2">
            <i class="ki-duotone ki-file fs-4 me-1">
                <span class="path1"></span>
                <span class="path2"></span>
                <span class="path3"></span>
            </i>
            <a href="{% url 'core:crm_webinar_assets' pk=webinar.pk %}" class="text-gray-700 text-hover-primary">
                <b>Materiały: {{webinar_ctx.webinar_assets_count}} plików</b>
            </a>
        </span>
        {% endif %}

        <div class="my-5"></div>

{% comment %}
            {% if webinar_ctx.webinar_metadata.omega_indexer_queued %}
            <div>
                <span>Omega Indexer włączony</span>
            </div>
            {% else %}
                {% if not webinar.is_connected_to_conference and webinar.status == "INIT" and webinar.time_to_webinar %}
                <div hx-get="{% url 'htmx:htmx-webinar-omega-indexer' pk=webinar.pk %}" hx-trigger="click" hx-swap="outerHTML">
                    <button
                        class="btn btn-secondary py-0 px-1 fs-6"
                    >
                        Włącz Omega Indexer
                    </button>
                </div>
                {% endif %}
            {% endif %}
{% endcomment %}

        {% if webinar_ctx.mailing_campaigns %}
        <div class="mt-2">
            <b><u>Mailingi:</u></b> <br>
            {% for mailing_campaign in webinar_ctx.mailing_campaigns %}
                <span>
                    {% if mailing_campaign.is_main_campaign %}*{% endif %}
                    <a href="{% url 'core:crm_mailing_campaign_detail' pk=mailing_campaign.pk %}" target="_blank">
                        <b>{{mailing_campaign.created_at_plus_one_day|date:"j b"}}</b>
                    </a>
                </span> 
                <span>
                    <b>{{mailing_campaign.target_code|default:"?"}}</b>
                </span> 
                <span>
                    wysł. {{mailing_campaign.stat_sent|floatformat:"-3g" }}
                    <a href="{% url "core:crm_mailing_clicks_stats" pk=mailing_campaign.id %}">
                        <b>klik. {{mailing_campaign.total_clicks|floatformat:"-3g" }}</b>
                    </a>
                </span> 
                <br>
            {% endfor %}
        </div>
        {% endif %}

        <hr>
    
        {% if webinar.status == "INIT" or webinar.status == "CONFIRMED" %}
        <div class="mt-2">
            <div
                hx-get="{% url "htmx:tracking_mailing_clicks" webinar_id=webinar.id %}"
                hx-swap="outerHTML"
                hx-trigger="click">
                {% comment %} <img  alt="Ładowanie..." class="htmx-indicator" width="30" height="30" src="{% static 'media/misc/spinner.gif' %}"/> {% endcomment %}
                <button
                    class="btn bt-sm btn-secondary py-0 px-1 fs-6"
                >
                    Pokaż kliknięcia w kampaniach
                </button>
            </div>
        </div>
        {% endif %}

    </td>
</tr>

{% endwith %}