{% load static %}
{% load custom_templatetags %}
<table id="kt_participants_table" class="table table-row-bordered gy-5">
    <thead>
        <tr class="fw-semibold fs-6 text-gray-800">
            <th>Imię i Nazwisko</th>
            {% comment %} <th>Osoba zgłaszająca</th> {% endcomment %}
            <th>Telefon & E-mail</th>
            <th>Zadzwoniono</th>
            <th>Info</th>
        </tr>
    </thead>
    <tbody>
        {% for participant in gathered_participants %}
        <tr class="{% cycle 'bg-gray-300' '' %}">
            <td style="padding-left: 15px;">
                <a class="fs-3" href="{% url 'admin:core_webinarparticipant_change' object_id=participant.id %}">
                    <b>{{forloop.counter}}.) {{participant.fullname}}</b>
                </a>
                <br><br>
                <b><u>Kontakt do uczestnika:</u></b>
                <br>
                <b>{{participant.phone|default:"Nie podano"}}</b>
                <br>
                {{participant.email}}
            </td>
            {% comment %} <td>
                {{participant.application.submitter}}
                <br>
                {{participant.application.submitter.email}}
                /
                {{participant.application.submitter.phone}}
            </td> {% endcomment %}
            <td>
                <b>Kontaktowy ogólny:</b>
                <br>
                {{participant.application.submitter.phone|default:"Nie podano"}}
                <br>
                {{participant.application.submitter.email}}
            </td>
            <td>
                <div
                    hx-get="{% url 'htmx:htmx_crm_participant_toggle_phoned' pk=participant.pk %}"
                    hx-trigger="load delay:1s">
                </div>
            </td>
            <td>
                <div
                    hx-get="{% url 'htmx:htmx_crm_participant_indicators' pk=participant.pk %}"
                    hx-trigger="load delay:{{forloop.counter}}s">
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>