{% load static %}

{% with webinar_ctx.webinar as webinar %}

<tr>
    {% comment %} Avatar {% endcomment %}
    <td>
        <div class="d-flex">
            <div class="symbol">
                <img
                src="{% static 'media/misc/spinner.gif' %}"
                {% if webinar.lecturer.avatar %}
                data-src="{% get_media_prefix %}uploads/lecturers/{{webinar.lecturer.slug}}_35x35.webp"
                {% else %}
                data-src="{% static "default/default-lecturer-avatar-50x50.webp" %}"
                {% endif %}
                class="lozad"
                alt="{{webinar.lecturer.fullname}}"
                />
            </div>
            {% comment %} <div>
                <a href="{% url 'core:lecturer_stats_page' pk=webinar.lecturer.pk %}">
                    <b>{{webinar.lecturer.fullname}}</b>
                </a>
            </div> {% endcomment %}
        </div>
    </td>
    {% comment %} Details {% endcomment %}
    <td style="max-width: 350px;">
        
        <div class="mb-3">
            <a href="{% url 'core:crm_webinar_detail_dashboard' pk=webinar.pk %}" class="text-primary text-hover-primary fw-bold">
                {{webinar.title_original}}
            </a>
            <br>
            <b>{{webinar.date|date:"j E (l)"}}</b> <b>{{webinar.date|date:"H:i"}}</b> - {{webinar.date_end|date:"H:i"}}
            <br>
            {{webinar.lecturer.fullname}}
        </div>

        {% if webinar_ctx.is_confirmed %}
        <span class="fw-bold text-warning mb-1">[ Pewny termin ]</span> <br>
        {% endif %}
        {% if webinar_ctx.is_fake %}
        <span class="fw-bold text-danger mb-1">[ Fake'owy termin ]</span> <br>
        {% endif %}
        {% if webinar_ctx.is_hidden %}
        <span class="fw-bold text-info mb-1">[ Ukryty termin ]</span> <br>
        {% endif %}

        <div class="d-flex">
            <!--begin::Menu-->
            <div class="me-3">
                <a href="#" class="mt-4" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end">
                    Zarządzaj
                </a>
                <!--begin::Menu 3-->
                <div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-800 menu-state-bg-light-primary fw-semibold w-300px py-3" data-kt-menu="true">
                    <!--begin::Menu item-->
                    <div class="menu-item px-3">

                        {% if webinar.status == "INIT" %}
                        <a href="{% url 'core:crm_webinar_confirm' pk=webinar.pk %}" class="menu-link px-3 text-warning">
                            [CRM] Potwierdź termin
                        </a>
                        {% elif webinar.status == "CONFIRMED" %}
                        <a href="{% url 'core:crm_webinar_done' pk=webinar.pk %}" class="menu-link px-3 text-success">
                            [CRM] Zakończ szkolenie
                        </a>
                        {% endif %}
                        <a href="{% url 'core:webinar_program_page' slug=webinar.slug %}" class="menu-link px-3">
                            [Strona] Zobacz na stronie
                        </a>
                        <a href="{% url 'admin:core_webinar_change' object_id=webinar.id %}" class="menu-link px-3">
                            [CMS] Edytuj termin
                        </a>
                        <a href="{% url 'admin:core_lecturer_change' object_id=webinar.lecturer.id %}" class="menu-link px-3">
                            [CMS] Edytuj wykładowce
                        </a>
                        <a target="_blank" href="https://trends.google.com/trends/explore?q={{webinar.title}}&date=now%201-d&geo=PL&hl=pl" class="menu-link px-3">
                            Google Trends
                        </a>
                    
                    </div>
                </div>
                <!--end::Menu 3-->
            </div>
            <!--end::Menu-->
        </div>
    </td>
    {% comment %} Sales {% endcomment %}
    <td>
        <span class="fw-bold text-{% include './WebinarStatusColor.html' %}">
            {% if webinar_ctx.sent_applications_count != 0 %}
            {% include './WebinarStatusText.html' with webinar=webinar count=webinar_ctx.gathered_participants_count %}
            <span class="text-dark">( {{webinar_ctx.sent_applications_count}} zgł. )</span>
            {% else %}
            <span class="fw-light">brak zgłoszeń</span>
            {% endif %}
            
        </span>
        <br>
        <div style="font-weight: bold;">
            {{webinar_ctx.total_netto_value_of_webinar_display}}zł
            /
            {% if webinar_ctx.lecturer_netto_price != 0 %}
            {{webinar_ctx.lecturer_netto_price_display}}zł
            {% else %}
            <span class="fw-bold">
                <a class="text-dark" href="{% url 'core:crm_webinar_detail_dashboard' pk=webinar.pk %}">
                    uzupełnij
                </a>
            </span>
            {% endif %}
        </div>

        <br>

        {% if webinar_ctx.webinar_rating >= 1 %}
            <span
            {% if webinar_ctx.webinar_rating < 5 %}
                class="fs-6 fw-bold badge bg-light text-dark"
            {% elif webinar_ctx.webinar_rating < 30 %}
                class="fs-6 fw-bold badge bg-secondary"
            {% elif webinar_ctx.webinar_rating < 50 %}
                class="fs-6 fw-bold badge badge-dark"
            {% elif webinar_ctx.webinar_rating >= 50 %}
                class="fs-6 fw-bold badge badge-success"
            {% elif webinar_ctx.webinar_rating >= 75 %}
                class="fs-6 fw-bold badge bg-primary"
            {% endif %}
                data-bs-toggle="tooltip"
                data-bs-custom-class="tooltip-inverse"
                data-bs-placement="top"
            >
                Rating: {{webinar_ctx.webinar_rating|floatformat:"0"}} / 100
            </span>
            <br>
        {% endif %}
        
        <span style="font-size: 0.9rem;">
        {% if webinar_ctx.click_count_mailing %}
            <span>M={{webinar_ctx.click_count_mailing}}</span>
        {% endif %}
        {% if webinar_ctx.click_count_facebook %}
            <span>FB={{webinar_ctx.click_count_facebook}}</span>
        {% endif %}
        {% if webinar_ctx.click_count_onesignal %}
            <span>PUSH={{webinar_ctx.click_count_onesignal}}</span>
        {% endif %}
        </span>

    </td>
    {% comment %} Time left {% endcomment %}
    <td>
        {% if webinar.time_to_webinar %}
        <b>Pozostało: {{webinar.time_to_webinar}}</b>
        {% else %}
        <b class="text-danger">Nie odbyło się</b>
        {% endif %}
    
        {% if webinar_ctx.webinar_assets_count == 0 %}
            {% if webinar.status == "CONFIRMED" %}
                <br>
                <b>
                    <a href="{% url 'core:crm_webinar_assets' pk=webinar.pk %}" class="text-danger fw-bold text-hover-primary">
                        PRZEŚLIJ MATERIAŁY
                    </a>
                </b>
            {% endif %}
        {% else %}
        <span class="d-flex align-items-center text-gray-700 me-5 mb-2">
            <i class="ki-duotone ki-file fs-4 me-1">
                <span class="path1"></span>
                <span class="path2"></span>
                <span class="path3"></span>
            </i>
            <a href="{% url 'core:crm_webinar_assets' pk=webinar.pk %}" class="text-gray-700 text-hover-primary">
                <b>Materiały: {{webinar_ctx.webinar_assets_count}} plików</b>
            </a>
        </span>
        {% endif %}

        {% if webinar_ctx.mailing_campaigns %}
        <div class="mt-4">
            <b>Mailingi:</b> <br>
            {% for mailing_campaign in webinar_ctx.mailing_campaigns %}
                <span>{{mailing_campaign.created_at}}</span> <br>
            {% endfor %}

            <a 
                hx-get="{% url "htmx:htmx_webinar_mailing_modal" pk=webinar.pk %}" 
                hx-target="#modals-here" 
                hx-trigger="click" 
                data-bs-toggle="modal" 
                data-bs-target="#modals-here"
                style="cursor: pointer;"
                class="mt-4">Szczegóły mailingów</a>

        </div>
        {% endif %}
    
    </td>
</tr>


{% endwith %}