<!--begin::Button-->
{% if webinar.status == "INIT" %}
{% comment %} <a href="{% url 'core:crm_webinar_move' pk=webinar.pk %}"
class="btn btn-flex btn-sm btn-light-primary fw-bold border-0 fs-6 h-40px me-3"
>
<i class="ki-duotone ki-time fs-2 me-2"><i class="path1"></i><i class="path2"></i><i class="path3"></i><i class="path4"></i></i>
Przenieś termin
</a> {% endcomment %}

<a href="{% url 'core:crm_webinar_confirm' pk=webinar.pk %}"
class="btn btn-flex btn-sm btn-light-warning fw-bold border-0 fs-6 h-40px me-3"
>
<i class="ki-duotone ki-rocket fs-2 me-2"><i class="path1"></i><i class="path2"></i><i class="path3"></i><i class="path4"></i></i>
Potwierdź termin
</a>

{% comment %}
    <a href="{% url 'core:crm_webinar_cancel' pk=webinar.pk %}"
    class="btn btn-flex btn-sm btn-light-danger fw-bold border-0 fs-6 h-40px"
    >
    <i class="ki-duotone ki-cross-square fs-2 me-2"><i class="path1"></i><i class="path2"></i><i class="path3"></i><i class="path4"></i></i>
    Odwołaj termin
    </a>
{% endcomment %}

{% elif webinar.status == "CONFIRMED" %}
<a href="{% url 'core:crm_webinar_done_action' pk=webinar.pk %}"
class="btn btn-flex btn-sm btn-light-success fw-bold border-0 fs-6 h-40px"
>
<i class="ki-duotone ki-medal-star fs-2 me-2"><i class="path1"></i><i class="path2"></i><i class="path3"></i><i class="path4"></i></i>
Zakończ szkolenie
</a>

{% elif webinar.status == "CANCELED" %}

{% elif webinar.status == "DONE" %}

{% endif %}
<!--end::Button-->