<!--begin::Title-->
<h1 class="d-flex align-items-center my-1">
    <span class="d-inline-block position-relative ms-2">
        <!--begin::Label-->
        <span class="d-inline-block mb-2 fs-1tx fw-bold">
            Status: 
            {% include './WebinarStatusText.html' with webinar=webinar count=count %}
        </span>
        <!--end::Label-->
        <!--begin::Line-->
        <span class="
            bg-{% include './WebinarStatusColor.html' %}
            d-inline-block position-absolute h-8px bottom-0 end-0 start-0 translate rounded">
        </span>
        <!--end::Line-->
    </span>
</h1>
<!--end::Title-->