{% extends './extends/EmailBase.html' %}

{% block content %}
<!--email-template from database: START-->
<tr>
  <td align="center" style="max-width: 640px;" valign="top">
    <table width="100%" align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" style="border-spacing:0;background-color: #ffffff;">
      <tbody>
        
        <tr><td height="50">&nbsp;</td></tr>

        <tr>
          <td align="left" valign="top" style="border-collapse:collapse;">
            <table border="0" cellpadding="0" cellspacing="0" style="border-spacing:0;width: 100%;max-width: 640px;">
              <tbody>
                {% include './includes/EmailDearRecipientIntro.html' %}

                <tr>
                  <td style="border-collapse:collapse;padding-left:20px;padding-right:20px;font-size: 16px;">
                    Termin szkolenia, którego są Państwo uczestnikami <b>został potwierdzony</b>.
                    <br> <br>
                    <b>„{{webinar.title_original}}”</b>
                    <br> <br>
                    Szkolenie odbędzie się online <b>{{webinar.date|date:"j E Y"}}</b> o godzinie <b>{{webinar.date|date:"H:i"}}</b>.
                  </td>
                </tr>
                
                <tr>
                  <td style="border-collapse:collapse;padding-left:20px;padding-right:20px;font-size: 16px;padding-top:15px;">
                    <hr style="border-width: 0; background: #000; color: #000; height:0.1em">
                  </td>
                </tr>
                
                <tr>
                  <td style="border-collapse:collapse;padding-left:20px;padding-right:20px;font-size: 16px;padding-top:15px;">
                    Wysłaliśmy Państwu <b>osobną wiadomości e-mail</b>
                    <br>
                    z zaproszeniem na szkolenie, zawierającym link do platformy ClickMeeting.
                  </td>
                </tr>

                <tr>
                  <td style="border-collapse:collapse;padding-left:20px;padding-right:20px;font-size: 16px;padding-top:15px;">
                    <b style="color: red;">
                      Jeśli nie mogą Państwo znaleźć wiadomości z zaproszeniem do platformy ClickMeeting prosimy sprawdzić folder „Spam” lub „Wiadomości śmieci”
                    </b>
                  </td>
                </tr>

                <tr>
                  <td style="border-collapse:collapse;padding-left:20px;padding-right:20px;font-size: 16px;padding-top:15px;">
                      Jeśli mają Państwo pytania prosimy o kontakt: {{COMPANY_OFFICE_EMAIL}} , tel: {{COMPANY_OFFICE_PHONE}}
                  </td>
                </tr>
                
                <tr>
                  <td style="border-collapse:collapse;padding-left:20px;padding-right:20px;font-size: 16px;padding-top:15px;">
                    <hr style="border-width: 0; background: #000; color: #000; height:0.1em">
                  </td>
                </tr>

                <tr>
                  <td style="border-collapse:collapse;padding-left:20px;padding-top:20px">
                    {% with BASE_URL|add:assets_url as absolute_assets_url %}
                      {% include './includes/EmailButton.html' with text="Pobierz materiały szkoleniowe" url=absolute_assets_url %}
                    {% endwith %}
                  </td>
                </tr>

                <tr>
                  <td style="border-collapse:collapse;padding-left:20px;padding-top:20px">
                    {% with BASE_URL|add:assets_url as absolute_assets_url %}
                      {% include './includes/EmailButton.html' with text="Przetestuj swoje urządzenie" url="https://utilities.clickmeeting.com/connection-tester" %}
                    {% endwith %}
                  </td>
                </tr>

                {% include './includes/EmailThankYouForChoosingUs.html' %}

              </tbody>
            </table>
          </td>
        </tr>
        
        <tr>
          <td height="50" style="border-collapse:collapse;font-size:1px; line-height:0px;">&nbsp;
          </td>
        </tr>

      </tbody>
    </table>
  </td>
</tr>
<!--email-template from database: END-->
{% endblock content %}
