<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
</head>
<body>

<p>
    Szanowni Państwo 
</p>

<p>
    Zostali państwo zapisani na szkolenie: <b>{{title}}</b>, którego
    planowany termin to {{date}} godzina {{hour}},
    wykładowca: {{lecturer}}
</p>

<p>
    Dzień przed planowanym terminem szkolenia prześlemy każdemu z uczestników
    dodatkową wiadomość e-mail ze wszystkimi informacjami potrzebnymi
    do połączenia się do webinaru.
</p>

<p>
    Prosimy o zapoznanie się z wymaganiami technicznymi platformy ClickMeeting: <br>
    <a href="https://utilities.clickmeeting.com/connection-tester">
        https://utilities.clickmeeting.com/connection-tester
    </a>
</p>

</body>
</html>