<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
</head>
<body>

<p>
    Szanowni Państwo 
</p>

<p>
    Termin szkolenia, którego są Państwo uczestnikami został potwierdzony.
</p>

<p>
    W osobnej wiadomości e-mail otrzymają Państwo zaproszenie na szkolenie
    wraz z linkiem do platformy ClickMeeting.
</p>

<p>
    Prosimy o zapoznanie się z wymaganiami technicznymi platformy ClickMeeting: <br>
    <a href="https://utilities.clickmeeting.com/connection-tester">
        https://utilities.clickmeeting.com/connection-tester
    </a>
</p>

</body>
</html>