{% extends './extends/EmailBase.html' %}

{% block content %}
<!--email-template from database: START-->
<tr>
  <td align="center" style="max-width: 640px;" valign="top">
    <table width="100%" align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" style="border-spacing:0;background-color: #ffffff;">
      <tbody>
        
        <tr><td height="50">&nbsp;</td></tr>

        <tr>
          <td align="left" valign="top" style="border-collapse:collapse;">
            <table border="0" cellpadding="0" cellspacing="0" style="border-spacing:0;width: 100%;max-width: 640px;">
              <tbody>
                {% include './includes/EmailDearRecipientIntro.html' %}

                <tr>
                  <td style="border-collapse:collapse;padding-left:20px;padding-right:20px;font-size: 16px;">
                    Przyjęliśmy Państwa zgłoszenie na bezpłatne szkolenie: <i>„{{webinar_title}}”</i>,
                    <br>
                    które odbędzie się w dniu <b>{{start_date}}</b> o godzinie <b>{{start_hour}}</b>.
                    <br>
                    <br>
                    Link do strony, na której będą mogli Państwo obejrzeć webinar na żywo:
                    <br>
                    <br>
                    {% with BASE_URL|add:conference_url as absolute_conference_url %}
                      <a href="{{absolute_conference_url}}">
                        {{absolute_conference_url}}
                      </a>
                    {% endwith %}
                  </td>
                </tr>
                
                <tr>
                  <td style="border-collapse:collapse;padding-left:20px;padding-right:20px;font-size: 16px;padding-top:15px;">
                    <hr style="border-width: 0; background: #000; color: #000; height:0.1em">
                  </td>
                </tr>

                {% include './includes/EmailThankYouForChoosingUs.html' %}

              </tbody>
            </table>
          </td>
        </tr>
        
        <tr>
          <td height="50" style="border-collapse:collapse;font-size:1px; line-height:0px;">&nbsp;
          </td>
        </tr>

      </tbody>
    </table>
  </td>
</tr>
<!--email-template from database: END-->
{% endblock content %}
