{% extends 'core/pages/crm/extends/CrmBase.html' %} 
{% load static %}

{% block head_stylesheets %}
{% endblock head_stylesheets %}

{% block crm_content %}
<!--begin::Row-->
<div class="row g-6 g-xl-9 mb-10">

    <!--begin::Col-->
    <div class="col-md-12 col-xl-12">
      <div class="card">
        <div class="card-header">
            all_emails_count: {{all_emails_count}}
            <br>
            untagged_emails_count: {{untagged_emails_count}}
        </div>
        <div class="card-body">
            123
        </div>
      </div>
    </div>
    <!--end::Col-->

  </div>
  <!--end::Row-->

  {% endblock crm_content %}

{% block body_scripts %}{% endblock body_scripts %}
