{% load i18n admin_urls %}
{% block object-tools-items %}
<li>
    {% url opts|admin_urlname:'history' original.pk|admin_urlquote as history_url %}

    {% with original_pk=original.pk|stringformat:"i" %}
    {% if request.path == '/cms/core/webinar/'|add:original_pk|add:'/change/' %}
    <a href="{% url "core:conference_from_webinar" pk=original.pk %}" class="historylink" style="margin-right:10px;">Stwórz konferencje</a>
    {% endif %}
    {% endwith %}
    
    {% with original_pk=original.pk|stringformat:"i" %}
    {% if request.path == '/cms/core/webinar/'|add:original_pk|add:'/change/' %}
    <a href="{% url "core:crm_webinar_duplicate" pk=original.pk %}" class="historylink" style="margin-right:10px;">Duplikuj szkolenie</a>
    {% endif %}
    {% endwith %}
    
    {% with original_pk=original.pk|stringformat:"i" %}
    {% if request.path == '/cms/core/webinar/'|add:original_pk|add:'/change/' %}
    <a href="{% url "core:crm_webinar_bulk_duplicate" pk=original.pk %}" class="historylink" style="margin-right:10px;">Duplikuj hurtowo</a>
    {% endif %}
    {% endwith %}

    {% with original_pk=original.pk|stringformat:"i" %}
    {% if request.path == '/cms/core/webinar/'|add:original_pk|add:'/change/' %}
    <a href="{% url "core:crm_word_to_program_text" pk=original.pk %}" class="historylink" style="margin-right:10px;">Program WORD</a>
    {% endif %}
    {% endwith %}
    
    {% with original_pk=original.pk|stringformat:"i" %}
    {% if request.path == '/cms/core/webinar/'|add:original_pk|add:'/change/' %}
    <a href="{% url "core:webinar_redirect_to_program" pk=original.pk %}" class="historylink" style="margin-right:10px;">Zobacz na stronie</a>
    {% endif %}
    {% endwith %}
    
    {% with original_pk=original.pk|stringformat:"i" %}
    {% if request.path == '/cms/core/webinar/'|add:original_pk|add:'/change/' %}
    <a href="{% url "core:crm_webinar_detail_dashboard" pk=original.pk %}" class="historylink" style="margin-right:10px;">Zobacz w CRM</a>
    {% endif %}
    {% endwith %}

    <a href="{% add_preserved_filters history_url %}" class="historylink">{% translate "History" %}</a>
</li>
{% if has_absolute_url %}<li><a href="{{ absolute_url }}" class="viewsitelink">{% translate "View on site" %}</a></li>{% endif %}
{% endblock %}
