{% load i18n admin_urls %}
{% block object-tools-items %}
<li>
    {% url opts|admin_urlname:'history' original.pk|admin_urlquote as history_url %}


    {% with original_pk=original.pk|stringformat:"i" %}
    {% if request.path == '/cms/core/webinar/'|add:original_pk|add:'/change/' %}
    <a href="{% url "core:crm_webinar_detail_dashboard" pk=original.pk %}" class="historylink" style="margin-right:10px;">Zobacz w CRM</a>
    {% endif %}
    {% endwith %}

    <a href="{% add_preserved_filters history_url %}" class="historylink">{% translate "History" %}</a>
</li>
{% if has_absolute_url %}<li><a href="{{ absolute_url }}" class="viewsitelink">{% translate "View on site" %}</a></li>{% endif %}
{% endblock %}
