{% extends 'core/extends/base.html' %} 
{% load static %}

{% block title %}
    <title>CRM v{{VERSION_NUMBER}}</title>
{% endblock title %}

{% block head_stylesheets %}{% endblock head_stylesheets %}

{% block leftbar %}
    {% include './leftbar.html' %}
{% endblock leftbar %}

{% block rightbar %}{% endblock rightbar %}

{% block header %}
    {% include './header.html' %}
{% endblock header %}

{% block body_tag %}
<body id="kt_body" class="header-fixed header-tablet-and-mobile-fixed aside-enabled sidebar-enabled" style="background-color: #f1f5f9;">
{% endblock body_tag %}

{% block content %}
    <div class="wrapper d-flex flex-column flex-row-fluid mt-5 mt-lg-10" id="kt_wrapper">
        <div class="content flex-column-fluid" id="kt_content">
            

            {% if META__APP_ENV == "staging" %}
            <div class="alert alert-danger d-flex align-items-center" role="alert">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill me-2" viewBox="0 0 16 16">
                   <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                </svg>
                <div>
                   To jest środowisko testowe ! ( Staging ). Popatrz na adres URL w przeglądarce.
                </div>
            </div>
            {% endif %}


            {% block crm_content %}{% endblock crm_content %}
        </div>
    </div>

    <script src="{% static 'js/htmx.min.js' %}"></script>
    <script>
        document.body.addEventListener('htmx:configRequest', (event) => {
            event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
        })
    </script>

{% endblock content %}


{% block body_scripts %}{% endblock body_scripts %}
