{% load custom_templatetags %}
<!--begin::Aside-->
<div
id="kt_aside"
class="aside"
data-kt-drawer="true"
data-kt-drawer-name="aside"
data-kt-drawer-activate="{default: true, lg: false}"
data-kt-drawer-overlay="true"
data-kt-drawer-width="{default:'200px', '300px': '225px'}"
data-kt-drawer-direction="start"
data-kt-drawer-toggle="#kt_aside_toggle"
data-kt-sticky="false"
data-kt-sticky-name="aside-sticky"
data-kt-sticky-offset="{default: false, lg: '1px'}"
data-kt-sticky-width="{lg: '225px'}"
data-kt-sticky-left="auto"
data-kt-sticky-top="94px"
data-kt-sticky-animation="false"
data-kt-sticky-zindex="95"
>
<!--begin::Aside nav-->
<div
  class="hover-scroll-overlay-y my-5 my-lg-5 w-100 ps-4 ps-lg-0 pe-4 me-1"
  {% comment %}
  id="kt_aside_menu_wrapper"
  data-kt-scroll="true"
  data-kt-scroll-activate="{default: false, lg: true}"
  data-kt-scroll-height="auto"
  data-kt-scroll-dependencies="#kt_header"
  data-kt-scroll-wrappers="#kt_aside"
  data-kt-scroll-offset="5px"
  {% endcomment %}
>
  <!--begin::Menu-->
  <div
    class="menu menu-column menu-active-bg menu-hover-bg menu-title-gray-700 fs-6 menu-rounded w-100"
    id="#kt_aside_menu"
    data-kt-menu="true"
  >
  <!--begin::Heading-->
  <div class="menu-item">
    <div class="menu-content pb-2">
      <span
        class="menu-section text-muted text-uppercase fs-7 fw-bold">
          <a href="{% url "changelog_page" %}">
            CRM v{{VERSION_NUMBER}} - ({{VERSION_DATE}})
          </a>
        </span
      >
    </div>
  </div>
  <!--end::Heading-->
  <!--begin::Menu item-->
  <div class="menu-item">
    <a
      target="_blank"
      href="https://drive.google.com/drive/folders/1XrxN-y7_c8xmbxdWt_bazdGAOQ-CwOf9?usp=sharing"
      class="menu-link"
    >
      <span class="menu-icon">
        <i class="ki-duotone ki-scroll fs-3"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span></i>
      </span>
      <span class="menu-title">
        Baza wiedzy
      </span>

    </a>
  </div>
  <!--end::Menu item-->
  <!--begin::Menu item-->
  <div class="menu-item" data-kt-menu-trigger="hover" data-kt-menu-placement="right-start">
    <a
      href="#"
      class="menu-link"
    >
    <span class="menu-icon">
      <i class="ki-duotone ki-scroll fs-3"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span></i>
    </span>
    <span class="menu-title">
        SEO
    </span>
    <span class="menu-arrow"></span>
    </a>
    <!--begin::Menu sub-->
    <div class="menu-sub menu-sub-dropdown p-3 w-300px">
      <!--begin::Menu item-->
      <div class="menu-item">
          <a href="https://lighthouse.wykladowca.pl/raporty.php" class="menu-link px-1 py-3">
              <span class="menu-bullet me-0">
                  <span class="bullet bullet-dot"></span>
              </span>
              <span class="menu-title">Raporty Lighthouse</span>
          </a>
      </div>
      <!--end::Menu item-->
      <!--begin::Menu item-->
      <div class="menu-item">
          <a href="https://search.google.com/search-console" class="menu-link px-1 py-3">
              <span class="menu-bullet me-0">
                  <span class="bullet bullet-dot"></span>
              </span>
              <span class="menu-title">Google Search Console (GSC)</span>
          </a>
      </div>
      <!--end::Menu item-->
      <!--begin::Menu item-->
      <div class="menu-item">
          <a href="https://www.omegaindexer.com/amember/member" class="menu-link px-1 py-3">
              <span class="menu-bullet me-0">
                  <span class="bullet bullet-dot"></span>
              </span>
              <span class="menu-title">Omega Indexer</span>
          </a>
      </div>
      <!--end::Menu item-->
      <!--begin::Menu item-->
      <div class="menu-item">
          <a href="https://www.siteliner.com" class="menu-link px-1 py-3">
              <span class="menu-bullet me-0">
                  <span class="bullet bullet-dot"></span>
              </span>
              <span class="menu-title">Siteliner.com</span>
          </a>
      </div>
      <!--end::Menu item-->
      <!--begin::Menu item-->
      <div class="menu-item">
          <a href="https://pl.semrush.com/projects/" class="menu-link px-1 py-3">
              <span class="menu-bullet me-0">
                  <span class="bullet bullet-dot"></span>
              </span>
              <span class="menu-title">SEMRush</span>
          </a>
      </div>
      <!--end::Menu item-->
  </div>
  <!--end::Menu sub-->
  </div>
  <!--end::Menu item-->


  <!--begin::Menu item-->
  <div class="menu-item">
    <a
      target="_blank"
      href="https://docs.google.com/spreadsheets/d/1feH7V-gzrEGbHz536PRSyyjUizWcHVGwEc6sO9TrOFM/edit?gid=0"
      class="menu-link"
    >
      <span class="menu-icon">
        <i class="ki-duotone ki-scroll fs-3"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span></i>
      </span>
      <span class="menu-title">
        Lista zadań
      </span>

    </a>
  </div>
  <!--end::Menu item-->
  <!--begin::Menu item-->
  <div class="menu-item">
    <a
      href="{% url 'core:crm_upcoming_webinars' %}"
      class="
        menu-link
        {% if request.path == '/crm/' %}active{% endif %}
        {% if request.path|startswith:"/crm/webinar" %}active{% endif %}
        "
    >
      <span class="menu-icon">
        <i class="ki-duotone ki-rocket fs-3"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span></i>
      </span>
      <span class="menu-title">
        Szkolenia
      </span>

      <span class="menu-badge">
        <span class="badge badge-sm badge-square badge-secondary px-1">
          {{CRM_LEFBAR_WEBINAR_COUNT}}
        </span>
      </span>

    </a>
  </div>
  <!--end::Menu item-->
  <!--begin::Menu item-->
  <div class="menu-item">
    <a
      href="{% url 'core:service_offer_applications_list_page' %}"
      class="
        menu-link
        {% if request.path|startswith:"/crm/service_offer_applications_list_page/" %}active{% endif %}
        "
    >
      <span class="menu-icon">
        <i class="ki-duotone ki-nexo fs-3"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span></i>
      </span>
      <span class="menu-title">
        Usługi
      </span>

      {% if CACHED_SERVICE_APPLICATIONS_SENT_TODAY %}
      <span class="menu-badge">
        <span class="badge badge-sm badge-square badge-success px-1">
          {{CACHED_SERVICE_APPLICATIONS_SENT_TODAY}}
        </span>
      </span>
      {% endif %}

    </a>
  </div>
  <!--end::Menu item-->
  <!--begin::Menu item-->
  <div class="menu-item">
    <a
      href="{% url 'core:crm_contact_messages' %}"
      class="menu-link {% if request.path == '/crm/pytania/' %}active{% endif %}"
    >
    <span class="menu-icon">
      <i class="ki-duotone ki-message-question fs-3"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span></i>
    </span>
      <span class="menu-title">Pytania</span>
      {% if CRM_CONTACT_MESSAGE_NEWSET_COUNT %}
      <span class="menu-badge">
        <span class="badge badge-sm badge-circle badge-danger">
          {{CRM_CONTACT_MESSAGE_NEWSET_COUNT}}
        </span>
      </span>
      {% endif %}
    </a>
  </div>
  <!--end::Menu item-->
  <!--begin::Menu item-->
  <div class="menu-item" data-kt-menu-trigger="hover" data-kt-menu-placement="right-start">
    <a
      href="#"
      class="menu-link {% if request.path|startswith:'/crm/kampanie-mailingowe/' %}active{% endif %}"
    >
    <span class="menu-icon">
      <i class="ki-duotone ki-sms fs-3"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span></i>
    </span>
    <span class="menu-title">
        Mailing
    </span>
    {% if CRM_LEFBAR_ACTIVE_MAILING_CAMPAIGNS %}
    <span class="menu-badge">
      <span class="badge badge-sm badge-circle badge-success">
        {{CRM_LEFBAR_ACTIVE_MAILING_CAMPAIGNS}}
      </span>
    </span>
    {% else %}
      <span class="menu-arrow"></span>
    {% endif %}
    </a>
    <!--begin::Menu sub-->
    <div class="menu-sub menu-sub-dropdown p-3 w-300px">
      <!--begin::Menu item-->
      <div class="menu-item">
          <a href="{% url 'core:crm_mailing_campaigns_list' %}" class="menu-link px-1 py-3">
              <span class="menu-bullet me-0">
                  <span class="bullet bullet-dot"></span>
              </span>
              <span class="menu-title">Kampanie mailingowe</span>
          </a>
      </div>
      <!--end::Menu item-->
      <!--begin::Menu item-->
      <div class="menu-item">
          <a href="{% url "core:crm_inbox_page" %}" class="menu-link px-1 py-3">
              <span class="menu-bullet me-0">
                  <span class="bullet bullet-dot"></span>
              </span>
              <span class="menu-title">Skrzynka odbiorcza</span>
          </a>
      </div>
      <!--end::Menu item-->
      <!--begin::Menu item-->
      <div class="menu-item">
          <a href="https://wykladowca.odoo.com" class="menu-link px-1 py-3">
              <span class="menu-bullet me-0">
                  <span class="bullet bullet-dot"></span>
              </span>
              <span class="menu-title">Odoo - Email marketing</span>
          </a>
      </div>
      <!--end::Menu item-->
      <!--begin::Menu item-->
      <div class="menu-item">
          <a href="https://app.getresponse.com/dashboard" class="menu-link px-1 py-3">
              <span class="menu-bullet me-0">
                  <span class="bullet bullet-dot"></span>
              </span>
              <span class="menu-title">GetResponse</span>
          </a>
      </div>
      <!--end::Menu item-->
  </div>
  <!--end::Menu sub-->
  </div>
  <!--end::Menu item-->
  <!--begin::Menu item-->
  <div class="menu-item">
    <a
      target="_blank"
      href="{% url "admin:core_leadmodel_changelist" %}"
      class="menu-link"
    >
      <span class="menu-icon">
        <i class="ki-duotone ki-profile-user"><i class="path1"></i><i class="path2"></i><i class="path3"></i><i class="path4"></i></i>
      </span>
      <span class="menu-title">
        Lead'y
      </span>
    </a>
  </div>
  <!--end::Menu item-->
  <!--begin::Menu item-->
  <div class="menu-item">
    <a
      href="{% url 'core:crm_invoices_list' %}"
      class="menu-link {% if request.path|startswith:'/crm/faktury/' %}active{% endif %}"
    >
    <span class="menu-icon">
      <i class="ki-duotone ki-dollar fs-3"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span></i>
    </span>
    <span class="menu-title">
      Faktury
    </span>
    </a>
  </div>
  <!--end::Menu item-->
  <!--begin::Menu item-->
  <div class="menu-item">
    <a
      href="{% url 'core:crm_blacklist_paste' %}"
      class="menu-link {% if request.path|startswith:'/crm/czarna-lista/' %}active{% endif %}"
    >
    <span class="menu-icon">
      <i class="ki-duotone ki-cross-square fs-3"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span></i>
    </span>
    <span class="menu-title">
      Czarna lista
    </span>
    </a>
  </div>
  <!--end::Menu item-->
  <!--begin::Menu item-->
  <div class="menu-item">
    <a
      href="{% url 'core:crm_resignations_plaintext' %}"
      class="menu-link"
    >
    <span class="menu-icon">
      <i class="ki-duotone ki-cross-square fs-3"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span></i>
    </span>
    <span class="menu-title">
      Rezygnacje
    </span>
    </a>
  </div>
  <!--end::Menu item-->
  <!--begin::Menu item-->
  <div class="menu-item">
    <a
      href="{% url 'core:crm_todos_list' %}"
      class="menu-link {% if request.path == '/crm/zadania/' or request.path == '/crm/zadania/wykonane/' %}active{% endif %}"
    >
    <span class="menu-icon">
      <i class="ki-duotone ki-abstract-30 fs-3"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span></i>
    </span>
      <span class="menu-title">Zadania</span>
      {% if CRM_LEFBAR_TODO_LEFT_COUNT %}
      <span class="menu-badge">
        <span class="badge badge-sm badge-circle badge-danger">
          {{CRM_LEFBAR_TODO_LEFT_COUNT}}
        </span>
      </span>
      {% endif %}

    </a>
  </div>
  <!--end::Menu item-->
  <!--begin::Menu item-->
  <div class="menu-item">
    <a
      href="{% url 'core:lecturer_list_page' %}"
      class="menu-link {% if request.path == '/crm/wykladowcy/' %}active{% endif %}"
    >
    <span class="menu-icon">
      <i class="ki-duotone ki-medal-star fs-3">
        <i class="path1"></i>
        <i class="path2"></i>
        <i class="path3"></i>
        <i class="path4"></i>
      </i>
    </span>
      <span class="menu-title">
        Wykładowcy
      </span>
    </a>
  </div>
  <!--end::Menu item-->
  {% comment %}
  <!--begin::Menu item-->
  <div class="menu-item">
    <a
      href="#"
      class="menu-link"
    >
    <span class="menu-icon">
      <i class="ki-duotone ki-dollar fs-3"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span></i>
    </span>
      <span class="menu-title" style="text-decoration: line-through">
        Windykacja
      </span>
    </a>
  </div>
  <!--end::Menu item-->
  <!--begin::Menu item-->
  <div class="menu-item">
    <a
      href="{% url 'core:crm_company_list' %}"
      class="menu-link"
    >
    <span class="menu-icon">
      <i class="ki-duotone ki-bank fs-3"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span></i>
    </span>
      <span class="menu-title">Firmy</span>
    </a>
  </div>
  <!--end::Menu item-->
  <!--begin::Menu item-->
  <div class="menu-item">
    <a
      href="{% url 'core:crm_contact_list' %}"
      class="menu-link"
    >
    <span class="menu-icon">
      <i class="ki-duotone ki-profile-user fs-3"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span></i>
    </span>
      <span class="menu-title">Reprezentanci</span>
    </a>
  </div>
  <!--end::Menu item-->
  {% endcomment %}
  <!--begin::Menu item-->
  <div class="menu-item">
      <a
        href="{% url 'core:crm_archived_webinars' %}"
        class="menu-link {% if request.path == '/crm/archiwum/' %}active{% endif %}"
      >
      <span class="menu-icon">
        <i class="ki-duotone ki-dropbox fs-3">
          <span class="path1"></span>
          <span class="path2"></span>
          <span class="path3"></span>
          <span class="path4"></span>
          <span class="path5"></span>
        </i>
      </span>
        <span class="menu-title">
          Archiwum
      </span>

      <span class="menu-badge">
        <span class="badge badge-sm badge-square badge-secondary px-1">
          {{CRM_LEFBAR_ARCHIVE_COUNT}}
        </span>
      </span>

      </a>
    </div>
    <!--end::Menu item-->
  <!--begin::Menu item-->
  <div class="menu-item">
      <a
        href="{% url 'core:crm_archived_webinars_with_applications' %}"
        class="menu-link {% if request.path == 'archiwum-odwolane-ze-zgloszeniami/' %}active{% endif %}"
      >
      <span class="menu-icon">
        <i class="ki-duotone ki-dropbox fs-3">
          <span class="path1"></span>
          <span class="path2"></span>
          <span class="path3"></span>
          <span class="path4"></span>
          <span class="path5"></span>
        </i>
      </span>
        <span class="menu-title">
          Archiwum 2
      </span>

      </a>
    </div>
    <!--end::Menu item-->
    <!--begin::Menu item-->
    <div class="menu-item">
      <a
        href="{% url 'core:crm_tagging_dashboard_page' %}"
        class="menu-link {% if request.path|startswith:'/crm/tagowanie/' %}active{% endif %}"
      >
      <span class="menu-icon">
        <i class="ki-duotone ki-price-tag fs-3"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span></i>
      </span>
      <span class="menu-title">
          Tagowanie
      </span>
      </a>
    </div>
    <!--end::Menu item-->
      <!--begin::Menu item-->
  <div class="menu-item">
    <a
      href="{% url "core:crm_statistics_dashboard" %}"
      class="menu-link"
    >
    <span class="menu-icon">
      <i class="ki-duotone ki-graph-4 fs-3"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span></i>
    </span>
      <span class="menu-title">
        Statystyki
      </span>
    </a>
  </div>
  <!--end::Menu item-->
    <!--begin::Menu item-->
    <div class="menu-item">
        <a
          href="{% url 'core:crm_eventlogs' %}"
          class="menu-link {% if request.path == '/crm/logi/' %}active{% endif %}"
        >
        <span class="menu-icon">
          <i class="ki-duotone ki-abstract-26 fs-3"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span></i>
        </span>
          <span class="menu-title">
            Logi
        </span>
        </a>
      </div>
      <!--end::Menu item-->


  </div>
  <!--end::Menu-->
</div>
<!--end::Aside nav-->
</div>
<!--end::Aside-->