{% load custom_templatetags %}
<!--begin::Aside-->
<div
id="kt_aside"
class="aside"
data-kt-drawer="true"
data-kt-drawer-name="aside"
data-kt-drawer-activate="{default: true, lg: false}"
data-kt-drawer-overlay="true"
data-kt-drawer-width="{default:'200px', '300px': '225px'}"
data-kt-drawer-direction="start"
data-kt-drawer-toggle="#kt_aside_toggle"
data-kt-sticky="false"
data-kt-sticky-name="aside-sticky"
data-kt-sticky-offset="{default: false, lg: '1px'}"
data-kt-sticky-width="{lg: '225px'}"
data-kt-sticky-left="auto"
data-kt-sticky-top="94px"
data-kt-sticky-animation="false"
data-kt-sticky-zindex="95"
>
<!--begin::Aside nav-->
<div
  class="hover-scroll-overlay-y my-5 my-lg-5 w-100 ps-4 ps-lg-0 pe-4 me-1"
  id="kt_aside_menu_wrapper"
  data-kt-scroll="true"
  data-kt-scroll-activate="{default: false, lg: true}"
  data-kt-scroll-height="auto"
  data-kt-scroll-dependencies="#kt_header"
  data-kt-scroll-wrappers="#kt_aside"
  data-kt-scroll-offset="5px"
>
  <!--begin::Menu-->
  <div
    class="menu menu-column menu-active-bg menu-hover-bg menu-title-gray-700 fs-6 menu-rounded w-100"
    id="#kt_aside_menu"
    data-kt-menu="true"
  >
  <!--begin::Heading-->
  <div class="menu-item">
    <div class="menu-content pb-2">
      <span
        class="menu-section text-muted text-uppercase fs-7 fw-bold"
        >
          CRM Menu
        </span
      >
    </div>
  </div>
  <!--end::Heading-->
  <!--begin::Menu item-->
  <div class="menu-item">
    <a
      href="{% url 'core:crm_upcoming_webinars' %}"
      class="
        menu-link
        {% if request.path == '/crm/' %}active{% endif %}
        {% if request.path|startswith:"/crm/webinar" %}active{% endif %}
        "
    >
      <span class="menu-title">
        Webinary
      </span>
      <span class="menu-badge">
        <span class="badge badge-sm badge-circle badge-light">
          {{CRM_LEFBAR_WEBINAR_COUNT}}
        </span>
      </span>
    </a>
  </div>
  <!--end::Menu item-->
  <!--begin::Menu item-->
  <div class="menu-item">
    <a
      href="{% url 'core:crm_todos_list' %}"
      class="menu-link {% if request.path == '/crm/zadania/' or request.path == '/crm/zadania/wykonane/' %}active{% endif %}"
    >
      <span class="menu-title">Zadania</span>
      {% if CRM_LEFBAR_TODO_LEFT_COUNT %}
      <span class="menu-badge">
        <span class="badge badge-sm badge-circle badge-danger">
          {{CRM_LEFBAR_TODO_LEFT_COUNT}}
        </span>
      </span>
      {% endif %}

    </a>
  </div>
  <!--end::Menu item-->
  <!--begin::Menu item-->
  <div class="menu-item">
    <a
      href="#"
      class="menu-link"
    >
      <span class="menu-title">Windykacja</span>
    </a>
  </div>
  <!--end::Menu item-->
  <!--begin::Menu item-->
  <div class="menu-item">
    <a
      href="{% url 'core:crm_company_list' %}"
      class="menu-link"
    >
      <span class="menu-title">Firmy</span>
    </a>
  </div>
  <!--end::Menu item-->
  <!--begin::Menu item-->
  <div class="menu-item">
    <a
      href="{% url 'core:crm_contact_list' %}"
      class="menu-link"
    >
      <span class="menu-title">Reprezentanci</span>
    </a>
  </div>
  <!--end::Menu item-->
  <!--begin::Menu item-->
  <div class="menu-item">
      <a
        href="{% url 'core:crm_archived_webinars' %}"
        class="menu-link {% if request.path == '/crm/archiwum/' %}active{% endif %}"
      >
        <span class="menu-title">
          Archiwum
      </span>
      <span class="menu-badge">
        <span class="badge badge-sm badge-circle badge-light">
          {{CRM_LEFBAR_ARCHIVE_COUNT}}
        </span>
      </span>
      </a>
    </div>
    <!--end::Menu item-->
    <!--begin::Menu item-->
    <div class="menu-item">
      <a
        href="{% url 'core:crm_mailing_campaigns_list' %}"
        class="menu-link {% if request.path|startswith:'/crm/kampanie-mailingowe/' %}active{% endif %}"
      >
        <span class="menu-title">
          Kampanie mailingowe
      </span>
      {% if CRM_LEFBAR_ACTIVE_MAILING_CAMPAIGNS %}
      <span class="menu-badge">
        <span class="badge badge-sm badge-circle badge-success">
          {{CRM_LEFBAR_ACTIVE_MAILING_CAMPAIGNS}}
        </span>
      </span>
      {% endif %}
      </a>
    </div>
    <!--end::Menu item-->
    <!--begin::Menu item-->
    <div class="menu-item">
      <a
        href="{% url 'core:crm_tagging_dashboard_page' %}"
        class="menu-link {% if request.path|startswith:'/crm/tagowanie/' %}active{% endif %}"
      >
        <span class="menu-title">
          Tagowanie
      </span>
      </a>
    </div>
    <!--end::Menu item-->
    <!--begin::Menu item-->
    <div class="menu-item">
        <a
          href="{% url 'core:crm_eventlogs' %}"
          class="menu-link {% if request.path == '/crm/logi/' %}active{% endif %}"
        >
          <span class="menu-title">
            Logi
        </span>
        </a>
      </div>
      <!--end::Menu item-->


  </div>
  <!--end::Menu-->
</div>
<!--end::Aside nav-->
</div>
<!--end::Aside-->