<html>
  <body>
    <div>
      <table border="0" width="100%" cellspacing="0" cellpadding="0" bgcolor="#F0F2F5" style="border-collapse:collapse;">
        <tbody>
          <tr>
            <td>
              <table border="0" width="100%" cellspacing="0" cellpadding="0" style="border-collapse:collapse">
                <tbody>
                  <tr>
                    <td width="100%" align="center">
                      <table border="0" cellspacing="0" cellpadding="0" align="center"
                        style="border-collapse:collapse">
                        <tbody>
                          <tr>
                            <td width="1400" align="center">
                              <div style="max-width:598px;margin:0 auto" dir="ltr" bgcolor="#FFFFFF">
                                {% block content %}{% endblock content %}
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>