{% extends "./Extend.html" %}


{% block content %}
<table border="0" cellspacing="0" cellpadding="0" align="center" style="border-collapse:collapse;max-width:598px;margin:0 auto">
    <tbody>
      <tr>
        <td style="font-family:Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif;background:#ffffff">
          <table border="0" width="100%" cellspacing="0" cellpadding="0"
            style="border-collapse:collapse">
            <tbody>
              <tr>
                <td height="20" style="line-height:20px" colspan="3">
                </td>
              </tr>
              <tr>
                <td height="1" colspan="3" style="line-height:1px">
                </td>
              </tr>
              <tr>
                <td width="15" style="display:block;width:15px"> </td>
                <td>
                  <table border="0" width="100%" cellspacing="0"
                    cellpadding="0"
                    style="border-collapse:collapse">
                    <tbody>
                      <tr>
                        <td height="15" style="line-height:15px"
                          colspan="3"> </td>
                      </tr>
                      <tr>
                        <td width="100%">
                          <span
                            style="font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;font-size:15px;font-weight:400;line-height:20px;font-size:17px;font-weight:500">
                            KSeF - Krajowy System e-Faktur - Forum dla księgowych (księgowość)
                          </span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
                <td width="15" style="display:block;width:15px"> </td>
              </tr>
              <tr>
                <td width="15" style="display:block;width:15px"> </td>
                <td>
                  <table border="0" width="100%" cellspacing="0"
                    cellpadding="0"
                    style="border-collapse:collapse">
                    <tbody>
                      <tr>
                        <td>
                          <table border="0" cellspacing="0"
                            cellpadding="0"
                            style="border-collapse:collapse">
                            <tbody>
                              <tr
                                style="border-bottom:solid 1px #e5e5e5">
                                <td height="15"
                                  style="line-height:15px"
                                  colspan="3"> </td>
                              </tr>
                              <tr>
                                <td height="10"
                                  style="line-height:10px">
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <p
                                    style="margin-bottom:15px; font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;font-size:15px;font-weight:400;line-height:20px">
                                    Anna Nowak zaprasza Cię do dołączenia do grupy KSeF - Krajowy System e-Faktur grupa wsparcia ❤️. Dołącz do społeczności ekspertów i otrzymaj wsparcie w rozwiązywaniu problemów związanych z e-fakturami i KSeF. Jako zjednoczona społeczność, będziemy się dzielić wiedzą i doświadczeniem, aby pomóc Ci w skutecznym korzystaniu z systemu!
                                  </p>
                                  <p
                                    style="margin-bottom:15px; font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;font-size:15px;font-weight:400;line-height:20px">
                                    💬 Na grupie dostępne są czaty społecznościowe, gdzie prawie natychmiast możesz uzyskać odpowiedzi na swoje pytania. Jest to idealne miejsce do wymiany doświadczeń z innymi specjalistami księgowości, jak również do znajdowania rozwiązań na wyzwania związane z KSeF.
                                  </p>
                                  <p
                                    style="font-size: 12px;">
                                    Tematy grupy:
                                    #KSeF #eFaktury #SystemyKsięgowe #IntegracjaZKSeF #VAT #ZmianyWPrzepisach #FakturyElektroniczne #Ustawy #MinisterstwoFinansów #PlatformaKSeF #WebinaryKSeF #PoradyEksperckie #RejestracjaFaktur #CentralizacjaFaktur"
                                  </p>
                                </td>
                              </tr>
                              <tr>
                                <td height="20"
                                  style="line-height:20px">
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <table border="0"
                                    width="100%"
                                    cellspacing="0"
                                    cellpadding="0"
                                    style="border-collapse:separate;border:solid 1px #e4e6eb;border-radius:8px;overflow:hidden">
                                    <tbody>
                                      <tr>
                                        <td height="16"
                                          style="line-height:16px">
                                        </td>
                                      </tr>
                                      <tr>
                                        <td width="16"
                                          style="display:block;width:16px">
                                        </td>
                                        <td width="100%">
                                          <table
                                            border="0"
                                            width="100%"
                                            cellspacing="0"
                                            cellpadding="0"
                                            style="border-collapse:collapse">
                                            <tbody>
                                              <tr>
                                                <td width="100%"
                                                  valign="middle">
                                                  <table
                                                    border="0"
                                                    width="100%"
                                                    cellspacing="0"
                                                    cellpadding="0"
                                                    style="border-collapse:collapse">
                                                    <tbody>
                                                      <tr>
                                                        <td>
                                                          <span style="font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;font-size:15px;font-weight:400;line-height:20px;font-size:17px;font-weight:500">
                                                            Anna Nowak - Specjalista ds. Księgowości
                                                          </span>
                                                        </td>
                                                      </tr>
                                                      <tr>
                                                        <td height="4"
                                                          style="line-height:4px">
                                                        </td>
                                                      </tr>
                                                      <tr>
                                                        <td>
                                                          <span
                                                            style="font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;font-size:15px;font-weight:400;line-height:20px;color:#65676b">„Witaj!
                                                          Zapraszam
                                                          Cię
                                                          do
                                                          dołączenia
                                                          do
                                                          grupy
                                                          wsparcia.
                                                          Możesz
                                                          dołączyć,
                                                          używając
                                                          linku
                                                          dostępnego
                                                          w
                                                          tym
                                                          e-mailu.”</span>
                                                        </td>
                                                      </tr>
                                                    </tbody>
                                                  </table>
                                                </td>
                                              </tr>
                                            </tbody>
                                          </table>
                                        </td>
                                        <td width="16"
                                          style="display:block;width:16px">
                                        </td>
                                      </tr>
                                      <tr>
                                        <td height="16"
                                          style="line-height:16px">
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                              <tr>
                                <td height="20"
                                  style="line-height:20px">
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <a href="https://www.facebook.com/groups/KsiegowoscGrupaWsparcia"
                                    style="color:#754ffe;text-decoration:none"
                                    target="_blank">
                                    <table border="0"
                                      width="100%"
                                      cellspacing="0"
                                      cellpadding="0"
                                      height="40px"
                                      style="border-collapse:collapse;border-radius:6px;background-color:#754ffe">
                                      <tbody>
                                        <tr>
                                          <td
                                            align="center">
                                            <span
                                              style="font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;color:#ffffff;font-size:17px;font-weight:500;line-height:20px">
                                            Dołącz do grupy
                                            </span>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </a>
                                </td>
                              </tr>
                              <tr>
                                <td height="8"
                                  style="line-height:8px">
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <a href="https://www.facebook.com/groups/KsiegowoscGrupaWsparcia"
                                    style="color:#1b74e4;text-decoration:none"
                                    target="_blank">
                                    <table border="0"
                                      width="100%"
                                      cellspacing="0"
                                      cellpadding="0"
                                      height="40px"
                                      style="border-collapse:collapse;border-radius:6px;background-color:#e4e6eb">
                                      <tbody>
                                        <tr>
                                          <td
                                            align="center">
                                            <span
                                              style="font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;color:#050505;font-size:17px;font-weight:500;line-height:20px">
                                            Wyświetl
                                            grupę</span>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </a>
                                </td>
                              </tr>
                              <tr>
                                <td height="32"
                                  style="line-height:8px;border-bottom:solid 1px #e5e5e5">
                                </td>
                              </tr>
                              <tr>
                                <td height="10"
                                  style="line-height:10px">
                                </td>
                              </tr>
                              <tr>
                              </tr>
                              <tr>
                                <td height="10"
                                  style="line-height:10px">
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <p
                                    style="font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;font-size:15px;font-weight:400;line-height:20px;color:#8a8d91;font-size:12px;line-height:16px; padding-bottom: 15px;">
                                    Aby nie otrzymywać więcej takich wiadomości e-mail w przyszłości:
                                    <a style="text-decoration: none;" href="{RESIGNATION_URL}">
                                        wypis z otrzymywania wiadomości
                                    </a>
                                  </p>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
{% endblock content %}