<tr>
    <td align="center" valign="top" style="border-collapse:collapse;">
      <div>
        <table style="background-color: #ffffff;border-spacing:0;" width="100%" border="0" cellpadding="0" cellspacing="0">
          <tbody>
            <tr>
              <td height="20" style="border-collapse:collapse;font-size:1px; line-height:0;">&nbsp;
              </td>
            </tr>
            <tr>
              <td class="rnb-force-col" style="border-collapse:collapse;padding-right: 0px;" valign="top">
                <table align="left" border="0" cellpadding="0" cellspacing="0" class="rnb-col-1" valign="top" width="100%" style="border-spacing:0;">
                  <tbody>
                    <tr>
                      <td style="border-collapse:collapse;font-size:1rem;padding-left:20px;padding-right:20px;text-align: center;">
                        {{COMPANY_NAME}} NIP: {{COMPANY_NIP}}
                      </td>
                    </tr>

                    <tr>
                      <td height="10" style="border-collapse:collapse;font-size:1px; line-height:0px;">&nbsp;
                      </td>
                    </tr>

                    <tr>
                      <td style="border-collapse:collapse;font-size:1rem;padding-left:20px;padding-right:20px;text-align: center;">
                        Wiadomość ta nie jest infomracją handlową w rozumieniu prawa.
                      </td>
                    </tr>

                    <tr>
                      <td height="10" style="border-collapse:collapse;font-size:1px; line-height:0px;">&nbsp;
                      </td>
                    </tr>

                    <tr>
                      <td style="border-collapse:collapse;font-size:1rem;padding-left:20px;padding-right:20px;text-align: center;">
                        Jeśli preferują Państwo otrzymywać wiadomości zbiorcze (nie częsciej niż raz w tygodniu) prosimy skorzystać z poniższego hiperłącza:
                        <br>
                        <a href="https://mailchi.mp/95f6136b8cec/wykadowcapl-zapis-zbiorcze">
                          Zapis na wiadomości zbiorcze
                        </a>
                      </td>
                    </tr>
                    
                    <tr>
                      <td height="10" style="border-collapse:collapse;font-size:1px; line-height:0px;">&nbsp;
                      </td>
                    </tr>

                    <tr>
                      <td style="border-collapse:collapse;font-size:1rem;padding-left:20px;padding-right:20px;text-align: center;">
                        Jeśli nie-chcą Państwo otrzymywać od nas więcej wiadomości należy skorzystać z poniższego hiperłącza:
                        <br>
                        <a href="{RESIGNATION_URL}" style="font-weight:bold;">
                          &gt;&gt; Wypis z otrzymywania wiadomości &lt;&lt;
                        </a>
                      </td>
                    </tr>
                    
                    <tr>
                      <td height="10" style="border-collapse:collapse;font-size:1px; line-height:0px;">&nbsp;
                      </td>
                    </tr>

                    <tr>
                      <td style="border-collapse:collapse;font-size:1rem;padding-left:20px;padding-right:20px;text-align: center;">
                        Informacje w zakresie polityki prywatności znajdują się na stronie
                        <a href="{{privacy_policy_href}}">{{COMPANY_NAME}}</a>
                      </td>
                    </tr>
                    
                    <tr>
                      <td height="20" style="border-collapse:collapse;font-size:1px; line-height:0px;">
                      </td>
                    </tr>
                    <tr>
                      <td align="center" class="rnb-del-min-width" valign="top" style="border-collapse:collapse;min-width:0 !important;">
                        <table border="0" cellpadding="0" cellspacing="0" class="rnb-container" style="border-spacing:0;max-width: 100%; min-width: 100%; table-layout: fixed; border-radius: 0px; border-collapse: separate; padding-left: 20px; padding-right: 20px;" width="100%">
                          <tbody>
                            <tr>
                              <td align="center" class="rnb-container-padding" valign="top" style="border-collapse:collapse;">
                                <table border="0" cellpadding="0" cellspacing="0" class="rnb-columns-container" width="100%" style="border-spacing:0;">
                                  <tbody>
                                    <tr>
                                      <td style="border-collapse:collapse;padding-left:20px;padding-right:20px;text-align: center;font-size: 14px;">
                                        © {{CURRENT_YEAR}} {{COMPANY_NAME}}
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td height="20" style="border-collapse:collapse;font-size:1px; line-height:0px;">&nbsp;
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </td>
  </tr>