<tr>
    <td align="center" valign="top" style="border-collapse:collapse;">
      <div>
        <table style="background-color: #ffffff;border-spacing:0;" width="100%" border="0" cellpadding="0" cellspacing="0">
          <tbody>
            <tr>
              <td height="20" style="border-collapse:collapse;font-size:1px; line-height:0;">&nbsp;
              </td>
            </tr>
            <tr>
              <td style="border-collapse:collapse;padding-left: 20px;padding-right: 20px;" valign="top">
                <table align="left" border="0" cellpadding="0" cellspacing="0" valign="top" width="100%" style="border-spacing:0;">
                  <tbody>
                    {% if patron_section %}
                    <tr>
                      <td style="border-collapse:collapse;font-size:1rem;padding-bottom:20px;padding-right:20px;text-align: center;">
                        <hr style="border-width: 0; background: #000; color: #000; height:0.2em">
                      </td>
                    </tr>

                    <tr>
                      <td style="border-collapse:collapse;font-size:1rem;padding-bottom:20px;padding-right:20px;text-align: center;">
                        <h3 style="margin: 0em 0 0 0; font-size:1.17em">Wioletta Konieczka</h3>
                        <p style="margin: 0;"><i>Opiekun webinarów</i></p>
                        <p style="margin: 1em 0;">{{COMPANY_OFFICE_EMAIL}}</p>
                        <p style="margin: 1em 0;">Numer telefonu: {{COMPANY_OFFICE_PHONE}}</p>
                      </td>
                    </tr>
                    
                    <tr>
                      <td style="border-collapse:collapse;font-size:1rem;padding-bottom:20px;padding-right:20px;text-align: center;">
                        <hr style="border-width: 0; background: #000; color: #000; height:0.2em">
                      </td>
                    </tr>
                    {% endif %}

                    <tr>
                      <td style="border-collapse:collapse;font-size:1rem;padding-left:20px;padding-right:20px;text-align: center;">
                        {{COMPANY_NAME}} NIP: {{COMPANY_NIP}}
                      </td>
                    </tr>

                    <tr>
                      <td height="10" style="border-collapse:collapse;font-size:1px; line-height:0px;">&nbsp;
                      </td>
                    </tr>

                    <tr>
                      <td style="border-collapse:collapse;font-size:1rem;padding-left:20px;padding-right:20px;text-align: center;">
                        Wiadomość ta nie jest infomracją handlową w rozumieniu prawa.
                      </td>
                    </tr>

                    <tr>
                      <td height="10" style="border-collapse:collapse;font-size:1px; line-height:0px;">&nbsp;
                      </td>
                    </tr>

                    <tr>
                      <td style="border-collapse:collapse;font-size:1rem;padding-left:20px;padding-right:20px;text-align: center;">
                        <p>
                          Jeśli preferują Państwo otrzymywać wiadomości zbiorcze (nie częsciej niż raz w tygodniu) prosimy skorzystać z poniższego hiperłącza:
                        </p>
                      </td>
                    </tr>
                    
                    <tr>
                      <td style="border-collapse:collapse;font-size:1rem;padding-left:20px;padding-right:20px;text-align: center;">
                        <a href="https://mailchi.mp/95f6136b8cec/wykadowcapl-zapis-zbiorcze">
                          Zapis na wiadomości zbiorcze
                        </a>
                      </td>
                    </tr>
                    
                    <tr>
                      <td height="10" style="border-collapse:collapse;font-size:1px; line-height:0px;">&nbsp;
                      </td>
                    </tr>

                    <tr>
                      <td style="border-collapse:collapse;font-size:1rem;padding-left:20px;padding-right:20px;text-align: center;">
                        <p>Jeśli nie-chcą Państwo otrzymywać od nas więcej wiadomości należy skorzystać z poniższego hiperłącza:</p>
                      </td>
                    </tr>
                    
                    <tr>
                      <td style="border-collapse:collapse;font-size:1rem;padding-left:20px;padding-right:20px;text-align: center;">
                        <a href="{RESIGNATION_URL}" style="font-weight:bold;">
                          &gt;&gt; Wypis z otrzymywania wiadomości &lt;&lt;
                        </a>
                      </td>
                    </tr>
                    
                    <tr>
                      <td height="10" style="border-collapse:collapse;font-size:1px; line-height:0px;">&nbsp;
                      </td>
                    </tr>

                    <tr>
                      <td style="border-collapse:collapse;font-size:1rem;padding-left:20px;padding-right:20px;text-align: center;">
                        Informacje w zakresie polityki prywatności znajdują się na stronie
                        <a href="{{BASE_URL}}">{{COMPANY_NAME}}</a>
                      </td>
                    </tr>
                    
                    <tr>
                      <td height="20" style="border-collapse:collapse;font-size:1px; line-height:0px;">
                      </td>
                    </tr>
                    <tr>
                      <td align="center" valign="top" style="border-collapse:collapse;min-width:0 !important;">
                        <table border="0" cellpadding="0" cellspacing="0" style="border-spacing:0;max-width: 100%; min-width: 100%; table-layout: fixed; border-radius: 0px; border-collapse: separate; padding-left: 20px; padding-right: 20px;" width="100%">
                          <tbody>
                            <tr>
                              <td align="center" valign="top" style="border-collapse:collapse;">
                                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-spacing:0;">
                                  <tbody>
                                    <tr>
                                      <td style="border-collapse:collapse;padding-left:20px;padding-right:20px;text-align: center;font-size: 14px;">
                                        © {{CURRENT_YEAR}} {{COMPANY_NAME}}
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td height="20" style="border-collapse:collapse;font-size:1px; line-height:0px;">&nbsp;
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </td>
  </tr>