{% extends 'geeks/extends/foundation.html' %}

{% load static %}

{% block title %}
  <title>Edytor email</title>
{% endblock title %}

{% block root %}
<main>
    <section class="container-fluid">
       <div class="row mt-5">
          <div class="col-12">
             <!-- Card -->
             <div class="card mb-4">
                <!-- Card Header -->
                <div class="card-header">
                   <h3 class="mb-0">Edytor e-mail</h3>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                   <!-- Form -->
                   <form class="row" method="get" action="{% url "core:global_mailing_template" %}">
                     {% if webinar_id %}
                        <h3>
                           &gt;&gt; Termin ID={{webinar_id}} ({{webinar.date|date:"j E Y"}} r. / {{webinar.date|date:"H:i"}} - {{webinar.date_end|date:"H:i"}})
                           {% if less_than_week_webinar %}
                           <span class="text-danger">
                              Został mniej niż tydzień do szkolenia !
                           </span>
                           {% endif %}
                        </h3>
                        <h3>
                           &gt;&gt; Tytuł szkolenia: {{webinar.title}}
                        </h3>
                        <a href="{% url 'admin:core_webinar_change' object_id=webinar.id %}">
                           Edytuj termin w CMS
                       </a>
                        <a href="{% url 'core:crm_webinar_detail_dashboard' pk=webinar.id %}">
                           Zobacz w CRM
                       </a>
                       <a href="{% url 'core:webinar_program_page' slug=webinar.slug %}">
                           Zobacz termin na stronie
                        </a>
                        
                        <input type="hidden" name="webinar_id" value="{{webinar_id}}">
                     {% else %}
                        <h3>&gt;&gt; Brak Termin ID</h3>
                     {% endif %}

                     {% if short_service_offer_id %}
                        <h3>&gt;&gt; (Short) Usługa ID={{short_service_offer_id}}: {{short_service_offer.offer_title}}</h3>
                        <input type="hidden" name="short_service_offer_id" value="{{short_service_offer_id}}">
                     {% else %}
                        <h3>&gt;&gt; (Short) Usługa ID</h3>
                        {% for service_offer in service_offers %}
                        <a href="./?{{params_str}}&short_service_offer_id={{service_offer.id}}">
                              Short: {{service_offer.offer_title}}
                        </a>
                        {% endfor %}
                     {% endif %}
                     

                     {% if service_offer_id %}
                        <h3>&gt;&gt; Usługa ID={{service_offer_id}}: {{service_offer.offer_title}}</h3>
                        <input type="hidden" name="service_offer_id" value="{{service_offer_id}}">
                     {% else %}
                        <h3>&gt;&gt; Brak Usługa ID</h3>
                        {% for service_offer in service_offers %}
                        <a href="./?{{params_str}}&for_service_offer_id={{service_offer.id}}">
                              {{service_offer.offer_title}}
                           </a>
                        {% endfor %}
                     {% endif %}
                     {% if lecturer_slug %}
                        <h3>&gt;&gt; Wykładowca Slug={{lecturer_slug}}</h3>
                        <input type="hidden" name="lecturer_slug" value="{{lecturer_slug}}">
                     {% else %}
                        <h3>&gt;&gt; Brak Wykładowca</h3>
                        {% for lecturer in lecturers %}
                        <a href="./?{{params_str}}&for_lecturer_slug={{lecturer.slug}}">
                           {{lecturer}}
                        </a>
                        {% endfor %}
                     {% endif %}
                     {% if category_slug %}
                        <h3>&gt;&gt; Kategoria Slug={{category_slug}}</h3>
                        <input type="hidden" name="category_slug" value="{{category_slug}}">
                     {% else %}
                        <h3>&gt;&gt; Brak Kategoria</h3>
                        {% for category in categories %}
                           {% if not category.parent %}
                           <a href="./?{{params_str}}&for_category_slug={{category.slug}}">
                              {{category.name}}
                           </a>
                           {% endif %}
                        {% endfor %}
                     {% endif %}
                     <div class="col-12 mb-3">
                        <hr>
                      <div class="mb-3 col-12 col-md-6">
                        <label class="form-label" for="id_for_whom">Dla kogo?</label>
                        <input type="text" id="id_for_whom" name="for_whom" class="form-control" placeholder="np. Webinary dla księgowych">
                     </div>
                     </div>
                     <div class="col-12 mb-3">
                      <div class="mb-3 col-12 col-md-12">
                        <label class="form-label" for="id_subject_override">subject_override:</label>
                        <input type="text" id="id_subject_override" name="subject_override" class="form-control" placeholder="">
                     </div>
                     <div class="col-12 mb-3">
                      <div class="mb-3 col-12 col-md-12">
                        <label class="form-label" for="id_closed_webinar_btn_url">closed_webinar_btn_url:</label>
                        <input type="text" id="id_closed_webinar_btn_url" name="closed_webinar_btn_url" class="form-control" placeholder="" value="{{closed_webinar_btn_url}}">
                     </div>
                     </div>
                      <div class="col-12 mb-3">
                        <h3><u>Checkboxy</u></h3>
                         <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="id_show_logo" name="show_logo" checked>
                            <label class="form-check-label" for="id_show_logo">
                            Dodaj sekcję z logo na górze
                            </label>
                         </div>
                         <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="id_opiekun" name="patron_section" checked>
                            <label class="form-check-label" for="id_opiekun">
                            Dodaj sekcję opiekuna szkolenia
                            </label>
                         </div>
                         <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="id_lecturer" name="lecturer_section" {% if not webinar.is_lecturer_anonymized %}checked{% endif %}>
                            <label class="form-check-label" for="id_lecturer">
                            Dodaj sekcję wykładowcy
                            {% if webinar.is_lecturer_anonymized %}
                            <span class="text-danger">auto-UNcheck</span>
                              
                              {% if webinar.anonymize_lecturer %}
                                 <b class="bg-dark text-white px-2">[ANONIM-WEBINAR]</b>
                              {% endif %}
                              
                              {% if webinar.lecturer.anonymize %}
                                 <b class="bg-dark text-white px-2">[ANONIM-LECTURER]</b>
                              {% endif %}
                            
                              {% endif %}
                            </label>
                         </div>
                         <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="id_show_price" name="show_price" checked>
                            <label class="form-check-label" for="id_show_price">
                            Pokaż cenę
                            </label>
                         </div>
                         <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="id_access_to_recordings" name="access_to_recordings" {% if webinar.lecturer.agrees_to_recording %}checked{% endif %}>
                           <label class="form-check-label" for="id_access_to_recordings">
                           Dodaj „Jeśli nie pasuje ci termin ... dostęp do nagrania”
                           {% if webinar.lecturer.agrees_to_recording %}
                              <span class="text-danger">autocheck</span>
                              <b class="bg-success text-white px-2">[Zgadza się na nagrania]</b>
                           {% else %}
                              <b class="bg-danger text-white px-2">[NIE zgadza się na nagrania]</b>
                           {% endif %}
                           </label>
                        </div>
                         {% if webinar %}
                         <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="id_pewny_termin" name="pewny_termin" {% if webinar.is_confirmed %}checked{% endif %}>
                            <label class="form-check-label" for="id_pewny_termin">
                            Pokaż 'Pewny Termin'
                            {% if webinar.is_confirmed %} <span class="text-danger">autocheck</span> {% endif %}
                            </label>
                         </div>
                         {% endif %}
                         <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="id_other_cat_section" name="other_cat_section">
                            <label class="form-check-label" for="id_other_cat_section">
                            Dodaj sekcję z innymi kategoriami
                            </label>
                         </div>
                         <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="id_loyalty_select" name="section_loyalty">
                            <label class="form-check-label" for="id_loyalty_select">
                            Dodaj sekcję z programem lojalnościowym
                            </label>
                         </div>
                         <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="id_fb_kk" name="section_fb_group">
                            <label class="form-check-label" for="id_fb_kk">
                            Dodaj sekcję z grupą z pracą dla kadrowych i księgowych
                            </label>
                         </div>
                         <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="id_button_closed_webinar" name="button_closed_webinar" checked>
                            <label class="form-check-label" for="id_button_closed_webinar">
                            Dodaj przycisk: Zapytaj o szkolenie zamknięte
                            </label>
                         </div>
                         <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="id_button_buy_recording" name="button_buy_recording" {% if webinar.sale_recording %}checked{% endif %}>
                            <label class="form-check-label" for="id_button_buy_recording">
                            Dodaj przycisk: Kup nagranie
                            {% if webinar.sale_recording %}
                            <span class="fw-bold bg-success text-white">Nagranie dostępne</span>
                            {% else %}
                            <span class="fw-bold bg-danger text-white">Nagranie niedostępne</span>
                            {% endif %}
                            </label>
                         </div>
                         <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="id_last_spots" name="show_last_spots" {% if less_than_week_webinar %}checked{% endif %}>
                            <label class="form-check-label" for="id_last_spots">
                               <span class="fw-bold text-warning">( {{webinar.remaining_places}} miejsc/a )</span>
                               Wyświetl ostatnie miejsca {% if less_than_week_webinar %} <span class="text-danger">autocheck</span> {% endif %}
                            </label>
                         </div>  
                         <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="id_show_hello_text" name="show_hello_text">
                            <label class="form-check-label" for="id_show_hello_text">
                            Wstaw tekst powitalny na górze
                            </label>
                         </div>
                      </div>
                      <h3><u>Grupa FB</u></h3>
                     
                      <div class="mb-3 col-12 col-md-4">
                        <label class="form-label" for="id_fb_position">Wybierz opcję grupy FB</label>
                        <select id="id_fb_position" name="fb_position" class="form-select">
                           <option value="fb_up">Góra</option>
                           <option value="fb_down">Dół</option>
                        </select>
                     </div>

                      <div class="mb-3 col-12 col-md-8">
                         <label class="form-label" for="id_fb_title">FB TITLE - ( 📌 ChatGPT Polska – PROMPTY, TRIKI, AI w praktyce, Zarabianie i Automatyzacja )</label>
                         <input type="text" id="id_fb_title" class="form-control" name="fb_title" placeholder="">
                      </div>
                     
                      <div class="mb-3 col-12 col-md-8">
                         <label class="form-label" for="id_fb_btn_text">FB BTN TEXT - ( Dołącz teraz do grupy na Facebook'u )</label>
                         <input type="text" id="id_fb_btn_text" class="form-control" name="fb_btn_text" placeholder="">
                      </div>
                      
                      <div class="mb-3 col-12 col-md-8">
                         <label class="form-label" for="id_fb_btn_url">FB BTN URL</label>
                         <input type="text" id="id_fb_btn_url" class="form-control" name="fb_btn_url" placeholder="https://www.facebook.com/groups/...">
                      </div>

                      <h3><u>Kod zniżkowy</u></h3>
                      <div class="mb-3 col-12 col-md-4">
                         <label class="form-label" for="id_znizka_kod">Kod zniżkowy (kod)</label>
                         <input type="text" id="id_znizka_kod" class="form-control" name="promo_code" placeholder="np. ABC123">
                      </div>
                      <div class="mb-3 col-12 col-md-4">
                         <label class="form-label" for="id_znizka_value">Kod zniżkowy (wartość)</label>
                         <input type="text" id="id_znizka_value" class="form-control" name="promo_value" placeholder="np. -20%, -20 zł">
                      </div>
                      <div class="mb-3 col-12 col-md-4">
                         <label class="form-label" for="id_znizka_tekst">Kod zniżkowy (tekst)</label>
                         <input type="text" id="id_znizka_tekst" class="form-control" name="promo_text" placeholder="np. Promocja trwa do ...">
                      </div>
                      <button type="submit" class="btn btn-primary">
                      Generuj
                      </button>
                   </form>
                </div>
             </div>
          </div>
       </div>
    </section>
 </main>
{% endblock root %}

