{% extends './Extend.html' %}

{% block content %}
<tr>
  <td align="center" style="max-width: {{max_width}};" valign="top">
    <table width="100%" align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" style="border-spacing:0;background-color: #ffffff;">
      <tbody>
        
        <tr><td height="20">&nbsp;</td></tr>

        <tr>
          <td align="left" valign="top" style="border-collapse:collapse;">
            <table border="0" cellpadding="0" cellspacing="0" style="border-spacing:0;width: 100%;max-width: 640px;">
              <tbody>
                
                {% if show_logo %}
                <tr>
                  <td style="{{td_classes|safe}}text-align:center;">
                    <p style="margin: 0;font-size:2em">
                      <a href="{{cta_href}}" style="text-decoration: none;">
                        {{COMPANY_NAME}}
                      </a>
                    </p>
                    {% if webinar_for %}
                    <p style="margin-top: 0.3em;font-size:1.65em">
                      <a href="{{cta_href}}" style="text-decoration: none;">
                        Szkolenia dla {{webinar_for}}
                      </a>
                    </p>
                    {% endif %}
                    <hr style="border-width: 0; background: #000; color: #000; height:0.2em">
                  </td>
                </tr>
                {% endif %}

                <tr>
                  <td style="{{td_classes|safe}}">
                    <h1 style="margin: .67em 0; font-size:2em">{{webinar.title}}</h1>
                    {% if webinar.description %}
                    <h2 style="margin: .83em 0; font-size:1.5em">{{webinar.description}}</h2>
                    {% endif %}
                  </td>
                </tr>
          
                <tr>
                  <td style="{{td_classes|safe}}padding-top:15px;">
                    <strong style="font-weight: bold">Terminy webinaru:</strong> 
                  </td>
                </tr>
                
                <tr>
                  <td style="{{td_classes|safe}}padding-top:15px;">
                    <ul>
                        <li>
                          <a href="{{BASE_URL}}{% url "core:webinar_redirect_to_program" pk=webinar.pk %}">
                            {{webinar.date|date:"j E Y"}} godzina {{webinar.date|date:"H:i"}}
                          </a>
                        </li>
                        {% for related_webinar in related_webinars %}
                        <li style="margin-top:5px;">
                          <a href="{{BASE_URL}}{% url "core:webinar_redirect_to_program" pk=related_webinar.pk %}">
                            {{related_webinar.date|date:"j E Y"}} godzina {{related_webinar.date|date:"H:i"}}
                          </a>
                        </li>
                        {% endfor %}
                    </ul>
                  </td>
                </tr>
                

                {% if show_last_spots %}
                <tr>
                  <td style="{{td_classes|safe}}padding-top:5px;">
                    <strong style="font-weight: bold; color: orange;">Pozostało wolnych miejsc:</strong> {{webinar.remaining_places}}
                  </td>
                </tr>
                {% endif %}
                
                <tr>
                  <td style="{{td_classes|safe}}padding-top:5px;">
                    <strong style="font-weight: bold">Czas trwania:</strong> 
                    {{webinar.get_duration_display}}
                  </td>
                </tr>

                <tr>
                  <td style="{{td_classes|safe}}padding-top:5px;">
                    <strong style="font-weight: bold">Wykładowca:</strong> 
                    {{webinar.lecturer}}
                  </td>
                </tr>
                
                {% if show_price %}
                  {% if webinar.is_discounted %}
                  <tr>
                    <td style="{{td_classes|safe}}padding-top:5px;">
                      <strong style="font-weight: bold">Cena:</strong> 
                      <span style="text-decoration: line-through;"></span>
                      {{webinar.discount_netto}}zł {{PRICE_ADNOTATION}} za uczestnika
                    </td>
                  </tr>
                  <tr>
                    <td style="{{td_classes|safe}}padding-top:5px;">
                      <strong style="font-weight: bold;">
                        Stara cena {{webinar.price_netto}}zł. Zniżka trwa do {{webinar.discount_until|date:"j E Y"}} godz. {{webinar.discount_until|date:"H:i"}}
                      </strong> 
                    </td>
                  </tr>
                  {% else %}
                  <tr>
                    <td style="{{td_classes|safe}}padding-top:5px;">
                      <strong style="font-weight: bold">Cena:</strong> 
                      {{webinar.price}}zł {{PRICE_ADNOTATION}} za uczestnika
                    </td>
                  </tr>
                  {% endif %}
                {% endif %}

                <tr>
                  <td style="{{td_classes|safe}}padding-top:15px;">
                  {% include './includes/WebinarMailingCTA.html' with text=cta_text href=cta_href %}
                  </td>
                </tr>
                
                {% if promo_code %}
                <tr>
                  <td style="{{td_classes|safe}}padding-top:15px;">
                    <hr style="border-width: 0; background: #000; color: #000; height:0.2em">
                    <h2 style="margin: .83em 0; font-size:1.5em; text-align: center;">
                      Użyj kodu promocyjnego <span style="color:#754ffe;">{{promo_code}}</span>
                    </h2>
                    <h2 style="margin: 0; font-size:1.5em; text-align: center;">
                      aby otrzymać <span style="color:#754ffe;">{{promo_value}} zniżki</span>
                    </h2>
                    {% if promo_text %}
                    <p style="margin: 1em 0; text-align:center;">
                      {{promo_text}}
                    </p>
                    {% endif %}
                    <hr style="border-width: 0; background: #000; color: #000; height:0.2em">
                  </td>
                </tr>
                {% endif %}


                <tr>
                  <td style="{{td_classes|safe}}padding-top:15px;">
                    <h3 style="margin: 1em 0; font-size:1.17em">Program webinaru</h3>
                    {% comment %} <hr style="border-width: 0; background: #000; color: #000; height:0.2em"> {% endcomment %}
                    <p style="margin: 1em 0;">{{program|safe}}</p>

                    {% include './includes/WebinarMailingCTA.html' with text=cta_text href=cta_href %}
                    {% comment %} {% include './includes/WebinarMailingCTA.html' with text=read_more_text href=read_more_href %} {% endcomment %}
                  </td>
                </tr>

                {% if section_loyalty %}
                <tr>
                  <td style="{{td_classes|safe}}padding-top:15px;">
                    <h3 style="margin: 1em 0; font-size:1.17em">
                      Za każde polecenie tego szkolenia możesz otrzymać 10% zwrotu na swoje prywatne konto
                    </h3>
                    <hr style="border-width: 0; background: #000; color: #000; height:0.2em">
                    <p style="margin: 1em 0;">
                      Dołącz do naszego <u>programu partnerskiego</u> i otrzymuj 10% za polecanie naszych szkoleń znajomym i współpracownikom.
                    </p>
                    <p style="margin: 1em 0;">
                      <a href="{{BASE_URL}}/r/pp" target="_blank">
                        &gt; &gt; Sprawdź szczegóły za pomocą tego linku &lt; &lt;
                      </a>
                    </p>
                  </td>
                </tr>
                {% endif %}

                {% if section_fb_kk_job %}
                <tr>
                  <td style="{{td_classes|safe}}padding-top:15px;">
                    <h3 style="margin: 1em 0; font-size:1.17em">
                      Księgowość i kadry - #Dam pracę, #Szukam pracy
                    </h3>
                    <hr style="border-width: 0; background: #000; color: #000; height:0.2em">
                    <p style="margin: 1em 0;">
                      📊💼 Chcesz zmienić pracę? Szukasz pracy w księgowości lub kadrach? 📄🖋️
                    </p>
                    <p style="margin: 1em 0;">
                      Mamy dla Ciebie idealne miejsce! Dołącz do dedykowanej grupy na Facebooku, w której znajdziesz najświeższe oferty pracy publikowane przez ekspertów i firmy z branży.
                    </p>
                    <p style="margin: 1em 0;">
                      🔗 Link: <a href="https://www.facebook.com/groups/pracawkadrachiksiegowosci/">
                        https://www.facebook.com/groups/pracawkadrachiksiegowosci/
                      </a>
                    </p>
                  </td>
                </tr>
                {% endif %}

                {% if lecturer_section %}
                <tr>
                  <td style="{{td_classes|safe}}padding-top:15px;">
                    <h3 style="margin: 1em 0; font-size:1.17em">Wykładowca: {{webinar.lecturer}}</h3>
                    <hr style="border-width: 0; background: #000; color: #000; height:0.2em">
                    {% comment %} <p style="margin: 1em 0;">{{webinar.lecturer.biography_email|truncatechars:300}}</p> {% endcomment %}
                    <p style="margin: 1em 0;">{{webinar.lecturer.biography_email}}</p>
                    {% include './includes/WebinarMailingCTA.html' with text=cta_text href=cta_href %}
                  </td>
                </tr>
                {% endif %}
                
              </tbody>
            </table>
          </td>
        </tr>
        
        <tr>
          <td height="50" style="border-collapse:collapse;font-size:1px; line-height:0px;">&nbsp;
          </td>
        </tr>

      </tbody>
    </table>
  </td>
</tr>
{% endblock content %}