{% extends 'core/pages/crm/extends/CrmBase.html' %} 
{% load static %}

{% block head_stylesheets %}

{% endblock head_stylesheets %}

{% block crm_content %}
        {% comment %}
            <!--begin::Toolbar-->
            <div class="toolbar d-flex flex-stack flex-wrap mb-5 mb-lg-7" id="kt_toolbar">
                <!--begin::Page title-->
                <div class="page-title d-flex flex-column py-1">
                    <!--begin::Title-->
                    <h1 class="d-flex align-items-center my-1">
                        <span class="text-dark fw-bold fs-1">Kampanie mailingowe</span>
                        <!--begin::Description-->
                        <small class="text-muted fs-6 fw-semibold ms-1">
                            ({{fqdn}})
                        </small>
                        <!--end::Description-->
                    </h1>
                    <!--end::Title-->
                </div>
                <!--end::Page title-->
                <!--begin::Actions-->
                <div class="d-flex align-items-center py-1">
                    <a 
    
                    href="{% url 'admin:core_mailingcampaign_add' %}"
                    class="btn btn-flex btn-sm btn-primary fw-bold border-0 fs-6 h-40px me-2"
                    >
                        Dodaj kampanie
                    </a>
                    <!--begin::Button-->
                    {% if show_all %}
                    <a 
    
                        href="{% url 'core:crm_mailing_campaigns_list' %}"
                        class="btn btn-flex btn-sm btn-secondary fw-bold border-0 fs-6 h-40px me-2"
                    >
                        Ukryj zakończone
                    </a>
                    {% else %}
                    <a 
    
                        href="{% url 'core:crm_mailing_campaigns_list' %}?show_all=1"
                        class="btn btn-flex btn-sm btn-secondary fw-bold border-0 fs-6 h-40px me-2"
                    >
                        Pokaż wszystkie
                    </a>
                    {% endif %}
                    <!--end::Button-->
                </div>
                <!--end::Actions-->
                </div>
                <!--end::Toolbar-->
        {% endcomment %}
        
        <div class="card shadow-sm mb-6">
          <div class="card-body">
             <div class="table-responsive">
                <table class="table">
                   <thead>
                      <tr class="fw-bold fs-6 text-gray-800">
                         <th>Konto wysyłkowe</th>
                         <th>Domena</th>
                         <th>Domena (RBL)</th>
                         <th>Adres IP</th>
                         <th>Adres IP (RBL)</th>
                      </tr>
                   </thead>
                   <tbody>
                    {% for username, domain, domain_rbls, ip_address, ip_address_rbls in monitored_senders_list %}
                    <tr>
                      <td>{{username}}</td>
                      <td>{{domain}}</td>
                      <td>
                        <p>Ważne listy:</p>
                        <ol>
                          {% for domain_rbl in domain_rbls %}
                            {% if domain_rbl and domain_rbl.is_blacklisted and domain_rbl.is_important_list %}
                              <li><b>{{domain_rbl.rbl_list.address}}</b> - {{domain_rbl.created_at|date:"j E H:i:s"}}</li>
                            {% endif %}
                          {% endfor %}
                        </ol>

                        <p>Mniej ważne listy:</p>
                        <ol>
                          {% for domain_rbl in domain_rbls %}
                            {% if domain_rbl and domain_rbl.is_blacklisted and not domain_rbl.is_important_list %}
                              <li><b>{{domain_rbl.rbl_list.address}}</b> - {{domain_rbl.created_at|date:"j E H:i:s"}}</li>
                            {% endif %}
                          {% endfor %}
                        </ol>
                      </td>
                      <td>{{ip_address}}</td>
                      <td>
                        <p>Ważne listy:</p>
                        <ol>
                          {% for ip_address_rbl in ip_address_rbls %}
                            {% if ip_address_rbl and ip_address_rbl.is_blacklisted and ip_address_rbl.is_important_list %}
                              <li><b>{{ip_address_rbl.rbl_list.address}}</b> - {{ip_address_rbl.created_at|date:"j E H:i:s"}}</li>
                            {% endif %}
                          {% endfor %}
                        </ol>
                        <p>Mniej ważne listy:</p>
                        <ol>
                          {% for ip_address_rbl in ip_address_rbls %}
                            {% if ip_address_rbl and ip_address_rbl.is_blacklisted and not ip_address_rbl.is_important_list %}
                              <li><b>{{ip_address_rbl.rbl_list.address}}</b> - {{ip_address_rbl.created_at|date:"j E H:i:s"}}</li>
                            {% endif %}
                          {% endfor %}
                        </ol>
                      </td>
                    </tr>
                    {% endfor %}
                   </tbody>
                </table>
             </div>
          </div>
       </div>
        
       <div class="card shadow-sm mb-6">
          <div class="card-body">
             <div class="table-responsive">
                <table class="table">
                   <thead>
                      <tr class="fw-bold fs-6 text-gray-800">
                         <th>Konto wysyłkowe</th>
                         <th>Wysłano dzisiaj</th>
                         <th>Wysłano wczoraj</th>
                      </tr>
                   </thead>
                   <tbody>
                      {% for smpt_sender in smpt_senders %}
                      <tr>
                         <td>
                          {{smpt_sender}} ( <b>{{smpt_sender.sender_alias}}</b> )
                         </td>
                         <td>
                          <span
                            hx-get="{% url "htmx:dwpldb:mailing-campaign-daily-counters-sender" sender_name=smpt_sender date_str=today_datestr %}"
                            hx-swap="innerHTML"
                            hx-trigger="intersect once"
                          >
                            –
                          </span>
                         </td>
                         <td>
                          <span
                            hx-get="{% url "htmx:dwpldb:mailing-campaign-daily-counters-sender" sender_name=smpt_sender date_str=yesterday_datestr %}"
                            hx-swap="innerHTML"
                            hx-trigger="intersect once"
                          >
                            –
                          </span>
                         </td>
                      </tr>
                      {% endfor %}
                   </tbody>
                </table>
             </div>
          </div>
       </div>
      
    {% if show_grid %}
      {% include "./snippets/MailingCampaignCountersGrid/Grid.html" %}
    {% endif %}

    {% if mailing_errors %}
    <div class="card shadow-sm mb-6">
        <div class="card-header">
            <h3 class="card-title">Kampanie mailingowe - Błędy</h3>
        </div>
        <div class="card-body">
            <div class="table-responsive">


                <table class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4">
                    <!--begin::Table head-->
                    <thead>
                      <tr class="fw-bold fs-6 text-gray-800 text-center border-0 bg-light">
                        <th class="min-w-200px rounded-start">Kampania</th>
                        <th class="min-w-140px">any_error_occured</th>
                        <th class="min-w-120px">smtp_server_disconnected</th>
                        <th class="min-w-100px">connection_refused</th>
                        <th class="min-w-100px">smtp_recipients_refused</th>
                      </tr>
                    </thead>
                    <!--end::Table head-->
                    <!--begin::Table body-->
                    <tbody class="border-bottom border-dashed">

                    {% for campaign in mailing_errors %}
                      <tr class="text-center">
                        <td class="text-start ps-6">
                          <div class="fw-semibold fs-4 text-gray-800">
                            <a href="{% url 'core:crm_mailing_campaign_detail' pk=campaign.pk %}">
                                <b>{{campaign}}</b>
                            </a>
                          </div>
                        </td>
                        <td>
                            {% if campaign.any_error_occured %}
                                <i class="ki-duotone ki-0 fs-2x text-success"></i><i class="ki-duotone ki-cross fs-2x text-success"><span class="path1"></span><span class="path2"></span></i>
                            {% else %}
                                <i class="ki-duotone ki-check fs-2x text-danger"></i><i class="ki-duotone ki-0 fs-2x text-danger"></i>
                            {% endif %}
                        </td>
                        <td>
                            {% if campaign.smtp_server_disconnected %}
                                <i class="ki-duotone ki-0 fs-2x text-success"></i><i class="ki-duotone ki-cross fs-2x text-success"><span class="path1"></span><span class="path2"></span></i>
                            {% else %}
                                <i class="ki-duotone ki-check fs-2x text-danger"></i><i class="ki-duotone ki-0 fs-2x text-danger"></i>
                            {% endif %}
                        </td>
                        <td>
                            {% if campaign.connection_refused %}
                                <i class="ki-duotone ki-0 fs-2x text-success"></i><i class="ki-duotone ki-cross fs-2x text-success"><span class="path1"></span><span class="path2"></span></i>
                            {% else %}
                                <i class="ki-duotone ki-check fs-2x text-danger"></i><i class="ki-duotone ki-0 fs-2x text-danger"></i>
                            {% endif %}
                        </td>
                        <td>
                            {% if campaign.smtp_recipients_refused %}
                                <i class="ki-duotone ki-0 fs-2x text-success"></i><i class="ki-duotone ki-cross fs-2x text-success"><span class="path1"></span><span class="path2"></span></i>
                            {% else %}
                                <i class="ki-duotone ki-check fs-2x text-danger"></i><i class="ki-duotone ki-0 fs-2x text-danger"></i>
                            {% endif %}
                        </td>
                      </tr>
                    {% endfor %}
                    </tbody>
                    <!--end::Table body-->
                  </table>
            </div>
        </div>
    </div>
    {% endif %}

    {% comment %}
        {% for pack in tuple_list %}
            {% include './MailingCampaignCard.html' with campaign=pack.0 metadata=pack.1 %}
        {% endfor %}
    {% endcomment %}


      <div class="card shadow-sm">
        <div class="card-header">
          <h3 class="card-title">✉️ Kampanie mailingowe ({{fqdn}})</h3>
          <div class="card-toolbar">
            <a href="{% url 'admin:core_mailingcampaign_add' %}" type="button" class="btn btn-sm btn-primary me-2">
                Dodaj kampanie
            </a>
            {% if show_all %}
            <a href="{% url 'core:crm_mailing_campaigns_list' %}" type="button" class="btn btn-sm btn-dark">
                Ukryj zakończone
            </a>
            {% else %}
            <a href="{% url 'core:crm_mailing_campaigns_list' %}?show_all=1" type="button" class="btn btn-sm btn-secondary">
                Pokaż wszystkie
            </a>
            {% endif %}
          </div>
        </div>
        <div class="card-body">

          <div class="table-responsive">
            <table class="table">
              <tbody>

                {% for pack in tuple_list %}
                {% with campaign=pack.0 %}
                {% with metadata=pack.1 %}

                <tr style="background-color:{% cycle '#e6e6e6' '#ffffff' %};">
                  {% include "./snippets/MailingTr.html" %}
                </tr>


                {% endwith %}
                {% endwith %}
                {% endfor %}

              </tbody>
            </table>
          </div>


        </div>
        <div class="card-footer">
          
        </div>
      </div>

    {% if favourite_mailings %}
    <div class="card shadow-sm mb-4">
        <div class="card-header">
          <h3 class="card-title">⭐ Ulubione kampanie ({{fqdn}})</h3>
        </div>
        <div class="card-body">

          <div class="table-responsive">
            <table class="table">
              <tbody>

                {% for pack in favourite_mailings %}
                {% with campaign=pack.0 %}
                {% with metadata=pack.1 %}


                <tr style="background-color:{% cycle '#e6e6e6' '#ffffff' %};">
                  {% include "./snippets/MailingTr.html" %}
                </tr>

                {% endwith %}
                {% endwith %}
                {% endfor %}

              </tbody>
            </table>
          </div>


        </div>
        <div class="card-footer">
          
        </div>
      </div>
      {% endif %}


{% endblock crm_content %}


{% block body_scripts %}

{% endblock body_scripts %}
