{% extends 'core/pages/crm/extends/CrmBase.html' %} 
{% load static %}

{% block head_stylesheets %}

{% endblock head_stylesheets %}

{% block crm_content %}
<!--begin::Row-->
<div class="row g-6 g-xl-9 mb-10">
    <!--begin::Col-->
    <div class="col-md-12 col-xl-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Stwórz kampanie mailingową</h3>
        </div>
        <div class="card-body fs-4">

          <div class="mb-3">
            <p>
              ⏰📌❤️🔥🥳🚀🏎️📑💡😍🔆🎀
            </p>
          </div>

          <div class="mb-3">
<pre style="white-space: pre-wrap;">
ChatGPT Prompt:

Posiadam firmę szkoleniową organizującą webinary (szkolenia online) dla specjalistów z różnych branż.
Pomóż mi wymyślić 10 alternatywnych tematów wiadomości e-mail, które będę wysyłał do swoich klientów, aby zachęcić ich do zapisania się na szkolenie.
Oryginalny temat szkolenia: „{{webinar.title_original}}”
</pre>
          </div>

          <hr>

          {% if webinar %}
          <span class="badge bg-primary">Kampania zostanie powiązana ze szkoleniem:</span>
          <p>
              <b>{{webinar.title_original}}</b>
          </p>
          <p>
              Wykładowca: <b>{{webinar.lecturer}}</b>
          </p>
          <p>
              Data: <b>{{webinar.date|date:"j E Y"}} r.</b>
          </p>
          <p>
              Godzina: <b>{{webinar.date|date:"H:i"}} - {{webinar.date_end|date:"H:i"}}</b>
          </p>
          <a target="_blank" href="{% url "core:global_mailing_editor" %}?for_webinar_id={{webinar.id}}" class="btn btn-sm btn-dark">
            Generuj szablon mailingowy
          </a>
          {% endif %}

          <hr>
  
          <form
              method="post" action="{% url "core:create_mailing_campaign" %}"
              onsubmit="actionSubmit.disabled = true; return true;"
          >
              {% csrf_token %}

              <input type="hidden" name="webinar_id" value="{{webinar_id}}">

              <div class="mb-3">
                <label for="id-sender" class="form-label">Konto wysyłkowe</label>
                <select id="id-sender" name="smpt_sender_id" class="form-select">
                  {% for smtp_sender in smtp_senders %}
                  <option value="{{smtp_sender.id}}">{{smtp_sender}}</option>
                  {% endfor %}
                </select>
              </div>

              <div class="mb-3">
                <label for="id-content-url" class="form-label">
                  <b class="text-primary">Adres URL do pobrania szablonu</b>
                </label>
                <input id="id-content-url" type="text" class="form-control" name="content_url">
              </div>
              <div class="mb-3">
                <label for="id-target_code" class="form-label">target_code</label>
                <input value="{{target_code}}" id="id-target_code" type="text" class="form-control" name="target_code">
              </div>
              <div class="mb-3">
                <label for="id-resignation-list" class="form-label">Lista rezygnacji</label>
                <input id="id-resignation-list" type="text" class="form-control" name="resignation_list" value="default">
              </div>
              <div class="mb-3">
                <label for="id-mailing_title" class="form-label">Tytuł kampanii mailingowej</label>
                <input value="{{mailing_title}}" id="id-mailing_title" type="text" class="form-control" name="mailing_title">
              </div>
              <div class="mb-3">
                <label for="id-alias" class="form-label">Alias</label>
                <input value="{{alias}}" id="id-alias" type="text" class="form-control" name="alias">
              </div>
              <div class="mb-3">
                <label for="id-subjects" class="form-label">Tytuły mailingu</label>
                <textarea rows="6" name="subjects" id="id-subjects" class="form-control">{{subjects}}</textarea>
              </div>
              <div class="mb-3">
                <input type="submit" value="Stwórz kampanie mailingową" name="actionSubmit" class="btn btn-primary">
              </div>
          </form>
  
        </div>
      </div>
    </div>
    <!--end::Col-->
  </div>
  <!--end::Row-->
{% endblock crm_content %}

{% block body_scripts %}{% endblock body_scripts %}
