{% extends 'core/pages/crm/extends/CrmBase.html' %} 
{% load static %}

{% block head_stylesheets %}

{% endblock head_stylesheets %}

{% block crm_content %}
    <h1>Resetuj kampanie mailingową</h1>
    <p>Co się stanie?</p>
    <ol>
        <li>Zostanie ponowiona próba wysłania wiadomości e-mail do adresów, do których nie udało się z jakiegoś powodu wysłać</li>
        <li>Status kampanii mailingowej zostanie zmieniony na 'Wysyłanie'</li>
        <li>Kampania mailingowa będzie wysyłana od rano w dniu jutrzejszym</li>
        <li>Licznik resetów zostanie zwiększony o jeden</li>
    </ol>
    <hr>
    <form method="post" action="{% url 'core:crm_mailing_campaign_reset_emails' pk=mailing_campaign.pk %}">
        {% csrf_token %}
        <div class="mb-3">
            {{form}}
        </div>
        <div class="mb-3">
            <input type="submit" class="btn btn-primary" value="Submit">
        </div>
    </form>
{% endblock crm_content %}

{% block body_scripts %}

{% endblock body_scripts %}
