{% extends 'core/pages/crm/extends/CrmBase.html' %} 
{% load static %}

{% block head_stylesheets %}

{% endblock head_stylesheets %}

{% block crm_content %}
        <!--begin::Toolbar-->
        <div class="toolbar d-flex flex-stack flex-wrap mb-5 mb-lg-7" id="kt_toolbar">
            <!--begin::Page title-->
            <div class="page-title d-flex flex-column py-1">
                <!--begin::Title-->
                <h1 class="d-flex align-items-center my-1">
                    <span class="text-dark fw-bold fs-1">Kampanie mailingowe</span>
                    <!--begin::Description-->
                    <small class="text-muted fs-6 fw-semibold ms-1">
                        ({{fqdn}})
                    </small>
                    <!--end::Description-->
                </h1>
                <!--end::Title-->
            </div>
            <!--end::Page title-->
            <!--begin::Actions-->
            <div class="d-flex align-items-center py-1">
                <a 

                href="{% url 'admin:core_mailingcampaign_add' %}"
                class="btn btn-flex btn-sm btn-primary fw-bold border-0 fs-6 h-40px me-2"
                >
                    Dodaj kampanie
                </a>
                <!--begin::Button-->
                {% if show_all %}
                <a 

                    href="{% url 'core:crm_mailing_campaigns_list' %}"
                    class="btn btn-flex btn-sm btn-secondary fw-bold border-0 fs-6 h-40px me-2"
                >
                    Ukryj zakończone
                </a>
                {% else %}
                <a 

                    href="{% url 'core:crm_mailing_campaigns_list' %}?show_all=1"
                    class="btn btn-flex btn-sm btn-secondary fw-bold border-0 fs-6 h-40px me-2"
                >
                    Pokaż wszystkie
                </a>
                {% endif %}
                <!--end::Button-->
            </div>
            <!--end::Actions-->
            </div>
            <!--end::Toolbar-->

    {% if mailing_errors %}
    <div class="card shadow-sm mb-6">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr class="fw-bold fs-6 text-gray-800">
                            <th>Kampania mailingowa</th>
                            <th>any_error_occured</th>
                            <th>smtp_server_disconnected</th>
                            <th>connection_refused</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for campaign in mailing_errors %}
                        <tr>
                            <td>
                                <a href="{% url 'core:crm_mailing_campaign_detail' pk=campaign.pk %}">
                                    <b>{{campaign}}</b>
                                </a>
                            </td>
                            <td>
                                {% if campaign.any_error_occured %}
                                <i class="ki-duotone ki-check-square text-danger fs-1"><i class="path1"></i><i class="path2"></i></i>
                                {% else %}
                                <i class="ki-duotone ki-cross-square text-success fs-1"><i class="path1"></i><i class="path2"></i></i>
                                {% endif %}
                            </td>
                            <td>
                                {% if campaign.smtp_server_disconnected %}
                                <i class="ki-duotone ki-check-square text-danger fs-1"><i class="path1"></i><i class="path2"></i></i>
                                {% else %}
                                <i class="ki-duotone ki-cross-square text-success fs-1"><i class="path1"></i><i class="path2"></i></i>
                                {% endif %}
                            </td>
                            <td>
                                {% if campaign.connection_refused %}
                                <i class="ki-duotone ki-check-square text-danger fs-1"><i class="path1"></i><i class="path2"></i></i>
                                {% else %}
                                <i class="ki-duotone ki-cross-square text-success fs-1"><i class="path1"></i><i class="path2"></i></i>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% endif %}

    {% for pack in tuple_list %}
        {% include './MailingCampaignCard.html' with campaign=pack.0 metadata=pack.1 %}
    {% endfor %}


    <div class="card shadow-sm">
        <div class="card-header">
          <h3 class="card-title">Kampanie mailingowe ({{fqdn}})</h3>
          <div class="card-toolbar">
            <a href="{% url 'admin:core_mailingcampaign_add' %}" type="button" class="btn btn-sm btn-primary me-2">
                Dodaj kampanie
            </a>
            {% if show_all %}
            <a href="{% url 'core:crm_mailing_campaigns_list' %}" type="button" class="btn btn-sm btn-dark">
                Ukryj zakończone
            </a>
            {% else %}
            <a href="{% url 'core:crm_mailing_campaigns_list' %}?show_all=1" type="button" class="btn btn-sm btn-secondary">
                Pokaż wszystkie
            </a>
            {% endif %}
          </div>
        </div>
        <div class="card-body">
          
            
            {% for pack in tuple_list %}
            {% with campaign=pack.0 %}
            {% with metadata=pack.1 %}

            <div class="table-responsive">
                <table class="table table-bordered fs-5" style="border-color:black;">
                  <tbody>
                    <tr>
                      <td class="fw-bold text-gray-800 bg-secondary">Nazwa kampanii</td>
                      <td>
                        <a href="{% url 'core:crm_mailing_campaign_detail' pk=campaign.pk %}" class="text-primary text-hover-primary fw-bold">
                            {{campaign}}
                        </a>
                      </td>
                      <td class="fw-bold text-gray-800 bg-secondary">Konto wysyłkowe</td>
                      <td colspan="3" class="text-gray-900 fw-bold">{{campaign.smtp_sender}}</td>
                    </tr>
                    {% if campaign.webinar %}
                    <tr>
                      <td class="fw-bold text-gray-800 bg-secondary">Powiązane szkolenie</td>
                      <td colspan="5">
                        {{campaign.webinar.date|date:"j E Y"}} godz. {{campaign.webinar.date|date:"H:i"}} - {{campaign.webinar.date_end|date:"H:i"}} <br>
                        <a href="{% url "core:crm_webinar_detail_dashboard" pk=campaign.webinar.pk %}">
                            <b>{{campaign.webinar.title}}</b>
                        </a> <br>
                        ID={{campaign.webinar.id}}
                        Wykładowca {{campaign.webinar.lecturer}}
                      </td>
                    </tr>
                    {% endif %}
                    <tr>
                      <td class="fw-bold text-gray-800 bg-secondary">Wysyłaj po</td>
                      <td>{{campaign.send_after}}</td>
                      <td class="fw-bold text-gray-800 bg-secondary">Godziny wysyłki</td>
                      <td colspan="3">
                        {{campaign.allowed_to_send_after}} - {{campaign.allowed_to_send_before}} <br>
                        Obecna godzina: [Tutaj]
                    </td>
                    </tr>
                    <tr>
                      <td class="fw-bold text-gray-800 bg-secondary">Czy wysyła?</td>
                      <td>
                        {% if campaign.why_not_sending %}
                        <b class="text-danger">{{campaign.why_not_sending}}</b>
                        {% else %}
                        <b class="text-success">Powinno wysyłać</b>
                        {% endif %}
                      </td>
                      <td class="fw-bold text-gray-800 bg-secondary">Status</td>
                      <td colspan="3">{{campaign.get_status_display}}</td>
                    </tr>
                    <tr>
                      <td class="fw-bold text-gray-800 bg-secondary"></td>
                      <td colspan="5">
                        Limit dzienny:
                        {% if campaign.limit_per_day == 0 %}Brak limitu{% else %}
                        {{campaign.limit_sent_so_far}} / {{campaign.limit_per_day}}
                        {% endif %} <br>

                        Ilość resetów: {{campaign.resets_counter}} <br>
                        Kliknięcia globalne: {{metadata.click_count_mailing}} <br>


                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              
              {% endwith %}
              {% endwith %}
              {% endfor %}

        </div>
        <div class="card-footer">
          Footer
        </div>
      </div>


{% endblock crm_content %}


{% block body_scripts %}

{% endblock body_scripts %}
