{% extends 'core/pages/crm/extends/CrmBase.html' %} 
{% load static %}

{% block head_stylesheets %}

{% endblock head_stylesheets %}

{% block crm_content %}
    <h1>{{campaign}}</h1>
    <hr>
    <form
        method="get"
        action="{% url 'core:crm_mailing_campaign_email_search_page' pk=campaign.pk %}"
        >
        <select name="status" class="form-select mb-2">
            {% for key, value in status_select_options %}
            <option value="{{key}}" {% if status == key %}selected{% endif %}>
                {{value}}
            </option>
            {% endfor %}
        </select>
        <!--begin::Input group-->
        <div class="input-group mb-5">
            <span class="input-group-text">Szukaj</span>
            <input type="text" name="email_regex" value="{{email_regex}}" class="form-control" placeholder="E-mail"/>
            <span class="input-group-text">
                <input type="submit" class="btn btn-sm btn-primary" value="Szukaj">
            </span>
        </div>
        <!--end::Input group-->
    </form>
    <hr>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr class="fw-bold fs-6 text-gray-800">
                    <th>E-mail</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for email, status in pool %}
                <tr>
                    <td>{{email}}</td>
                    <td>{{status}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock crm_content %}

{% block body_scripts %}

{% endblock body_scripts %}
