{% extends 'core/pages/crm/extends/CrmBase.html' %} 
{% load static %}

{% block head_stylesheets %}

{% endblock head_stylesheets %}

{% block crm_content %}

    <!--begin::Toolbar-->
    <div class="toolbar d-flex flex-stack flex-wrap mb-5 mb-lg-7" id="kt_toolbar">
    <!--begin::Page title-->
    <div class="page-title d-flex flex-column py-1">
        <!--begin::Title-->
        <h1 class="d-flex align-items-center my-1">
            {% if mailing_campaign.status == 'PAUSED' %}
            <span class="text-warning fw-bold">
            {% elif mailing_campaign.status == 'SENDING' %}
            <span class="text-dark fw-bold">
            {% elif mailing_campaign.status == 'DONE' %}
            <span class="text-success fw-bold">
            {% endif %}
                [{{mailing_campaign.get_status_display}}]&nbsp;
            </span>


            <span class="text-dark fw-bold fs-1">{{mailing_campaign}}</span>
            <!--begin::Description-->
            <small class="text-muted fs-6 fw-semibold ms-1">( {{emails_count}} e-maili )</small>
            <!--end::Description-->
        </h1>
        <!--end::Title-->
        <p>

            <a href="{% url 'admin:core_mailingcampaign_change' object_id=mailing_campaign.id %}">
                <b>Edytuj kampanie w CMS</b>
            </a>
            /
            {% if mailing_campaign.template %}
            <a href="{% url 'admin:core_mailingtemplate_change' object_id=mailing_campaign.template.id %}">
                <b>Edytuj szablon w CMS</b>
            </a>
            {% endif %}
            /
            <a href="{% url 'core:crm_mailing_campaign_preview_html' pk=mailing_campaign.pk %}">
                <b>HTML preview</b>
            </a>
            /
            <a href="{% url 'core:crm_mailing_campaign_preview_text' pk=mailing_campaign.pk %}">
                <b>TEXT preview</b>
            </a>

        </p>
    </div>
    <!--end::Page title-->
    <!--begin::Actions-->
    <div class="d-flex align-items-center py-1">
        <!--begin::Button-->
        <a 
            href="{% url 'core:crm_mailing_campaign_add_emails' pk=mailing_campaign.pk %}"
            class="btn btn-flex btn-sm btn-primary fw-bold border-0 fs-6 h-40px me-2"
        >
            Dodaj adresy e-mail
        </a>
        <!--end::Button-->
        <!--begin::Button-->
        <a 
            href="{% url 'core:crm_mailing_campaign_send_test_email' pk=mailing_campaign.pk %}"
            class="btn btn-flex btn-sm btn-primary fw-bold border-0 fs-6 h-40px me-2"
        >
            Wyślij testowy
        </a>
        <!--end::Button-->
        <!--begin::Button-->
        <a
            href="{% url 'core:crm_mailing_campaign_delete_emails' pk=mailing_campaign.pk %}"
            class="btn btn-flex btn-sm btn-danger fw-bold border-0 fs-6 h-40px me-2"
        >
            Usun adresy e-mail
        </a>
        <!--end::Button-->
        <!--begin::Button-->
        <a
            href="{% url 'core:crm_mailing_campaign_reset_emails' pk=mailing_campaign.pk %}"
            class="btn btn-flex btn-sm btn-secondary fw-bold border-0 fs-6 h-40px"
        >
            Resetuj adresy e-mail
        </a>
        <!--end::Button-->
    </div>
    <!--end::Actions-->
    </div>
    <!--end::Toolbar-->

    <p class="fs-4 mb-1">
        <b>Konto wysyłkowe:</b> {{mailing_campaign.smtp_sender}}
    </p>
    {% if mailing_campaign.webinar %}
    {% with webinar=mailing_campaign.webinar %}
    <p class="fs-4 mb-1">
        <b>Powiązany webinar:</b>
        <a href="{% url 'core:webinar_program_page' slug=webinar.slug %}">
            <b>{{webinar.title}}</b>
        </a> - {{webinar.date|date:"j E Y"}} godz. {{webinar.date|date:"H:i"}} - {{webinar.date_end|date:"H:i"}}
    </p>
    {% endwith %}
    {% endif %}
    <p class="fs-4 mb-1">
        <b>Lista rezygnacji:</b> {{mailing_campaign.resignation_list}}
        {% if mailing_campaign.resignation_list != "default" %}
        <b class="text-danger">[ UWAGA - Lista rezygnacji inna niż domyślna! ]</b>
        {% endif %}
    </p>
    <p class="fs-4 mb-1">
        <b>Status:</b> {{mailing_campaign.get_status_display}}
    </p>
    {% if mailing_campaign.why_not_sending %}
    <p class="fs-4 mb-1">
        <b>Czemu nie wysyła?:</b> <b class="text-danger">{{mailing_campaign.why_not_sending}}</b>
    </p>
    {% endif %}
    <p class="fs-4 mb-1">
        <b>Pozwalaj na wysyłkę po</b> <b class="text-primary">{{mailing_campaign.send_after}}</b> między godziną
        <b class="text-primary">{{mailing_campaign.allowed_to_send_after}}</b> i <b class="text-primary">{{mailing_campaign.allowed_to_send_before}}</b>
    </p>
    <p class="fs-4 mb-1">
        <b>Alias:</b> {{mailing_campaign.alias}}
    </p>
    <p class="fs-4 mb-1">
        <b>Tytuły:</b>
    </p>
    <ol>
        {% for subject in mailing_campaign.get_subjects %}
        <li class="fs-4">{{subject}}</li>
        {% endfor %}
    </ol>

    {% if spam_phrases %}
    <p class="fs-4 mb-1 fw-bold text-danger">
        Spam frazy:
    </p>
    <ol>
        {% for spam_phrase in spam_phrases %}
        <li class="fs-4"><span class="text-danger fw-bold">{{spam_phrase}}</span></li>
        {% endfor %}
    </ol>
    {% endif %}

    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr class="fw-bold fs-6 text-gray-800">
                    <th>Status</th>
                    <th>Ilość e-maili</th>
                </tr>
            </thead>
            <tbody>
                {% for status, status_name, count in statuses %}
                <tr class="{% cycle 'bg-secondary' '' %} fs-4">
                    <td class="ps-3">
                        <a
                            class="fw-bold"
                            href="{% url 'core:crm_mailing_campaign_email_search_page' pk=mailing_campaign.pk %}?status={{status}}">
                            {{status_name}}
                        </a>
                    </td>
                    <td>{{count}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


    <div class="card card-bordered">
        <div class="card-body">
            <div id="kt_amcharts_3" style="height: 500px;"></div>
        </div>
    </div>

{% endblock crm_content %}

{% block body_scripts %}
<script src="https://cdn.amcharts.com/lib/5/index.js"></script>
<script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
<script src="https://cdn.amcharts.com/lib/5/percent.js"></script>
<script src="https://cdn.amcharts.com/lib/5/radar.js"></script>
<script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
<script>
    am5.ready(function () {
        // Create root element
        // https://www.amcharts.com/docs/v5/getting-started/#Root_element
        var root = am5.Root.new("kt_amcharts_3");
    
        // Set themes
        // https://www.amcharts.com/docs/v5/concepts/themes/
        root.setThemes([
            am5themes_Animated.new(root)
        ]);
    
        // Create chart
        // https://www.amcharts.com/docs/v5/charts/percent-charts/pie-chart/
        var chart = root.container.children.push(am5percent.PieChart.new(root, {
            layout: root.verticalLayout
        }));
    
        // Create series
        // https://www.amcharts.com/docs/v5/charts/percent-charts/pie-chart/#Series
        var series = chart.series.push(am5percent.PieSeries.new(root, {
            alignLabels: true,
            calculateAggregates: true,
            valueField: "value",
            categoryField: "category"
        }));
    
        series.slices.template.setAll({
            strokeWidth: 3,
            stroke: am5.color(0xffffff)
        });
    
        series.labelsContainer.set("paddingTop", 30)
    
        {% comment %}
        // Set up adapters for variable slice radius
        // https://www.amcharts.com/docs/v5/concepts/settings/adapters/
        series.slices.template.adapters.add("radius", function (radius, target) {
            var dataItem = target.dataItem;
            var high = series.getPrivate("valueHigh");
    
            if (dataItem) {
                var value = target.dataItem.get("valueWorking", 0);
                return radius * (value / high);
            }
            return radius;
        });
        {% endcomment %}
    
        // Set data
        // https://www.amcharts.com/docs/v5/charts/percent-charts/pie-chart/#Setting_data
        series.data.setAll([
            {% for status, status_name, count in statuses %}
            {
                value: {{count}},
                category: "{{status_name}}"
            }, 
            {% endfor %}
        ]);
    
        // Create legend
        // https://www.amcharts.com/docs/v5/charts/percent-charts/legend-percent-series/
        var legend = chart.children.push(am5.Legend.new(root, {
            centerX: am5.p50,
            x: am5.p50,
            marginTop: 15,
            marginBottom: 15
        }));
    
        legend.data.setAll(series.dataItems);
    
        // Play initial series animation
        // https://www.amcharts.com/docs/v5/concepts/animations/#Animation_of_series
        series.appear(1000, 100);
    
    }); // end am5.ready()
</script>
{% endblock body_scripts %}
