{% extends 'core/extends/base.html' %}
{% load static %}
{% block head_stylesheets %}
<link
  href="{% static 'css/simplyCountdown.theme.default.css' %}"
  rel="stylesheet"
  type="text/css"
/>
<style>
    .simply-section {
        margin-right: 3px;
    }
</style>
{% endblock head_stylesheets %}

{% block rightbar %}{% endblock rightbar %}

{% block content %}
<div class="wrapper d-flex flex-column flex-row-fluid mt-5 mt-lg-10" id="kt_wrapper">
    <!--begin::Content-->
    <div class="content flex-column-fluid" id="kt_content">
        <!--begin::Toolbar-->
        <div class="toolbar d-flex flex-stack flex-wrap mb-5 mb-lg-7" id="kt_toolbar">
            <!--begin::Page title-->
            <div class="page-title d-flex flex-column py-1 px-9">
                <!--begin::Title-->
                <h1 class="d-flex align-items-center my-1 text-dark fw-bold fs-1">
                    {{webinar.title}}
                </h1>
                {% if webinar.description %}
                <h2>
                    {{webinar.description}}
                </h2>
                {% endif %}
                <!--end::Title-->
            </div>
            <!--end::Page title-->
        </div>
        <!--end::Toolbar-->
        <!--begin::Post-->
        <div class="post" id="kt_post">
            <!--begin::Navbar-->
            <div class="card mb-6">
                <div class="card-body pt-9 pb-0">
                    <!--begin::Details-->
                    <div class="d-flex flex-wrap flex-sm-nowrap">
                        <!--begin: Pic-->
                        <div class="me-7 mb-4">
                            <div class="symbol symbol-100px symbol-lg-160px symbol-fixed position-relative">
                                <img src="{% get_media_prefix %}uploads/lecturers/{{webinar.lecturer.slug}}_160x160.webp" alt="image" />
                                <div class="position-absolute translate-middle bottom-0 start-100 mb-6 bg-success rounded-circle border border-4 border-body h-20px w-20px"></div>
                            </div>
                        </div>
                        <!--end::Pic-->
                        <!--begin::Info-->
                        <div class="flex-grow-1">
                            <!--begin::Title-->
                            <div class="d-flex justify-content-between align-items-start flex-wrap mb-2">
                                <!--begin::User-->
                                <div class="d-flex flex-column">
                                    <!--begin::Name-->
                                    <div class="d-flex align-items-center mb-2">
                                        <a href="#" class="text-gray-900 text-hover-primary fs-2 fw-bold me-1">
                                            {{webinar.lecturer.fullname}}
                                        </a>
                                        <i
                                            class="ki-duotone ki-verify fs-1 text-primary"
                                            data-bs-toggle="tooltip"
                                            data-bs-custom-class="tooltip-inverse"
                                            data-bs-placement="top"
                                            title="Wykładowca zweryfikowany"
                                            style="cursor: pointer;"
                                        >
                                            <span class="path1"></span>
                                            <span class="path2"></span>
                                        </i>
                                    </div>
                                    <!--end::Name-->
                                    <!--begin::Info-->
                                    <div class="d-flex flex-wrap fw-semibold fs-6 mb-4 pe-2">
                                        {% if webinar.lecturer.profession %}
                                        <span class="d-flex align-items-center text-gray-400 me-5 mb-2">
                                            <i class="ki-duotone ki-profile-circle fs-4 me-1">
                                                <span class="path1"></span>
                                                <span class="path2"></span>
                                                <span class="path3"></span>
                                            </i>
                                            {{webinar.lecturer.profession}}
                                        </span>
                                        {% endif %}
                                        {% if webinar.is_confirmed %}
                                        <span class="badge badge-warning me-5 mb-2">
                                            <i class="ki-duotone ki-star text-light-warning me-1"><i class="path1"></i><i class="path2"></i></i>
                                            Pewny termin
                                          </span>
                                        {% comment %} <span class="d-flex align-items-center fw-bold text-warning me-5 mb-2">
                                            <i class="ki-duotone ki-geolocation fs-4 me-1">
                                                <span class="path1"></span>
                                                <span class="path2"></span>
                                            </i>
                                            Pewny termin
                                        </span> {% endcomment %}
                                        {% endif %}
                                        <span class="d-flex align-items-center text-gray-700 me-5 mb-2">
                                            <i class="ki-duotone ki-geolocation fs-4 me-1">
                                                <span class="path1"></span>
                                                <span class="path2"></span>
                                            </i>
                                            Szkolenie Online
                                        </span>
                                        <span class="d-flex align-items-center text-gray-700 mb-2">
                                            <i class="ki-duotone ki-cd fs-4 me-1">
                                                <span class="path1"></span>
                                                <span class="path2"></span>
                                            </i>
                                            {% for category in webinar.lecturer.categories.all %}
                                            {% if forloop.last %}
                                              {{category}}
                                            {% else %}
                                              {{category}},
                                            {% endif %}
                                          {% endfor %}
                                        </span>
                                    </div>
                                    <!--end::Info-->
                                </div>
                                <!--end::User-->
                                <!--begin::Actions-->
                                <div class="d-flex my-4">
                                    <a
                                        href="{% url 'core:application_type_page' pk=webinar.pk %}"
                                        class="btn btn-sm btn-danger me-3">
                                        Wyślij zgłoszenie teraz
                                    </a>
                                    {% if request.user.is_staff %}
                                    <!--begin::Menu-->
                                    <div class="me-0">
                                        <button class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end">
                                            <i class="ki-solid ki-dots-horizontal fs-2x me-1"></i>
                                        </button>
                                        <!--begin::Menu 3-->
                                        <div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-800 menu-state-bg-light-primary fw-semibold w-300px py-3" data-kt-menu="true" style="">
                                            <!--begin::Heading-->
                                            <div class="menu-item px-3">
                                                <div class="menu-content text-muted pb-2 px-3 fs-7 text-uppercase">
                                                    Webinar
                                                </div>
                                            </div>
                                            <!--end::Heading-->
                                            <!--begin::Menu item-->
                                            <div class="menu-item px-3">
                                                <a href="{% url 'admin:core_webinar_change' object_id=webinar.id %}" class="menu-link px-3">
                                                    Edytuj termin w CMS
                                                </a>
                                            </div>
                                            <!--end::Menu item-->
                                            <!--begin::Menu item-->
                                            <div class="menu-item px-3">
                                                <a href="{% url 'admin:core_lecturer_change' object_id=webinar.lecturer.id %}" class="menu-link px-3">
                                                    Edytuj wykładowce w CMS
                                                </a>
                                            </div>
                                            <!--end::Menu item-->
                                            <!--begin::Menu item-->
                                            <div class="menu-item px-3">
                                                <a href="{% url 'core:crm_webinar_detail_dashboard' pk=webinar.pk %}" class="menu-link px-3">
                                                    Zobacz w CRM
                                                </a>
                                            </div>
                                            <!--end::Menu item-->
                                        </div>
                                        <!--end::Menu 3-->
                                    </div>
                                    <!--end::Menu-->
                                    {% endif %}
                                </div>
                                <!--end::Actions-->
                            </div>
                            <!--end::Title-->
                            <!--begin::Stats-->
                            <div class="d-flex flex-wrap flex-stack">
                                <!--begin::Wrapper-->
                                <div class="d-flex flex-column flex-grow-1 pe-8">
                                    <!--begin::Stats-->
                                    <div class="d-flex flex-wrap">
                                        <!--begin::Stat-->
                                        <div class="border border-gray-300 border-dashed rounded min-w-125px py-3 px-4 me-6 mb-3">
                                            <!--begin::Number-->
                                            <div class="d-flex align-items-center">
                                                <i class="ki-duotone ki-calendar fs-3 text-grey me-2">
                                                    <i class="path1"></i>
                                                    <i class="path2"></i>
                                                </i>
                                                <div class="fs-2 fw-bold counted">
                                                    {{webinar.date|date:"j E Y"}} r.
                                                </div>
                                            </div>
                                            <!--end::Number-->
                                            <!--begin::Label-->
                                            <div class="fw-semibold fs-6 text-gray-400">Data szkolenia</div>
                                            <!--end::Label-->
                                        </div>
                                        <!--end::Stat-->
                                        <!--begin::Stat-->
                                        <div class="border border-gray-300 border-dashed rounded min-w-125px py-3 px-4 me-6 mb-3">
                                            <!--begin::Number-->
                                            <div class="d-flex align-items-center">
                                                <i class="ki-duotone ki-time fs-3 text-grey me-2">
                                                    <i class="path1"></i>
                                                    <i class="path2"></i>
                                                </i>
                                                <div class="fs-2 fw-bold counted">
                                                    {{webinar.date|date:"H:i"}} - {{webinar.date_end|date:"H:i"}}
                                                </div>
                                            </div>
                                            <!--end::Number-->
                                            <!--begin::Label-->
                                            <div class="fw-semibold fs-6 text-gray-400">Godzina szkolenia</div>
                                            <!--end::Label-->
                                        </div>
                                        <!--end::Stat-->
                                        <!--begin::Stat-->
                                        <div class="border border-gray-300 border-dashed rounded min-w-125px py-3 px-4 me-6 mb-3">
                                            <!--begin::Number-->
                                            <div class="d-flex align-items-center">
                                                <i class="ki-duotone ki-price-tag fs-3 text-grey me-2">
                                                    <i class="path1"></i>
                                                    <i class="path2"></i>
                                                </i>
                                                <div class="fs-2 fw-bold counted">
                                                    {% if webinar.is_discounted %}
                                                    <span class="text-decoration-line-through fw-bolder text-danger">{{webinar.price_netto}}zł</span>
                                                    <span>{{webinar.price}}zł</span>
                                                    {% else %}
                                                    {{webinar.price}}zł
                                                    {% endif %}
                                                    <span class="fs-4">{{PRICE_ADNOTATION}}</span>
                                                </div>
                                            </div>
                                            <!--end::Number-->
                                            <!--begin::Label-->
                                            <div class="fw-semibold fs-6 text-gray-400">
                                                Cena {% if webinar.is_discounted %}<span class="fw-bolder text-success fs-2">promocyjna</span>{% endif %} (od osoby)
                                                {% if WE_ARE_TAX_EXEMPT %}
                                                <i
                                                    class="ki-duotone ki-question-2 fs-1"
                                                    style="vertical-align: middle; cursor: pointer;"
                                                    data-bs-toggle="tooltip"
                                                    data-bs-custom-class="tooltip-inverse"
                                                    data-bs-placement="top"
                                                    title="{{TAX_EXEMPT_TOOLTIP}}"
                                                >
                                                    <i class="path1"></i>
                                                    <i class="path2"></i>
                                                    <i class="path3"></i>
                                                </i>
                                                {% endif %}
                                            </div>
                                            <!--end::Label-->
                                        </div>
                                        <!--end::Stat-->
                                    </div>
                                    <!--end::Stats-->
                                </div>
                                <!--end::Wrapper-->
                                {% if webinar.is_discounted %}
                                <!--begin::Progress-->
                                <div class="d-flex align-items-center w-200px w-sm-300px flex-column mt-3">
                                    <div class="d-flex justify-content-between w-100 mt-auto mb-2">
                                        <span class="fw-semibold fs-6 text-gray-400">
                                            Do końca promocji
                                        </span>
                                        <div class="fw-bold fs-6 d-flex" id="discount-countdown"></div>
                                    </div>
                                    <div class="h-5px mx-3 w-100 bg-secondary mb-3">
                                        <div
                                            class="bg-{{discount_progress_color}} rounded h-5px"
                                            role="progressbar"
                                            style="width: {{discount_progress_percent}};"
                                            ></div>
                                    </div>
                                </div>
                                <!--end::Progress-->
                                {% endif %}
                            </div>
                            <!--end::Stats-->
                        </div>
                        <!--end::Info-->
                    </div>
                    <!--end::Details-->
                    <!--begin::Navs-->
                    <ul class="nav nav-stretch nav-line-tabs nav-line-tabs-2x border-transparent fs-5 fw-bold">
                        {% for tab_name, tab_url, tab_is_active, tab_icon in webinar_tabs %}
                        <!--begin::Nav item-->
                        <li class="nav-item mt-2">
                            <a
                                class="nav-link text-active-primary ms-0 me-10 py-5 text-gray-700 {% if tab_is_active %}active{% endif %}"
                                href="{{tab_url}}"
                            >   
                                {% if tab_icon %}
                                    <i class="ki-duotone {{tab_icon}} text-gray-700 fs-1 me-2"><i class="path1"></i><i class="path2"></i></i>
                                {% endif %}
                                {{tab_name}}
                            </a>
                        </li>
                        <!--end::Nav item-->
                        {% endfor %}
                    </ul>
                    <!--begin::Navs-->
                </div>
            </div>
            <!--end::Navbar-->
            <!--begin::Row-->
            <div class="row g-6 g-xl-9">
                <!--begin::Col-->
                {% block webinar_main_col %}
                <div class="col-xl-8">
                {% endblock webinar_main_col %}
                    {% block webinar_content %}{% endblock webinar_content %}
                </div>

                {% block webinar_rightbar %}
                <div class="col-xl-4">
                    {% include './snippets/PlacesLeftAlert.html' %}
                    {% include './snippets/DiscountAlert.html' %}
                    {% include './snippets/ApplicationButton.html' %}
                    <div class="separator my-5"></div>
                    {% include './snippets/WhatWeOffer.html' %}
                    <div
                        class="card card-flush mb-0"
                        data-kt-sticky="false"
                        data-kt-sticky-name="patron-sticky"
                        data-kt-sticky-offset="{default: false, xl: '200px'}"
                        data-kt-sticky-width="{lg: '250px', xl: '300px'}"
                        data-kt-sticky-left="auto"
                        data-kt-sticky-top="150px"
                        data-kt-sticky-animation="false"
                        data-kt-sticky-zindex="95"
                    >
                    {% include 'core/includes/Patron.html' %}
                    </div>
                </div>
                {% endblock webinar_rightbar %}
                <!--end::Col-->
            </div>
            <!--end::Row-->
        </div>
        <!--end::Post-->
    </div>
    <!--end::Content-->
</div>

{% endblock content %}


{%block body_scripts %}
    <!--begin::Vendors Javascript(used for this page only)-->
    {% comment %} <script src="{% static 'plugins/custom/datatables/datatables.bundle.js' %}"></script> {% endcomment %}
    <!--end::Vendors Javascript-->
    <!--begin::Custom Javascript(used for this page only)-->
    <script src="{% static 'js/simplyCountdown.min.js' %}"></script>
    {% comment %}
    <script src="{% static 'js/custom/pages/user-profile/general.js' %}"></script>
    <script src="{% static 'js/widgets.bundle.js' %}"></script>
    <script src="{% static 'js/custom/widgets.js' %}"></script>
    <script src="{% static 'js/custom/apps/chat/chat.js' %}"></script>
    <script src="{% static 'js/custom/utilities/modals/upgrade-plan.js' %}"></script>
    <script src="{% static 'js/custom/utilities/modals/create-campaign.js' %}"></script>
    <script src="{% static 'js/custom/utilities/modals/offer-a-deal/type.js' %}"></script>
    <script src="{% static 'js/custom/utilities/modals/offer-a-deal/details.js' %}"></script>
    <script src="{% static 'js/custom/utilities/modals/offer-a-deal/finance.js' %}"></script>
    <script src="{% static 'js/custom/utilities/modals/offer-a-deal/complete.js' %}"></script>
    <script src="{% static 'js/custom/utilities/modals/offer-a-deal/main.js' %}"></script>
    <script src="{% static 'js/custom/utilities/modals/create-project/type.js' %}"></script>
    <script src="{% static 'js/custom/utilities/modals/create-project/budget.js' %}"></script>
    <script src="{% static 'js/custom/utilities/modals/create-project/settings.js' %}"></script>
    <script src="{% static 'js/custom/utilities/modals/create-project/team.js' %}"></script>
    <script src="{% static 'js/custom/utilities/modals/create-project/targets.js' %}"></script>
    <script src="{% static 'js/custom/utilities/modals/create-project/files.js' %}"></script>
    <script src="{% static 'js/custom/utilities/modals/create-project/complete.js' %}"></script>
    <script src="{% static 'js/custom/utilities/modals/create-project/main.js' %}"></script>
    <script src="{% static 'js/custom/utilities/modals/users-search.js' %}"></script>
    <!--end::Custom Javascript-->
    {% endcomment %}
    {% if webinar.is_discounted %}
    <script>
        simplyCountdown('#discount-countdown', {
            year: {{webinar.discount_until|date:"Y"}}, // The target year
            month: {{webinar.discount_until|date:"n"}}, // The target month (0-11)
            day: {{webinar.discount_until|date:"j"}}, // The target day
            hours: {{webinar.discount_until|date:"H"}}, // The target hour
            minutes: '{{webinar.discount_until|date:"i"}}' == '00' ? 0 : {{webinar.discount_until|date:"i"}}, // The target minute
            seconds: '{{webinar.discount_until|date:"s"}}' == '00' ? 0 : {{webinar.discount_until|date:"s"}}, // The target second
            words: { //words displayed into the countdown
                days: { singular: 'd', plural: 'd' },
                hours: { singular: 'g', plural: 'g' },
                minutes: { singular: 'm', plural: 'm' },
                seconds: { singular: 's', plural: 's' }
            },
        });
    </script>
    {% endif %}
{% endblock body_scripts %}