{% extends './WebinarBase.html' %}

{% block webinar_content %}

<div class="text-left mb-5"><h2 class="mb-1">Cena</h2></div>
<div class="fs-5 fw-bold text-gray-600">
  <p class="mb-8">
    399zł netto/brutto (Faktura wystawiana bez podatku VAT na podstawie art.
    113 ust. 1 i 9 ustawy o VAT)
  </p>
  <p class="mb-8">
    Zapłata przelewem na konto następuje do 14 dni po szkoleniu.
  </p>
</div>
<div class="text-left my-5"><h2 class="mb-1">Cena zawiera</h2></div>
<div class="fs-5 fw-bold text-gray-600">
  <div class="d-flex flex-column">
    <li class="d-flex align-items-center py-2">
      <span class="bullet me-5"></span>dostęp do platformy ClickMeeting w
      czasie realizacji szkolenia
    </li>
    <li class="d-flex align-items-center py-2">
      <span class="bullet me-5"></span>autorskie materiały szkoleniowe (w
      formie pdf – przesłane dzień przed szkoleniem)
    </li>
    <li class="d-flex align-items-center py-2">
      <span class="bullet me-5"></span>możliwość zadawania pytań na chatcie
      wykładowcy
    </li>
    <li class="d-flex align-items-center py-2">
      <span class="bullet me-5"></span>imienny certyfikaty ukończenia
      szkolenia (na życzenie zostanie wysłany pocztą)
    </li>
  </div>
</div>
<div class="text-left my-5"><h2 class="mb-1">Faktura</h2></div>
<div class="fs-5 fw-bold text-gray-600">
  <div class="d-flex flex-column">
    <li class="d-flex align-items-center py-2">
      <span class="bullet me-5"></span>Faktura wystawiana bez podatku VAT na
      podstawie art. 113 ust. 1 i 9 ustawy o VAT
    </li>
    <li class="d-flex align-items-center py-2">
      <span class="bullet me-5"></span>Faktura za udział w szkoleniu będzie
      wysłana do Państwa po zajęciach emailem w formacie PDF lub listownie
    </li>
    <li class="d-flex align-items-center py-2">
      <span class="bullet me-5"></span>Płatności należy dokonać przelewem do
      14 dni po szkoleniu.
    </li>
  </div>
</div>
<div class="text-left my-5"><h2 class="mb-1">Proces</h2></div>
<div class="fs-5 fw-bold text-gray-600">
  <div class="d-flex flex-column">
    <li class="d-flex align-items-center py-2">
      <span class="bullet me-5"></span>Uczestnik zgłasza się na szkolenie
      porzez zgłoszenie online, bądź telefonicznie: 531 244 871
    </li>
    <li class="d-flex align-items-center py-2">
      <span class="bullet me-5"></span>Uczestnik otrzymuje potwierdzenie o
      zarejestrowaniu zgłoszenia w systemie.
    </li>
    <li class="d-flex align-items-center py-2">
      <span class="bullet me-5"></span>Dzień przed szkoleniem uczestnik
      otrzymuje na wskazanego maila:
    </li>
    <li class="d-flex align-items-center py-2 ms-10">
      <span class="bullet me-5"></span>dostęp do webinaru w formie
      zaproszenia z linkiem
    </li>
    <li class="d-flex align-items-center py-2 ms-10">
      <span class="bullet me-5"></span>wskazówki techniczne oraz informacje
      o szkoleniu
    </li>
    <li class="d-flex align-items-center py-2 ms-10">
      <span class="bullet me-5"></span>materiały szkoleniowe w formie
      elektronicznej
    </li>
    <li class="d-flex align-items-center py-2">
      <span class="bullet me-5"></span>Uczestnik przed zajęciami loguje się
      do platformy szkoleniowej po przez link z zaproszenia.
    </li>
    <li class="d-flex align-items-center py-2">
      <span class="bullet me-5"></span>Po szkoleniu zostaje wysyłana:
    </li>
    <li class="d-flex align-items-center py-2 ms-10">
      <span class="bullet me-5"></span>faktura z terminem płatności do 14
      dni po szkoleniu
    </li>
    <li class="d-flex align-items-center py-2 ms-10">
      <span class="bullet me-5"></span>certyfikat uczestnictwa emailem (na
      życzenie pocztą tradycyjna) po zakończonych zajęciach
    </li>
  </div>
</div>

{% endblock webinar_content %}
