{% if aggregate_active_webinars %}
<div class="card mb-3 mb-4">
    <div>
      <!-- Card header -->
      <div class="card-header">
        <h4 class="mb-0">Terminy szkolenia:</h4>
      </div>
      <ul class="list-group list-group-flush">

        {% for agg_webinar in aggregate_active_webinars %}
          {% include "./agg_date_and_hour_card_item.html" with agg_webinar=agg_webinar %}
        {% endfor %}

        {% if request.user.is_staff %}
        {% for agg_webinar in aggregate_inactive_webinars %}
          {% include "./agg_date_and_hour_card_item.html" with agg_webinar=agg_webinar is_inactive=1 %}
        {% endfor %}
        {% endif %}

      </ul>
    </div>

  </div>
  {% endif %}