{% extends 'geeks/extends/foundation.html' %}
{% load i18n static %}

{% block navbar %}{% endblock navbar %}
{% block footer %}{% endblock footer %}

{% block root %}
 <main>
	<section class="container d-flex flex-column">
		<div class="row align-items-center justify-content-center g-0 min-vh-100">
			<div class="col-lg-5 col-md-8 py-8 py-xl-0">
				<!-- Card -->
				<div class="card shadow">
					<!-- Card body -->
					<div class="card-body p-6">
						<div class="mb-4">
							<h1 class="mb-3 fw-bold">Instrukcje wysłane</h1>
							<p class="fw-medium">
                                Instrukcja pozwalająca ustawić nowe hasło dla podanego adresu e-mail została wysłana. Niebawem powinna się pojawić na twoim koncie pocztowym.
                            </p>

                            <p class="fw-medium">
                                W przypadku nieotrzymania wiadomości e-mail: upewnij się czy:
                                <ul>
                                    <li>
                                        adres wprowadzony jest zgodny z tym podanym podczas rejestracji
                                    </li>
                                    <li>
                                        <span class="text-danger fw-bold">sprawdź zawartość folderu SPAM na swoim koncie</span>.
                                    </li>
                                </ul>
                                
                            </p>

                            <span>Powróć do <a href="{% url 'core:login_page' %}">strony logowania</a></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</main>
{% endblock %}
