{% extends 'geeks/extends/foundation.html' %}
{% load i18n static %}

{% block navbar %}{% endblock navbar %}
{% block footer %}{% endblock footer %}

{% block root %}
{% if validlink %}
<main>
	<section class="container d-flex flex-column">
		<div class="row align-items-center justify-content-center g-0 min-vh-100">
			<div class="col-lg-5 col-md-8 py-8 py-xl-0">
				<!-- Card -->
				<div class="card shadow">
					<!-- Card body -->
					<div class="card-body p-6">
						<div class="mb-4">
							<h1 class="mb-1 fw-bold">{% translate 'Password reset' %}</h1>
							<p>{% translate "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
						</div>
							<!-- Form -->
						<form method="post">
							{% csrf_token %}
							<div class="mb-3">
                                <input class="hidden" type="hidden" autocomplete="username" value="{{ form.user.get_username }}">

								<label for="id_new_password1" class="form-label">{% translate 'New password:' %}</label>
								<input type="password" id="id_new_password1" class="form-control" name="new_password1" placeholder="Wprowadź nowe hasło" required>
                                <div class="text-danger">{{ form.new_password1.errors }}</div>
                                
								<label for="id_new_password2" class="form-label mt-3">{% translate 'Confirm password:' %}</label>
								<input type="password" id="id_new_password2" class="form-control" name="new_password2" placeholder="Wprowadź nowe hasło ponownie" required>
                                <div class="text-danger">{{ form.new_password2.errors }}</div>
							</div>
								<!-- Button -->
							<div class="mb-3 d-grid">
								<button type="submit" class="btn btn-primary">
									{% translate 'Change my password' %}
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
</main>
{% else %}
<main>
	<section class="container d-flex flex-column">
		<div class="row align-items-center justify-content-center g-0 min-vh-100">
			<div class="col-lg-5 col-md-8 py-8 py-xl-0">
				<!-- Card -->
				<div class="card shadow">
					<!-- Card body -->
					<div class="card-body p-6">
						<div class="mb-4">
							<h1 class="mb-1 fw-bold">Link wygasł lub jest niepoprawny</h1>
							<p>
								Link pozwalający na reset hasła jest niepoprawny - być może dlatego, że został już raz użyty.
								Możesz ponownie zażądać 
								<a href="{% url 'core:forgot_password_page' %}" class="fw-medium">
									zresetowania hasła
								</a>.
								
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</main>
{% endif %}
{% endblock root %}
