{% extends './ApplicationBase.html' %} 
{% load static %}

{% block content %}
<div class="row mt-0 mt-md-4">
    <div class="col-lg-8 col-md-12 col-12">
        <div class="card mb-4">
            <!-- Card header -->
            <div class="card-header">
                <h3 class="mb-0"><span class="text-primary">Krok {{step_number}}:</span> {{step_title}}</h3>
                <span>{{step_description}}</span>
            </div>
            <!-- Card body -->
            <div class="card-body">
                
                {% comment %} Szkolenie {% endcomment %}
                <h3>Szkolenie:</h3>
                <table class="table">
                    <tbody>
                    <tr>
                        <th scope="row" style="width:175px;">Tytuł</th>
                        <td>{{webinar.title_original}}</td>
                    </tr>
                    <tr>
                        <th scope="row" style="width:175px;">Data</th>
                        <td>{{webinar.date|date:"j E Y"}} r.</td>
                    </tr>
                    <tr>
                        <th scope="row" style="width:175px;">Godzina</th>
                        <td>{{webinar.date|date:"H:i"}} - {{webinar.date_end|date:"H:i"}}</td>
                    </tr>
                    {% if webinar.show_lecturer and not webinar.is_lecturer_anonymized %}
                    <tr>
                        <th scope="row" class="border-bottom-0" style="width:175px;">Wykładowca</th>
                        <td>{{webinar.lecturer.fullname}}</td>
                    </tr>
                    {% endif %}
                    </tbody>
                </table>
                <hr>

                {% with application.submitter as submitter %}
                {% if submitter %}
                {% comment %} Nabywca {% endcomment %}
                <div class="d-flex justify-content-between">
                    <div><h3>Dane kontaktowe:</h3></div>
                    <div class="fw-bold">
                        {% if application.application_type == "COMPANY" %}
                        <a href="{% url 'core:application_buyer_page' uuid=application.uuid %}">
                        {% elif application.application_type == "JSFP" %}
                        <a href="{% url 'core:application_buyer_recipient_page' uuid=application.uuid %}">
                        {% elif application.application_type == "PRIVATE_PERSON" %}
                        <a href="{% url 'core:application_person_details_page' uuid=application.uuid %}">
                        {% endif %}
                            <i class="bi bi-pencil-square"></i>
                            Edytuj
                        </a>
                    </div>
                </div>
                <table class="table">
                    <tbody>
                    <tr>
                        <th scope="row" style="width:175px;">E-mail</th>
                        <td>{{submitter.email}}</td>
                    </tr>
                    <tr>
                        <th scope="row" style="width:175px;">Telefon</th>
                        <td>{{submitter.phone}}</td>
                    </tr>
                    </tbody>
                </table>
                <hr>
                {% endif %}
                {% endwith %}

                {% comment %} Uczestnicy {% endcomment %}
                <div class="d-flex justify-content-between">
                    <div><h3>Uczestnicy:</h3></div>
                    <div class="fw-bold">
                        <a href="{% url 'core:application_participants_page' uuid=application.uuid %}">
                            <i class="bi bi-pencil-square"></i>
                            Edytuj
                        </a>
                    </div>
                </div>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Imię</th>
                        <th scope="col">Nazwisko</th>
                        <th scope="col">Adres E-mail</th>
                        <th scope="col">Numer telefonu</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for participant in participants %}
                    <tr>
                        <td>{{participant.first_name}}</td>
                        <td>{{participant.last_name}}</td>
                        <td>{{participant.email}}</td>
                        <td>{{participant.phone}}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <hr>
                
                {% with application.buyer as company %}
                {% if company %}
                {% comment %} Nabywca {% endcomment %}
                <div class="d-flex justify-content-between">
                    <div><h3>Nabywca:</h3></div>
                    <div class="fw-bold">
                        {% if application.application_type == "COMPANY" %}
                        <a href="{% url 'core:application_buyer_page' uuid=application.uuid %}">
                        {% elif application.application_type == "JSFP" %}
                        <a href="{% url 'core:application_buyer_recipient_page' uuid=application.uuid %}">
                        {% elif application.application_type == "PRIVATE_PERSON" %}
                        <a href="{% url 'core:application_person_details_page' uuid=application.uuid %}">
                        {% endif %}
                            <i class="bi bi-pencil-square"></i>
                            Edytuj
                        </a>
                    </div>
                </div>
                <table class="table">
                    <tbody>
                    <tr>
                        <th scope="row" style="width:175px;">NIP</th>
                        <td>{{company.nip}}</td>
                    </tr>
                    <tr>
                        <th scope="row" style="width:175px;">Nazwa podmiotu</th>
                        <td>{{company.name}}</td>
                    </tr>
                    <tr>
                        <th scope="row" style="width:175px;">Adres</th>
                        <td>{{company.address}}</td>
                    </tr>
                    <tr>
                        <th scope="row" style="width:175px;">Kod pocztowy</th>
                        <td>{{company.postal_code}}</td>
                    </tr>
                    <tr>
                        <th scope="row" style="width:175px;">Miejscowość</th>
                        <td>{{company.city}}</td>
                    </tr>
                    </tbody>
                </table>
                {% endif %}
                {% endwith %}
                
                {% comment %} Odbiorca {% endcomment %}
                {% with application.recipient as company %}
                {% if company %}
                <div class="d-flex justify-content-between">
                    <div><h3>Odbiorca:</h3></div>
                    <div class="fw-bold">
                        {% if application.application_type == "COMPANY" %}
                        <a href="{% url 'core:application_buyer_page' uuid=application.uuid %}">
                        {% elif application.application_type == "JSFP" %}
                        <a href="{% url 'core:application_buyer_recipient_page' uuid=application.uuid %}">
                        {% elif application.application_type == "PRIVATE_PERSON" %}
                        <a href="{% url 'core:application_person_details_page' uuid=application.uuid %}">
                        {% endif %}
                            <i class="bi bi-pencil-square"></i>
                            Edytuj
                        </a>
                    </div>
                </div>
                <table class="table">
                    <tbody>
                    <tr>
                        <th scope="row" style="width:175px;">Nazwa podmiotu</th>
                        <td>{{company.name}}</td>
                    </tr>
                    <tr>
                        <th scope="row" style="width:175px;">Adres</th>
                        <td>{{company.address}}</td>
                    </tr>
                    <tr>
                        <th scope="row" style="width:175px;">Kod pocztowy</th>
                        <td>{{company.postal_code}}</td>
                    </tr>
                    <tr>
                        <th scope="row" style="width:175px;">Miejscowość</th>
                        <td>{{company.city}}</td>
                    </tr>
                    </tbody>
                </table>
                {% endif %}
                {% endwith %}

                {% with application.invoice as invoice %}
                <div class="d-flex justify-content-between">
                    <div><h3>Faktura:</h3></div>
                    <div class="fw-bold">
                        <a href="{% url 'core:application_invoice_page' uuid=application.uuid %}">
                            <i class="bi bi-pencil-square"></i>
                            Edytuj
                        </a>
                    </div>
                </div>
                <table class="table">
                    <tbody>
                    <tr>
                        <th scope="row" style="width:175px;">Typ faktury</th>
                        <td>{{invoice.get_invoice_type_display}}</td>
                    </tr>
                    <tr>
                        <th scope="row" style="width:175px;">E-mail do faktury</th>
                        <td>{{invoice.invoice_email}}</td>
                    </tr>
                    <tr>
                        <th scope="row" style="width:175px;">Zwolnienie z VAT</th>
                        <td>{{invoice.get_vat_exemption_display}}</td>
                    </tr>
                    </tbody>
                </table>
                {% endwith %}

                {% comment %} Dodatkowe uwagi {% endcomment %}
                <div class="d-flex justify-content-between">
                    <div><h3>Dodatkowe uwagi:</h3></div>
                    <div class="fw-bold">
                        <a href="{% url 'core:application_invoice_page' uuid=application.uuid %}">
                            <i class="bi bi-pencil-square"></i>
                            Edytuj
                        </a>
                    </div>
                </div>
                <table class="table">
                    <tbody>
                    <tr>
                        <td>
                            <i>
                                „{{application.additional_information|default:"Brak uwag"}}”
                            </i>
                        </td>
                    </tr>
                    </tbody>
                </table>
                
            </div>
        </div>                        
    </div>
    <div class="col-lg-4 col-md-12 col-12">
        <div class="card mb-4 js-sticky-widget">
            {% comment %} <!-- Card header -->
            <div class="card-header">
                <h3 class="mb-0">OOO</h3>
                <span>OOO</span>
            </div> {% endcomment %}
            <!-- Card body -->
            <div class="card-body">
                <div hx-get="{% url 'htmx:htmx_application_discount_panel' pk=application.pk %}" hx-trigger="load">
                    <img  alt="Ładowanie..." class="htmx-indicator" width="30" height="30" src="{% static 'media/misc/spinner.gif' %}"/>
                </div>

                {% if application.status == 'INIT' %}
                <!--begin::Actions-->
                <div class="mb-0 mt-3">
                    <form
                        action="{% url 'core:application_summary_page' uuid=application.uuid %}"
                        method="post"
                        onsubmit="actionSubmit.disabled = true; return true;"
                    >
                        {% csrf_token %}
                        <div class="separator separator-dashed my-1"></div> 
                        <div class="d-flex justify-content-center">
                            <p>
                                Klikając przycisk <i>„Wyślij zgłoszenie”</i> oświadczam, że zapoznałem się i akceptuję postanowienia
                                <a href="#" data-bs-toggle="modal" data-bs-target=".modal-terms-of-service">
                                    <b>Regulaminu Szkoleń</b>
                                </a>
                            </p>
                        </div>

                        <div class="d-flex justify-content-center">
                            <button
                                name="actionSubmit"
                                type="submit"
                                class="btn btn-danger mt-3 w-100"
                                id="send-application-btn"
                            >
                            Wyślij zgłoszenie
                            </button>
                        </div>
                    </form>

                    <hr>

                    <p>
                        Zapisując się Online na szkolenie, <b>nie ma potrzeby</b> dostarczania nam karty zgłoszeniowej. <br>
                        Karta zgłoszeniowa przeznaczona jest wyłącznie dla indywidualnych potrzeb klientów.
                    </p>

                    <div class="d-flex justify-content-center">
                        <button
                            type="button"
                            class="btn btn-sm btn-warning w-100"
                            data-bs-toggle="modal"
                            data-bs-target=".modal-card-pdf"
                        >
                        Pobierz kartę zgłoszeniową PDF
                        </button>
                    </div>
                </div>
                <!--end::Actions-->
                {% endif %}

            </div>
        </div> 
    </div>
</div>
<div class="modal fade modal-card-pdf" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
       <div class="modal-content">
          <div class="modal-header">
             <h5 class="modal-title">Pobierz kartę zgłoszeniową</h5>
             <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
             </button>
          </div>
          <div class="modal-body">
             <p>
                <b>Kliknij poniższy przycisk, aby pobrać kartę zgłoszeniową.</b>
             </p>
             <p class="text-danger fw-bold">
                Uwaga po kliknięciu przycisku należy cierpiliwe poczekać na wygenerowanie karty.
                <br>
                Może to potrwać nawet do 30 sekund.
             </p>
             <div class="text-center">
                <a
                   href="{% url 'core:application_pdf_card' uuid=application.uuid %}"
                   target="_blank"
                   class="btn btn-flex btn-warning fw-bold border-0 me-3">
                Pobierz kartę zgłoszeniową
                </a>
             </div>
             <p class="mt-3">
                <b>
                    Podpisaną kartę zgłoszeniową należy odesłać na adres:
                    <span class="text-primary fs-4">{{COMPANY_OFFICE_EMAIL}}</span>
                </b>
             </p>
          </div>
          <div class="modal-footer">
             <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij okno</button>
          </div>
       </div>
    </div>
 </div>

 <div class="modal fade modal-terms-of-service" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            {% include 'geeks/pages/terms_and_conditions/snippets/TermsAndConditionsWebinarsCard.html' %}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij okno</button>
         </div>
      </div>
    </div>
  </div>
 {% endblock content %}

{% block body_scripts %}
<script src="{% static 'js/htmx.min.js' %}"></script>
<script>
    document.body.addEventListener('htmx:configRequest', (event) => {
        event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
    })
</script>
<script src="{% static 'js/sticksy.min.js' %}"></script>
<script>
    setTimeout(function() {
        var stickyElement = new Sticksy('.js-sticky-widget', {topSpacing: 75});
        stickyElement.onStateChanged = function (state) {
            if(state === 'fixed') {
                stickyElement.nodeRef.classList.add('widget--sticky')
            } else {
                stickyElement.nodeRef.classList.remove('widget--sticky')
            }
        }
    }, 3000);
</script>
{% endblock body_scripts %}
