{% extends './ApplicationBase.html' %}
{% load static %}

{% block content %}
<div class="row mt-0 mt-md-4">
    <div class="col-lg-8 col-md-12 col-12">
        <div class="card mb-4">
            <!-- Card header -->
            <div class="card-header">
                <h3 class="mb-0">Wybierz typ zgłoszenia</h3>
                <span>{{step_description}}</span>
            </div>
            <!-- Card body -->
            <div class="card-body">
                {% if show_pdf_card_alert %}

                <div class="alert alert-warning" role="alert">
                    <h4 class="alert-heading"><i class="bi bi-file-earmark-pdf"></i> Karta zgłoszeniowa PDF</h4>
                    <p>Wypełniona <b>Karta zgłoszeniowa PDF</b> jest możliwa do pobrania po <b>wypełnieniu poniższego formularza zgłoszeniowego</b>.</p>
                </div>
                {% endif %}
        
                <div class="d-flex flex-row justify-content-center">
                    <form
                        action="{% url 'core:application_type_page' pk=webinar.pk %}"
                        method="post"
                        class="form"
                    >
                        {% csrf_token %}

                        <div class="mb-3 col-12 col-md-12">
                            {{form.application_type}}
                        </div>

                        {% include './components/next_previous_buttons.html' %}
                    </form>
                </div>
                
            </div>
        </div>                        
    </div>
    <div class="col-lg-4 col-md-12 col-12">
        {% comment %} Date and hour card {% endcomment %}
        {% include 'geeks/pages/webinar/components/date_and_hour_card.html' with webinar=webinar hide_ctas="1" %}

        {% comment %} What we offer {% endcomment %}
        {% include 'geeks/pages/webinar/components/what_we_offer.html' with webinar=webinar %}
    </div>
</div>
{% endblock content %}
