
{% extends 'core/pages/application/ApplicationBase.html' %} 
{% load static %}

{% block head_stylesheets %}

{% endblock head_stylesheets %}

{% block rightbar %}{% endblock rightbar %}
{% block leftbar %}{% endblock leftbar %}
{% block application_toolbar %}{% endblock application_toolbar %}

{% block application_content %}

<div class="card shadow-lg">
    <div class="card-header">
      <h3 class="card-title">Wybierz typ wysyłanego zgłoszenia</h3>
    </div>
    <div class="card-body">

        {% if ACTIVE_REFCODE %}
        <!--begin::Alert-->
        <div class="alert alert-danger d-flex align-items-center p-5">

            <!--begin::Wrapper-->
            <div class="d-flex flex-column">
                <!--begin::Title-->
                <h4 class="mb-1 text-dark">Bierzesz udział w programie partnerskim</h4>
                <!--end::Title-->

                <!--begin::Content-->
                <span>
                    Jako odbiorca kodu referencyjnego <span class="fw-bold">{{ACTIVE_REFCODE}}</span>
                    otrzymasz dodatkowe <span class="fw-bold fs-3">5% zniżki</span> na to zgłoszenie.
                </span>
                <!--end::Content-->
            </div>
            <!--end::Wrapper-->
        </div>
        <!--end::Alert-->
        {% endif %}

        <div class="d-flex flex-row justify-content-center">
            <form action="{% url 'core:application_type_page' pk=webinar.pk %}" method="post">
                {% csrf_token %}
                {{form.application_type}}
                {{form.application_type.errors}}
                <div class="separator my-5"></div>
                <div class="d-flex flex-column">
                    <div class="d-flex justify-content-end">
                        <input type="submit" class="btn btn-primary hover-elevate-up" value="Przejdź dalej">
                    </div>
                </div>
            </form>
        </div>
    </div>
  </div>
{% endblock application_content %}

{% block body_scripts %}
  
{% endblock body_scripts %}
