{% extends 'core/pages/application/ApplicationBase.html' %} 
{% load static %}

{% block head_stylesheets %}

{% endblock head_stylesheets %}

{% block rightbar %}{% endblock rightbar %}

{% block application_content %}
<div class="d-flex flex-row justify-content-center">
    <form action="{% url 'core:application_invoice_page' uuid=application.uuid %}" method="post">
        {% csrf_token %}

        {% include './snippets/FieldWithErrors.html' with field=form.invoice_type %}
        {% include './snippets/FieldWithErrors.html' with field=form.invoice_email %}
        {% include './snippets/FieldWithErrors.html' with field=form.invoice_additional_info %}
        {% include './snippets/FieldWithErrors.html' with field=form.vat_exemption %}

        <div class="d-flex justify-content-between my-5">
            {% if previous_step_url %}
                {% include './snippets/PreviousStepButton.html' with previous_step_url=previous_step_url previous_step_title=previous_step_title %}
            {% endif %}
            {% include './snippets/NextStepButton.html' %}
        </div>
    </form>    
</div>
{% endblock application_content %}

{% block body_scripts %}{% endblock body_scripts %}
