{% extends 'core/pages/application/ApplicationBase.html' %} 
{% load static %}

{% block head_stylesheets %}

{% endblock head_stylesheets %}

{% block rightbar %}{% endblock rightbar %}

{% block application_content %}
<div class="d-flex flex-row justify-content-center">
    <form
        action="{{action_url}}"
        method="post"
    >
        {% csrf_token %}
        <div class="d-flex flex-column" id="kt_block_ui_target">
            <div class="d-flex flex-row">
                {% include './snippets/FieldWithErrors.html' with field=form.nip %}
                {% include './snippets/FieldWithErrors.html' with field=form.name %}
            </div>
            <div class="d-flex flex-row">
                {% include './snippets/FieldWithErrors.html' with field=form.postal_code %}
                {% include './snippets/FieldWithErrors.html' with field=form.city %}
            </div>
            <div class="d-flex flex-column">
                {{form.address}}
                {% for error in form.address.errors %}
                    <div class="text-danger">{{error}}</div>
                {% endfor %}
            </div>
            <div class="d-flex flex-row">
                {% include './snippets/FieldWithErrors.html' with field=form.email %}
                {% include './snippets/FieldWithErrors.html' with field=form.phone_number %}
            </div>
            <div class="d-flex justify-content-between my-5">
                {% if previous_step_url %}
                    {% include './snippets/PreviousStepButton.html' with previous_step_url=previous_step_url previous_step_title=previous_step_title %}
                {% endif %}
                {% include './snippets/NextStepButton.html' %}
            </div>
        </div>
    </form>
</div>
{% endblock application_content %}

{% block body_scripts %}
<script>
    var csrf = "{{ csrf_token }}";

    var blockUI = new KTBlockUI(
        document.querySelector("#kt_block_ui_target"),
        {
            message: '<div class="blockui-message"><span class="spinner-border text-primary"></span> Ładuję z rejestru REGON...</div>',
        }
    );

    Inputmask({
        "mask" : "999-999-99-99"
    }).mask("#id_nip");
    Inputmask({
        "mask" : "99-999"
    }).mask("#id_postal_code");

    function populateFieldById(fieldId, value) {
        let input = document.querySelector(`#${fieldId}`);
        input.value = value;
    }

    function populateCompany(nip) {
        const url = '/api/regon-autocomplete/';
        const data = {
            nip: nip
        };

        const request = new Request(
            url,
            {
                method: 'POST',
                headers: {
                    'X-CSRFToken': csrf,
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(data),
                mode: 'same-origin'
            }
        );
        
        blockUI.block();
        fetch(request)
        .then(response => response.json())
        .then(result => {
            blockUI.release();
            console.log('REGON:', result);
            const success = result.success;
            if(!success) return;
            const data = result.data;
            const name = data.name
            populateFieldById("id_name", name)
            const address = data.address
            populateFieldById("id_address", address)
            const postal_code = data.postal_code
            populateFieldById("id_postal_code", postal_code)
            const city = data.city
            populateFieldById("id_city", city)
        })
        .catch(error => {
            blockUI.release();
            console.error('Error:', error);
        });

    }

    // Function to perform the actual search
    function performSearch() {
        let nip = document.querySelector('#id_nip').value.replaceAll("-", "").replaceAll("_", "");;
        if(nip.length == 10) {
            populateCompany(nip);
        }
    }
    
    // Debounce function
    function debounce(func, delay) {
        let timerId;
        
        return function() {
            clearTimeout(timerId);
            timerId = setTimeout(func, delay);
        };
    }
    
    // Delayed keyup handler using debounce
    const delayedKeyupHandler = debounce(performSearch, 1000);
    
    // Attach the keyup event handler to your input element
    const inputElement = document.querySelector('#id_nip');
    inputElement.addEventListener('keyup', delayedKeyupHandler);
  
</script>
{% endblock body_scripts %}
