{% extends 'core/pages/crm/extends/CrmBase.html' %} 
{% load static %}

{% block head_stylesheets %}{% endblock head_stylesheets %}

{% block crm_content %}


<h1>Usługi</h1>

<hr>

{% for service_offer in service_offers %}
<h1>
    {{service_offer.short_name}}
    ---
    <a href="{% url "core:service_offer_page" slug=service_offer.slug %}" target="_blank">
        <b>Zobacz stronę usługi</b>
    </a>
</h1>
<ol>
    {% for status, status_display, status_count in statuses %}
    <li>
        <a class="{% if status_count == 0 %}text-dark{% endif %} hover-scale fs-3" href="{% url 'core:service_offer_applications_list_page' %}?usluga={{service_offer.slug}}&status={{status}}">
            {% if status_count == 0 %}
                ( {{status_count}} ) {{status_display}}
            {% else %}
                <b>( {{status_count}} ) {{status_display}}</b>
            {% endif %}
             - {{service_offer.short_name}}
        </a>
    </li>
    {% endfor %}
</ol>
<hr>
{% endfor %}


{% endblock crm_content %}

{% block body_scripts %}{% endblock body_scripts %}
