{% extends 'core/pages/crm/extends/CrmBase.html' %} 
{% load static %}

{% block head_stylesheets %}{% endblock head_stylesheets %}

{% block crm_content %}

<a href="./" class="fw-bold fs-3">&lt;&lt; Wróć do usług</a>

<hr>

<h1>{{service_offer.offer_title}}</h1>
<h3 class="bg-dark text-white p-3">
    Status: <b><u>{{status_display}}</u></b>
</h3>

<hr>

<div class="table-responsive">
	<table class="table">
		<thead>
			<tr class="fw-bold fs-6 text-gray-800">
				<th>ID</th>
				<th>Status</th>
				<th>Firma</th>
				<th>Przesłany plik</th>
				{% comment %} <th>Uwagi</th> {% endcomment %}
				<th>Do usunięcia</th>
			</tr>
		</thead>
		<tbody>
            {% for application in service_offer_applications %}
			<tr>
                <td>
                    Zgłoszenie {{application.id}}<br>
                    <small>{{application.created_at|date:"j E Y"}}</small>
                </td>
                <td>
                    {% if application.status == "SENT" %}<span class="bg-success text-white">{% endif %}
                    {% if application.status == "OFFER" %}<span>{% endif %}
                    {% if application.status == "ACCEPTED" %}<span>{% endif %}
                    {% if application.status == "REJECTED" %}<span>{% endif %}
                    {% if application.status == "PAID" %}<span>{% endif %}
                    {% if application.status == "UNPAID" %}<span>{% endif %}
                    {{application.get_status_display}}
                    </span>
                    <br>
                    <a href="{% url "admin:core_serviceofferapplication_change" object_id=application.pk %}" class="fw-bold bg-dark text-white px-1">
                        Zmień status
                    </a>
                </td>
				<td>
                    <b>{{application.name}}</b>
                    <br>
                    {{application.postal_code}} {{application.city}} {{application.address}}
                    <br>
                    NIP: {{application.nip}}
                    <br><br>
                    <u>Kontakt:</u><br>
                    <b>{{application.first_name}}</b> <b>{{application.last_name}}</b> <br>
                    E-mail: <a class="fw-bold" href="mailto:{{application.email_contact}}">{{application.email_contact}}</a> <br>
                    Telefon: <a class="fw-bold" href="tel:{{application.phone}}">{{application.phone}}</a>
                </td>
                <td>
                    <a href="{% get_media_prefix %}{{application.file}}" class="fw-bold bg-primary text-white px-1">
                        Pobierz
                    </a>
                </td>
                {% comment %} <td>
                    {% if application.additional_info %}
                    <span class="fw-bold" title="{{application.additional_info}}" style="cursor: pointer;">
                        Tak
                        <i class="ki-duotone ki-information-5"><i class="path1"></i><i class="path2"></i><i class="path3"></i></i>
                    </span>
                    {% else %}
                    -
                    {% endif %}
                </td> {% endcomment %}
                <td>
                    Niepewny? (do usunięcia)
                    <br>
                    {% include "htmx/service_offer_application_toggle_uncertain.html" with application_id=application.id uncertain=application.uncertain  %}
                    <br>
				    Zaakceptowano warunki? (do usunięcia)
                    <br>
                    {% include "htmx/service_offer_application_toggle_accepted_conditions.html" with application_id=application.id accepted_conditions=application.accepted_conditions  %}
                    <br>
				    Zrezygnowano? (do usunięcia)
                    <br>
                    {% include "htmx/service_offer_application_toggle_resigned.html" with application_id=application.id resigned=application.resigned  %}
                    <br>
				    Brak odpowiedzi? (do usunięcia)
                    <br>
                    {% include "htmx/service_offer_application_toggle_no_answer.html" with application_id=application.id no_answer=application.no_answer  %}
                </td>
			</tr>
            <tr>
                <td colspan="9">
                    <b class="fs-4">Uwagi klienta:</b> <span class="fs-4">{{application.additional_info|default:"-Brak-"}}</span>
                </td>
            </tr>
            <tr>
                <td colspan="9" style="border-bottom: 1px solid black;">
                    <b class="fs-4">Nasze uwagi:</b> <span class="fs-4">{{application.notes|default:"-Brak-"}}</span>
                </td>
            </tr>
            {% endfor %}
		</tbody>
	</table>
</div>

{% endblock crm_content %}

{% block body_scripts %}{% endblock body_scripts %}
