<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <table align="center" cellpadding="0" cellspacing="0" width="598" style="border-collapse: collapse; font-family: Arial, sans-serif; border-radius: 10px; box-shadow: 0px 0px 10px 0px #888888;">
        <tr>
            <td align="center" style="padding: 20px 0; background-color: #007BFF; border-top-left-radius: 10px; border-top-right-radius: 10px;">
                <p style="font-size: 24px; margin: 0; color: #fff;">Wykładowca.pl</p>
            </td>
        </tr>
        <tr>
            <td align="center" style="padding: 20px;">
                <h1 style="font-size: 20px;">{{webinar.title}}</h1>
                {% if webinar.description %}
                <h2 style="font-size: 15px;">{{webinar.description}}</h2>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td style="padding: 20px;">
                <p style="font-size: 16px; font-weight:bold;">Terminy szkolenia:</p>
                <p>Data: {{webinar.date|date:"j E Y"}}</p>
                <p>Godzina: {{webinar.date|date:"H:i"}}</p>
                <p>Czas trwania: {{webinar.get_duration_display}}</p>
                <p><a href="{{cta_href}}" style="text-decoration: none; color: #007BFF; font-weight: bold;">Więcej informacji</a></p>
            </td>
        </tr>
        <tr>
            <td align="center" style="padding: 20px 0;">
                <a href="{{cta_href}}" style="text-decoration: none; background-color: #007BFF; color: #fff; padding: 10px 20px; border-radius: 5px;">Zapisz się teraz</a>
            </td>
        </tr>
        <tr>
            <td style="padding: 20px;">
                <p style="font-size: 16px; font-weight: bold;">Program:</p>
            </td>
        </tr>
		<tr>
            <td style="font-size: 14px;line-height:32px; padding:1px 1px 1px 1px;">
                <p style="margin: 1em 0;">{{program|safe}}</p>
            </td>
        </tr>
        <tr>
            <td align="center" style="padding: 20px 0;">
                <a href="{{cta_href}}" style="text-decoration: none; background-color: crimson; color: #fff; padding: 10px 20px; border-radius: 5px;">Przeczytaj cały program szkolenia</a>
            </td>
        </tr>
        <tr>
            <td align="center" style="padding: 20px 0;">
                <a href="{{cta_href}}" style="text-decoration: none; background-color: #007BFF; color: #fff; padding: 10px 20px; border-radius: 5px;">Zapisz się teraz</a>
            </td>
        </tr>
        <tr>
            <td align="center" style="padding: 20px;">
                <h2 style="margin: 0;">Wykładowca: <br/> <a href="{{cta_href}}" style="text-decoration: none; color: #007BFF;">{{webinar.lecturer}}</a></h2>
            </td>
        </tr>
        <tr>
            <td style="padding: 20px;">
                <p style="font-size: 16px;">{{webinar.lecturer.biography_email}}</p>
            </td>
        </tr>
        <tr>
            <td align="center" style="padding: 20px 0;">
                <a href="{{cta_href}}" style="text-decoration: none; background-color: #007BFF; color: #fff; padding: 10px 20px; border-radius: 5px;">Dowiedz się więcej o wykładowcy</a>
            </td>
        </tr>
        <tr>
            <td style="padding: 20px; text-align: center;">
                <p style="font-size: 14px;">NIP 6443562697 / Wykładowca.pl</p>
                <p style="font-size: 14px;">Wiadomość nie stanowi oferty handlowej w rozumieniu prawa.</p>
                <p style="font-size: 14px;">
                    <a href="{RESIGNATION_URL}" style="text-decoration: none; color: #007BFF; font-weight: bold;">
                    &gt;&gt; Wypis z otrzymywania wiadomości &lt;&lt;
                    </a>
                </p>
                <p style="font-size: 14px;">
                    Informacje w zakresie polityki prywatności znajdują się na stronie
                    <a href="{{privacy_policy_href}}">{{COMPANY_NAME}}</a>
                </p>
            </td>
        </tr>
    </table>
</body>
</html>
