{% extends 'core/extends/base.html' %}
{% load static %}
{% block head_stylesheets %}
<!--begin::Vendor Stylesheets(used for this page only)-->
<link
  href="{% static 'plugins/custom/datatables/datatables.bundle.css' %}"
  rel="stylesheet"
  type="text/css"
/>
<!--end::Vendor Stylesheets-->
{% endblock head_stylesheets %}

{% block rightbar %}{% endblock rightbar %}

{% block content %}
<div class="wrapper d-flex flex-column flex-row-fluid mt-5 mt-lg-10" id="kt_wrapper">
    <!--begin::Content-->
    <div class="content flex-column-fluid" id="kt_content">
        <!--begin::Toolbar-->
        <div class="toolbar d-flex flex-stack flex-wrap mb-5 mb-lg-7" id="kt_toolbar">
            <!--begin::Page title-->
            <div class="page-title d-flex flex-column py-1">
                <!--begin::Title-->
                <h1 class="d-flex align-items-center my-1">
                    <span class="text-dark fw-bold fs-1">
                        Wykładowcy
                    </span>
                </h1>
                <!--end::Title-->
            </div>
            <!--end::Page title-->
        </div>
        <!--end::Toolbar-->
        <!--begin::Post-->
        <div class="post" id="kt_post">
            {% for lecturer in lecturers %}
                {% include 'core/includes/LecturerCard.html' with lecturer=lecturer %}
            {% endfor %}
        </div>
        <!--end::Post-->
    </div>
    <!--end::Content-->
    <!--begin::Footer-->
    <div class="footer pt-10 pb-5 d-flex flex-column flex-md-row flex-stack" id="kt_footer">
        <!--begin::Copyright-->
        <div class="text-dark order-2 order-md-1">
            <span class="text-muted fw-semibold me-1">2023©</span>
            <a href="https://keenthemes.com" target="_blank" class="text-gray-800 text-hover-primary">Keenthemes</a>
        </div>
        <!--end::Copyright-->
        <!--begin::Menu-->
        <ul class="menu menu-gray-600 menu-hover-primary fw-semibold order-1">
            <li class="menu-item">
                <a href="https://keenthemes.com" target="_blank" class="menu-link px-2">About</a>
            </li>
            <li class="menu-item">
                <a href="https://devs.keenthemes.com" target="_blank" class="menu-link px-2">Support</a>
            </li>
            <li class="menu-item">
                <a href="https://1.envato.market/EA4JP" target="_blank" class="menu-link ps-2 pe-0">Purchase</a>
            </li>
        </ul>
        <!--end::Menu-->
    </div>
    <!--end::Footer-->
</div>

{% endblock content %}


{%block body_scripts %}
    <!--begin::Vendors Javascript(used for this page only)-->
    <script src="{% static 'plugins/custom/datatables/datatables.bundle.js' %}"></script>
    <!--end::Vendors Javascript-->
    <!--begin::Custom Javascript(used for this page only)-->
    <script src="{% static 'js/custom/pages/user-profile/general.js' %}"></script>
    <script src="{% static 'js/widgets.bundle.js' %}"></script>
    <script src="{% static 'js/custom/widgets.js' %}"></script>
    {% comment %} <script src="{% static 'js/custom/apps/chat/chat.js' %}"></script> {% endcomment %}
    {% comment %} <script src="{% static 'js/custom/utilities/modals/upgrade-plan.js' %}"></script>
    <script src="{% static 'js/custom/utilities/modals/create-campaign.js' %}"></script>
    <script src="{% static 'js/custom/utilities/modals/offer-a-deal/type.js' %}"></script>
    <script src="{% static 'js/custom/utilities/modals/offer-a-deal/details.js' %}"></script>
    <script src="{% static 'js/custom/utilities/modals/offer-a-deal/finance.js' %}"></script>
    <script src="{% static 'js/custom/utilities/modals/offer-a-deal/complete.js' %}"></script>
    <script src="{% static 'js/custom/utilities/modals/offer-a-deal/main.js' %}"></script>
    <script src="{% static 'js/custom/utilities/modals/create-project/type.js' %}"></script>
    <script src="{% static 'js/custom/utilities/modals/create-project/budget.js' %}"></script>
    <script src="{% static 'js/custom/utilities/modals/create-project/settings.js' %}"></script>
    <script src="{% static 'js/custom/utilities/modals/create-project/team.js' %}"></script>
    <script src="{% static 'js/custom/utilities/modals/create-project/targets.js' %}"></script>
    <script src="{% static 'js/custom/utilities/modals/create-project/files.js' %}"></script>
    <script src="{% static 'js/custom/utilities/modals/create-project/complete.js' %}"></script>
    <script src="{% static 'js/custom/utilities/modals/create-project/main.js' %}"></script>
    <script src="{% static 'js/custom/utilities/modals/users-search.js' %}"></script> {% endcomment %}
    <!--end::Custom Javascript-->
{% endblock body_scripts %}