{% load static %}

{% if lecturer.biography_anonymous %}

<div class="card mb-4">
  <div class="card-body">
    
    <div class="d-flex align-items-center">
      <div>
        <h4 class="mb-0">
            Wykładowca
        </h4>
      </div>
    </div>

    <div class="m-0 mt-2">
      {% for category in webinar.categories.all %}
      {% if not category.parent %}
      <a href="{% url "core:webinar_category_page" slug=category.slug %}" class="btn btn-light btn-xs mb-2">
        {{category.name}}
      </a>
      {% endif %}
      {% endfor %}
    </div>

    {% if lecturer.biography_anonymous %}
        <p class="m-0">
            <div id="id_lecturer_short_desc">{{lecturer.biography_anonymous|truncatechars:150}}</div>
            <div id="id_lecturer_long_desc" class="d-none">{{lecturer.biography_anonymous}}</div>
            <a id="id_lecturer_show_desc" href="javascript:$('#id_lecturer_long_desc').toggleClass('d-none');$('#id_lecturer_short_desc').toggleClass('d-none');$('#id_lecturer_show_desc').addClass('d-none');$('#id_lecturer_hide_desc').toggleClass('d-none');">
            Zobacz pełny opis
            </a>
            <a class="d-none" id="id_lecturer_hide_desc" href="javascript:$('#id_lecturer_long_desc').toggleClass('d-none');$('#id_lecturer_short_desc').toggleClass('d-none');$('#id_lecturer_hide_desc').addClass('d-none');$('#id_lecturer_show_desc').toggleClass('d-none');">
            Schowaj pełny opis
            </a>
        </p>
    {% endif %}

  </div>
</div>

{% endif %}