<!-- Card -->
<div class="card">
  <div>
    <!-- Card header -->
    <div class="card-header">
      <h4 class="mb-0">Co oferujemy?</h4>
    </div>

    <ul class="list-group list-group-flush">
      <li class="list-group-item bg-transparent">
        <i class="fe fe-credit-card align-middle me-2 text-success"></i>
        <b class="text-success">Płatność do {{INVOICE_DEADLINE_DAYS}} dni po szkoleniu</b>
      </li>
      <li class="list-group-item bg-transparent border-bottom-0">
        <i class="fe fe-award align-middle me-2 text-primary"></i>
        Imienny certyfikat dla uczestników zawierający informację o <b>ilości godzin szkolenia</b>
      </li>
      <li class="list-group-item bg-transparent fw-bold">
        <i class="fe fe-youtube align-middle me-2 text-primary"></i>
        Dostęp do szkolenia online
      </li>
      {% if webinar.recording_allowed %}
      <li class="list-group-item bg-transparent">
        <i class="fe fe-youtube align-middle me-2 text-primary"></i>
        <span class="fw-bold">48h</span> dostęp do nagrania po szkoleniu
      </li>
      {% endif %}
      <li class="list-group-item bg-transparent">
        <i class="fe fe-award align-middle me-2 text-primary"></i>
        Profesjonalnie przygotowane szkolenie
      </li>
      <li class="list-group-item bg-transparent">
        <i class="fe fe-message-square me-2 align-middle text-primary"></i>
        Możliwość zadawania pytań wykładowcy na chatcie
      </li>
      <li class="list-group-item bg-transparent">
        <i class="fe fe-file-text align-middle me-2 text-primary"></i>
        Autorskie materiały szkoleniowe
      </li>
    </ul>
  </div>
</div>
