{% extends 'core/pages/crm/extends/CrmBase.html' %} 
{% load static %}

{% block head_stylesheets %}

{% endblock head_stylesheets %}

{% block crm_content %}
    <h1>Archiwum</h1>

    
    {% include "core/includes/Pagination.html" with param_name="page" page_obj=page_obj %}
  

    <div class="table-responsive">
      <table class="table table-bordered  table-row-gray-900" style="border: 1px solid black;">
        <tbody>
          {% for webinar_ctx in webinars_ctxs %}
            {% include './snippets/CrmWebinarRow.html' with webinar_ctx=webinar_ctx %}
          {% endfor %}
        </tbody>
      </table>
    </div>

    {% include "core/includes/Pagination.html" with param_name="page" page_obj=page_obj %}

{% endblock crm_content %}

{% block body_scripts %}

{% endblock body_scripts %}
