{% extends 'core/pages/crm/extends/CrmBase.html' %} 
{% load static %}

{% block head_stylesheets %}

{% endblock head_stylesheets %}

{% block crm_content %}
    <h1>Archiwum</h1>

    <form action="{% url "core:crm_archived_webinars" %}" method="get">
      <div class="row mb-3">
        <div class="col-12">
          <input value="{{param_search}}" type="text" name="search" class="form-control" placeholder="Szukaj frazy...">
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-6 align-self-end">
          <button type="submit" class="btn btn-primary mb-3">Szukaj</button>
          {% if param_any %}
          <a href="{% url "core:crm_archived_webinars" %}" class="btn btn-danger mb-3">
            Resetuj wyszukiwanie
          </a>
          {% endif %}
        </div>
      </div>
    </form>
    
    {% include "core/includes/Pagination.html" with param_name="page" page_obj=page_obj %}
  

    <div class="table-responsive">
      <table class="table table-bordered  table-row-gray-900" style="border: 1px solid black;">
        <tbody>
          {% for webinar_ctx in webinars_ctxs %}
            {% include './snippets/CrmWebinarRow.html' with webinar_ctx=webinar_ctx %}
          {% endfor %}
        </tbody>
      </table>
    </div>

    {% include "core/includes/Pagination.html" with param_name="page" page_obj=page_obj %}

{% endblock crm_content %}

{% block body_scripts %}

{% endblock body_scripts %}
