{% extends 'core/pages/crm/extends/CrmBase.html' %} 
{% load static %}

{% block head_stylesheets %}{% endblock head_stylesheets %}

{% block crm_content %}

{% comment %} <div hx-get="{% url 'htmx:static-files-disc-space' %}" hx-trigger="click delay:1s"> {% endcomment %}
<div hx-get="{% url 'htmx:static-files-disc-space' %}" hx-trigger="load delay:1s">
  <img  alt="Ładowanie..." class="htmx-indicator" width="30" height="30" src="{% static 'media/misc/spinner.gif' %}"/>
  {% comment %} <button class="btn btn-sm btn-primary">Pokaż wolne miejsce na dysku</button> {% endcomment %}
</div>

{% if param_show_counters %}

<b>REGON</b>
<div
  hx-get="{% url "htmx:dwpldb:regon-queue-count" %}"
  hx-swap="outerHTML"
  hx-trigger="load">
  <img  alt="Ładowanie..." class="htmx-indicator" width="30" height="30" src="{% static 'media/misc/spinner.gif' %}"/>
</div>

<b>VERIFY</b>
<div
  hx-get="{% url "htmx:dwpldb:email-verify-queue-count" %}"
  hx-swap="outerHTML"
  hx-trigger="load">
  <img  alt="Ładowanie..." class="htmx-indicator" width="30" height="30" src="{% static 'media/misc/spinner.gif' %}"/>
</div>

<b>SCRAPER</b>
<div
  hx-get="{% url "htmx:dwpldb:scraper-queue-static-count" %}"
  hx-swap="outerHTML"
  hx-trigger="load">
  <img  alt="Ładowanie..." class="htmx-indicator" width="30" height="30" src="{% static 'media/misc/spinner.gif' %}"/>
</div>

<b>BISNODE</b>
<div
  hx-get="{% url "htmx:dwpldb:bisnode-2024-download-progress" %}"
  hx-swap="outerHTML"
  hx-trigger="load">
  <img  alt="Ładowanie..." class="htmx-indicator" width="30" height="30" src="{% static 'media/misc/spinner.gif' %}"/>
</div>

<hr>



<b>
  <a target="_blank" href="https://docs.google.com/document/d/10rPeZzv5lKR3rzH0YwmDaZ7gJCmLYeo0RMfAEV3asAs/edit?usp=sharing">
    Scraper - OSW_2025_02_16
  </a>
</b>
<br>

<button 
hx-get="{% url "htmx:dwpldb:scraper_procedure_progress" collection_fragment="OSW_2025_02_16" %}"
hx-trigger="click"
hx-indicator="#loading_OSW_2025_02_16"
hx-swap="outerHTML"
onclick="this.style.display='none'"
>
Kliknij, aby załadować statystyki. Klikaj pojedynczo i <b>czekaj aż się załaduje zanim klikniesz następne</b>, bo cię Rzepka dojedzie
</button>
<div id="result_OSW_2025_02_16"></div>
<div id="loading_OSW_2025_02_16" class="htmx-indicator">
  <img  alt="Ładowanie..." class="htmx-indicator" width="30" height="30" src="{% static 'media/misc/spinner.gif' %}"/>
</div>

<hr>

<b>
  <a target="_blank" href="https://docs.google.com/document/d/1jJO6twzszCS1_BYSqaVSeXN2SX32hZzFdClhwmFFgmI/edit?tab=t.0">
    Scraper - SM_2025_03_08
  </a>
</b>
<br>
<button 
    hx-get="{% url "htmx:dwpldb:scraper_procedure_progress" collection_fragment="SM_2025_03_08" %}"
    hx-trigger="click"
    hx-indicator="#loading_SM_2025_03_08"
    hx-swap="outerHTML"
    onclick="this.style.display='none'"
>
    Kliknij, aby załadować statystyki. Klikaj pojedynczo i <b>czekaj aż się załaduje zanim klikniesz następne</b>, bo cię Rzepka dojedzie
</button>
<div id="result_SM_2025_03_08"></div>
<div id="loading_SM_2025_03_08" class="htmx-indicator">
  <img  alt="Ładowanie..." class="htmx-indicator" width="30" height="30" src="{% static 'media/misc/spinner.gif' %}"/>
</div>

<hr>

<b>
  <a target="_blank" href="https://docs.google.com/document/d/1jJO6twzszCS1_BYSqaVSeXN2SX32hZzFdClhwmFFgmI/edit?tab=t.0">
    Scraper - SZPITAL_2025_03_16
  </a>
</b>
<br>
<button 
    hx-get="{% url "htmx:dwpldb:scraper_procedure_progress" collection_fragment="SZPITAL_2025_03_16" %}"
    hx-trigger="click"
    hx-indicator="#loading_SZPITAL_2025_03_16"
    hx-swap="outerHTML"
    onclick="this.style.display='none'"
>
    Kliknij, aby załadować statystyki. Klikaj pojedynczo i <b>czekaj aż się załaduje zanim klikniesz następne</b>, bo cię Rzepka dojedzie
</button>
<div id="result_SZPITAL_2025_03_16"></div>
<div id="loading_SZPITAL_2025_03_16" class="htmx-indicator">
  <img  alt="Ładowanie..." class="htmx-indicator" width="30" height="30" src="{% static 'media/misc/spinner.gif' %}"/>
</div>

<hr>

<b>
  <a target="_blank" href="https://docs.google.com/document/d/1jJO6twzszCS1_BYSqaVSeXN2SX32hZzFdClhwmFFgmI/edit?tab=t.0">
    Scraper - TSL_2025_04_22
  </a>
</b>
<br>
<button 
    hx-get="{% url "htmx:dwpldb:scraper_procedure_progress" collection_fragment="TSL_2025_04_22" %}"
    hx-trigger="click"
    hx-indicator="#loading_TSL_2025_04_22"
    hx-swap="outerHTML"
    onclick="this.style.display='none'"
>
    Kliknij, aby załadować statystyki. Klikaj pojedynczo i <b>czekaj aż się załaduje zanim klikniesz następne</b>, bo cię Rzepka dojedzie
</button>
<div id="result_TSL_2025_04_22"></div>
<div id="loading_TSL_2025_04_22" class="htmx-indicator">
  <img  alt="Ładowanie..." class="htmx-indicator" width="30" height="30" src="{% static 'media/misc/spinner.gif' %}"/>
</div>

<hr>

{% endif %}

<b>MAILING_NUM_OF_PROCESSES</b>
{{mailing_processes_num}}
<br>

{% if sent_today_paid_applications_count %}
  <b>
    DZISIAJ ZGŁOSZEŃ:
    <span class="fs-4">{{sent_today_paid_applications_count}}</span>
  </b>
  &nbsp;|&nbsp;
  <b class="bg-dark text-white px-2">
    {{today_total_netto}} NETTO
  </b>
  <br>
  {% for sent_today_paid_application, sent_today_paid_application_count_participants, sent_today_paid_application_netto in sent_today_paid_applications_with_netto %}
    {{forloop.counter}}.)
    <b class="bg-dark text-white px-2">
      {{sent_today_paid_application_netto}} NETTO / {{sent_today_paid_application_count_participants}} ucz.
    </b>
  
    <b class="ms-1">{{sent_today_paid_application.webinar.lecturer}}</b>
    {{sent_today_paid_application.webinar.title|truncatechars:60}}
    <br>
  {% endfor %}
  {% else %}
  <b>BRAK DZISIAJ ZGŁOSZEŃ</b>
{% endif %}

<hr>

{% if 0 %}
<div hx-get="{% url "htmx:htmx_annoying_alerts" %}" hx-trigger="load">
  <img  alt="Ładowanie..." class="htmx-indicator" width="30" height="30" src="{% static 'media/misc/spinner.gif' %}"/>
</div>
{% endif %}

{% if crm_notes %}
{% for crm_note in crm_notes %}
<div class="alert alert-{{crm_note.color}} d-flex align-items-center p-5">
  <div class="d-flex flex-column">
      <h4 class="mb-1 text-dark">
        {{crm_note.note_title|safe}}
        <a href="{% url "admin:core_crmnote_change" object_id=crm_note.id %}">🔗</a>
      </h4>
      <span>
        {{crm_note.note_content_html|safe}}
      </span>
      {% if crm_note.deadline %}
      {% endif %}
      <br>
      {% if crm_note.deadline_progress_remaining_days %}
      <span>
        Pozostało: <b>{{crm_note.deadline_progress_remaining_days}} dni</b> ( Deadline {{crm_note.deadline|date:"j E Y H:i"}} )
      </span>
      <div class="h-8px bg-secondary rounded mb-1">
        <div class="bg-{{crm_note.deadline_progress_color}} rounded h-8px" style="width: {{crm_note.deadline_progress_percent}}%;"></div>
      </div>
      {% else %}
      <span>
        PO TERMINIE ({{crm_note.deadline|date:"j E Y H:i"}})
      </span>
      {% endif %}
  </div>
</div>
{% endfor %}
<hr>
{% endif %}


<!--begin::Toolbar-->
<div class="toolbar d-flex flex-stack flex-wrap mb-5 mt-5 mb-lg-7" id="kt_toolbar">
  <!--begin::Page title-->
  <div class="page-title d-flex flex-column py-1">
      <!--begin::Title-->
      <h1 class="d-flex align-items-center my-1">
          <span class="text-dark fw-bold fs-1">Nadchodzące szkolenia</span>
          <!--begin::Description-->
          <small class="text-muted fs-6 fw-semibold ms-1">
            ( {{upcoming_webinars_count}} )
          </small>
          <!--end::Description-->
      </h1>
      <!--end::Title-->
  </div>
  <!--end::Page title-->
  <!--begin::Actions-->
  <div class="d-flex align-items-center py-1">
      <a
        href="."
        class="btn btn-icon btn-secondary me-4"
        data-bs-toggle="tooltip" data-bs-custom-class="tooltip-inverse" data-bs-placement="top" title="Odśwież listę"
      ><i class="ki-solid ki-arrows-circle fs-4"></i></a>
      <a 
          href="./?show_counters=1"
          class="btn btn-flex btn-sm btn-secondary fw-bold border-0 fs-6 h-40px me-4"
      >Pokaż liczniki</a>
      <a 
          href="{% url 'admin:core_webinar_add' %}"
          class="btn btn-flex btn-sm btn-primary fw-bold border-0 fs-6 h-40px"
      >Dodaj szkolenie</a>
  </div>
  <!--end::Actions-->
</div>
<!--end::Toolbar-->


<!--begin::Toolbar-->
<div class="toolbar d-flex flex-stack flex-wrap justify-content-end mb-5 mb-lg-7">
  <!--begin::Actions-->
  <div class="d-flex align-items-center py-1">

  </div>
  <!--end::Actions-->
</div>
<!--end::Toolbar-->

<div>
  <hr>
  <form method="get" action="{% url "core:crm_upcoming_webinars" %}">
    
    <div class="row mb-3">
      <div class="col-12">
        <input value="{{param_search}}" type="text" name="search" class="form-control" placeholder="Szukaj frazy...">
      </div>
    </div>
    
    <div class="row mb-3">
      <div class="col-4">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="1" name="show_only_drafts" id="param_show_only_drafts" {% if param_show_only_drafts %}checked{% endif %}>
          <label class="form-check-label" for="param_show_only_drafts">
            <b>Pokaż tylko wersje robocze</b>
          </label>
        </div>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-4">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="1" name="hide_old" id="param_hide_old" {% if param_hide_old %}checked{% endif %}>
          <label class="form-check-label" for="param_hide_old">
            <b>Ukryj stare terminy</b>
          </label>
        </div>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-4">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="1" name="hide_fake" id="param_hide_fake" {% if param_hide_fake %}checked{% endif %}>
          <label class="form-check-label" for="param_hide_fake">
            <b>Ukryj fake'owe terminy</b>
          </label>
        </div>
      </div>
    </div>

    {% comment %} <div class="row mb-3">
      <div class="col-4">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="1" name="mailing_mode" id="param_mailing_mode" {% if param_mailing_mode %}checked{% endif %}>
          <label class="form-check-label" for="param_mailing_mode">
            <b><u>Tryb mailingowy</u></b>
          </label>
        </div>
      </div>
    </div> {% endcomment %}
    
    <div class="row mb-3">
      <div class="col-6 align-self-end">
        <button type="submit" class="btn btn-primary mb-3">Szukaj</button>
        {% if param_any %}
        <a href="{% url "core:crm_upcoming_webinars" %}" class="btn btn-danger mb-3">
          Resetuj wyszukiwanie
        </a>
        {% endif %}
      </div>
    </div>

  </form>

  <hr>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Szczegóły</th>
        <th scope="col">Status</th>
        <th scope="col">Informacje</th>
      </tr>
    </thead>
    <tbody>
      {% for webinar_ctx in webinars_ctxs_upcoming_webinar_row %}
        {% include './snippets/CrmWebinarRow.html' with webinar_ctx=webinar_ctx forloop_counter=forloop.counter0 %}
      {% empty %}
      <tr>
        <td colspan="4">
          <p class="fs-3 text-center">
            Brak szkoleń o podanych kryteriach wyszukiwania.
            <a href="{% url "core:crm_upcoming_webinars" %}">
              Resetuj wyszukiwanie
            </a>
          </p>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<div id="modals-here"
class="modal modal-blur fade"
style="display: none"
aria-hidden="false"
tabindex="-1">
<div class="modal-dialog modal-xl" role="document">
    <div class="modal-content"></div>
</div>
</div>

<!--begin::Toast-->
<div class="position-fixed top-0 end-0 p-3 bg-light-danger" style="z-index: 9999;">
    <div id="kt_docs_toast_toggle" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <i class="ki-duotone ki-clipboard fs-2 text-danger me-3"><span class="path1"></span><span class="path2"></span></i>
            <strong class="me-auto">Wiadomość systemowa</strong>
            <small>przed chwilą</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            Skopiowano wartość NETTO do schowka
        </div>
    </div>
</div>
<!--end::Toast-->

{% endblock crm_content %}

{% block body_scripts %}
<script>
function ShowClipboardMsg() {
  const toastElement = document.getElementById('kt_docs_toast_toggle');
  const toast = bootstrap.Toast.getOrCreateInstance(toastElement);
  toast.show();
}
</script>
{% endblock body_scripts %}
