{% extends 'core/pages/crm/extends/CrmBase.html' %} 
{% load static %}

{% block head_stylesheets %}

{% endblock head_stylesheets %}

{% block crm_content %}

<div class="card shadow-sm">
  <div class="card-header collapsible cursor-pointer rotate" data-bs-toggle="collapse" data-bs-target="#kt_docs_card_collapsible">
      <h3 class="card-title">Co nowego w wersji {{VERSION_NUMBER}} {{VERSION_DATE}}</h3>
      <div class="card-toolbar rotate-180">
          <i class="ki-duotone ki-down fs-1"></i>
      </div>
  </div>
  <div id="kt_docs_card_collapsible" class="collapse">
      <div class="card-body">
        <pre>        

v1.7.0
- dodano ręczne przekierowania
- dodano wstępne konferencje/cykliczne webinary
- dodano leady
- dodano informowanie przez telegram gdy procesy mailingowe napotkają na nieprzewidziany wyjątek
- dodano formularz dla startych terminów jak na Verte

v1.6.0
- dodano dodawanie opinii dla wykładowcy
- dodano `zaufali nam` w kategorii
- przerobiono sposób w jaki wyświetlane są kategorie

v1.5.0
- dodano wysyłanie faktury dla pojedynczego zgłoszenia z opcją nie wysyłania faktury na maila od razu
- dodano opcję nie wysyłania faktur na maila przy zakańczaniu szkolenia
- poprawiono skrypt `mailing_processing` w taki sposób, że maila są przetwarzane po równo dla każdej aktywnej kampanii, a nie po kolej.
- dodano szybkie tworzenie kampanii mailingowej na podstawie szkolenia.
- uwagi na fakturze można ustawić w CMS; Będą widoczne w fakturach w fakturowni.
- zwolnienie z VAT; Select w formularzu zgłoszeniowym; Wyliczanie brutto przy braku zwolnienia;
- poprawiono generacje og:image tak, aby tytuł nie nachodził na imię i nazwisko wykładowcy
- dodano podgląd domyślnego obrazka og:image pod przyciskiem "Dla pracownika" na stronie terminu
- usunięto pole `auto_send_invoices` z modelu webinaru
- znaczniki HTML `&lt;br /&gt;` są usuwane z programu szkolenia po zapisie w CMS

v1.4.1
- dodano alert w CRM gdy jest się na środowisko `staging`
- poprawiono regulamin program loj. (50% do 10%)
- poprawiono skrypty `mailing_processing` i `mailing_sending`
- drobne poprawki wizualne
- poprawki w dokumentacji kodu żródłowego

v1.4.0
- Dodano wykrywanie duplikatów zgłoszeń / uczestników
- E-mail udsotępniający nagranie zawiera teraz datę i godzinę wygaśnięcia szkolenia
- Zmieniono netto na brutto: "Wartość BRUTTO szkolenia / Cena BRUTTO wykładowcy"
- CRM zakładka Nagrania wyświetla typ dostępu + kolory gdy wygasa / odmówiono dostępu
- Można określić na ile godzin nagranie ma zostać udostępnione przy wysyłanie dostępu do wszystkich uczestników.
- Nie da się teraz dodać szkolenia z dostępnym nagraniem jeśli wykładowca został oznaczony jako niezgadzający się na nagranie.
- Dodano stronę CRM 'Statystyki'
- Strona materiałów szkoleniowych dla webinaru:
  - ma teraz nowy szablon.
  - kiedy nie ma materiałów wyświetla się informacja, że będą jak wykładowca dostarczy.
  - dodano reklamę programu partnerskiego
  - dodano pobieranie wszystkich materiałów jako archiwum ZIP
- "Brak szkoleń" już się nie pokazuje we "Wszystkie kategorie" i na stronie głównej
- Dodano "edytor" szablonu mailingowego
- W trakcie dodawania lepszego antyspamu (frazy)
- Refactoring sktyptów wysyłkowych `mailing_processing` i `mailing_sending`
- Mailingi widać w nadchodzących szkoleniach w CRM


v1.3.1
- uczestnicy w panelu CRM szkolenia są teraz posortowani w kolejności alfabetycznej, według imienia.
- po wysłaniu dostępu do nagrania do uczesnitków szkolenia wysyłana jest także wiadomość na Telegramie
- dodano "Moje nagrania"


v1.3.0
- Teraz jak jest się zalogowanym na konto admin@admin.pl (posiadające uprawnienia "członka zespołu" / pracownika), przy wysyłaniu zgłoszeń NIE będą się wysyłać powiadomienia
- dodano możliwości udostępniania nagrania przez:
1. hasło
2. uproszczoną rejestrację (domyślna)
3. dostęp otwarty (przez link)
- istniejące dla zgłoszenia zniżki już nie blokują usuwania tego zgłoszenia 
- da się teraz przesłać z poziomu CRM emaile z linkiem do nagrania ze szkolenia do uczestników szkolenia
        </pre>
      </div>
  </div>
</div>

<!--begin::Toolbar-->
<div class="toolbar d-flex flex-stack flex-wrap mb-5 mt-5 mb-lg-7" id="kt_toolbar">
  <!--begin::Page title-->
  <div class="page-title d-flex flex-column py-1">
      <!--begin::Title-->
      <h1 class="d-flex align-items-center my-1">
          <span class="text-dark fw-bold fs-1">Nadchodzące szkolenia</span>
          <!--begin::Description-->
          <small class="text-muted fs-6 fw-semibold ms-1">
            ( {{upcoming_webinars_count}} )
          </small>
          <!--end::Description-->
      </h1>
      <!--end::Title-->
  </div>
  <!--end::Page title-->
  <!--begin::Actions-->
  <div class="d-flex align-items-center py-1">
      <a
        href="."
        class="btn btn-icon btn-secondary me-4"
        data-bs-toggle="tooltip" data-bs-custom-class="tooltip-inverse" data-bs-placement="top" title="Odśwież listę"
      ><i class="ki-solid ki-arrows-circle fs-4"></i></a>
      <a 
          href="{% url 'admin:core_webinar_add' %}"
          class="btn btn-flex btn-sm btn-primary fw-bold border-0 fs-6 h-40px"
      >Dodaj szkolenie</a>
  </div>
  <!--end::Actions-->
</div>
<!--end::Toolbar-->


<!--begin::Toolbar-->
<div class="toolbar d-flex flex-stack flex-wrap justify-content-end mb-5 mb-lg-7">
  <!--begin::Actions-->
  <div class="d-flex align-items-center py-1">
    {% if param_search %}
    <a href="{% url "core:crm_upcoming_webinars" %}" class="me-3 fw-bold text-danger">
      Resetuj wyszukiwanie
    </a>
    {% endif %}
    <form method="get" action="{% url "core:crm_upcoming_webinars" %}">
      <div class="input-group mb-3">
        <input value="{{param_search}}" type="text" name="search" class="form-control" placeholder="Szukaj...">
        <button class="btn btn-secondary" type="submit">
          <i class="bi bi-search"></i>
        </button>
      </div>
    </form>
  </div>
  <!--end::Actions-->
</div>
<!--end::Toolbar-->

<div class="table-responsive">
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Szczegóły</th>
        <th scope="col">Status</th>
        <th scope="col">Pozostało</th>
      </tr>
    </thead>
    <tbody>
      {% for webinar_ctx in webinars_ctxs %}
        {% include './snippets/CrmWebinarRow.html' with webinar_ctx=webinar_ctx forloop_counter=forloop.counter0 %}
      {% endfor %}
    </tbody>
  </table>
</div>

<div id="modals-here"
class="modal modal-blur fade"
style="display: none"
aria-hidden="false"
tabindex="-1">
<div class="modal-dialog modal-xl" role="document">
    <div class="modal-content"></div>
</div>
</div>


{% endblock crm_content %}

{% block body_scripts %}
<script src="{% static 'js/htmx.min.js' %}"></script>
<script>
    document.body.addEventListener('htmx:configRequest', (event) => {
        event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
    })
</script>
{% endblock body_scripts %}
