{% extends './CrmWebinarBase.html' %}
{% load static %}
{% load custom_templatetags %}

{% block head_stylesheets %}
<link href="{% static 'plugins/custom/datatables/datatables.bundle.css' %}" rel="stylesheet" type="text/css"/>
{% endblock head_stylesheets %}

{% block crm_webinar_content %}
<!--begin::Row-->
<div class="row g-6 g-xl-9 mb-10">
    <!--begin::Col-->
    <div class="col-md-6 col-xl-6">
        <div class="card shadow-sm card-flush h-md-100 mb-5 mb-xl-10">
            <!--begin::Header-->
            <div class="card-header pt-5">
                <!--begin::Title-->
                <div class="card-title d-flex flex-column">
                    <!--begin::Info-->
                    <div class="d-flex align-items-center">
                        <!--begin::Currency-->
                        <span class="fs-4 fw-semibold text-gray-400 me-1 align-self-start">PLN</span>
                        <!--end::Currency-->
                        <!--begin::Amount-->
                        <span class="fs-2hx fw-bold text-dark me-2 lh-1 ls-n2">
                            {{total_netto_value_of_webinar_display}}
                        </span>
                        <!--end::Amount-->
                    </div>
                    <!--end::Info-->
                    <!--begin::Subtitle-->
                    <span class="text-gray-400 pt-1 fw-semibold fs-6">
                        Wartość NETTO szkolenia
                    </span>
                    <!--end::Subtitle-->
                </div>
                <!--end::Title-->
            </div>
            <!--end::Header-->
            <!--begin::Card body-->
            <div class="card-body pt-2 pb-4 d-flex align-items-center">
                <!--begin::Labels-->
                <div class="d-flex flex-column content-justify-center w-100">
                    
                    {% for name_display, name, count in get_groupby_application_type_count %}
                    <!--begin::Label-->
                    <div class="d-flex fs-6 fw-semibold align-items-center mb-3">
                        <!--begin::Bullet-->
                        {% if name == "COMPANY" %}
                        <div class="bullet w-8px h-6px rounded-2 bg-primary me-3"></div>
                        {% elif name == "JSFP" %}
                        <div class="bullet w-8px h-6px rounded-2 bg-danger me-3"></div>
                        {% elif name == "PRIVATE_PERSON" %}
                        <div class="bullet w-8px h-6px rounded-2 bg-success me-3"></div>
                        {% else %}
                        <div class="bullet w-8px h-6px rounded-2 bg-secondary me-3"></div>
                        {% endif %}
                        <!--end::Bullet-->
                        <!--begin::Label-->
                        <div class="text-gray-500 flex-grow-1 me-4">{{name_display}}</div>
                        <!--end::Label-->
                        <!--begin::Stats-->
                        <div class="fw-bolder text-gray-700 text-xxl-end">{{count}}</div>
                        <!--end::Stats-->
                    </div>
                    <!--end::Label-->
                    {% endfor %}
                </div>
                <!--end::Labels-->
            </div>
            <!--end::Card body-->
        </div>
    </div>
    <!--end::Col-->
    <!--begin::Col-->
    <div class="col-md-6 col-xl-6">
        <div class="card shadow-sm card-flush h-md-100 mb-xl-10">
            <div
                hx-get="/htmx/crm-lecturer-price-card/{{webinar.id}}/result/"
                hx-trigger="load">
            </div>
        </div>
    </div>
    <!--end::Col-->
    <!--start::Col-->
    <div class="col-md-12">


        <div class="card shadow-sm">
            <div class="card-header">
                <h3 class="card-title">Uczestnicy ({{gathered_participants_count}})</h3>
            </div>
            <div class="card-body">


                <table id="kt_participants_table" class="table table-row-bordered gy-5">
                    <thead>
                        <tr class="fw-semibold fs-6 text-gray-800">
                            <th>Imię i Nazwisko</th>
                            <th>E-mail</th>
                            <th>Telefon</th>
                            <th>Zadzwoniono przed szkoleniem</th>
                            <th>Info</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for participant in gathered_participants %}
                        <tr>
                            <td>{{participant.fullname}}</td>
                            <td>{{participant.email}}</td>
                            <td>{{participant.phone}}</td>
                            <td>-</td>
                            <td>
                                <i
                                    class="ki-duotone ki-youtube fs-2qx me-2"
                                    data-bs-toggle="tooltip"
                                    data-bs-custom-class="tooltip-inverse"
                                    data-bs-placement="top"
                                    title="Nie wysłano zaprosznia do Clickmeeting"
                                    style="cursor: pointer;"
                                >
                                    <i class="path1"></i>
                                    <i class="path2"></i>
                                </i>
                                <i
                                    class="ki-duotone ki-sms fs-2qx me-2"
                                    data-bs-toggle="tooltip"
                                    data-bs-custom-class="tooltip-inverse"
                                    data-bs-placement="top"
                                    title="Nie sprawdzono serwera pocztowego"
                                    style="cursor: pointer;"
                                >
                                    <i class="path1"></i>
                                    <i class="path2"></i>
                                </i>
                                <i
                                    class="ki-duotone ki-question fs-2qx me-2"
                                    data-bs-toggle="tooltip"
                                    data-bs-custom-class="tooltip-inverse"
                                    data-bs-placement="top"
                                    title="Nowy uczestnik"
                                    style="cursor: pointer;"
                                >
                                    <i class="path1"></i>
                                    <i class="path2"></i>
                                    <i class="path3"></i>
                                </i>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
        
        
        <div class="card shadow-sm mt-4">
            <div class="card-header">
                <h3 class="card-title">Szczegóły zgłoszeń ({{sent_applications_count}})</h3>
            </div>
            <div class="card-body">

                <table id="kt_applications_table" class="table table-striped border rounded gy-5 gs-7">
                    <thead>
                        <tr class="fw-semibold fs-6 text-gray-800">
                            <th class="min-w-150px" data-priority="1">Nabywca <br> szkolenia</th>
                            <th class="min-w-50px">NIP</th>
                            <th class="min-w-50px">Typ <br> zgłoszenia</th>
                            <th class="min-w-150px">Osoba <br> zgłaszająca</th>
                            <th class="min-w-50px">Uczestników <br> szkolenia</th>
                            <th class="min-w-50px">Za <br> osobę</th>
                            <th class="min-w-50px">Wartość <br> zgłoszenia</th>
                            <th class="min-w-50px">Zgłoszenie <br> wysłano</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for application in sent_applications %}
                        <tr>
                            <td>
                                <a href="{% url 'admin:core_webinarapplication_change' object_id=application.id %}">
                                {% if application.application_type == "COMPANY" or application.application_type == "JSFP" %}
                                    <span class="fw-bold {% if application.application_type == "COMPANY" %}text-primary{% else %}text-danger{% endif %}" title="{{application.buyer.name}}">
                                        {{application.buyer.name|shorten:7}}
                                    </span>
                                {% elif application.application_type == "PRIVATE_PERSON" %}
                                    <span class="fw-bold text-success" title="{{application.private_person.fullname}}">
                                        {{application.private_person.fullname|shorten:7}}
                                    </span>
                                {% endif %}
                                </a>
                            </td>
                            <td>
                                {% if application.application_type == "PRIVATE_PERSON" %}
                                -
                                {% else %}
                                <div class="d-flex flex-column">
                                    {% if application.buyer.nip %}
                                        <span>N={{application.buyer.nip}}</span>
                                    {% endif %}
                                    {% if application.recipient.nip %}
                                    <span>O={{application.recipient.nip}}</span>
                                    {% endif %}
                                </div>
                                {% endif %}
                            </td>
                            <td>
                                {{application.get_application_type_display}}
                            </td>
                            <td>
                                <div class="d-flex flex-column">
                                    <span><b>{{application.submitter.fullname}}</b></span>
                                    <span>{{application.submitter.email}}</span>
                                    <span>{{application.submitter.phone}}</span>
                                </div>
                            </td>
                            <td>{{application.participants.count}}</td>
                            <td>{{application.total_price_netto}}zł</td>
                            <td>{{application.total_price_netto}}zł</td>
                            <td>
                                {{application.created_at|date:"j E Y"}} godz. {{application.created_at|date:"H:i"}}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>



            </div>
        </div>
    
    </div>
    <!--end::Col-->
    
</div>
<!--end::Row-->
{% endblock crm_webinar_content %}

{% block body_scripts %}
<script src="{% static 'plugins/custom/datatables/datatables.bundle.js' %}"></script>
<script>
    $("#kt_applications_table").DataTable({
        responsive: true,
        pageLength: 25,
    });
    $("#kt_participants_table").DataTable({
        pageLength: 25
    });
</script>
{% endblock body_scripts %}
