{% extends 'core/pages/crm/extends/CrmBase.html' %}
{% load static %}

{% block head_stylesheets %}

{% endblock head_stylesheets %}

{% block crm_content %}


<!--start::Col-->
<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Potwierdź termin szkolenia</h3>
        </div>
        <div class="card-body">


            {% if not webinar.lecturer.email %}
            <p class="text-danger fw-bold">
                Wykładowca nie ma podanego adresu E-mail ! Zaproszenie do ClickMeeting nie zostanie do niego wysłane.
            </p>
            {% endif %}


            <hr>
            <form method="post" action="{% url 'core:crm_webinar_confirm' pk=webinar.pk %}">
                {% csrf_token %}
                {{form.i_am_sure}}
                <input
                    id="confirm-submit-btn"
                    type="submit"
                    value="Potwierdź"
                    disabled
                >
            </form>
        </div>
    </div>
</div>
<!--end::Col-->

{% endblock crm_content %}

{% block body_scripts %}
<script>
    var checkInput = document.querySelector("#id_i_am_sure");
    checkInput.addEventListener("click", function(e) {
        let btn = document.querySelector("#confirm-submit-btn");
        btn.disabled = !btn.disabled;
    })
</script>
{% endblock body_scripts %}
