{% extends './CrmWebinarBase.html' %}
{% load static %}

{% block head_stylesheets %}
<link href="{% static 'plugins/custom/datatables/datatables.bundle.css' %}" rel="stylesheet" type="text/css"/>
{% endblock head_stylesheets %}

{% block crm_webinar_content %}

<!--begin::Row-->
<div class="row g-6 g-xl-9 mb-10">
  <!--begin::Col-->
  <div class="col-md-12 col-xl-12">
    <div class="card shadow-sm">
      <div class="card-header">
        <h3 class="card-title">Uczestnicy</h3>
      </div>
      <div class="card-body">
        {% for participant in participants %}
          <p>{{participant.email}}</p>
        {% endfor %}
        
        <hr>
        
        {% for participant in participants %}
          <p>{{participant.first_name}}</p>
          <p>{{participant.last_name}}</p>
          <p>{{participant.email}}</p>
          <p>{{participant.phone}}</p>
        {% endfor %}

        <hr>

        <table id="kt_datatable_zero_configuration" class="table table-row-bordered gy-5">
          <thead>
              <tr class="fw-semibold fs-6 text-muted">
                  <th>Name</th>
                  <th>Position</th>
                  <th>Office</th>
                  <th>Age</th>
                  <th>Start date</th>
                  <th>Salary</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <td>Tiger Nixon</td>
                  <td>System Architect</td>
                  <td>Edinburgh</td>
                  <td>61</td>
                  <td>2011/04/25</td>
                  <td>$320,800</td>
              </tr>
              <tr>
                  <td>Garrett Winters</td>
                  <td>Accountant</td>
                  <td>Tokyo</td>
                  <td>63</td>
                  <td>2011/07/25</td>
                  <td>$170,750</td>
              </tr>
              <tr>
                  <td>Ashton Cox</td>
                  <td>Junior Technical Author</td>
                  <td>San Francisco</td>
                  <td>66</td>
                  <td>2009/01/12</td>
                  <td>$86,000</td>
              </tr>
          </tbody>
          <tfoot>
              <tr>
                  <th>Name</th>
                  <th>Position</th>
                  <th>Office</th>
                  <th>Age</th>
                  <th>Start date</th>
                  <th>Salary</th>
              </tr>
          </tfoot>
      </table>

      </div>
      <div class="card-footer">
      </div>
    </div>
  </div>
  <!--end::Col-->
</div>
<!--end::Row-->
{% endblock crm_webinar_content %}

{% block body_scripts %}
<script src="{% static 'plugins/custom/datatables/datatables.bundle.js' %}"></script>
<script>
  $("#kt_datatable_zero_configuration").DataTable();
</script>
{% endblock body_scripts %}
