{% extends 'core/pages/crm/extends/CrmBase.html' %} 
{% load static %}

{% block head_stylesheets %}{% endblock head_stylesheets %}

{% block crm_content %}

<h1>Duplikuj Hurtowo</h1>

{% if webinar.is_default_program %}
<p class="fw-bold fs-3 text-white fw-bold bg-danger p-3">
    Uwaga. Coś jest nie tak z programem tego szkolenia. Jest pusty LUB domyślny LUB podejrznie krótki.
</p>
<p class="fw-bold fs-3 text-white fw-bold bg-danger p-3">
    Napraw to przed duplikacją, bo inaczej będzie bolało.
</p>
{% endif %}

<hr>

<h2>Ile terminów chcesz stworzyć z tego terminu?</h2>

{% for idx in menu %}
    {% if extra == idx|add:-1 %}
        <button disabled class="btn btn-sm btn-secondary p-1 px-2">{{idx}} termin/y</button>
    {% else %}
        <a href="./?extra={{idx|add:-1}}" class="btn btn-sm btn-primary p-1 px-2">{{idx}} termin/y</a>
    {% endif %}
{% endfor %}

<hr>

<h3>Obecnie formularz jest ustawiony na stworzenie <u>{{extra|add:1}} termin/y/ów</u></h3>

<hr>

<form
    method="post"
    action="{% url "core:crm_webinar_bulk_duplicate" pk=webinar.pk %}?extra={{extra}}&next={{next_redirect}}"
    onsubmit="actionSubmit.disabled = true; return true;"
>
    {% csrf_token %}
    {{ formset.management_form }}
    {% for form in formset %}
        <div>
        <h3>Termin {{forloop.counter}} z {{extra|add:1}}</h3>
        {% for field in form %}
            {{ field.label_tag }} {{ field }}
            {% if field.errors %}
                <div class="errors">
                    {{ field.errors }}
                </div>
            {% endif %}
            <br>
        {% endfor %}
        </div>
        <hr>
    {% endfor %}
    <hr>
    <input type="submit" name="actionSubmit" value=">>> Duplikuj termin <<<" class="btn btn-primary"/>
</form>

{% endblock crm_content %}

{% block body_scripts %}{% endblock body_scripts %}
