{% extends './CrmWebinarBase.html' %}
{% load static %}
{% load custom_templatetags %}

{% block head_stylesheets %}
<link href="{% static 'plugins/custom/datatables/datatables.bundle.css' %}" rel="stylesheet" type="text/css"/>
{% endblock head_stylesheets %}

{% block crm_webinar_content %}
<!--begin::Row-->
<div class="row g-6 g-xl-9 mb-10">
    <!--begin::Col-->
    <div class="col-md-6 col-xl-6">
        <div class="card shadow-sm card-flush h-md-100 mb-5 mb-xl-10">
            <!--begin::Header-->
            <div class="card-header pt-5">
                <!--begin::Title-->
                <div class="card-title d-flex flex-column">
                    <!--begin::Info-->
                    <div class="d-flex align-items-center">
                        <!--begin::Currency-->
                        <span class="fs-4 fw-semibold text-gray-400 me-1 align-self-start">PLN</span>
                        <!--end::Currency-->
                        <!--begin::Amount-->
                        <span class="fs-2hx fw-bold text-dark me-2 lh-1 ls-n2">
                            {{total_netto_value_of_webinar_display}}
                        </span>
                        <!--end::Amount-->
                    </div>
                    <!--end::Info-->
                    <!--begin::Subtitle-->
                    <span class="text-dark pt-1 fw-semibold fs-6">
                        Wartość <b><u>NETTO</u></b> szkolenia
                        {% if uncertain_participants_count %}
                        <span class="bg-warning px-2 fw-bold">
                            ({{uncertain_participants_count}} niepewnych)
                        </span>
                        {% endif %}
                    </span>
                    <!--end::Subtitle-->
                </div>
                <!--end::Title-->
            </div>
            <!--end::Header-->
            <!--begin::Card body-->
            <div class="card-body pt-2 pb-4 d-flex align-items-center">
                <!--begin::Labels-->
                <div class="d-flex flex-column content-justify-center w-100">
                    
                    {% for name_display, name, count in get_groupby_application_type_count %}
                    <!--begin::Label-->
                    <div class="d-flex fs-6 fw-semibold align-items-center mb-3">
                        <!--begin::Bullet-->
                        {% if name == "COMPANY" %}
                        <div class="bullet w-8px h-6px rounded-2 bg-primary me-3"></div>
                        {% elif name == "JSFP" %}
                        <div class="bullet w-8px h-6px rounded-2 bg-danger me-3"></div>
                        {% elif name == "PRIVATE_PERSON" %}
                        <div class="bullet w-8px h-6px rounded-2 bg-success me-3"></div>
                        {% else %}
                        <div class="bullet w-8px h-6px rounded-2 bg-secondary me-3"></div>
                        {% endif %}
                        <!--end::Bullet-->
                        <!--begin::Label-->
                        <div class="text-gray-500 flex-grow-1 me-4">{{name_display}}</div>
                        <!--end::Label-->
                        <!--begin::Stats-->
                        <div class="fw-bolder text-gray-700 text-xxl-end">{{count}}</div>
                        <!--end::Stats-->
                    </div>
                    <!--end::Label-->
                    {% endfor %}
                </div>
                <!--end::Labels-->
            </div>
            <!--end::Card body-->
        </div>
    </div>
    <!--end::Col-->
    <!--begin::Col-->
    <div class="col-md-6 col-xl-6">
        <div class="card shadow-sm card-flush h-md-100 mb-xl-10">
            <div
                hx-get="{% url 'htmx:lecturer-price:panel' webinar_pk=webinar.pk mode='result' %}"
                hx-trigger="intersect once delay:6s"
            >
                <img class="htmx-indicator" width="25" src="{% static "media/loading/bars.svg" %}"/>
            </div>
        </div>
    </div>
    <!--end::Col-->
    
    {% if gathered_participants %}
    <!--start::Col-->
    <div class="col-md-12">

        <div class="card shadow-sm">
            <div
                class="card-header collapsible cursor-pointer rotate"
                data-bs-toggle="collapse"
                data-bs-target="#kt_card_email_copy"
            >
                <h3 class="card-title">
                    Wszystkie E-maile uczestników biorących udział w szkoleniu ({{gathered_participants_count}})
                </h3>
                <div class="card-toolbar rotate-180">
                    <i class="ki-duotone ki-down fs-1"></i>
                </div>
            </div>
            <div id="kt_card_email_copy" class="collapse">
                <div class="card-body">
                    <ol>
                        {% for gathered_participant in gathered_participants %}
                            <li>{{gathered_participant.email}}</li>
                        {% endfor %}
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!--end::Col-->
    {% endif %}

    {% if buyer_nip_duplicates or recipient_nip_duplicates or participant_email_duplicates %}
    <div class="col-md-12">

        <div class="card shadow-sm">
            <div
                class="card-header collapsible cursor-pointer rotate"
                data-bs-toggle="collapse"
                data-bs-target="#kt_card_duplicates"
            >
                <h3 class="card-title">
                    <span class="fw-bold text-danger">&gt;&gt; Duplikaty &lt;&lt;</span>
                </h3>
                <div class="card-toolbar rotate-180">
                    <i class="ki-duotone ki-down fs-1"></i>
                </div>
            </div>
            <div id="kt_card_duplicates" class="collapse show">
                <div class="card-body">
                    <p>Ten termin szkolenia prawdopodobnie posiada <b>duplikaty</b> zgłoszeń (i/lub) uczestników.</p>
                    {% if buyer_nip_duplicates or recipient_nip_duplicates %}
                        <p><b>Zgłoszenia:</b></p>
                        {% if buyer_nip_duplicates %}
                            <p>Zduplikowani nabywcy:</p>
                            <ol>{% for nip in buyer_nip_duplicates %}<li>{{nip}}</li>{% endfor %}</ol>
                        {% endif %}
                        {% if recipient_nip_duplicates %}
                            <p>Zduplikowani odbiorcy:</p>
                            <ol>{% for nip in recipient_nip_duplicates %}<li>{{nip}}</li>{% endfor %}</ol>
                        {% endif %}
                    {% endif %}
                    {% if participant_email_duplicates %}
                        <p><b>Zduplikowani uczestnicy:</b></p>
                        <ol>{% for email in participant_email_duplicates %}<li>{{email}}</li>{% endfor %}</ol>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <!--end::Col-->
    {% endif %}

    {% if additional_infos_applications %}
    <!--start::Col-->
    <div class="col-md-12">

        <div class="card shadow-sm">
            <div
                class="card-header collapsible cursor-pointer rotate"
                data-bs-toggle="collapse"
                data-bs-target="#kt_card_additional_info"
            >
                <h3 class="card-title text-danger">
                    <u>
                        Uwagi ({{additional_infos_applications_count}})
                    </u>
                </h3>
                <div class="card-toolbar rotate-180">
                    <i class="ki-duotone ki-down fs-1"></i>
                </div>
            </div>
            <div id="kt_card_additional_info" class="collapse   ">
                <div class="card-body">
                    {% for application in additional_infos_applications %}
                        <div class="alert alert-danger d-flex align-items-center p-5">
                            <div class="d-flex flex-column">
                            <h4 class="mb-1 text-dark">
                                UWAGI:
                                {% if application.buyer %}
                                    {{application.buyer}}
                                {% else %}
                                    {{application.private_person}}
                                {% endif %}
                            </h4>
                            <span>
                                {{application.additional_information}}
                            </span>
                            </div>
                        </div>
                    {% empty %}
                    Brak uwag
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!--end::Col-->
    {% endif %}

    {% comment %} {% if webinar.status == "CANCELED" %}
    <!--start::Col-->
    <div class="col-md-12">

        <div class="card shadow-sm">
            <div class="card-header">
                <h3 class="card-title">
                    Potwierdzenia przyjęcia wiadomości o&nbsp;
                    <span class="fw-bold text-danger">odwołaniu szkolenia</span>
                </h3>
            </div>
            <div class="card-body">
                {% include './snippets/CrmCancellationTable.html' with cancellations=cancellations %}
            </div>
        </div>
    </div>
    <!--end::Col-->
    {% endif %} {% endcomment %}
    
    {% comment %} {% if move_registers %}
    <!--start::Col-->
    <div class="col-md-12">

        <div class="card shadow-sm">
            <div class="card-header">
                <h3 class="card-title">
                    Potwierdzenia przyjęcia wiadomości o&nbsp;
                    <span class="fw-bold text-primary">przeniesieniu szkolenia</span>
                </h3>
            </div>
            <div class="card-body">



                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr class="fw-bold fs-6 text-gray-800">
                                <th>Osoba zgłaszająca</th>
                                <th>Status</th>
                                <th>Wykryto otwarcie e-mail</th>
                                <th>Wykryto kliknięcie "Akceptuję"</th>
                                <th>Wykryto kliknięcie "Rezygnuję"</th>
                                <th>URL</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for move_register in move_registers %}
                                <tr class="bg-light-grey p-3">
                                    <td colspan="5">
                                        Przeniesiono z 
                                        <b>{{move_register.from_datetime}}</b>
                                        na
                                        <b>{{move_register.to_datetime}}</b>
                                        :
                                        <b>
                                            {{move_register.applications_count}}
                                            uczestników
                                        </b>
                                    </td>
                                </tr>
                                {% for move_register_item in move_register.register_items %}
                                    <tr>
                                        <td>
                                            {% with move_register_item.application.submitter as submitter %}
                                                {{submitter.fullname}}
                                                <br>
                                                {{submitter.email}}
                                                /
                                                {{submitter.phone}}
                                            {% endwith %}
                                        </td>
                                        <td>
                                            <b>{{move_register_item.get_status_display}}</b>
                                        </td>
                                        <td>
                                            {% if move_register_item.email_open_detected %}
                                            Tak
                                            {% else %}
                                            Nie
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if move_register_item.clicked_accept_link %}
                                            Tak
                                            {% else %}
                                            Nie
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if move_register_item.clicked_resignation_link %}
                                            Tak
                                            {% else %}
                                            Nie
                                            {% endif %}
                                        </td>
                                        <td>
                                            <a href="{% url 'core:webinar_moving_accept_page' token=move_register_item.token %}">
                                                Akceptuję
                                            </a>
                                            <br>
                                            <a href="{% url 'core:webinar_moving_resignation_page' token=move_register_item.token %}">
                                                Rezygnuję
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>


            </div>
        </div>
    </div>
    <!--end::Col-->
    {% endif %} {% endcomment %}

    <!--start::Col-->
    <div class="col-md-12">

        <div class="card shadow-sm">
            <div
                class="card-header collapsible cursor-pointer rotate"
                data-bs-toggle="collapse"
                data-bs-target="#kt_card_participants"
            >
                <h3 class="card-title">
                    <i class="bi bi-people-fill fs-2x me-2 text-black"></i>
                    Uczestnicy ({{gathered_participants_count}})
                </h3>
                <div class="card-toolbar rotate-180">
                    <i class="ki-duotone ki-down fs-1"></i>
                </div>
            </div>
            <div id="kt_card_participants" class="collapse show">
                <div class="card-body">
                {% if gathered_participants_count == 0 %}
                <p class="text-center fs-1 fw-bold">
                    Brak uczestników
                </p>
                {% else %}
                    {% include './snippets/CrmWebinarParticipantsTable.html' with gathered_participants=gathered_participants %}
                {% endif %}
                </div>
            </div>
        </div>
    </div>
    <!--end::Col-->

    {% comment %} 
    <!--start::Col-->
    <div class="col-md-12">
        
        <div class="card shadow-sm mt-4">
            <div class="card-header">
                <h3 class="card-title">Szczegóły zgłoszeń ({{sent_applications_count}})</h3>
            </div>
            {% if sent_applications_count != 0 %}
            <div class="card-body">
                {% include './snippets/CrmWebinarApplicationsInfo.html' with sent_applications=sent_applications %}
                {% include './snippets/CrmWebinarApplicationTable.html' with applications=sent_applications table_name='sent_applications' %}
            </div>
            {% endif %}
        </div>
    
    </div>
    <!--end::Col-->
    {% endcomment %}


    <!--start::Col-->
    <div class="col-md-12">
        
        <div class="card shadow-sm mt-4">
            <div
                class="card-header collapsible cursor-pointer rotate"
                data-bs-toggle="collapse"
                data-bs-target="#kt_card_applications"
            >
                <h3 class="card-title">
                    <i class="bi bi-card-list fs-2x me-2 text-black"></i>
                    Szczegóły zgłoszeń ({{sent_applications_count}})
                </h3>
                <div class="card-toolbar rotate-180">
                    <i class="ki-duotone ki-down fs-1"></i>
                </div>
            </div>
            <div id="kt_card_applications" class="collapse show">
                <div class="card-body">
                    {% if sent_applications_count == 0 %}
                    <p class="text-center fs-1 fw-bold">
                        Brak zgłoszeń
                    </p>
                    {% else %}
                    <div class="table-responsive">
                        <table class="table table-bordered table-row-gray-900" style="border: 1px solid black;">
                            <thead>
                                <th>Wysłano</th>
                                <th>Nabywca</th>
                            </thead>
                            <tbody>
                                {% for application in sent_applications %}
                                <tr class="{% cycle '' 'bg-gray-300' %}">
                                    <td
                                    {% if application.application_type == "COMPANY" %}
                                    class="bg-light-primary"
                                    {% elif application.application_type == "JSFP" %}
                                    class="bg-light-danger"
                                    {% elif application.application_type == "PRIVATE_PERSON" %}
                                    class="bg-light-success"
                                    {% endif %}
                                    >
                                        {{forloop.counter}} / <span>ID = {{application.id}}</span>
                                        <br>
                                        <b>{{application.created_at|date:"j E Y"}}</b> {{application.created_at|date:"H:i"}}
                                        <br>
                                        (&nbsp;{{application.created_at|date:"l"}}&nbsp;) <br>
                                        
                                        {% if application.refcode %}
                                        <span class="text-danger fw-bold">Partnerski: {{application.refcode}}</span>
                                        <br>
                                        {% endif %}
                                        
                                        <br> <br>


                                        <!--begin::Menu-->
                                        <div class="menu menu-rounded menu-column menu-gray-600 menu-state-bg fw-semibold w-250px" data-kt-menu="true">
                                            <!--begin::Menu item-->
                                            <div class="menu-item" data-kt-menu-trigger="hover" data-kt-menu-placement="right-start">
                                                <!--begin::Menu link-->
                                                <a href="#" class="menu-link py-3 ps-0">
                                                    <span class="menu-icon">
                                                        <i class="ki-duotone ki-notepad-edit fs-3">
                                                            <span class="path1"></span>
                                                            <span class="path2"></span>
                                                        </i>
                                                    </span>
                                                    <span class="menu-title">Edytuj w CMS</span>
                                                    <span class="menu-arrow"></span>
                                                </a>
                                                <!--end::Menu link-->

                                                <!--begin::Menu sub-->
                                                <div class="menu-sub menu-sub-dropdown p-3 w-200px">
                                                    <!--begin::Menu item-->
                                                    <div class="menu-item">
                                                        <a href="{% url 'admin:core_webinarapplication_change' object_id=application.id %}" class="menu-link px-1 py-3">
                                                            <span class="menu-title">Zgłoszenie</span>
                                                        </a>
                                                    </div>
                                                    <!--end::Menu item-->
                                                    <!--begin::Menu item-->
                                                    <div class="menu-item">
                                                        <a href="{% url 'admin:core_webinarapplicationinvoice_change' object_id=application.invoice.id %}" class="menu-link px-1 py-3">
                                                            <span class="menu-title">Fakturę</span>
                                                        </a>
                                                    </div>
                                                    <!--end::Menu item-->
                                                </div>
                                                <!--end::Menu sub-->
                                            </div>
                                            <!--end::Menu item-->

                                            <!--begin::Menu item-->
                                            <div class="menu-item">
                                                <a target="_blank" href="{% url 'core:application_pdf_card' uuid=application.uuid %}" class="menu-link py-3 ps-0">
                                                    <span class="menu-icon">
                                                        <i class="ki-duotone ki-scroll fs-3">
                                                            <span class="path1"></span>
                                                            <span class="path2"></span>
                                                            <span class="path3"></span>
                                                        </i>
                                                    </span>
                                                    <span class="menu-title">Generuj kartę zgłoszeniową</span>
                                                </a>
                                            </div>
                                            <!--end::Menu item-->

                                            <!--begin::Menu item-->
                                            <div class="menu-item">
                                                <a href="{% url 'core:crm_application_resend_confirmation_action' pk=application.pk %}" class="menu-link py-3 ps-0">
                                                    <span class="menu-icon">
                                                        <i class="ki-duotone ki-send fs-3">
                                                            <span class="path1"></span>
                                                            <span class="path2"></span>
                                                        </i>
                                                    </span>
                                                    <span class="menu-title">
                                                        Prześlij ponownie potwierdzenie zgłoszenia
                                                    </span>
                                                </a>
                                            </div>
                                            <!--end::Menu item-->

                                            <!--begin::Menu item-->
                                            <div class="menu-item">
                                                <a href="{% url 'core:crm_application_send_invoice_action' pk=application.pk %}" class="menu-link py-3 ps-0">
                                                    <span class="menu-icon">
                                                        <i class="ki-duotone ki-send fs-3">
                                                            <span class="path1"></span>
                                                            <span class="path2"></span>
                                                        </i>
                                                    </span>
                                                    <span class="menu-title">
                                                        Prześlij do fakturowni
                                                    </span>
                                                </a>
                                            </div>
                                            <!--end::Menu item-->

                                        </div>
                                        <!--end::Menu-->



                                    </td>
                                    <td class="fs-5">
                                        {% if application.application_type == "COMPANY" %}
                                            <b>Nabywca:</b> <br>
                                            {{application.buyer}}
                                            {% elif application.application_type == "JSFP" %}
                                            <b>Nabywca:</b> <br>
                                            {{application.buyer}}
                                            <br>
                                            <b>Odbiorca:</b> <br>
                                            {{application.recipient}}
                                        {% elif application.application_type == "PRIVATE_PERSON" %}
                                            <b>Osoba prywatna:</b> <br>
                                            {{application.private_person.fullname}}
                                        {% endif %}
                                        <br><br>
                                        {% comment %}
                                        {% if application.application_type == "COMPANY" or application.application_type == "JSFP" %}
                                        <div
                                            hx-get="{% url 'htmx:htmx_crm_check_nip' nip=application.buyer.nip %}"
                                            hx-trigger="revealed"
                                            hx-target="this"
                                            hx-swap="outerHTML"
                                            >
                                            <img class="htmx-indicator" width="25" src="{% static "media/loading/bars.svg" %}"/>
                                        </div>
                                        {% endif %}
                                        {% endcomment %}
                                        <b>Uczestnicy:</b> <br>
                                        <ol>
                                        {% for participant in gathered_participants %}
                                        {% if participant.application.id == application.id %}
                                            <li>
                                            <a href="{% url 'admin:core_webinarparticipant_change' object_id=participant.id %}">
                                                <b>{{participant.fullname}}</b>
                                            </a>
                                            - {{participant.email}}
                                            - {{participant.phone|default:"Brak telefonu"}}
                                            </li>
                                        {% endif %}
                                        {% endfor %}
                                        </ol>

                                        <br>
                                        <b>Cena netto za uczestnika:</b> {{application.price_netto}}zł
                                        <br>
                                        <b>VAT:</b> {{application.invoice.get_vat_exemption_display}}
                                        <br>
                                        <b>Status VAT:</b> {{application.metadata.vat_status}}
                                        
                                        <br><br>
                                        <b>Kontakt:</b> <br>
                                        {{application.submitter.email}}
                                        <br>
                                        {{application.submitter.phone}}

                                        <br><br>
                                        <b>E-mail do faktury:</b> {{application.invoice.invoice_email}}

                                        {% for metadata in sent_applications_metadata %}
                                        {% if metadata.application.id == application.id %}
                                        {% if metadata.invoice_number %}
                                            <br> <b>Wystawiono fakturę:</b> 
                                            <a href="{{metadata.invoice_url}}" target="_blank">
                                                <b>{{metadata.invoice_number}}</b>
                                            </a>
                                            <hr>
                                        {% endif %}
                                        {% endif %}
                                        {% endfor %}

                                        {% if application.invoice.invoice_additional_info %}
                                        <div class="alert alert-info d-flex align-items-center p-5">
                                            <div class="d-flex flex-column">
                                            <h4 class="mb-1 text-dark">
                                                Uwagi <u>widoczne na fakturze</u>
                                            </h4>
                                            <span>
                                                {{application.invoice.invoice_additional_info}}
                                            </span>
                                            </div>
                                        </div>
                                        {% endif %}
                                        {% if application.additional_information %}
                                        <div class="alert alert-danger d-flex align-items-center p-5">
                                            <div class="d-flex flex-column">
                                            <h4 class="mb-1 text-dark">
                                                Uwagi do zgłoszenia
                                            </h4>
                                            <span>
                                                {{application.additional_information}}
                                            </span>
                                            </div>
                                        </div>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    
    </div>
    <!--end::Col-->

    <!--start::Col-->
    <div class="col-md-12">
        <div class="card shadow-sm mt-4">
            <div class="card-header">
                <h3 class="card-title">
                    Wejścia na formularz zgłoszeniowy
                </h3>
            </div>
            <div class="card-body">
                <table class="table table-sm table-striped">
                    <tr>
                        <th>Data</th>
                        <th>Kod śledzący</th>
                        <th>ID kampanii mailingowej</th>
                        <th>E-mail</th>
                        <th>Rozpoczęto zgłoszenie</th>
                    </tr>
                    {% for tracking in application_tracking_codes %}
                    <tr>
                        <td>{{tracking.created_at}}</td>
                        <td>
                            <b>{{tracking.tracking_code}}</b>
                        </td>
                        <td>
                            <b>{{tracking.campaign_id}}</b>
                        </td>
                        <td>
                            <div
                                hx-get="{% url 'htmx:tracking_mailing' tracking_code=tracking.tracking_code %}"
                                hx-trigger="intersect once delay:3s"
                            >
                                Ładowanie ...
                            </div>
                        </td>
                        <td>
                            {% for application in unfinished_applications %}
                                {% if application.tracking_code == tracking.tracking_code %}
                                    <span class="text-white bg-danger fw-bold px-2">
                                        Tak
                                    </span>
                                {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
    <!--end::Col-->

    <!--start::Col-->
    <div class="col-md-12">
        <div class="card shadow-sm mt-4">
            <div class="card-header">
                <h3 class="card-title">
                    Niewysłane Zgłoszenia ( {{unfinished_applications_count}} )
                </h3>
            </div>
            {% if unfinished_applications_count != 0 %}
            <div class="card-body">
                {% include './snippets/CrmWebinarUnsentApplicationsTable.html' with applications=unfinished_applications table_name='unfinished_applications' %}
            </div>
            {% endif %}
        </div>
    </div>
    <!--end::Col-->
    
    <!--start::Col-->
    <div class="col-md-12">
        <div class="card shadow-sm mt-4">
            <div class="card-header">
                <h3 class="card-title">
                    Zrezygnowało ({{resigned_applications_count}})
                </h3>
            </div>
            {% if resigned_applications_count != 0 %}
            <div class="card-body">
                {% include './snippets/CrmWebinarApplicationTable.html' with applications=resigned_applications table_name='resigned_applications' %}
            </div>
            {% endif %}
        </div>
    </div>
    <!--end::Col-->

</div>
<!--end::Row-->
{% endblock crm_webinar_content %}

{% block body_scripts %}
<script src="{% static 'plugins/custom/datatables/datatables.bundle.js' %}"></script>
<script>
    $("#sent_applications").DataTable({
        responsive: true,
        pageLength: 50,
    });
    $("#resigned_applications").DataTable({
        responsive: true,
        pageLength: 50
    });
    $("#unfinished_applications").DataTable({
        responsive: true,
        pageLength: 50
    });
</script>
{% endblock body_scripts %}
