{% extends 'core/pages/crm/extends/CrmBase.html' %}
{% load static %}
{% load humanize %}

{% block head_stylesheets %}

{% endblock head_stylesheets %}

{% block crm_content %}

<!--begin::Toolbar-->
<div class="toolbar d-flex flex-stack flex-wrap mb-5 mb-lg-7" id="kt_toolbar">
    <!--begin::Page title-->
    <div class="page-title d-flex flex-column py-1">
        <!--begin::Title-->
        <h1 class="align-items-center my-1">
            {% if webinar.is_connected_to_conference %}
                <span class="text-info">
                    Konferencja
                </span>
                {% url 'admin:core_conferenceedition_change' object_id=conference_edition.id as link %}
                {% include "include/crm/EditWithCmsButton.html" with link=link %}
                {% url "core:conference_edition_page" slug_edition=conference_edition.slug as link %}
                {% include "include/crm/ShowOnPageButton.html" with link=link %}
            {% endif %}
            {{webinar.title_original}}
            {% url 'admin:core_webinar_change' object_id=webinar.id as link %}
            {% include "include/crm/EditWithCmsButton.html" with link=link %}
            {% url 'core:webinar_program_page' slug=webinar.slug as link %}
            {% include "include/crm/ShowOnPageButton.html" with link=link %}
        </h1>
        <!--end::Title-->
    </div>
    <!--end::Page title-->
</div>
<!--end::Toolbar-->

{% if webinar.is_connected_to_conference %}
<div class="card shadow-sm mb-4">
    <div class="card-header">
        <h3 class="card-title">
            Szczegóły transmisij&nbsp;—&nbsp;
            <a href="https://studio.youtube.com/channel/UC/livestreaming" target="_blank">
                <b>Przejdź do "Nadawaj na żywo" na YouTube</b>
            </a>
        </h3>
        
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table">
                <tbody>
                    <tr>
                        <td><b>Adres Strony Konfiguracji</b></td>
                        <td>
                            {% if conference_edition.dashboard_url %}
                                <a href="{{conference_edition.dashboard_url}}">
                                    <b>{{conference_edition.dashboard_url}}</b>
                                </a>
                            {% else %}
                                <b class="text-white bg-danger px-2">BRAK ! CZY STREAM ZOSTAŁ UTWORZONY NA YT/FB ?</b>
                            {% endif %}
                            
                        </td>
                    </tr>
                    <tr>
                        <td><b>Typ strumienia</b></td>
                        <td>
                            <span class="fw-bold text-white px-2 bg-info">
                                {{conference_edition.get_stream_type_display}}
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td><b>Adres URL strony</b></td>
                        <td colspan="3">
                            <div
                                hx-get="{% url 'htmx:htmx_conference_url_form' pk=conference_edition.pk mode="result" %}"
                                hx-swap="outerHTML"
                                hx-trigger="load delay:{{delay_ms|default:"100"}}ms">
                                Ładuję...
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><b>URL Serwera</b></td>
                        <td>
                            {% if conference_edition.stream_server_url %}
                                {{conference_edition.stream_server_url}}
                            {% else %}
                                <span class="bg-danger text-white px-2">
                                    BRAK ADRESU SERWERA
                                </span>
                            {% endif %}
                        </td>
                        <td><b>Klucz strumienia</b></td>
                        <td>
                            {% if conference_edition.stream_transmission_key %}
                                {{conference_edition.stream_transmission_key}}
                            {% else %}
                                <span class="bg-danger text-white px-2">
                                    BRAK KLUCZA
                                </span>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            {% if not conference_edition.clickmeeting_pasted %}
                                <span class="text-danger fw-bold">
                                    Po kliknięciu w 'Przeklej teraz' system automatycznie zapamięta, że adres serwera i klucz zostały przeklejone do ClickMeeting NAWET JEŚLI TEGO NIE ZROBISZ.
                                    <br><br>
                                    Upewnij się, że na pewno dokończysz przeklejanie do ClickMeeting.
                                </span>
                            {% endif %}
                        </td>
                        <td><b>Przeklejono do ClickMeeting</b></td>
                        <td>
                            {% if conference_edition.clickmeeting_pasted %}
                                <span class="bg-success text-white px-2">
                                    Przeklejono
                                </span>
                                <br>
                                <a href="https://account-panel.clickmeeting.com/{{conference_edition.clickmeeting_id}}/edit#settings" target="_blank">
                                    <b>Zobacz ustawienia</b>
                                </a>
                            {% else %}
                                <span class="bg-danger text-white px-2">
                                    NIE PRZEKLEJONO
                                </span>
                                <br>
                                <a href="{% url "core:crm_clickmeeting_paste_stream" pk=webinar.pk %}" target="_blank">
                                    <b>Przeklej teraz</b>
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endif %}

<!--begin::Toolbar-->
<div class="toolbar d-flex flex-stack flex-wrap mb-5 mb-lg-7" id="kt_toolbar">
    <!--begin::Page title-->
    <div class="page-title d-flex flex-column py-1">
        {% include './snippets/WebinarStatusTitle.html' with webinar=webinar count=gathered_participants_count %}
        {% if uncertain_participants_count %}
        <h2 class="ms-2 bg-warning">
            Wśród uczestników jest {{uncertain_participants_count}} niepewnych
        </h2>
        {% endif %}
        {% if webinar.is_connected_to_conference %}
        <h2 class="ms-2">
            Zebrano {{free_participants|length}} darmowych uczestników
        </h2>
        {% endif %}
    </div>
    <!--end::Page title-->
    <!--begin::Actions-->
    <div class="d-flex align-items-center py-1">
        {% include './snippets/WebinarStatusButton.html' %}
    </div>
    <!--end::Actions-->
</div>
<!--end::Toolbar-->

{% if got_to_summary_applications_count %}
<div class="col-md-12">
    <div class="alert alert-info d-flex align-items-center p-5">
        <i class="ki-duotone ki-shield-tick fs-2hx text-info me-4"><span class="path1"></span><span class="path2"></span></i>
        <div class="d-flex flex-column">
            <h4 class="mb-1 text-dark">Wykryto całkowicie wypełnione, niewysłane zgłoszenia</h4>
            <span>
                To szkolenie ma {{unfinished_applications_count}} niewysłanych zgłoszeń
                z czego <b>{{got_to_summary_applications_count}} zgłoszenia</b> są gotowe do wysyłki.
                <br> <br>
                Albo ktoś zapomniał wysłać zgłoszenia albo się rozmyślił przy samym końcu.
            </span>
        </div>
    </div>
</div>
{% endif %}


{% if buyer_nip_duplicates or recipient_nip_duplicates or participant_email_duplicates %}
<div class="col-md-12">
    <div class="alert alert-danger d-flex align-items-center" role="alert">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill me-2" viewBox="0 0 16 16">
           <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
        </svg>
        <div>
           <b>To szkolenie <i>prawdopodobnie</i> zawiera <u>DUPLIKATY ZGŁOSZEŃ</u>. Szczegóły na dole. 👇</b>
        </div>
   </div>
</div>
{% endif %}

{% comment %} <div class="row mb-5">
    <div class="col-md-4">
        <a href="#" class="card hover-elevate-up shadow-sm parent-hover">
            <div class="card-body d-flex align-items">
                <i class="ki-duotone ki-message-programming fs-1">
                    <i class="path1"></i>
                    <i class="path2"></i>
                    <i class="path3"></i>
                    <i class="path4"></i>
                </i>
                <span class="ms-3 text-gray-700 parent-hover-primary fs-6 fw-bold">
                    Dodaj opinie (ChatGPT)
                </span>
            </div>
        </a>
    </div>
</div> {% endcomment %}

<!--begin::Post-->
<div class="post" id="kt_post">
    <!--begin::Navbar-->
    <div class="card mb-6 shadow-sm">
        <div class="card-body pt-9 pb-0">
            <!--begin::Details-->
            <div class="d-flex flex-wrap flex-sm-nowrap">
                {% if webinar.lecturer.avatar %}
                <!--begin: Pic-->
                <div class="me-7 mb-4">
                    <div class="symbol symbol-100px symbol-lg-160px symbol-fixed position-relative">
                        <img src="{% get_media_prefix %}uploads/lecturers/{{webinar.lecturer.slug}}_160x160.webp" alt="image" />
                        <div class="position-absolute translate-middle bottom-0 start-100 mb-6 bg-success rounded-circle border border-4 border-body h-20px w-20px"></div>
                    </div>
                </div>
                <!--end::Pic-->
                {% endif %}
                <!--begin::Info-->
                <div class="flex-grow-1">
                    <!--begin::Title-->
                    <div class="d-flex justify-content-between align-items-start flex-wrap mb-2">
                        <!--begin::User-->
                        <div class="d-flex flex-column">
                            <!--begin::Name-->
                            <div class="d-flex align-items-center mb-2">
                                <a href="#" class="text-gray-900 text-hover-primary fs-2 fw-bold me-1">
                                    {{webinar.lecturer.fullname}}
                                    {% url 'admin:core_lecturer_change' object_id=webinar.lecturer.id as link %}
                                    {% include "include/crm/EditWithCmsButton.html" with link=link class="me-1" %}
                                    {% url 'core:lecturer_experience_page' slug=webinar.lecturer.slug as link %}
                                    {% include "include/crm/ShowOnPageButton.html" with link=link %}
                                </a>
                            </div>
                            <!--end::Name-->
                            <!--begin::Info-->
                            <div class="d-flex flex-wrap flex-column fw-semibold fs-6 mb-4 pe-2">
                                {% if webinar.lecturer.email %}
                                <p class="m-0">
                                    <a href="mailto:{{webinar.lecturer.email}}" class="d-flex align-items-center text-gray-900 text-hover-primary mb-2">
                                        <i class="ki-duotone ki-sms fs-4 me-1">
                                            <span class="path1"></span>
                                            <span class="path2"></span>
                                        </i>
                                        {{webinar.lecturer.email}}
                                    </a>
                                </p>
                                {% else %}
                                <p class="text-danger fw-bold m-0">
                                    Nie uzupełniono adresu e-mail wykładowcy!
                                </p>
                                {% endif %}
                                {% if webinar.lecturer.agrees_to_recording %}
                                    <p class="text-success m-0">
                                        <i class="bi bi-check-circle text-success"></i>
                                        Zgadza się na nagrania
                                    </p>
                                {% else %}
                                    <p class="text-danger m-0">
                                        <i class="bi bi-slash-circle text-danger"></i>
                                        Nie zgadza się na nagrania
                                    </p>
                                {% endif %}
                            </div>
                            <!--end::Info-->
                        </div>
                        <!--end::User-->
                        <!--begin::Actions-->
                        <div class="d-flex my-4">
                            {% if mailing_campaigns %}
                            <div class="me-2">
                                <button
                                    class="btn btn-sm btn-secondary"
                                    data-bs-dismiss="true"
                                    data-bs-placement="left"
                                    data-bs-toggle="popover"
                                    data-bs-html="true"
                                    title="<span><b>Wysłane mailingi</b><br /><i><small>Według dnia przygotowania kampanii mailingowej</small></i></span>"
                                    {% if mailing_campaigns %}
                                    data-bs-content="Globalne kliknięcia: <b>{{click_count_mailing}}</b><br />{% for mailing_campaign in mailing_campaigns %}<span>{{mailing_campaign.created_at|date:"j E"}} {% if mailing_campaign.is_allowed_to_send %}(wysyła teraz){% endif %} - {{mailing_campaign.stat_sent|intcomma}}</span> <br>{% endfor %}"
                                    {% else %}
                                    data-bs-content="Brak wysłanych mailingów"
                                    {% endif %}
                                >
                                    <i class="ki-duotone ki-calendar-tick fs-2">
                                        <i class="path1"></i>
                                        <i class="path2"></i>
                                        <i class="path3"></i>
                                        <i class="path4"></i>
                                        <i class="path5"></i>
                                        <i class="path6"></i>
                                        <i class="path7"></i>
                                    </i>
                                    Mailingi
                                </button>
                            </div>
                            {% endif %}
                            <!--begin::Menu-->
                            <div class="me-0">
                                <button class="btn btn-sm {% if webinar.is_connected_to_conference %}btn-info{% else %}btn-primary{% endif %}" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end">
                                    <i class="ki-duotone ki-setting-2 fs-2"><i class="path1"></i><i class="path2"></i></i>
                                    Administracja
                                </button>
                                {% comment %} <button class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end">
                                    <i class="ki-solid ki-dots-horizontal fs-2x me-1"></i>
                                </button> {% endcomment %}
                                <!--begin::Menu 3-->
                                <div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-800 menu-state-bg-light-primary fw-semibold w-300px py-3" data-kt-menu="true">
                                    <!--begin::Heading-->
                                    <div class="menu-item px-3">
                                        <div class="menu-content text-muted pb-2 px-3 fs-7 text-uppercase">
                                            Administracja webinarem
                                        </div>
                                    </div>
                                    <!--end::Heading-->
                                    <!--begin::Menu item-->
                                    <div class="menu-item px-3">
                                        <a href="{% url 'core:crm_webinar_duplicate' pk=webinar.pk %}" class="menu-link px-3">
                                            Duplikuj termin
                                        </a>
                                    </div>
                                    <!--end::Menu item-->
                                    <!--begin::Menu item-->
                                    <div class="menu-item px-3">
                                        <a href="{% url 'core:webinar_program_page' slug=webinar.slug %}" class="menu-link px-3">
                                            [Strona] Zobacz na stronie
                                        </a>
                                    </div>
                                    <!--end::Menu item-->
                                    <!--begin::Menu item-->
                                    <div class="menu-item px-3">
                                        <a href="{% url 'admin:core_webinar_change' object_id=webinar.id %}" class="menu-link px-3">
                                            [CMS] Edytuj termin
                                        </a>
                                    </div>
                                    <!--end::Menu item-->
                                    <!--begin::Menu item-->
                                    <div class="menu-item px-3">
                                        <a href="{% url 'admin:core_lecturer_change' object_id=webinar.lecturer.id %}" class="menu-link px-3">
                                            [CMS] Edytuj wykładowce
                                        </a>
                                    </div>
                                    <!--end::Menu item-->
                                    <!--begin::Menu item-->
                                    <div class="menu-item px-3">
                                        <a href="{% url 'core:crm_webinar_export_participants' pk=webinar.pk %}?export=CSV" class="menu-link px-3">
                                            Eksportuj uczestników do CSV
                                        </a>
                                    </div>
                                    <!--end::Menu item-->
                                    {% if not webinar.is_connected_to_conference %}
                                    <!--begin::Menu item-->
                                    <div class="menu-item px-3">
                                        <a href="{% url "core:conference_from_webinar" pk=webinar.pk %}" class="menu-link px-3">
                                            Stwórz <span class="text-info px-1">konferencje</span> z tego szkolenia
                                        </a>
                                    </div>
                                    <!--end::Menu item-->
                                    {% endif %}
                                    <!--begin::Menu item-->
                                    <div class="menu-item px-3">
                                        <a href="{% url "core:create_mailing_campaign" %}?webinar_id={{webinar.pk}}" class="menu-link px-3">
                                            Stwórz kampanie mailingową
                                        </a>
                                    </div>
                                    <!--end::Menu item-->
                                    <!--begin::Menu item-->
                                    <div class="menu-item px-3">
                                        <a href="{% url "core:crm_webinar_send_opinion_request_action" pk=webinar.pk %}" class="menu-link px-3">
                                            Prześlij prośbę o opinię do uczestników
                                        </a>
                                    </div>
                                    <!--end::Menu item-->
                                    <!--begin::Menu item-->
                                    <div class="menu-item px-3">
                                        <a href="{% url "core:global_mailing_editor" %}?for_webinar_id={{webinar.id}}" class="menu-link px-3">
                                            Generuj szablon mailingowy
                                        </a>
                                    </div>
                                    <!--end::Menu item-->
                                </div>
                                <!--end::Menu 3-->
                            </div>
                            <!--end::Menu-->
                        </div>
                        <!--end::Actions-->
                    </div>
                    <!--end::Title-->
                    <!--begin::Stats-->
                    <div class="d-flex flex-wrap">
                        <!--begin::Stat-->
                        <div class="border border-gray-300 border-dashed rounded min-w-125px py-3 px-4 me-6 mb-3">
                            <!--begin::Number-->
                            <div class="d-flex align-items-center">
                                <i class="ki-duotone ki-calendar fs-3 text-grey me-2">
                                    <i class="path1"></i>
                                    <i class="path2"></i>
                                </i>
                                <div class="fs-2 fw-bold counted">
                                    {{webinar.date|date:"j E Y"}} r.
                                </div>
                            </div>
                            <!--end::Number-->
                            <!--begin::Label-->
                            <div class="fw-semibold fs-6 text-gray-400">Data szkolenia</div>
                            <!--end::Label-->
                        </div>
                        <!--end::Stat-->
                        <!--begin::Stat-->
                        <div class="border border-gray-300 border-dashed rounded min-w-125px py-3 px-4 me-6 mb-3">
                            <!--begin::Number-->
                            <div class="d-flex align-items-center">
                                <i class="ki-duotone ki-time fs-3 text-grey me-2">
                                    <i class="path1"></i>
                                    <i class="path2"></i>
                                </i>
                                <div class="fs-2 fw-bold counted">
                                    {{webinar.date|date:"H:i"}} - {{webinar.date_end|date:"H:i"}}
                                </div>
                            </div>
                            <!--end::Number-->
                            <!--begin::Label-->
                            <div class="fw-semibold fs-6 text-gray-400">Godzina szkolenia</div>
                            <!--end::Label-->
                        </div>
                        <!--end::Stat-->
                        <!--begin::Stat-->
                        <div class="border border-gray-300 border-dashed rounded min-w-125px py-3 px-4 me-6 mb-3">
                            <!--begin::Number-->
                            <div class="d-flex align-items-center">
                                <i class="ki-duotone ki-price-tag fs-3 text-grey me-2">
                                    <i class="path1"></i>
                                    <i class="path2"></i>
                                </i>
                                <div class="fs-2 fw-bold counted">
                                    {% if webinar.is_discounted %}
                                    <span class="text-decoration-line-through fw-bolder text-danger">{{webinar.price_netto}}zł</span>
                                    <span>{{webinar.price}}zł</span>
                                    {% else %}
                                    {{webinar.price}}zł
                                    {% endif %}
                                    {{PRICE_ADNOTATION}}
                                </div>
                            </div>
                            <!--end::Number-->
                            <!--begin::Label-->
                            <div class="fw-semibold fs-6 text-gray-400">
                                Cena (od osoby)
                                {% if webinar.is_discounted %}
                                Promocja trwa do {{webinar.discount_until|date:"j E Y"}} godz. {{webinar.discount_until|date:"H:i"}}
                                {% endif %}
                            </div>
                            <!--end::Label-->
                        </div>
                        <!--end::Stat-->
                    </div>
                    <!--end::Stats-->
                </div>
                <!--end::Info-->
            </div>
            <!--end::Details-->
            <!--begin::Navs-->
            <ul class="nav nav-stretch nav-line-tabs nav-line-tabs-2x border-transparent fs-5 fw-bold">
                {% with webinar.pk|stringformat:"d" as webinar_pk_str %}
                
                <!--begin::Nav item-->
                <li class="nav-item mt-2">
                    <a
                        class="
                            nav-link text-active-primary ms-0 me-10 py-5
                            {% if request.path == '/crm/webinar/'|add:webinar_pk_str|add:'/' %}
                            active
                            {% endif %}
                        "
                        href="{% url 'core:crm_webinar_detail_dashboard' pk=webinar.pk %}"
                    >
                        <i class="ki-duotone ki-element-8 fs-2 me-2"><i class="path1"></i><i class="path2"></i></i>
                        {% if webinar.is_connected_to_conference %}
                        Płatni uczestnicy
                        {% else %}
                        Panel główny
                        {% endif %}
                    </a>
                </li>
                <!--end::Nav item-->

                {% if webinar.is_connected_to_conference %}
                <!--begin::Nav item-->
                <li class="nav-item mt-2">
                    <a
                        class="
                            nav-link text-active-primary ms-0 me-10 py-5
                            {% if request.path == '/crm/webinar/'|add:webinar_pk_str|add:'/darmowi-uczestnicy/' %}
                            active
                            {% endif %}
                        "
                        href="{% url 'core:crm_webinar_free_participants' pk=webinar.pk %}"
                    >
                        <i class="ki-duotone ki-element-8 fs-2 me-2"><i class="path1"></i><i class="path2"></i></i>
                        Darmowi uczestnicy ({{free_participants|length}})
                    </a>
                </li>
                <!--end::Nav item-->
                {% endif %}
                
                <!--begin::Nav item-->
                <li class="nav-item mt-2">
                    <a
                        class="
                        {% if request.path == '/crm/webinar/'|add:webinar_pk_str|add:'/materialy-szkoleniowe/' %}
                        active
                        {% endif %}
                        nav-link text-active-primary ms-0 me-10 py-5"
                        href="{% url 'core:crm_webinar_assets' pk=webinar.pk %}"
                    >
                    <i class="ki-duotone ki-file-up fs-2 me-2"><i class="path1"></i><i class="path2"></i></i>
                        Materiały
                        {% if webinar_assets_count != 0 %}
                            (&nbsp;{{webinar_assets_count}}&nbsp;)
                        {% endif %}
                    </a>
                </li>
                <!--end::Nav item-->
                
                {% if certificates_count != 0 %}
                <!--begin::Nav item-->
                <li class="nav-item mt-2">
                    <a
                    class="
                        {% if request.path == '/crm/webinar/'|add:webinar_pk_str|add:'/certyfikaty/' %}
                        active
                        {% endif %}
                        nav-link text-active-primary ms-0 me-10 py-5"
                    href="{% url 'core:crm_webinar_certificates' pk=webinar.pk %}"
                    >
                    <i class="ki-duotone ki-scroll fs-2 me-2"><i class="path1"></i><i class="path2"></i><i class="path3"></i></i>
                        Certyfikaty (&nbsp;{{certificates_count}}&nbsp;)
                    </a>
                </li>
                <!--end::Nav item-->
                {% endif %}

                {% if recordings %}
                <!--begin::Nav item-->
                <li class="nav-item mt-2">
                    <a
                    class="
                        {% if request.path == '/crm/webinar/'|add:webinar_pk_str|add:'/nagrania/' %}
                        active
                        {% endif %}
                        nav-link text-active-primary ms-0 me-10 py-5"
                        href="{% url 'core:crm_webinar_recordings' pk=webinar.pk %}"
                    >
                    <i class="ki-duotone ki-youtube fs-2 me-2"><i class="path1"></i><i class="path2"></i></i>
                        Nagrania (&nbsp;{{recordings_count}}&nbsp;)
                    </a>
                </li>
                <!--end::Nav item-->
                {% endif %}
                
                {% if webinar.status == "DONE" %}
                <!--begin::Nav item-->
                <li class="nav-item mt-2">
                    <a
                    class="
                        {% if request.path == '/crm/webinar/'|add:webinar_pk_str|add:'/faktury/' %}
                        active
                        {% endif %}
                        nav-link text-active-primary ms-0 me-10 py-5"
                        href="{% url 'core:crm_webinar_invoices' pk=webinar.pk %}"
                    >
                    <i class="ki-duotone ki-document fs-2 me-2"><i class="path1"></i><i class="path2"></i></i>
                        Faktury
                    </a>
                </li>
                <!--end::Nav item-->
                {% endif %}

                <!--begin::Nav item-->
                <li class="nav-item mt-2">
                    <a
                        class="
                        {% if request.path == '/crm/webinar/'|add:webinar_pk_str|add:'/logi/' %}
                        active
                        {% endif %}
                        nav-link text-active-primary ms-0 me-10 py-5"
                        href="{% url 'core:crm_webinar_eventlogs' pk=webinar.pk %}"
                    >
                    <i class="ki-duotone ki-abstract-26 fs-2 me-2"><i class="path1"></i><i class="path2"></i></i>
                        Logi
                    </a>
                </li>
                <!--end::Nav item-->

                <!--begin::Nav item-->
                <li class="nav-item mt-2">
                    <a
                        class="
                        {% if request.path == '/crm/webinar/'|add:webinar_pk_str|add:'/analiza/' %}
                        active
                        {% endif %}
                        nav-link text-active-primary ms-0 me-10 py-5"
                        href="{% url 'core:crm_webinar_analysis' pk=webinar.pk %}"
                    >
                    <i class="ki-duotone ki-graph-3 fs-2 me-2"><i class="path1"></i><i class="path2"></i></i>
                        Analiza
                    </a>
                </li>
                <!--end::Nav item-->

                {% endwith %}
            </ul>
            <!--begin::Navs-->
        </div>
    </div>
    <!--end::Navbar-->
    {% block crm_webinar_content %}{% endblock crm_webinar_content %}
</div>
<!--end::Post-->

{% endblock crm_content %}

{% block body_scripts %}

{% endblock body_scripts %}
