{% extends './CrmWebinarBase.html' %}
{% load static %}

{% block head_stylesheets %} {% endblock head_stylesheets %}

{% block crm_webinar_content %}
<!--begin::Row-->
<div class="row g-6 g-xl-9 mb-10">
  <!--begin::Col-->
  <div class="col-md-12 col-xl-12">
    <div class="card shadow-sm">
      <div class="card-header">
        <h3 class="card-title">Darmowi uczestnicy</h3>
      </div>
      <div class="card-body">

        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr class="fw-bold fs-6 text-gray-800">
                        <th>Imię i Nazwisko</th>
                        <th>E-mail</th>
                        <th>Telefon</th>
                        <th>Województwo</th>
                        <th>Skąd się dowiedział?</th>
                        <th>Szkolenia zamknięte?</th>
                        <th>Link do oglądania</th>
                        <th>Akcje</th>
                    </tr>
                </thead>
                <tbody>
                    {% for participant in free_participants %}
                    <tr>
                        <td>
                          <b>{{participant.first_name}} {{participant.last_name}}</b> <br>
                          <a href="{% url "admin:core_conferencefreeparticipant_change" object_id=participant.id %}">
                            <b>Edytuj w CMS</b>
                          </a>
                        </td>
                        <td>{{participant.email}}</td>
                        <td>{{participant.phone}}</td>
                        <td>{{participant.get_voivodeship_display}}</td>
                        <td>{{participant.get_know_from_display}}</td>
                        <td>
                            {{participant.get_using_closed_webinars_display}}
                        </td>
                        <td>
                          <a href="{% url "core:conference_waiting_room_page" watch_token=participant.watch_token %}" target="_blank">
                            <b>{{participant.watch_token}}</b>
                          </a>
                          <br><br>
                          Ostatnie wejście:
                          <br>
                          {% if participant.last_watchroom_heartbeat %}
                            {{participant.last_watchroom_heartbeat|date:"j E Y"}}
                            <br>
                            {{participant.last_watchroom_heartbeat|date:"H:i:s"}}
                          {% else %}
                            Nigdy nie wszedł
                          {% endif %}
                        </td>
                        <td>
                          <a href="{% url "core:crm_free_participant_resend_confirmation" pk=participant.pk %}">
                            <b>Prześlij ponownie potwierdzenie</b>
                          </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

      </div>
      <div class="card-footer">
      </div>
    </div>
  </div>
  <!--end::Col-->
</div>
<!--end::Row-->
{% endblock crm_webinar_content %}

{% block body_scripts %} {% endblock body_scripts %}
