{% extends './CrmWebinarBase.html' %}
{% load static %}

{% block head_stylesheets %} {% endblock head_stylesheets %}

{% block crm_webinar_content %}
<!--begin::Row-->
<div class="row g-6 g-xl-9 mb-10">
  <!--begin::Col-->
  <div class="col-md-12 col-xl-12">
    <div class="card shadow-sm">
      <div class="card-header">
        <h3 class="card-title">Logi webinaru</h3>
      </div>
      <div class="card-body">
        <div class="timeline">
            {% for webinar_eventlog in webinar_eventlogs %}
                {% include './snippets/WebinarEventlogTimelineItem.html' with log=webinar_eventlog %}
            {% endfor %}
        </div>
      </div>
      <div class="card-footer">
      </div>
    </div>
  </div>
  <!--end::Col-->
</div>
<!--end::Row-->
{% endblock crm_webinar_content %}

{% block body_scripts %} {% endblock body_scripts %}
