<a
    href="{% url 'core:application_type_page' pk=webinar.pk %}"
    class="btn btn-danger w-100 fs-3">

    {% if webinar.is_discounted %}
    Nie zwlekaj, zapisz się teraz!
    {% else %}
    Zapisz się teraz!
    {% endif %}
</a>

<!--begin::Example-->
<div class="separator separator-content border-secondary my-8">
    <span class="fs-4 text-muted">Lub</span>
</div>
<!--end::Example-->

<a
    href="{% url 'core:application_type_page' pk=webinar.pk %}?pdf=show"
    class="btn btn-sm btn-warning w-100 fs-3">

    Pobierz kartę zgłoszeniową
</a>