<!--begin::Discount-->
{% if webinar %}
{% if webinar.is_discounted %}
    <!--begin::Alert-->
    <div class="alert alert-dismissible bg-light-danger border border-danger d-flex flex-column flex-sm-row p-2 mb-2">
    <!--begin::Wrapper-->
    <div class="d-flex flex-column pe-0 pe-sm-10">
        <!--begin::Content-->
        <span class="fs-6">
            To szkolenie po
            <b>{{webinar.discount_until|date:"j E Y"}} {{webinar.discount_until|date:"H:i"}}</b>
            <br>
            będzie o <b>{{webinar.discount_value}}zł</b> droższe od osoby
        </span>
        <!--end::Content-->
    </div>
    <!--end::Wrapper-->
    </div>
    <!--end::Alert-->
{% endif %}
{% endif %}
<!--end::Discount-->