{% extends 'geeks/extends/foundation.html' %}

{% load static %}

{% block title %}
  <title>Polityka cookies - {{COMPANY_NAME}}</title>
{% endblock title %}

{% block root %}
<main>
  <!-- content -->
  <section class="pb-10 mt-10">
      <div class="container">
          <div class="row justify-content-center">
              <div class="col-lg-8 col-md-12 col-12">
                        {% comment %} BEGIN  {% endcomment %}
        <div class="card">
            <div class="card-header">
                <h1 class="card-title fs-1">§ Polityka plików Cookies</h1>
                <div class="card-toolbar">
                    <span class="badge badge-light">
                        Data modyfikacji: 5 lipca 2023
                    </span>
                </div>
            </div>
            <div class="card-body">
                <div class="mb-10">
                   <div class="fs-5 fw-bold text-gray-600">
                      <p>Polityka plików “cookies” serwisu wykladowca.pl.</p>
                      <ol>
                         <li>Operatorem Serwisu prowadzonego pod adresem Sosnowiec 41-208 ul. Wojska Polskiego 8 (Sosnowiecki Park Naukowo-Technologiczny) jest Wykładowca.pl Tomasz Howaniec Użytkownikiem Serwisu jest każda osoba korzystająca z Serwisu poprzez wejście na stronę internetową https://wykladowca.pl</li>
                         <li>Serwis korzysta z narzędzi analitycznych wykorzystujących pliki cookies.</li>
                         <li>Poprzez pliki cookies należy rozumieć dane informatyczne przechowywane w urządzeniach końcowych użytkowników, przeznaczonych do korzystania ze stron internetowych. Plikami cookies w szczególności są to pliki tekstowe, zawierające nazwę strony internetowej, z której pochodzą, czas przechowywania ich na urządzeniu końcowym oraz unikalny numer.</li>
                         <li>Wszystkie pliki cookies wykorzystywane przez nasz Serwis mogą mieć charakter tymczasowy lub trwały. Tymczasowe pliki tego typu są usuwane z chwilą zamknięcia przeglądarki użytkownika Serwisu, natomiast stałe pliki cookies są przechowywane, także po zakończeniu korzystania z Serwisu.</li>
                         <li>Serwis nie zbiera w sposób automatyczny żadnych informacji, z wyjątkiem informacji zawartych w plikach cookies.</li>
                         <li>Pliki cookies przeznaczone są do korzystania ze stron serwisu. Operator wykorzystuje te pliki do:</li>
                         <ol style="list-style-type: lower-alpha;">
                            <li>możliwości logowania i utrzymywania sesji użytkownika na każdej kolejnej stronie serwisu</li>
                            <li>dopasowania zawartości strony internetowej do indywidualnych preferencji użytkownika, przede wszystkim pliki te rozpoznają jego urządzenie, aby zgodnie z jego preferencjami wyświetlić stronę</li>
                            <li>działań reklamowych oraz marketingowych, także prowadzonych przez współpracujące z nami sieci reklamowe; w tym dostarczania użytkownikom treści reklamowych dostosowanych do jego preferencji, zainteresowań, danych demograficznych (wiek, płeć) oraz lokalizacyjnych;</li>
                            <li>tworzenia anonimowych statystyk oglądalności Serwisu oraz zbierania informacji o sposobie korzystania z Serwisu w celu ulepszenia jego struktury i zawartości, a także analizowania skuteczności prowadzonych działań reklamowych i marketingowych;</li>
                            <li>integracji strony z usługami zewnętrznymi, takimi jak m.in. Facebook </li>
                         </ol>
                         <li>Pliki cookies wykorzystywane przez partnerów operatora strony internetowej, w tym w szczególności użytkowników strony internetowej, podlegają ich własnej polityce prywatności.</li>
                         <li>Standardowo oprogramowanie służące do przeglądania stron internetowych domyślnie dopuszcza umieszczanie plików cookies na urządzeniu końcowym Użytkownika. Ustawienia te mogą zostać zmienione przez Użytkownika w taki sposób, aby blokować automatyczną obsługę “cookies” w ustawieniach przeglądarki internetowej bądź informować o ich każdorazowym przesłaniu na urządzenia użytkownika.</li>
                         <li>Operator Serwisu informuje, że zmiany ustawień w przeglądarce internetowej użytkownika, o których mowa w pkt. 8, mogą uniemożliwić poprawne działanie Stron Internetowych.</li>
                         <li>Użytkownicy Serwisu mogą dokonać w każdym czasie zmiany ustawień dotyczących plików cookies. Szczegółowe informacje o możliwości i sposobach obsługi plików cookies dostępne są w ustawieniach oprogramowania (przeglądarki internetowej).</li>
                      </ol>
                      <p>Przykładowe opcje edytowania w popularnych przeglądarkach:</p>
                      <ul>
                         <li><a rel="noreferrer" target="_blank" href="http://www.support.mozilla.org/pl/kb/ciasteczka">Mozilla Firefox : http://www.support.mozilla.org/pl/kb/ciasteczka</a></li>
                         <li><a rel="noreferrer" target="_blank" href="http://www.support.microsoft.com/kb/278835/pl">Internet Explorer : http://www.support.microsoft.com/kb/278835/pl</a></li>
                         <li><a rel="noreferrer" target="_blank" href="http://www.support.google.com/chrome/bin/answer.py?hl=pl&amp;answer=95647">Google Chrome : http://www.support.google.com/chrome/bin/answer.py?hl=pl&amp;answer=95647</a></li>
                         <li><a rel="noreferrer" target="_blank" href="https://support.apple.com/pl-pl/guide/safari/sfri11471/mac">Safari : https://support.apple.com/pl-pl/guide/safari/sfri11471/mac</a></li>
                      </ul>
                   </div>
                </div>
             </div>
        </div>
        {% comment %} END {% endcomment %}

              </div>
          </div>
      </div>
  </section>
</main>
{% endblock root %}
