{% extends 'core/pages/crm/extends/CrmBase.html' %} 
{% load static %}

{% block head_stylesheets %}
{% endblock head_stylesheets %}

{% block crm_content %}

<p>
    W programie partnerskim jest <b>{{loyalty_program_user_count}} użytkowników</b>
</p>

<p>
    <ol>
        <li>Ile jest użytkowników ogólnie</li>
        <li>Ile jest zgłoszeń dzisiaj</li>
        <li>Ile było zgłoszeń wczoraj</li>
    </ol>
</p>

<p>
    https://geeksui.codescandy.com/geeks/pages/dashboard-instructor.html
</p>

<p>
    https://geeksui.codescandy.com/geeks/pages/instructor-profile.html
</p>


{% endblock crm_content %}

{% block body_scripts %}{% endblock body_scripts %}
