
    <td>
      <b>[ ID = {{campaign.id}} ]</b>
      <b
        class="text-{{campaign.status_color}}"
      >
        ( {{campaign.get_status_display}} )
      </b>
      <b>( Alias: {{campaign.alias}} )</b>
      <a href="{% url 'core:crm_mailing_campaign_detail' pk=campaign.pk %}">
        <b>{{campaign}}</b>
      </a>
      <br>

      <small>Lista rezygnacji:
        {% if campaign.resignation_list == "default" %}
          <i class="text-info fw-bold px-2 fs-5 me-2">
        {% else %}
          <i class="bg-warning fw-bold px-2 fs-5 me-2">
        {% endif %}
            <b>{{campaign.resignation_list}}</b>
          </i>
      </small>
      /
      <a href="{% url 'admin:core_mailingcampaign_change' object_id=campaign.id %}">
        <small>CMS</small>
      </a>
      /
      {% if campaign.template %}
      <a href="{% url 'admin:core_mailingtemplate_change' object_id=campaign.template.id %}">
        <small>Szablon CMS</small>
      </a>
      /
      {% endif %}
      <a href="{% url 'core:crm_mailing_campaign_preview_html' pk=campaign.pk %}">
        <small>HTML Preview</small>
      </a>
      /
      <a href="{% url 'core:crm_mailing_campaign_preview_text' pk=campaign.pk %}">
        <small>TEXT preview</small>
      </a>
      <br>
      <br>
      <b><u>Konto wysyłkowe:</u></b>
      {% url 'admin:core_smtpsender_change' object_id=campaign.smtp_sender.id as link %}
      {% include "include/crm/EditWithCmsButton.html" with link=link %}
      
      <br>
      {% if campaign.smtp_sender.exclude_from_processing %}
        <small class="text-danger"><b>{{campaign.smtp_sender}}</b> <b>(excluded from mailing processing)</b></small>
      {% else %}
        <small><b>{{campaign.smtp_sender}}</b></small>  
      {% endif %}

      <span class="badge badge-dark">
        {{campaign.smtp_sender.sender_alias}}
      </span>

      - Sender.bucket_id = {{campaign.smtp_sender.bucket_id}} -&gt; <b>Campaign.bucket_id = {{campaign.bucket_id}}</b>

      {% if campaign.base_url_override %}
        <br>
        <span class="bg-warning px-2">
          BASE URL OVERRIDE: <b>{{campaign.base_url_override}}</b>
        </span>
      {% endif %}

      <br>
      
      {% if campaign.webinar %}
        <br>
        {% with webinar=campaign.webinar %}
        <b><u>Powiązane szkolenie:</u></b>
        <small>
          {% url "core:crm_webinar_detail_dashboard" pk=webinar.pk as link %}
          {% include "include/crm/EditWithCrmButton.html" with link=link %}
          {% url 'admin:core_webinar_change' object_id=webinar.id as link %}
          {% include "include/crm/EditWithCmsButton.html" with link=link %}
          {% url 'core:webinar_program_page' slug=webinar.slug as link %}
          {% include "include/crm/ShowOnPageButton.html" with link=link %}
        </small>
        <br>
        <small>[ webinar.id = {{webinar.id}} ]</small>
        <small>( {{webinar.lecturer}} ) | <b><u>{{webinar.date|date:"j E Y"}}</u></b> godz. {{webinar.date|date:"H:i"}} - {{webinar.date_end|date:"H:i"}}</small>
        <br>
        <small>
          <b>{{webinar.title}}</b>
        </small>
        <br>
        {% endwith %}
      {% endif %}
      <br>
      <b>
        <u>Szybkość wysyłania:</u>
        1 000 maili na {{campaign.sending_eta_1k_minutes}} minut
      </b>
      <br>
      <small>
        <b>Ilość w paczce:</b> {{campaign.sending_batch_size}}
      </small>
      <br>
      <small>
        <b>Czekaj między paczkami:</b> {{campaign.sleep_between_batches}}s
      </small>
      <br>
      <small>
        <b>Czekaj po każdym mailu:</b> {{campaign.sleep_every_send}}s
      </small>
      <br>
    </td>
    <td>
      <small>Limit:
        {% if campaign.limit_per_day == 0 %}
        –
        {% else %}
        {{campaign.limit_sent_so_far}} / {{campaign.limit_per_day}}
        {% endif %}
      </small>
      <br>
      
      {% if campaign.status != "DONE" %}
      {% if campaign.failure_counter >= 900 %}
      <small class="bg-danger p-1 text-white fw-bold">
      {% elif campaign.failure_counter > 0 %}
      <small class="text-danger">
      {% else %}
      <small>
      {% endif %}
        Błędy:
        <span
          hx-get="{% url "htmx:dwpldb:mailing-campaign-counters" campaign_id=campaign.id pool_status="failure_counter" %}"
          hx-trigger="click">
          click
        </span>
      </small>
      <br>
      {% endif %}

      {% if campaign.status != "DONE" %}
      <small>
        Proc.:
        <span
          hx-get="{% url "htmx:dwpldb:mailing-campaign-counters" campaign_id=campaign.id pool_status="BEING_PROCESSED" %}"
          hx-trigger="click">
          click
        </span>
        /
        <span
          hx-get="{% url "htmx:dwpldb:mailing-campaign-counters" campaign_id=campaign.id pool_status="READY_TO_SEND" %}"
          hx-trigger="click">
          click
        </span>
      </small>
      <br>
      {% endif %}
      
      {% if campaign.status != "DONE" %}
      <small>
        Wysł.:
        <span
          hx-get="{% url "htmx:dwpldb:mailing-campaign-counters" campaign_id=campaign.id pool_status="SENT" %}"
          hx-trigger="click">
          click
        </span>
      </small>
      <br>
      <small>
        Dziś: 
        <span
          hx-get="{% url "htmx:dwpldb:mailing-campaign-daily-counters-campaign" campaign_id=campaign.id %}"
          hx-swap="innerHTML"
          hx-trigger="click"
        >
        click
        </span>
      </small>
      <br>
      <small>
        Clicks: {{campaign.total_clicks}}
      </small>
      <br>
      {% endif %}
      <br>
      <small class="text-{% if campaign.is_send_after_correct %}success{% else %}danger{% endif %}">
        <b>Od {{campaign.send_after|date:"j b"}}</b>
      </small>
      <br>
      <small class="text-{% if campaign.is_allowed_to_send_correct %}success{% else %}danger{% endif %}">
        <b>Między {{campaign.allowed_to_send_after}} - {{campaign.allowed_to_send_before}} ( jest {{now|date:"H:i"}} )</b>
      </small>
      <br>
      <small>
        {% if campaign.why_not_sending %}
        <b class="text-danger">{{campaign.why_not_sending}}</b>
        {% else %}
        <b class="text-success">Powinno wysyłać</b>
        {% endif %}
      </small>
    </td>
