{% load static %}
<!--begin::Team Section-->
<div class="py-10 py-lg-20">
  <!--begin::Container-->
  <div class="container">
    <!--begin::Heading-->
    <div class="text-center mb-12">
      <!--begin::Title-->
      <h3
        class="fs-2hx text-dark mb-5"
        id="team"
        data-kt-scroll-offset="{default: 100, lg: 150}"
      >
        Nasi wykładowcy
      </h3>
      <!--end::Title-->
      <!--begin::Sub-title-->
      <div class="fs-5 text-muted fw-bold">
        Nasze szkolenia są prowadzone przez czołowych specjalistów w swoich
        dziedzinach, którzy posiadają praktyczne doświadczenie w swojej pracy.
        Wśród wykładowców znajdują się przedstawiciele Izb i Urzędów Skarbowych,
        wykładowcy wyższych uczelni, praktycy - prawnicy, doradcy podatkowi,
        biegli rewidenci, główni księgowi, dyrektorzy, kontrolerzy i analitycy
        finansowi.
      </div>
      <!--end::Sub-title=-->
    </div>
    <!--end::Heading-->
    <!--begin::Slider-->
    <div class="tns tns-default" style="direction: ltr">
      <!--begin::Wrapper-->
      <div
        data-tns="true"
        data-tns-loop="true"
        data-tns-swipe-angle="false"
        data-tns-speed="2000"
        data-tns-autoplay="true"
        data-tns-autoplay-timeout="18000"
        data-tns-controls="true"
        data-tns-nav="false"
        data-tns-items="1"
        data-tns-center="false"
        data-tns-dots="false"
        data-tns-prev-button="#kt_team_slider_prev"
        data-tns-next-button="#kt_team_slider_next"
        data-tns-responsive="{1200: {items: 3}, 992: {items: 2}}"
      >
        {% for lecturer in visible_lecturers %}
        <!--begin::Item-->
        <div class="text-center">
          <!--begin::Photo-->
          <div
            class="xehagon mx-auto mb-5 d-flex w-200px h-200px bgi-no-repeat bgi-size-contain bgi-position-center"
            style="
              background-image: url('{% get_media_prefix %}uploads/lecturers/{{lecturer.slug}}_300x300.webp');
            "
          ></div>
          <!--end::Photo-->
          <!--begin::Person-->
          <div class="mb-0">
            <!--begin::Name-->
            <a href="#" class="text-dark fw-bold text-hover-primary fs-3">
              {{lecturer.fullname}}
            </a>
            <!--end::Name-->
            <!--begin::Position-->
            <div class="text-muted fs-6 fw-semibold mt-1">
              {{lecturer.profession}}
            </div>
            <!--begin::Position-->
          </div>
          <!--end::Person-->
        </div>
        <!--end::Item-->
        {% endfor %}
      </div>
      <!--end::Wrapper-->
      <!--begin::Button-->
      <button
        class="btn btn-icon btn-active-color-primary"
        id="kt_team_slider_prev"
      >
        <i class="ki-duotone ki-left fs-2x"></i>
      </button>
      <!--end::Button-->
      <!--begin::Button-->
      <button
        class="btn btn-icon btn-active-color-primary"
        id="kt_team_slider_next"
      >
        <i class="ki-duotone ki-right fs-2x"></i>
      </button>
      <!--end::Button-->
    </div>
    <!--end::Slider-->
  </div>
  <!--end::Container-->
</div>
<!--end::Team Section-->
