{% extends 'geeks/extends/foundation.html' %}

{% load static %}

{% block head_stylesheets %}
  <link rel="preload" href="{% static 'geeks/assets/libs/tiny-slider/tiny-slider.css' %}" rel="stylesheet" type="text/css">
  <link rel="preload" rel="stylesheet" href="{% static 'geeks/assets/libs/magnific-popup/magnific-popup.css' %}" type="text/css" />
{% endblock head_stylesheets %}

{% block title %}
      <title>{{COMPANY_NAME}}</title>
    {% endblock title %}

{% block meta %}
    <meta name="description" content="Szkolenia zakresu księgowości, kadr i płac, podatków, finansów." />
    <link rel="canonical" href="{{META__BASE_URL}}" />
    <meta property="og:title" content="{{COMPANY_NAME}} - Szkolenia wielobranżowe, księgowości, kadry płace, podatkowe" />
{% endblock meta %}

{% block body_scripts %}
  <script src="{% static 'geeks/assets/libs/typed.js/typed.umd.js' %}"></script>
  <script src="{% static 'geeks/assets/libs/tiny-slider/min/tiny-slider.js' %}"></script>
  <script src="{% static 'geeks/assets/js/vendors/tnsSlider.js' %}"></script>
  <script>
    if($(".headingTyped2").length) {
      new Typed(
        ".headingTyped2",
        {
          strings: ["Księgowych", "Kadrowych", "Spółdzielni", "Oświaty", "Budżetówki", "Budownlanki", "JST"],
          typeSpeed:80,
          backSpeed:40,
          backDelay:1500,
          loop:!0
        });
      }
 </script>
 <script src="{% static 'geeks/assets/libs/magnific-popup/jquery.magnific-popup.min.js' %}"></script>
{% endblock body_scripts %}


{% block root %}
<!-- section -->
<main>
  {% include './homepage_sections/hero1.html' %}
  {% comment %} {% include './homepage_sections/trusted_us.html' %} {% endcomment %}
  {% include './homepage_sections/homepage_categories.html' with categories=categories %}
  {% include './homepage_sections/homepage_lecturers.html' with lecturers=homepage_lecturers %}
  {% comment %} {% include './homepage_sections/homepage_loyalty_program.html' %} {% endcomment %}

  {% include "geeks/components/loyalty/LoyaltyProgramVideoSection.html" with section_class="pb-lg-14 pb-6" show_button=True %}

  {% include './homepage_sections/homepage_certificate.html' %}
</main>
{% endblock root %}
