{% extends 'geeks/extends/foundation.html' %}

{% load static %}

{% block head_stylesheets %}
  {% comment %} <link href="{% static 'geeks/assets/libs/tiny-slider/dist/tiny-slider.css' %}" rel="stylesheet" type="text/css"> {% endcomment %}
  <link rel="stylesheet" href="{% static 'geeks/assets/libs/glightbox/dist/css/glightbox.min.css' %}" type="text/css" />
{% endblock head_stylesheets %}

{% block title %}
      <title>{{COMPANY_NAME}}</title>
    {% endblock title %}

{% block meta %}
    <meta name="description" content="Szkolenia zakresu księgowości, kadr i płac, podatków, finansów." />
    <link rel="canonical" href="{{META__BASE_URL}}" />
    <meta property="og:title" content="{{COMPANY_NAME}} - Szkolenia wielobranżowe, księgowości, kadry płace, podatkowe" />
{% endblock meta %}

{% block body_scripts %}
  <script src="{% static 'geeks/assets/libs/typed.js/dist/typed.umd.js' %}"></script>
  {% comment %} <script src="{% static 'geeks/assets/libs/tiny-slider/dist/tiny-slider.js' %}"></script> {% endcomment %}
  <script src="{% static 'geeks/assets/js/vendors/tnsSlider.js' %}"></script>
  <script src="{% static 'geeks/assets/libs/glightbox/dist/js/glightbox.min.js' %}"></script>
  {% comment %} <script src="{% static "geeks/assets/js/vendors/typed.js" %}"></script> {% endcomment %}
  <script src="{% static "geeks/assets/js/vendors/glight.js" %}"></script>
  <script>
    if($(".headingTyped2").length) {
      new Typed(
        ".headingTyped2",
        {
          strings: ["Kadrowych", "Księgowych", "Spółdzielni", "Wspólnot", "Oświaty", "Budżetówki", "Budownlanki", "JST"],
          typeSpeed:80,
          backSpeed:40,
          backDelay:1500,
          loop: true
        });
      }
 </script>
{% endblock body_scripts %}

{% block root %}
<!-- section -->
<main>
  {% comment %} {% include './homepage_sections/hero1.html' %} {% endcomment %}
  {% include './homepage_sections/hero2.html' with lecturers=homepage_lecturers %}
  {% comment %} {% include './homepage_sections/trusted_us.html' %} {% endcomment %}
  {% include './homepage_sections/homepage_categories2.html' with categories=categories %}
  {% comment %} {% include './homepage_sections/homepage_lecturers.html' with lecturers=homepage_lecturers %} {% endcomment %}
  {% comment %} {% include './homepage_sections/homepage_loyalty_program.html' %} {% endcomment %}

  {% include "geeks/components/loyalty/LoyaltyProgramVideoSection.html" with show_button=True %}
  {% include './homepage_sections/homepage_certificate.html' %}

</main>
{% endblock root %}
