{% if not request.user.is_authenticated %}

<!--begin::User-->
<div class="d-flex align-items-center ms-lg-5">
  <!--begin::User info-->
  <div
    class="btn btn-active-light d-flex flex-column align-items-center bg-hover-light py-2 px-2 px-md-3"
  >
    <a href="{% url 'core:login_page' %}">
      <!--begin::Symbol-->
      <div class="symbol symbol-30px symbol-md-40px">
        <i class="ki-outline ki-user fs-2x" style="vertical-align: middle"></i>
      </div>
      <!--end::Symbol-->
      <!--begin::Name-->
      <div
        class="mt-2 d-none d-md-flex flex-column align-items-end justify-content-center me-2"
      >
        <span class="text-gray-800 fs-base fw-bold lh-1">Zaloguj się</span>
      </div>
      <!--end::Name-->
    </a>
  </div>
  <!--end::User info-->
</div>
<!--end::User -->

{% else %}
<!--begin::User-->
<div class="d-flex align-items-center ms-lg-5" id="kt_header_user_menu_toggle">
  <!--begin::User info-->
  <div
    class="btn btn-active-light d-flex align-items-center bg-hover-light py-2 px-2 px-md-3"
    data-kt-menu-trigger="{default: 'click', lg: 'hover'}"
    data-kt-menu-attach="parent"
    data-kt-menu-placement="bottom-end"
  >
    <!--begin::Name-->
    <div
      class="d-none d-md-flex flex-column align-items-end justify-content-center me-2"
    >
      <span class="text-dark fs-base fw-semibold lh-1 mb-2">Anna</span>
      <span class="text-dark fs-base fw-bold lh-1">Kowalska</span>
    </div>
    <!--end::Name-->
    <!--begin::Symbol-->
    <div class="symbol symbol-30px symbol-md-40px">
      {% comment %}
      <i class="ki-duotone ki-user fs-2x" style="vertical-align: middle"
        ><i class="path1"></i><i class="path2"></i
      ></i>
      {% endcomment %}
      <i class="ki-outline ki-user fs-2x" style="vertical-align: middle"></i>
    </div>
    <!--end::Symbol-->
  </div>
  <!--end::User info-->
  <!--begin::User account menu-->
  <div
    class="w-350px menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-800 menu-state-bg menu-state-color fw-semibold py-4 fs-6"
    data-kt-menu="true"
  >
    <!--begin::Menu item-->
    <div class="menu-item px-3">
      <div class="menu-content d-flex align-items-center px-3">
        <!--begin::Username-->
        <div class="d-flex flex-column">
          <div class="fw-bold d-flex align-items-center fs-5">
            Anna Kowalska
          </div>
          <a href="#" class="fw-semibold text-muted text-hover-primary fs-7"
            >anna.kowalska@indslrnsdfds.pl</a
          >
        </div>
        <!--end::Username-->
      </div>
    </div>
    <!--end::Menu item-->
    <!--begin::Menu separator-->
    <div class="separator my-2"></div>
    <!--end::Menu separator-->
    <!--begin::Menu item-->
    <div class="menu-item px-5">
      <a href="/cms/" class="menu-link px-5">CMS</a>
    </div>
    <!--end::Menu item-->
    <!--begin::Menu item-->
    <div class="menu-item px-5">
      <a href="/crm/" class="menu-link px-5">CRM</a>
    </div>
    <!--end::Menu item-->
    <!--begin::Menu item-->
    <div class="menu-item px-5">
      <a href="../../demo5/dist/apps/projects/list.html" class="menu-link px-5">
        <span class="menu-text">My Projects</span>
        <span class="menu-badge">
          <span class="badge badge-light-danger badge-circle fw-bold fs-7"
            >3</span
          >
        </span>
      </a>
    </div>
    <!--end::Menu item-->
    <!--begin::Menu item-->
    <div
      class="menu-item px-5"
      data-kt-menu-trigger="{default: 'click', lg: 'hover'}"
      data-kt-menu-placement="left-start"
      data-kt-menu-offset="-15px, 0"
    >
      <a href="#" class="menu-link px-5">
        <span class="menu-title">My Subscription</span>
        <span class="menu-arrow"></span>
      </a>
      <!--begin::Menu sub-->
      <div class="menu-sub menu-sub-dropdown w-175px py-4">
        <!--begin::Menu item-->
        <div class="menu-item px-3">
          <a
            href="../../demo5/dist/account/referrals.html"
            class="menu-link px-5"
            >Referrals</a
          >
        </div>
        <!--end::Menu item-->
        <!--begin::Menu item-->
        <div class="menu-item px-3">
          <a href="../../demo5/dist/account/billing.html" class="menu-link px-5"
            >Billing</a
          >
        </div>
        <!--end::Menu item-->
        <!--begin::Menu item-->
        <div class="menu-item px-3">
          <a
            href="../../demo5/dist/account/statements.html"
            class="menu-link px-5"
            >Payments</a
          >
        </div>
        <!--end::Menu item-->
        <!--begin::Menu item-->
        <div class="menu-item px-3">
          <a
            href="../../demo5/dist/account/statements.html"
            class="menu-link d-flex flex-stack px-5"
            >Statements
            <span
              class="ms-2"
              data-bs-toggle="tooltip"
              title="View your statements"
            >
              <i class="ki-duotone ki-information fs-7">
                <span class="path1"></span>
                <span class="path2"></span>
                <span class="path3"></span>
              </i> </span
          ></a>
        </div>
        <!--end::Menu item-->
        <!--begin::Menu separator-->
        <div class="separator my-2"></div>
        <!--end::Menu separator-->
        <!--begin::Menu item-->
        <div class="menu-item px-3">
          <div class="menu-content px-3">
            <label
              class="form-check form-switch form-check-custom form-check-solid"
            >
              <input
                class="form-check-input w-30px h-20px"
                type="checkbox"
                value="1"
                checked="checked"
                name="notifications"
              />
              <span class="form-check-label text-muted fs-7"
                >Notifications</span
              >
            </label>
          </div>
        </div>
        <!--end::Menu item-->
      </div>
      <!--end::Menu sub-->
    </div>
    <!--end::Menu item-->
    <!--begin::Menu item-->
    <div class="menu-item px-5">
      <a href="../../demo5/dist/account/statements.html" class="menu-link px-5"
        >My Statements</a
      >
    </div>
    <!--end::Menu item-->
    <!--begin::Menu separator-->
    <div class="separator my-2"></div>
    <!--end::Menu separator-->
    <!--begin::Menu item-->
    <div class="menu-item px-5">
      <a
        href="{% url 'core:logout_page' %}"
        class="menu-link text-danger px-5"
        >Wyloguj się</a
      >
    </div>
    <!--end::Menu item-->
  </div>
  <!--end::User account menu-->
</div>
<!--end::User -->

{% endif %}
