{% load static %}
{% comment %} Basic meta {% endcomment %}
<meta charset="utf-8" />
<meta name="description" content="{{META__DESCRIPTION}}" />
<meta name="keywords" content="{{META__KEYWORDS}}" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
{% comment %} Open Graph Protocol {% endcomment %}
<meta property="og:locale" content="{{META__OG_LOCALE}}" />
<meta property="og:type" content="website" />
<meta property="og:title" content="{{META__TITLE}}" />
<meta property="og:url" content="{{META__OG_URL}}" />
<meta property="og:site_name" content="{{META__OG_SITE_NAME}}" />

<link rel="canonical" href="https://preview.keenthemes.com/metronic8" />
<link rel="shortcut icon" href="{% static 'media/logos/favicon.ico' %}" />