{% if page_obj.paginator.num_pages != 1 %}

<div class="my-4">

<ul class="pagination">
    {% comment %} Previous page {% endcomment %}
    {% if page_obj.has_previous %}
    <li class="page-item previous">
      <a href="./?{{param_name}}={{page_obj.previous_page_number}}" class="page-link">
        <i class="previous"></i>
      </a>
    </li>
    <li class="page-item">
      <a href="./?{{param_name}}={{page_obj.previous_page_number}}" class="page-link">
        {{page_obj.previous_page_number}}
      </a>
    </li>
    {% endif %}
    {% comment %} Current active page {% endcomment %}
    <li class="page-item active">
      <a href="./?{{param_name}}={{page_obj.number}}" class="page-link">{{page_obj.number}}</a>
    </li>
    {% comment %} Next page {% endcomment %}
    {% if page_obj.has_next %}
    <li class="page-item ">
      <a href="./?{{param_name}}={{page_obj.next_page_number}}" class="page-link">
        {{page_obj.next_page_number}}
      </a>
    </li>
    <li class="page-item next">
      <a href="./?{{param_name}}={{page_obj.next_page_number}}" class="page-link">
        <i class="next"></i>
      </a>
    </li>
    {% endif %}
  </ul>

  </div>
{% endif %}