{% extends './WebinarCategoryBase.html' %}

{% load static %}

{% block content %}
<section class="py-1">
    <div class="container">
       <div class="row">
          <div class="col-md-12">
             <!-- Tab content -->
             <div class="tab-content" id="pills-tabContent">
                <!-- Tab Pane -->
                <div class="tab-pane fade active show" id="pills-author" role="tabpanel" aria-labelledby="pills-author-tab">
                   <div class="row">
                      <div class="col-lg-6 col-md-6 col-12">
                         <!-- Card -->
                         <div class="card mb-4">
                            <!-- Card body -->
                            <div class="card-body">
                               <div class="d-lg-flex">
                                  <div>
                                     <h4 class="mb-0">Jenny Wilson</h4>
                                     <p class="mb-0 fs-6">Front-end Developer, Designer</p>
                                     <p class="fs-6 mb-1 text-warning">
                                        <span>4.5</span><span class="mdi mdi-star text-warning me-2"></span>Instructor Rating
                                     </p>
                                     <p class="fs-6 text-muted">
                                        <span class="me-2"><span class="text-dark fw-medium">42</span>
                                        Courses</span><span class="ms-2"><span class="text-dark fw-medium">1,10,124
                                        </span>
                                        Students</span>
                                     </p>
                                     <p>
                                        I start my development and digital career studying
                                        digital design. After taking a couple of programming
                                        classes I realize that code is what I wanted to be
                                        doing.
                                     </p>
                                     <a href="course-path-single.html#" class="btn btn-outline-secondary btn-sm">
                                     View Details
                                     </a>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </section>
{% endblock content %}
