{% extends './WebinarCategoryBase.html' %}

{% load static %}

{% block meta %}
    <meta name="robots" content="noindex">
{% endblock meta %}

{% block content %}
<section class="py-6">
<div class="container">
    <div class="row">

    {% if category_lecturers %}
    <div class="col-md-12">
        <!-- Tab content -->
        <div class="tab-content" id="pills-tabContent">
        <!-- Tab Pane -->
        <div
            class="tab-pane fade active show"
            id="pills-author"
            role="tabpanel"
            aria-labelledby="pills-author-tab"
        >
            <div class="row">
                {% for lecturer in category_lecturers %}
                    <div class="col-lg-6 col-md-6 col-12">
                        {% include "geeks/components/lecturer_card.html" with lecturer=lecturer classes="mb-4" %}
                    </div>
                {% endfor %}
            </div>
        </div>
        </div>
    </div>
    </div>
    {% else %}
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h2>
                    Oficjalna lista wykładowców pojawi się wkrótce
                </h2>
            </div>
        </div>
    </div>
    {% endif %}



</div>
</section>
{% endblock content %}
