{% extends 'geeks/extends/foundation.html' %}

{% load static %}

{% block title %}
   <title>Wszystkie kategorie</title>
{% endblock title %}

{% block root %}
<main>
    <section class="bg-primary">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-xl-12 col-lg-12 col-md-12 col-12">
            <div class="py-4 py-lg-6">
              <h1 class="mb-0 text-white display-4">
                Wszystkie kategorie szkoleń
              </h1>
              <p class="text-white mb-0 lead">
                Wszystkie realizowane przez nas kategorie szkoleń
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="container py-7">
      <div class="row gy-4">
        <div class="col-lg-6 col-md-6 col-12">
          {% include "geeks/components/category_card.html" with slug="wszystkie-szkolenia" name="Wszystkie szkolenia" count=CACHED_ACTIVE_WEBINARS_COUNT %}
        </div>
        {% for category, count, _ in CACHED_MAIN_CATEGORIES %}
          <div class="col-lg-6 col-md-6 col-12">
            {% include "geeks/components/category_card.html" with slug=category.slug name=category.name icon_html=category.icon_html count=count %}
          </div>
        {% endfor %}
      </div>
    </section>
</main>
{% endblock root %}