{% extends 'geeks/extends/foundation.html' %}

{% load static %}

{% block head_stylesheets %}{% endblock head_stylesheets %}

{% block body_tag %}
  <body class="bg-white">
{% endblock body_tag %}

{% block root %}

<main>

  <section class="mt-4 mx-3">

    <div class="container bg-light rounded-4 pe-lg-0 overflow-hidden">
        <div class="row align-items-center gy-5 gy-xl-0">
            <div class="col-lg-12 col-12">
                <div class="d-flex flex-column gap-4 px-lg-6 p-3">
                    <div class="d-flex flex-column gap-3">
                        <h1 class="mb-0 display-4 fw-bold">
                          {{category_title}}
                        </h1>
                        <p class="mb-0 pe-xxl-8 me-xxl-5">
                          {{category_short_description}}
                        </p>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-6 col-12 d-none d-lg-block">
                <div class="text-center position-relative">
                    <div class="position-absolute top-0 end-0 bottom-0">
                        <img src="{% static "geeks/assets/images/course/side-shape.svg" %}" alt="">
                    </div>
                </div>
            </div>

        </div>
    </div>
  </section>

  <!-- Content  -->
  {% block content %}{% endblock content %}
</main>
{% endblock root %}
