{% extends 'geeks/extends/foundation.html' %}

{% load static %}

{% block title %}
   <title>Wszystkie kategorie</title>
{% endblock title %}

{% block root %}
<main>
    <section class="bg-primary">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-xl-12 col-lg-12 col-md-12 col-12">
            <div class="py-4 py-lg-6">
              <h1 class="mb-0 text-white display-4">{{category_name}}</h1>
              <p class="text-white mb-0 lead">
                Wszystkie realizowane przez nas kategorie szkoleń
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="container py-7">
      <div class="row gy-4">
        {% for subcategory, subcategory_count in subcategories %}
          <div class="col-lg-4 col-md-4 col-12">
          {% include "geeks/components/category_card.html" with category=subcategory count=subcategory_count %}
          </div>
        {% endfor %}
      </div>
    </section>
</main>
{% endblock root %}