{% extends './WebinarCategoryBase.html' %}

{% load static %}

{% block content %}

<section class="py-6">
<div class="container">
    <div class="row">

        {% if opinions_page %}
            <div class="col-md-12">
                <div class="card mb-4">
                    <div class="card-body">
                        {% if opinions_breakdown %}
                            {% include 'geeks/components/rating_breakdown.html' with opinions_breakdown=opinions_breakdown opinions_count=opinions_count %}
                        {% endif %}
                    </div>
                </div>
            </div>

            {% for opinion in opinions_page %}
            <div class="col-lg-6 col-md-12">
                <div class="card mb-4">
                    <div class="card-body">
                        {% include 'geeks/components/opinion.html' with opinion=opinion %}
                    </div>
                </div>
            </div>
            {% endfor %}

            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        {% include 'geeks/components/pagination.html' with page_obj=opinions_page %}
                    </div>
                </div>
            </div>
        {% else %}
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h2>
                        Jeszcze nie dodano żadnej opinii dla szkoleń tej kategorii 
                    </h2>
                </div>
            </div>
        </div>
        {% endif %}
    
    </div>
</div>
</section>
{% endblock content %}
