{% extends './WebinarCategoryBase.html' %}
{% load static %}

{% block title %}
{% if not category_title %}
<title>{{category_name}} - {{COMPANY_NAME}}</title>
{% else %}
<title>{{category_title}} - {{COMPANY_NAME}}</title>
{% endif %}
{% endblock title %}

{% block content %}
<section class="py-5">
  <div class="container">
    <div class="row gy-5 gy-lg-0">
      <div class="col-xxl-3 col-lg-4 col-12 order-2 order-lg-1">

        <div class="card js-sticky-widget">
          <!-- Card body -->
          <div class="card-body">
            <div class="d-flex align-items-center">
              <div class="position-relative">
                <img
                  src="{% static 'media/avatars/300-12.webp' %}"
                  alt="avatar"
                  class="rounded-circle avatar-xl"
                  />
                <a
                  href="#"
                  class="position-absolute mt-2 ms-n3"
                  >
                <img
                  src="{% static 'geeks/assets/images/svg/checked-mark.svg' %}"
                  alt="checked-mark"
                  height="30"
                  width="30"
                  />
                </a>
              </div>
              <div class="ms-4">
                <h4 class="mb-0">{{PATRON_FIRST_NAME}} {{PATRON_LAST_NAME}}</h4>
                <p class="mb-1 fs-6">{{PATRON_JOB_TITLE}}</p>
              </div>
            </div>
            <div class="row mt-3 mb-3 g-0">
              <div class="col-12">
                <div class="pe-1 ps-2 py-3">
                  <h5 class="mb-0">E-mail</h5>
                  <span>
                  <a href="mailto:{{PATRON_EMAIL}}" class="fs-6">
                  {{PATRON_EMAIL}}
                  </a>
                  </span>
                </div>
              </div>
              <div class="col-12">
                <div class="pe-1 ps-2 py-1">
                  <h5 class="mb-0">Numer telefonu</h5>
                  <span>
                  {{PATRON_PHONE}}
                  </span>
                </div>
              </div>
            </div>
            <div class="text-center">
              <a
                href="#"
                data-bs-toggle="modal" data-bs-target="#askQuestionModal"
                class="btn btn-primary btn-sm"
                >
              Zadaj pytanie
              </a>
            </div>
          </div>
        </div>

      </div>
      <div class="col-xxl-9 col-lg-8 col-12 order-1 order-lg-2">
        <div class="d-flex flex-column gap-3">

        {% for aggregate in aggregates %}
        {% if aggregate.has_active_webinars %}
        {% include "./components/aggregate_row_card.html" with aggregate=aggregate %}
        {% endif %}
        {% endfor %}

        <h2>Szkolenia archiwalne</h2>

        {% for aggregate in aggregates %}
        {% if not aggregate.has_active_webinars %}
        {% include "./components/aggregate_row_card.html" with aggregate=aggregate %}
        {% endif %}
        {% endfor %}

        {% if category_about_html %}
        <div>
          {{category_about_html|safe}}
        </div>
        {% endif %}
          
          {% if menu_categories %}
          <div>
            <p style="font-size: 18px;font-weight: 500;">Zobacz powiązane szkolenia</p>
            <div class="row">
              <div class="col-12 col-sm-4">
                {% for cat in cat_column_a %}
                <p style="font-size: 14px;line-height: 1em;">
                  <a href="{% url 'core:webinar_category_page' slug=cat.slug %}">{{cat.title|default:cat.name}}</a>
                </p>
                {% endfor %}
              </div>
              <div class="col-12 col-sm-4">
                {% for cat in cat_column_b %}
                <p style="font-size: 14px;line-height: 1em;">
                  <a href="{% url 'core:webinar_category_page' slug=cat.slug %}">{{cat.title|default:cat.name}}</a>
                </p>
                {% endfor %}
              </div>
              <div class="col-12 col-sm-4">
                {% for cat in cat_column_c %}
                <p style="font-size: 14px;line-height: 1em;">
                  <a href="{% url 'core:webinar_category_page' slug=cat.slug %}">{{cat.title|default:cat.name}}</a>
                </p>
                {% endfor %}
              </div>
            </div>
            {% endif %}
                        
            <p style="font-size: 18px;font-weight: 500;">Zobacz także</p>
            
            <p style="font-size: 14px;line-height: 1em;">
              {% for main_category, count, _ in CACHED_MAIN_CATEGORIES %}
              <a href="{% url 'core:webinar_category_page' slug=main_category.slug %}">{{main_category.title}}</a>{% if not forloop.last %},{% endif %}
              {% endfor %}
            </p>

          </div>

        </div>
      </div>
    </div>
  </div>
</section>



<div class="modal fade" id="askQuestionModal" tabindex="-1" role="dialog" aria-labelledby="askQuestionModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="askQuestionModalTitle">Zadaj pytanie</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <div class="modal-body">
        <div hx-get="{% url 'htmx:htmx_contact_message' %}?related_to={{request.path}}" hx-trigger="load">
          Ładowanie ...
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
{% block body_scripts %}
<script src="{% static 'js/htmx.min.js' %}"></script>
<script>
  document.body.addEventListener('htmx:configRequest', (event) => {
     event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
  })
</script>
<script src="{% static 'js/sticksy.min.js' %}"></script>
<script>
   var stickyElement = new Sticksy('.js-sticky-widget', {topSpacing: 80});
   stickyElement.onStateChanged = function (state) {
      if(state === 'fixed') {
         stickyElement.nodeRef.classList.add('widget--sticky')
      } else {
         stickyElement.nodeRef.classList.remove('widget--sticky')
      }
   }
</script>
{% endblock body_scripts %}