<!--begin::Aside-->
<div
  id="kt_aside"
  class="aside"
  data-kt-drawer="true"
  data-kt-drawer-name="aside"
  data-kt-drawer-activate="{default: true, lg: false}"
  data-kt-drawer-overlay="true"
  data-kt-drawer-width="{default:'200px', '300px': '225px'}"
  data-kt-drawer-direction="start"
  data-kt-drawer-toggle="#kt_aside_toggle"
  data-kt-sticky="true"
  data-kt-sticky-name="aside-sticky"
  data-kt-sticky-offset="{default: false, lg: '1px'}"
  data-kt-sticky-width="{lg: '225px'}"
  data-kt-sticky-left="auto"
  data-kt-sticky-top="94px"
  data-kt-sticky-animation="false"
  data-kt-sticky-zindex="95"
>
  <!--begin::Aside nav-->
  <div
    class="hover-scroll-overlay-y my-5 my-lg-5 w-100 ps-4 ps-lg-0 pe-4 me-1"
    id="kt_aside_menu_wrapper"
    data-kt-scroll="true"
    data-kt-scroll-activate="{default: false, lg: true}"
    data-kt-scroll-height="auto"
    data-kt-scroll-dependencies="#kt_header"
    data-kt-scroll-wrappers="#kt_aside"
    data-kt-scroll-offset="5px"
  >
    <!--begin::Menu-->
    <div
      class="menu menu-column menu-active-bg menu-hover-bg menu-title-gray-700 fs-6 menu-rounded w-100"
      id="#kt_aside_menu"
      data-kt-menu="true"
    >
    <div class="m-0">
      <!--begin::Wrapper-->
      <div class="d-flex align-items-sm-center mb-5">
        <!--begin::Symbol-->
        <div class="symbol symbol-45px me-4">
          
          
          {% if application.application_type == "COMPANY" %}
          <span class="symbol-label bg-primary">
            <i class="ki-duotone ki-briefcase fs-1 text-inverse-primary"><i class="path1"></i><i class="path2"></i></i>
          </span>
          {% elif application.application_type == "JSFP" %}
          <span class="symbol-label bg-danger">
            <i class="ki-duotone ki-bank fs-1 text-inverse-danger"><i class="path1"></i><i class="path2"></i></i>
          </span>
          {% elif application.application_type == "PRIVATE_PERSON" %}
          <span class="symbol-label bg-success">
            <i class="ki-duotone ki-user-square fs-1 text-inverse-success"><i class="path1"></i><i class="path2"></i><i class="path3"></i></i>
          </span>
          {% endif %}
        </div>
        <!--end::Symbol-->
        <!--begin::Section-->
        <div class="d-flex align-items-center flex-row-fluid flex-wrap">
          <div class="flex-grow-1 me-2">
            <a href="#" class="text-gray-400 fs-6 fw-semibold">
              Typ zgłoszenia
            </a>
            <span class="text-gray-800 fw-bold d-block fs-4">
              {% if application %}
                {{application.get_application_type_display}}
              {% else %}
                -
              {% endif %}
            </span>
          </div>
        </div>
        <!--end::Section-->
      </div>
      <!--end::Wrapper-->
      <!--begin::Timeline-->
      <div class="timeline">
        
        {% for title, description, is_active, extra_text in application_timeline %}
        <!--begin::Timeline item-->
        <div class="timeline-item align-items-center mb-7">
          {% if not is_active %}
          <!--begin::Timeline line-->
          <div class="timeline-line w-40px mt-6 mb-n12"></div>
          <!--end::Timeline line-->
          {% endif %}
          <!--begin::Timeline icon-->
          <div class="timeline-icon" style="margin-left: 11px">
            {% if is_active %}
            <i class="ki-duotone ki-abstract-4 fs-2 text-danger"><i class="path1"></i><i class="path2"></i></i>
            {% else %}
            <i class="ki-duotone ki-abstract-4 fs-2 text-success"><i class="path1"></i><i class="path2"></i></i>
            {% endif %}
          </div>
          <!--end::Timeline icon-->
          <!--begin::Timeline content-->
          <div class="timeline-content m-0">
            <!--begin::Title-->
            <span class="fs-6 text-gray-400 fw-semibold d-block">{{title}}</span>
            <!--end::Title-->
            <!--begin::Title-->
            <span class="fs-6 fw-bold text-gray-800">{{description}}</span>
            <!--end::Title-->
            {% if extra_text %}
            <!--begin::Title-->
            <span class="fs-6 fw-bold text-danger">{{extra_text}}</span>
            <!--end::Title-->
            {% endif %}
          </div>
          <!--end::Timeline content-->
        </div>
        <!--end::Timeline item-->
        {% endfor %}
      </div>
      <!--end::Timeline-->
    </div>
    </div>
    <!--end::Menu-->
  </div>
  <!--end::Aside nav-->
</div>
<!--end::Aside-->
