{% extends './ApplicationBase.html' %} 
{% load static %}

{% block content %}
<div class="row mt-0 mt-md-4">
    <div class="col-lg-8 col-md-8 col-12">
       
        <div class="card mb-4">
            <!-- Card header -->
            <div class="card-header">
                <h3 class="mb-0"><span class="text-primary">Krok {{step_number}}:</span> {{step_title}}</h3>
                <span>{{step_description}}</span>
            </div>
            <!-- Card body -->
            <div class="card-body">
                
                <form
                    action="{% url 'core:sale_recording_application_person_details_page' uuid=application.uuid %}"
                    method="post"
                    class="row"
                >
                {% csrf_token %}
    
    
                <div class="mb-3 col-12 col-md-6">
                    <label class="form-label" for="id_first_name">
                        Imię <span class="text-danger">*</span>
                    </label>
                    {{form.first_name}}
                    {{form.first_name.errors}}
                </div>
    
                <div class="mb-3 col-12 col-md-6">
                    <label class="form-label" for="id_last_name">
                        Nazwisko <span class="text-danger">*</span>
                    </label>
                    {{form.last_name}}
                    {{form.last_name.errors}}
                </div>
    
                <div class="mb-3 col-12 col-md-6">
                    <label class="form-label" for="id_postal_code">
                        Kod pocztowy <span class="text-danger">*</span>
                    </label>
                    {{form.postal_code}}
                    {{form.postal_code.errors}}
                </div>
    
                <div class="mb-3 col-12 col-md-6">
                    <label class="form-label" for="id_city">
                        Miejscowość <span class="text-danger">*</span>
                    </label>
                    {{form.city}}
                    {{form.city.errors}}
                </div>

                <div class="mb-3 col-12 col-md-12">
                    <label class="form-label" for="id_address">
                        Ulica i numer lokalu <span class="text-danger">*</span>
                    </label>
                    {{form.address}}
                    {{form.address.errors}}
                </div>
    
                <div class="mb-3 col-12 col-md-6">
                    <label class="form-label" for="id_email">
                        Adres E-mail <span class="text-danger">*</span>
                    </label>
                    {{form.email}}
                    {{form.email.errors}}
                </div>
                
                <div class="mb-3 col-12 col-md-6">
                    <label class="form-label" for="id_phone">
                        Numer telefonu <span class="text-danger">*</span>
                    </label>
                    {{form.phone}}
                    {{form.phone.errors}}
                </div>
                {% include './components/next_previous_buttons.html' %}
            </form>        
                
            </div>
        </div>  
       
  
    </div>
    <div class="col-lg-4 col-md-4 col-12">
        {% comment %} Date and hour card {% endcomment %}
        {% include 'geeks/pages/webinar/components/date_and_hour_card.html' with webinar=webinar hide_ctas="1" %}

        {% comment %} What we offer {% endcomment %}
        {% include 'geeks/pages/webinar/components/what_we_offer.html' with webinar=webinar %}
    </div>
</div>

{% endblock content %}

{% block body_scripts %}{% endblock body_scripts %}
