{% extends 'core/extends/base.html' %} 
{% load static %}

{% block head_stylesheets %}{% endblock head_stylesheets %}

{% block rightbar %}{% endblock rightbar %}
{% block leftbar %}{% endblock leftbar %}

{% block content %}
<!--begin::Wrapper-->
<div
  class="wrapper d-flex flex-column flex-row-fluid mt-5 mt-lg-10"
  id="kt_wrapper"
>
  <!--begin::Content-->
  <div class="content flex-column-fluid" id="kt_content">

    <div class="card">
      <div class="card-header">
          <h3 class="card-title">Zaakceptuj regulamin programu parterskiego</h3>
          <div class="card-toolbar">
            <form method="post" action="{% url 'core:loyalty_program_terms_of_service_accept_page' %}">
              {% csrf_token %}
              <input type="submit" class="btn btn-success hover-scale" value="Akceptuję regulamin programu parterskiego">
            </form>
          </div>
      </div>
      <div class="card-body">
        {% include 'core/pages/terms_and_conditions/snippets/TermsAndConditionsLoyaltyProgramCard.html' %}
      </div>
      <div class="card-header">
        <h3 class="card-title">Zaakceptuj regulamin programu parterskiego</h3>
        <div class="card-toolbar">
          <form method="post" action="{% url 'core:loyalty_program_terms_of_service_accept_page' %}">
            {% csrf_token %}
            <input type="submit" class="btn btn-success hover-scale" value="Akceptuję regulamin programu parterskiego">
          </form>
        </div>
    </div>
    </div>
  </div>
  <!--end::Content-->
</div>
<!--end::Wrapper-->
{% endblock content %}

{% block body_scripts %}{% endblock body_scripts %}
