<div
  class="card border-top border-4 card-hover-with-icon"
  onclick="window.location.href='{% url 'core:webinar_category_page' slug=slug %}'"
>
  <div class="card-body">
    <div
      class="icon-shape icon-lg rounded-circle bg-light text-muted mb-3 card-icon"
    >
      {% if icon_html %}
        {{icon_html|safe}}
      {% else %}
      <i class="bi bi-house-door" style="font-size:1.2rem;"></i>
      {% endif %}
    </div>
    <div class="d-flex align-items-center justify-content-between">
      <div>
        <h4 class="mb-0">{{name}}</h4>
        <p class="mb-0 text-muted">
            <span class="me-2">
              {% if count == 0 %}
                Brak szkoleń
              {% else %}
                <span class="text-dark fw-medium">{{count}}</span>
                {% if count == 1 %}
                szkolenie
                {% elif count <= 4 %}
                szkolenia
                {% elif count <= 21 %}
                szkoleń
                {% elif count <= 24 %}
                szkolenia
                {% elif count <= 25 %}
                szkoleń
                {% elif count <= 33 %}
                szkolenia
                {% endif %}
              {% endif %}
            </span>
        </p>
      </div>
      <a href="{% url 'core:webinar_category_page' slug=slug %}" class="text-inherit">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-chevron-right"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"
          ></path>
        </svg>
      </a>
    </div>
  </div>
</div>
