{% load static %}
{% if not hide_footer_newsletter_singup %}
<section class="py-7 mt-5" style="background-color: #754ffe;">
  <div class="container">
     <div class="row">
        <div class="offset-xl-2 col-xl-8 offset-lg-1 col-lg-10 col-md-12 col-12">
           <div class="text-center mb-5">
              <p class="display-2 text-dark fw-bold">
                <i class="bi bi-envelope-at"></i>
                Zapisz się i bądź na bieżąco
              </p>
              <p class="lead text-white">
                Wypełnij formularz, aby być na bieżąco z nowościami z zakresu interesującej Cię branży.
              </p>
           </div>
           <!-- Form -->
           <form
            class="px-md-8 mx-md-8"
            method="post"
            onsubmit="actionSubmit.disabled = true; return true;"
            action="{% url "core:lead_footer_post_endpoint" %}"
           >
            {% csrf_token %}
              <div class="mb-3 col ps-0">
                 <input type="email" name="email" class="form-control form-control-lg" placeholder="Twój adres e-mail" required>
              </div>
              <div class="mb-3">
                <select name="category" class="form-select form-select-lg mb-3" required>
                  <option selected value="0">Wybierz interesującą Cię branże</option>
                  {% for category, _, _ in CACHED_MAIN_CATEGORIES %}
                    <option value="{{category.id}}">{{category.name}}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="mb-3 col-auto ps-0">
                 <button class="btn btn-lg btn-dark" type="submit" name="actionSubmit">Zapisz się teraz</button>
              </div>
           </form>
        </div>
     </div>
  </div>
</section>
{% endif %}
<footer class="pt-lg-10 pt-5 footer bg-white">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-12">
        <!-- about company -->
        <div class="mb-4">
          <img
            src="{% static 'media/logos/wykladowcapl/logo.svg' %}"
            style="height:30px;"
            height="30px"
            width="179px"
            alt="{{COMPANY_NAME}}"
          />
          <div class="mt-4">
            <p class="mb-4">
              <b>{{COMPANY_NAME_FULL}}</b> <br>
              NIP: <b>{{COMPANY_NIP}}</b> <br>
              REGON: <b>{{COMPANY_REGON}}</b> <br>
              Wpisany do {{COMPANY_REGISTER_TYPE}} przez {{COMPANY_REGISTER_UNIT}} <br>
              Numer wpisu do Rejestru Instytucji Szkoleniowych: <b>2.24/00108/2023</b>
            </p>
          </div>
          <div class="mt-4">
            {% comment %} <!-- social media -->
            <div class="fs-4 mt-4">
              <a href="{{LINK_KADRY_PLACE_GRUPA_WSPARCIA}}" class="mdi mdi-facebook fs-4 text-muted me-2"></a>
              <a href="{{LINK_KSIEGOWOSC_KADRY_DAM_PRACE}}" class="mdi mdi-facebook fs-4 text-muted me-2"></a>
              <a href="#" class="mdi mdi-twitter text-muted me-2"></a>
              <a href="#" class="mdi mdi-instagram text-muted"></a>
            </div> {% endcomment %}
          </div>
        </div>
      </div>
      <div class="offset-lg-1 col-lg-2 col-md-3 col-6">
        <div class="mb-4">
          <!-- list -->
          <h3 class="fw-bold mb-3">Na skróty</h3>
          <ul class="list-unstyled nav nav-footer flex-column nav-x-0">
            <li><a href="{% url 'core:contact_page' %}" class="nav-link">Kontakt</a></li>
            <li><a href="{% url 'core:about_us_page' %}" class="nav-link">O nas</a></li>
            {% comment %} <a
                href="{% url 'core:terms_and_conditions_webinars' %}"
                class="text-white opacity-50 text-hover-primary fs-5 mb-6"
                >Regulamin szkoleń</a
              >
              <!--end::Link-->
              <!--begin::Link-->
              <a
                href="{% url 'core:terms_and_conditions_loyalty_program' %}"
                class="text-white opacity-50 text-hover-primary fs-5 mb-6"
                >Regulamin programu partnerskiego</a
              >
              {% endcomment %}
          </ul>
        </div>
      </div>
      <div class="col-lg-2 col-md-3 col-6">
        <div class="mb-4">
          <h3 class="fw-bold mb-3">Regulaminy</h3>
          <ul class="list-unstyled nav nav-footer flex-column nav-x-0">
            <li>
              <a href="{% url 'core:terms_and_conditions_webinars' %}" class="nav-link">
               Regulamin szkoleń
              </a>
            </li>
            <li>
              <a href="{% url 'core:terms_and_conditions_loyalty_program' %}" class="nav-link">
               Regulamin programu partnerskiego
              </a>
            </li>
            <li>
              <a href="{% url 'core:privacy_policy' %}" class="nav-link">
               Polityka prywatności
              </a>
            </li>
            <li>
              <a href="{% url 'core:cookies_policy' %}" class="nav-link">
               Polityka cookies
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-12">
        <div class="mb-4">
          <h3 class="fw-bold mb-3">Dane kontaktowe</h3>
          <p class="mb-1">Email: <a href="mailto:{{COMPANY_OFFICE_EMAIL}}" class="fw-semibold">
            {{COMPANY_OFFICE_EMAIL}}
          </a>
          </p>
          <p>
            Telefon: <span class="text-dark fw-semibold">{{COMPANY_OFFICE_PHONE}}</span>
          </p>
          <p>
            Adres: <span>{{COMPANY_ADDRESS}}</span>
          </p>
        </div>
      </div>
    </div>
    <div class="row align-items-center g-0 border-top py-2 mt-6">
      <div class="col-lg-4 col-md-5 col-12">
        <span>
          ©
          <span id="copyright">
            {{CURRENT_YEAR}}
          </span>
          {{COMPANY_NAME_FULL}}
        </span>
      </div>
      <div class="col-12 col-md-7 col-lg-8 d-md-flex justify-content-end">
        <nav class="nav nav-footer">
          {% comment %}
          <a class="nav-link ps-0" href="{% url 'core:privacy_policy' %}">Polityka prywatności</a>
          <a class="nav-link px-2 px-md-3" href="{% url 'core:cookies_policy' %}">Polityka Cookies</a>
          {% endcomment %}
          <a class="nav-link" href="{% url 'core:webmap_page' %}">Mapa strony</a>
        </nav>
      </div>
    </div>
  </div>
</footer>
