{% load static %}
{% if 1 and not hide_upper_navbar %}
<div class="bg-white nav-tabs d-none d-lg-block">
   <div class="container px-3">
     <ul class="nav nav-tabs border-bottom-0">
       <li class="nav-item">
         <a class="nav-link active" href="{{BASE_URL}}">{{COMPANY_NAME}}</a>
       </li>
       <li class="nav-item">
         <a class="nav-link" href="{% url 'core:about_us_page' %}">Kim jesteśmy?</a>
       </li>
       <li class="nav-item">
         {% if request.user.is_authenticated %}
            <a class="nav-link" href="{% url 'core:loyalty_program_page' %}">Polecaj i Zarabiaj</a>
         {% else %}
            <a class="nav-link" href="{% url 'core:loyalty_program_info_page' %}">Polecaj i Zarabiaj</a>
         {% endif %}
       </li>
       <li class="nav-item">
         <a class="nav-link" href="{% url 'core:contact_page' %}">Kontakt</a>
       </li>

       {% comment %} <li class="nav-item">
         <a class="nav-link" href="#">Link</a>
       </li>
       <li class="nav-item">
         <a class="nav-link" href="#">Link</a>
       </li> {% endcomment %}
       <li class="nav-item ms-auto">
         <a class="nav-link" href="mailto:{{COMPANY_OFFICE_EMAIL}}">
            <i class="fe fe-mail nav-icon"></i> {{COMPANY_OFFICE_EMAIL}}
         </a>
       </li>
       <li class="nav-item">
         <a class="nav-link" href="tel:{{COMPANY_OFFICE_PHONE}}">
            <i class="fe fe-phone nav-icon"></i> {{COMPANY_OFFICE_PHONE}}
         </a>
       </li>
     </ul>
   </div>
 </div>
 
{% endif %}

{% if 1 and not hide_navbar %}
<nav class="navbar {% if not disable_navbar_sticky %}sticky-top{% endif %} navbar-expand-lg">
  <div class="container px-3">
     <div class="d-flex">
        <a class="navbar-brand" href="{% url 'core:homepage' %}">
        <img
        src="{% static 'media/logos/wykladowcapl/logo.svg' %}"
        {% comment %} src="{% static 'geeks/assets/images/brand/logo/logo.svg' %}" {% endcomment %}
        style="height:30px;"
        alt="{{COMPANY_NAME}}"
        />
        </a>
     </div>
     <div class="order-lg-3">
        <div class="d-flex align-items-center">
           {% if not request.user.is_authenticated %}
           <a href="{% url 'core:login_page' %}?next={{request.path}}" class="btn btn-primary ms-1 d-none d-lg-block">
           Zaloguj się
           </a>
           {% endif %}
           <!-- Button -->
           <button
              class="navbar-toggler collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbar-default"
              aria-controls="navbar-default"
              aria-expanded="false"
              aria-label="Toggle navigation"
              >
           <span class="icon-bar top-bar mt-0"></span>
           <span class="icon-bar middle-bar"></span>
           <span class="icon-bar bottom-bar"></span>
           </button>
        </div>
     </div>
     {% if request.user.is_authenticated %}
     <!-- User -->
     <div class="ms-auto d-flex align-items-center order-lg-3">
        <ul class="navbar-nav navbar-right-wrap mx-2 flex-row">
           <li class="dropdown ms-2 d-inline-block position-static">
              <a
                 class="rounded-circle"
                 href="course-single.html#"
                 data-bs-toggle="dropdown"
                 data-bs-display="static"
                 aria-expanded="false"
                 >
                 <div class="avatar avatar-md avatar-indicators avatar-online">
                    <img
                       alt="avatar"
                       src="{% static 'media/images/avatar-0.jpg' %}"
                       class="rounded-circle"
                       />
                 </div>
              </a>
              <div
                 class="dropdown-menu dropdown-menu-end position-absolute mx-3 my-5"
                 >
                 <div class="dropdown-item">
                    <div class="d-flex">
                       <div class="avatar avatar-md avatar-indicators avatar-online">
                          <img
                             alt="avatar"
                             src="{% static 'media/images/avatar-0.jpg' %}"
                             class="rounded-circle"
                             />
                       </div>
                       <div class="ms-3 lh-1">
                          <h5 class="mb-1">{{request.user.first_name}} {{request.user.last_name}}</h5>
                          <p class="mb-0 text-muted">{{request.user.email}}</p>
                       </div>
                    </div>
                 </div>
                 <div class="dropdown-divider"></div>
                 <ul class="list-unstyled">
                    {% if request.user.is_staff %}
                    <li>
                       <a class="dropdown-item" href="{% url 'admin:index' %}">
                       <i class="fe fe-layers me-2"></i>CMS
                       </a>
                    </li>
                    <li>
                       <a class="dropdown-item" href="{% url 'core:crm_upcoming_webinars' %}">
                       <i class="fe fe-zap me-2"></i>CRM
                       </a>
                    </li>
                    {% endif %}
                    <li>
                       <a class="dropdown-item" href="{% url 'core:loyalty_program_page' %}">
                       <i class="fe fe-award me-2"></i>Polecaj i Zarabiaj
                       </a>
                    </li>
                    <li>
                       <a class="dropdown-item" href="{% url 'core:my_recordings_page' %}">
                        {% if request.user.contributor %}
                        <i class="fe fe-video me-2"></i>Moje nagrania
                        <span class="badge bg-primary ms-1">PRO</span>
                        {% else %}
                        <i class="fe fe-video me-2"></i>Moje nagrania
                        {% endif %}
                       </a>
                    </li>
                 </ul>
                 <div class="dropdown-divider"></div>
                 <ul class="list-unstyled">
                    <li>
                       <a class="dropdown-item text-danger" href="{% url 'core:logout_page' %}">
                       <i class="fe fe-power me-2"></i>Wyloguj się
                       </a>
                    </li>
                 </ul>
              </div>
           </li>
        </ul>
     </div>
     {% endif %}
     <!-- Collapse -->
     <div class="collapse navbar-collapse" id="navbar-default">
        <ul class="navbar-nav">
           {% if 1 %}
           <li class="nav-item dropdown dropdown-fullwidth">
              <a class="nav-link dropdown-toggle" href="{% url 'core:webinar_all_categries_page' %}" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Szkolenia Online
              </a>
              <div class="dropdown-menu dropdown-menu-md" style="max-width:2000px;">
                 <div class="px-4 pt-2 pb-2">
                    <div class="row">
                       {% for category, count, subcategories in CACHED_MAIN_CATEGORIES|slice:":6" %}
                       <div class="col-lg-2 col-12">
                          <div class="border-bottom pb-2 mb-3">
                             <h5 class="mb-0">
                              <a class="link-primary" href="{% url 'core:webinar_category_page' slug=category.slug %}">
                                {{category.name}}
                              </a>
                              </h5>
                          </div>
                          <div class="">
                           {% for subcategory in subcategories|slice:":4" %}
                             <a href="{% url 'core:webinar_category_page' slug=subcategory.slug %}">
                                <div class="d-flex mb-3 align-items-center">
                                   <div class="ms-2">
                                      <h5 class="mb-0">{{subcategory.name}}</h5>
                                      {% comment %}
                                       <small class="text-body">
                                        X szkoleń
                                        </small>
                                      {% endcomment %}
                                   </div>
                                </div>
                             </a>
                             {% endfor %}
                          </div>
                       </div>
                       {% endfor %}
                       <div class="col-12 border-top border-light mt-3">
                          <div class="lh-1 mt-3">
                             <h3 class="mb-1">Polecaj i Zarabiaj (10% prowizij dla Ciebie!)</h3>
                             <p>
                                <span class="mb-2">
                                Jesteś księgową, kadrową lub innym specjalistą korzystającym z naszej ofert szkoleniowej?
                                </span>
                                <br>
                                <span>
                                Weź udział w naszym programie partnerskim i zarabiaj prowizję za każde polecenie! - 
                                <a class="fw-bold" href="{% url "core:loyalty_program_info_page" %}">
                                Sprawdź szczegóły
                                </a>
                                </span>
                             </p>
                          </div>
                       </div>
                    </div>
                 </div>
              </div>
           </li>
           {% comment %}
            <li class="nav-item dropdown dropdown-fullwidth">
               <a class="nav-link dropdown-toggle" href="{% url 'core:webinar_all_categries_page' %}" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               Szkolenia Online
               </a>
               <div class="dropdown-menu dropdown-menu-md" style="max-width:2000px;">
                  <div class="px-4 pt-2 pb-2">
                     <div class="row">
                        <div class="col-lg-4 col-12">
                           <div class="border-bottom pb-2 mb-3">
                              <h5 class="mb-0">
                               <a class="link-dark" href="{% url 'core:webinar_category_page' slug="wszystkie-kategorie" %}">
                                 Kategorie szkoleń
                               </a>
                               </h5>
                           </div>
                           <div class="">
                            {% for category, count, subcategories in CACHED_MAIN_CATEGORIES %}
                              <a href="home-academy.html#">
                                 <div class="d-flex mb-3 align-items-center">
                                   <div class="icon-shape icon-lg rounded-circle bg-light text-muted card-icon">
                                     <i class="bi bi-5-circle" style="font-size:1.2rem;"></i>
                                   </div>
                                    <div class="ms-2">
                                       <h6 class="mb-0">{{category.name}}</h6>
                                       <small class="text-body">
                                        {{count}} szkoleń
                                        </small>
                                    </div>
                                 </div>
                              </a>
                              {% endfor %}
                              <div class="mt-4">
                                 <a
                                 href="{% url 'core:webinar_category_page' slug="wszystkie-kategorie" %}"
                                 class="btn btn-outline-primary btn-sm"
                                 >Wszystkie kategorie</a>
                              </div>
                           </div>
                        </div>
                        <div class="col-lg-4 col-12 mt-4 mt-lg-0">
                           <div class="border-bottom pb-2 mb-3">
                              
                           </div>
                           <div class="">
                              <a href="home-academy.html#">
                                 <div class="d-flex mb-3">
                                    <img src="{% static 'geeks/assets/images/png/google.png' %}" alt="" />
                                    <div class="ms-2">
                                       <small class="text-body">No Prerequisites</small>
                                       <h6 class="mb-0">Google Data Analytics</h6>
                                    </div>
                                 </div>
                              </a>
                              <a href="home-academy.html#">
                                 <div class="d-flex mb-3">
                                    <img src="{% static 'geeks/assets/images/png/IBM.png' %}" alt="" />
                                    <div class="ms-2">
                                       <small class="text-body">No Prerequisites</small>
                                       <h6 class="mb-0">IBM Data Science</h6>
                                    </div>
                                 </div>
                              </a>
                              <a href="home-academy.html#">
                                 <div class="d-flex mb-3">
                                    <img
                                       src="{% static 'geeks/assets/images/png/microsoft.png' %}"
                                       alt=""
                                       />
                                    <div class="ms-2">
                                       <small class="text-body">Expert Feedback</small>
                                       <h6 class="mb-0">Machine Leaning for Analytics</h6>
                                    </div>
                                 </div>
                              </a>
                              <a href="home-academy.html#">
                                 <div class="d-flex mb-3">
                                    <img
                                       src="{% static 'geeks/assets/images/png/tensorflow.png' %}"
                                       alt=""
                                       />
                                    <div class="ms-2">
                                       <small class="text-body"
                                          >Certification Prerequisites</small
                                          >
                                       <h6 class="mb-0">TensorFlow Developer Certificate</h6>
                                    </div>
                                 </div>
                              </a>
                              <div class="mt-4">
                                 <a
                                    href="home-academy.html#"
                                    class="btn btn-outline-primary btn-sm"
                                    >View all Certificates</a
                                    >
                              </div>
                           </div>
                        </div>
                        <div class="col-lg-4 col-12 mt-4 mt-lg-0">
                           <div class="border-bottom pb-2 mb-3">
                              <h5 class="mb-0">
                                 <a href="{% url "core:webinar_all_categries_page" %}">
                                 Terminy szkoleń
                                 </a>
                              </h5>
                           </div>
                           <div class="">
                              <ul class="nav flex-column">
                                 <li class="nav-item">
                                    <a href="home-academy.html#" class="nav-link">Python</a>
                                 </li>
                                 <li class="nav-item">
                                    <a href="home-academy.html#" class="nav-link">SQL</a>
                                 </li>
                                 <li class="nav-item">
                                    <a href="home-academy.html#" class="nav-link"
                                       >Microsoft Excel</a
                                       >
                                 </li>
                                 <li class="nav-item">
                                    <a href="home-academy.html#" class="nav-link"
                                       >Machine Learning</a
                                       >
                                 </li>
                                 <li class="nav-item">
                                    <a href="home-academy.html#" class="nav-link"
                                       >Data Science</a
                                       >
                                 </li>
                                 <li class="nav-item">
                                    <a href="home-academy.html#" class="nav-link"
                                       >Data Analytics</a
                                       >
                                 </li>
                                 <li class="nav-item">
                                    <a href="home-academy.html#" class="nav-link"
                                       >Power BI</a
                                       >
                                 </li>
                                 <li class="nav-item">
                                    <a href="home-academy.html#" class="nav-link"
                                       >Artificial Intelligence</a
                                       >
                                 </li>
                              </ul>
                              <div class="mt-4">
                                 <a
                                    href="home-academy.html#"
                                    class="btn btn-outline-primary btn-sm"
                                    >View all Skills</a
                                    >
                              </div>
                           </div>
                        </div>
                        <div class="col-12 border-top border-light mt-3">
                           <div class="lh-1 mt-3">
                              <h3 class="mb-1">Polecaj i Zarabiaj (10% prowizij dla Ciebie!)</h3>
                              <p>
                                 <span class="mb-2">
                                 Jesteś księgową, kadrową lub innym specjalistą korzystającym z naszej ofert szkoleniowej?
                                 </span>
                                 <br>
                                 <span>
                                 Weź udział w naszym programie partnerskim i zarabiaj prowizję za każde polecenie! - 
                                 <a class="fw-bold" href="{% url "core:loyalty_program_info_page" %}">
                                 Sprawdź szczegóły
                                 </a>
                                 </span>
                              </p>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </li>
           {% endcomment %}
           {% else %}
           {% comment %} <li class="nav-item active">
              <a class="nav-link" href="{% url 'core:webinar_all_categries_page' %}">
              Szkolenia Online
              </a>
           </li> {% endcomment %}
           <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" data-bs-toggle="dropdown" data-bs-display="static">
               Szkolenia Online
            </a>
            <ul class="dropdown-menu dropdown-menu-arrow" style="width: 400px;">
               {% for category, count, subcategories in CACHED_MAIN_CATEGORIES %}
                  {% if subcategories %}
                     <li class="dropdown-submenu dropend">
                        <a class="dropdown-item dropdown-list-group-item dropdown-toggle"
                           href="{% url 'core:webinar_category_page' slug=category.slug %}"
                        >
                        {{category.name}}
                        </a>
                        <ul class="dropdown-menu" style="width: 350px;">
                           {% for subcategory in subcategories %}
                           <li>
                              <a
                                 class="dropdown-item"
                                 href="{% url 'core:webinar_category_page' slug=subcategory.slug %}"
                              >
                                 {{subcategory.name}}
                              </a>
                           </li>
                           {% endfor %}
                        </ul>
                     </li>
                  {% else %}
                     <li>
                        <a
                           class="dropdown-item"
                           href="{% url 'core:webinar_category_page' slug=category.slug %}"
                        >
                           {{category.name}}
                        </a>
                     </li>
                  {% endif %}
               {% endfor %}
            </ul>
         </li>
         {% endif %}
         <li class="nav-item active">
            <a class="nav-link" href="{% url 'core:webinar_category_page' slug="darmowe-webinary" %}">
            Bezpłatne Webinary
            </a>
         </li>
         {% if 0 %}
           <li class="nav-item dropdown dropdown-fullwidth">
              <a class="nav-link dropdown-toggle" href="{% url 'core:webinar_all_categries_page' %}" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Bezpłatne Webinary
              </a>
              {% comment %} <a
                 class="btn btn-light-primary text-primary"
                 href="home-academy.html#"
                 data-bs-toggle="dropdown"
                 aria-haspopup="true"
                 aria-expanded="false"
                 >
              <i class="fe fe-list me-2 align-middle"></i>Szkolenia Online
              </a> {% endcomment %}
              <div class="dropdown-menu dropdown-menu-md" style="max-width:2000px;">
                 <div class="px-4 pt-2 pb-2">
                    <div class="row">
                       <div class="col-lg-4 col-12">
                          <div class="border-bottom pb-2 mb-3">
                             <h5 class="mb-0">Kategorie szkoleń</h5>
                          </div>
                          <div class="">
                             <a href="home-academy.html#">
                                <div class="d-flex mb-3">
                                   <img
                                      src="{% static 'geeks/assets/images/png/degree-1.png' %}"
                                      alt=""
                                      />
                                   <div class="ms-2">
                                      <small class="text-body"
                                         >University of Michigan</small
                                         >
                                      <h6 class="mb-0">Master of Applied Data Science</h6>
                                   </div>
                                </div>
                             </a>
                             <a href="home-academy.html#">
                                <div class="d-flex mb-3">
                                   <img
                                      src="{% static 'geeks/assets/images/png/degree-2.png' %}"
                                      alt=""
                                      />
                                   <div class="ms-2">
                                      <small class="text-body">A&amp;B College 1980</small>
                                      <h6 class="mb-0">MBA in Business Analytics</h6>
                                   </div>
                                </div>
                             </a>
                             <a href="home-academy.html#">
                                <div class="d-flex mb-3">
                                   <img
                                      src="{% static 'geeks/assets/images/png/degree-3.png' %}"
                                      alt=""
                                      />
                                   <div class="ms-2">
                                      <small class="text-body"
                                         >Imperial College London</small
                                         >
                                      <h6 class="mb-0">Master of Science in Machine</h6>
                                   </div>
                                </div>
                             </a>
                             <a href="home-academy.html#">
                                <div class="d-flex mb-3">
                                   <img
                                      src="{% static 'geeks/assets/images/png/degree-4.png' %}"
                                      alt=""
                                      />
                                   <div class="ms-2">
                                      <small class="text-body"
                                         >University of Colorado</small
                                         >
                                      <h6 class="mb-0">Master of Computer Science</h6>
                                   </div>
                                </div>
                             </a>
                             <div class="mt-4">
                                <a
                                href="{% url 'core:webinar_category_page' slug="wszystkie" %}"
                                class="btn btn-outline-primary btn-sm"
                                >Wszystkie kategorie</a>
                             </div>
                          </div>
                       </div>
                       <div class="col-lg-4 col-12 mt-4 mt-lg-0">
                          <div class="border-bottom pb-2 mb-3">
                             <h5 class="mb-0">
                                Nasi wykładowcy
                             </h5>
                          </div>
                          <div class="">
                             <a href="home-academy.html#">
                                <div class="d-flex mb-3">
                                   <img src="{% static 'geeks/assets/images/png/google.png' %}" alt="" />
                                   <div class="ms-2">
                                      <small class="text-body">No Prerequisites</small>
                                      <h6 class="mb-0">Google Data Analytics</h6>
                                   </div>
                                </div>
                             </a>
                             <a href="home-academy.html#">
                                <div class="d-flex mb-3">
                                   <img src="{% static 'geeks/assets/images/png/IBM.png' %}" alt="" />
                                   <div class="ms-2">
                                      <small class="text-body">No Prerequisites</small>
                                      <h6 class="mb-0">IBM Data Science</h6>
                                   </div>
                                </div>
                             </a>
                             <a href="home-academy.html#">
                                <div class="d-flex mb-3">
                                   <img
                                      src="{% static 'geeks/assets/images/png/microsoft.png' %}"
                                      alt=""
                                      />
                                   <div class="ms-2">
                                      <small class="text-body">Expert Feedback</small>
                                      <h6 class="mb-0">Machine Leaning for Analytics</h6>
                                   </div>
                                </div>
                             </a>
                             <a href="home-academy.html#">
                                <div class="d-flex mb-3">
                                   <img
                                      src="{% static 'geeks/assets/images/png/tensorflow.png' %}"
                                      alt=""
                                      />
                                   <div class="ms-2">
                                      <small class="text-body"
                                         >Certification Prerequisites</small
                                         >
                                      <h6 class="mb-0">TensorFlow Developer Certificate</h6>
                                   </div>
                                </div>
                             </a>
                             <div class="mt-4">
                                <a
                                   href="home-academy.html#"
                                   class="btn btn-outline-primary btn-sm"
                                   >View all Certificates</a
                                   >
                             </div>
                          </div>
                       </div>
                       <div class="col-lg-4 col-12 mt-4 mt-lg-0">
                          <div class="border-bottom pb-2 mb-3">
                             <h5 class="mb-0">
                                <a href="{% url "core:webinar_all_categries_page" %}">
                                Terminy szkoleń
                                </a>
                             </h5>
                          </div>
                          <div class="">
                             <ul class="nav flex-column">
                                <li class="nav-item">
                                   <a href="home-academy.html#" class="nav-link">Python</a>
                                </li>
                                <li class="nav-item">
                                   <a href="home-academy.html#" class="nav-link">SQL</a>
                                </li>
                                <li class="nav-item">
                                   <a href="home-academy.html#" class="nav-link"
                                      >Microsoft Excel</a
                                      >
                                </li>
                                <li class="nav-item">
                                   <a href="home-academy.html#" class="nav-link"
                                      >Machine Learning</a
                                      >
                                </li>
                                <li class="nav-item">
                                   <a href="home-academy.html#" class="nav-link"
                                      >Data Science</a
                                      >
                                </li>
                                <li class="nav-item">
                                   <a href="home-academy.html#" class="nav-link"
                                      >Data Analytics</a
                                      >
                                </li>
                                <li class="nav-item">
                                   <a href="home-academy.html#" class="nav-link"
                                      >Power BI</a
                                      >
                                </li>
                                <li class="nav-item">
                                   <a href="home-academy.html#" class="nav-link"
                                      >Artificial Intelligence</a
                                      >
                                </li>
                             </ul>
                             <div class="mt-4">
                                <a
                                   href="home-academy.html#"
                                   class="btn btn-outline-primary btn-sm"
                                   >View all Skills</a
                                   >
                             </div>
                          </div>
                       </div>
                       <div class="col-12 border-top border-light mt-3">
                          <div class="lh-1 mt-3">
                             <h3 class="mb-1">Polecaj i Zarabiaj (10% prowizij dla Ciebie!)</h3>
                             <p>
                                <span class="mb-2">
                                Jesteś księgową, kadrową lub innym specjalistą korzystającym z naszej ofert szkoleniowej?
                                </span>
                                <br>
                                <span>
                                Weź udział w naszym programie partnerskim i zarabiaj prowizję za każde polecenie! - 
                                <a class="fw-bold" href="{% url "core:loyalty_program_info_page" %}">
                                Sprawdź szczegóły
                                </a>
                                </span>
                             </p>
                          </div>
                       </div>
                    </div>
                 </div>
              </div>
           </li>
           {% endif %}

           {% comment %} <li class="nav-item active">
              <a class="nav-link" href="{% url 'core:about_us_page' %}">
              Kim jesteśmy?
              </a>
           </li>
           <li class="nav-item active">
              <a class="nav-link" href="{% url 'core:contact_page' %}">
              Kontakt
              </a>
           </li>
           <li class="nav-item active">
              {% if request.user.is_authenticated %}
              <a class="nav-link" href="{% url 'core:loyalty_program_page' %}">
              Polecaj i Zarabiaj
              </a>
              {% else %}
              <a class="nav-link" href="{% url 'core:loyalty_program_info_page' %}">
              Polecaj i Zarabiaj
              </a>
              {% endif %}
           </li> {% endcomment %}

           {% if request.user.is_staff %}
           <li class="nav-item active">
              <a class="nav-link" href="{% url 'admin:index' %}">
              CMS
              </a>
           </li>
           <li class="nav-item active">
              <a class="nav-link" href="{% url 'core:crm_upcoming_webinars' %}">
              CRM
              </a>
           </li>
           {% endif %}
        </ul>
     </div>
  </div>
</nav>
{% endif %}