<nav>
  <ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
    <li class="page-item">
      <a class="page-link" href="./?strona={{page_obj.previous_page_number}}"
        >Poprzednia strona</a
      >
    </li>
    <li class="page-item">
      <a class="page-link" href="./?strona={{page_obj.previous_page_number}}">
        {{page_obj.previous_page_number}}
      </a>
    </li>
    {% endif %}
    
    <li class="page-item active" aria-current="page">
      <a class="page-link" href="./?strona={{page_obj.number}}">
        {{page_obj.number}}
        <span class="visually-hidden">(current)</span>
      </a>
    </li>

    {% if page_obj.has_next %}
    <li class="page-item">
      <a class="page-link" href="./?strona={{page_obj.next_page_number}}">
        {{page_obj.next_page_number}}
      </a>
    </li>
    <li class="page-item">
      <a class="page-link" href="./?strona={{page_obj.next_page_number}}">
        Następna strona
      </a>
    </li>
    {% endif %}

  </ul>
</nav>
