{% load static %}

<tr
  style="cursor: pointer;"
  onclick="window.location.href='{% url 'core:webinar_program_page' slug=webinar.slug %}'"
>
  <td>
    <div class="d-flex align-items-start">
    {% if show_image and webinar.lecturer.avatar %}    
      <div>
        <a href="{% url 'core:webinar_program_page' slug=webinar.slug %}">
          <img
            {% if webinar.lecturer.avatar %}
            src="{% get_media_prefix %}uploads/lecturers/{{webinar.lecturer.slug}}_160x160.webp"
            {% else %}
            src="{% static "default/default-lecturer-avatar-80x80.webp" %}"
            {% endif %}
            alt="{{webinar.lecturer.fullname}}"
            class="rounded img-4by3-lg"
          />
        </a>
      </div>
      {% endif %}
      <div {% if show_image and webinar.lecturer.avatar %}class="ms-3"{% endif %}>
        
        <h4 class="mb-1 h4">
          <a
            href="{% url 'core:webinar_program_page' slug=webinar.slug %}"
            class="text-inherit"
            style="text-wrap: wrap"
          >
            {% if webinar.is_connected_to_conference %}
            <span class="text-primary">Bezpłatny webinar:</span>
            {% endif %}
            {{webinar.title}}
          </a>
        </h4>
        {% if webinar.description %}
        <h5>
          <a
          href="{% url 'core:webinar_program_page' slug=webinar.slug %}"
          class="text-inherit"
          style="text-wrap: wrap"
          >
            {{webinar.description}}
          </a>
        </h5>
        {% endif %}
        
        <ul class="list-inline fs-5 mb-0">
          <li class="list-inline-item">
            <i class="fe fe-user me-1"></i>
            <a
              href="{% url 'core:lecturer_experience_page' slug=webinar.lecturer.slug %}"
            >
              {{webinar.lecturer.fullname}}
            </a>
          </li>
          <!-- <li class="list-inline-item">
                   <i class="mdi mdi-clock-time-four-outline text-muted me-1"></i>28 sierpnia 2023 r.
                   </li> -->
          <li class="list-inline-item">
              <i class="fe fe-clock me-1"></i>
            {{webinar.date|date:"H:i"}} - {{webinar.date_end|date:"H:i"}}
          </li>
          <li class="list-inline-item">
            {% if webinar.is_connected_to_conference %}
              <span class="badge bg-primary">BEZPŁATNY WEBINAR</span>
            {% endif %}
          </li>
        </ul>
      </div>
    </div>
  </td>
  <td style="color: var(--geeks-gray-800)">
    <b>DATA SZKOLENIA</b> <br />
    {{webinar.date|date:"j E Y"}}
    <br />
    <br />

    {% if webinar.is_connected_to_conference %}
      <b>CENA</b> <br />
      Za darmo
    {% else %}
      <b>CENA</b> <br />
      {% if webinar.is_discounted %}
        <span class="text-decoration-line-through fw-bolder text-danger">
          {{webinar.price_netto}}zł
        </span>
        <span>{{webinar.price}}zł</span>
      {% else %}
        {{webinar.price}}zł
      {% endif %}
      {{PRICE_ADNOTATION}}
      <br />
    {% endif %}

    {% if webinar.is_discounted %}
    <span class="text-success fw-bold">
      (promocja do {{webinar.discount_until|date:"j E Y"}}
      {{webinar.discount_until|date:"H:i"}})
    </span>
    {% endif %}
  </td>
</tr>
