{% extends './foundation.html' %}
{% load static %}

{% block title %}
  <title>{{META__TITLE}}</title>
{% endblock title %}

{% block fonts_mandatory %}
  <!--begin::Fonts(mandatory for all pages)-->
  <link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700"
  />
  <!--end::Fonts-->
{% endblock fonts_mandatory %}

{% block head_stylesheets_mandatory %}
  <!--begin::Global Stylesheets Bundle(mandatory for all pages)-->
  <link href="{% static 'plugins/global/plugins.bundle.css' %}" rel="stylesheet"type="text/css"/>
  <link href="{% static 'css/style.bundle.css' %}" rel="stylesheet" type="text/css" />
  <!--end::Global Stylesheets Bundle-->
  <link href="{% static 'plugins/custom/cookiealert/cookiealert.bundle.css' %}" rel="stylesheet" type="text/css"/>
{% endblock head_stylesheets_mandatory %}

{% block meta %}
  {% include 'core/includes/Metadata.html' %}
{% endblock meta %}

{% block body_scripts_mandatory %}
  <!--begin::Global Javascript Bundle(mandatory for all pages)-->
  <script src="{% static 'plugins/global/plugins.bundle.js' %}"></script>
  <script src="{% static 'js/scripts.bundle.js' %}"></script>
  <!--end::Global Javascript Bundle-->
  <script src="{% static 'plugins/custom/cookiealert/cookiealert.bundle.js' %}"></script>
{% endblock body_scripts_mandatory %}

{% block head_stylesheets %}{% endblock head_stylesheets %}
  
{% block body_scripts %}{% endblock body_scripts %}

{% block root %}
  <!--begin::Main-->
  <!--begin::Root-->
  <div class="d-flex flex-column flex-root">
    <!--begin::Page-->
    <div class="page d-flex flex-column flex-column-fluid">
      {% block header %}
        {% include './header.html' %}
      {% endblock header %}
      <!--begin::Container-->
      <div
        id="kt_content_container"
        class="d-flex flex-column-fluid align-items-stretch container-xxl"
      >
        {% block leftbar %}
          {% include './leftbar.html' %}
        {% endblock leftbar %}
        
        {% block content %}{% endblock content %}
        
        {% block rightbar %}
          {% include './rightbar.html' %}
        {% endblock rightbar %}
      </div>
      <!--end::Container-->
    </div>
    <!--end::Page-->
    {% include './footer.html' %}
    <!--begin::Cookie alert-->
    <div class="d-flex d-lg-block flex-column bg-dark text-gray-300 text-center rounded-0 cookiealert py-5">
      Strona korzysta z plików cookies w celu realizacji usług i zgodnie z <a href="{% url 'core:cookies_policy' %}">Polityką Plików Cookies</a>.
      Możesz określić warunki przechowywania lub dostępu do plików cookies w Twojej przeglądarce.

      <button type="button" class="btn btn-primary d-inline mx-auto ms-lg-5 acceptcookies mt-5 mt-lg-0">
          Akceptuj
      </button>
    </div>
    <!--end::Cookie alert-->
  </div>
  <!--end::Root-->
  <!--end::Main-->
{% endblock root %}