{% load static %}
<div class="mb-0 mt-5">
  {% comment %} <!--begin::Curve top-->
  <div class="landing-curve landing-dark-color">
    <svg viewBox="15 -1 1470 48" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M1 48C4.93573 47.6644 8.85984 47.3311 12.7725 47H1489.16C1493.1 47.3311 1497.04 47.6644 1501 48V47H1489.16C914.668 -1.34764 587.282 -1.61174 12.7725 47H1V48Z"
        fill="currentColor"
      ></path>
    </svg>
  </div>
  <!--end::Curve top--> {% endcomment %}
  <!--begin::Wrapper-->
  <div class="landing-dark-bg pt-20">
    <!--begin::Container-->
    <div class="container">
      <!--begin::Row-->
      <div class="row py-10 py-lg-20">
        {% comment %}
        <!--begin::Col-->
        <div class="col-lg-4 pe-lg-16 mb-10 mb-lg-0">
          <!--begin::Block-->
          <div class="rounded landing-dark-border p-9 mb-10">
            <!--begin::Title-->
            <h2 class="text-white">Would you need a Custom License?</h2>
            <!--end::Title-->
            <!--begin::Text-->
            <span class="fw-normal fs-4 text-gray-700"
              >Email us to
              <a
                href="https://keenthemes.com/support"
                class="text-white opacity-50 text-hover-primary"
                >support@keenthemes.com</a
              ></span
            >
            <!--end::Text-->
          </div>
          <!--end::Block-->
          <!--begin::Block-->
          <div class="rounded landing-dark-border p-9">
            <!--begin::Title-->
            <h2 class="text-white">How About a Custom Project?</h2>
            <!--end::Title-->
            <!--begin::Text-->
            <span class="fw-normal fs-4 text-gray-700"
              >Use Our Custom Development Service.
              <a
                href="../../demo5/dist/pages/user-profile/overview.html"
                class="text-white opacity-50 text-hover-primary"
                >Click to Get a Quote</a
              ></span
            >
            <!--end::Text-->
          </div>
          <!--end::Block-->
        </div>
        <!--end::Col-->
        {% endcomment %}
        <!--begin::Col-->
        <div class="col-lg-12 ps-lg-16">
          <!--begin::Navs-->
          <div class="d-flex justify-content-center">
            <!--begin::Links-->
            <div class="d-flex fw-semibold flex-column me-20">
              <!--begin::Subtitle-->
              <h4 class="fw-bold text-gray-400 mb-6">Na skróty</h4>
              <!--end::Subtitle-->
              <!--begin::Link-->
              <a
                href="https://keenthemes.com/faqs"
                class="text-white opacity-50 text-hover-primary fs-5 mb-6"
                >O firmie</a
              >
              <!--end::Link-->
              <!--begin::Link-->
              <a
                href="https://preview.keenthemes.com/html/metronic/docs"
                class="text-white opacity-50 text-hover-primary fs-5 mb-6"
                >Szkolenia Online</a
              >
              <!--end::Link-->
            </div>
            <!--end::Links-->
            <!--begin::Links-->
            <div class="d-flex fw-semibold flex-column me-20">
              <!--begin::Subtitle-->
              <h4 class="fw-bold text-gray-400 mb-6">Regulaminy</h4>
              <!--end::Subtitle-->
              <!--begin::Link-->
              <a
                href="{% url 'core:terms_and_conditions_webinars' %}"
                class="text-white opacity-50 text-hover-primary fs-5 mb-6"
                >Regulamin szkoleń</a
              >
              <!--end::Link-->
              <!--begin::Link-->
              <a
                href="{% url 'core:terms_and_conditions_loyalty_program' %}"
                class="text-white opacity-50 text-hover-primary fs-5 mb-6"
                >Regulamin programu partnerskiego</a
              >
              <!--end::Link-->
              <!--begin::Link-->
              <a
                href="{% url 'core:privacy_policy' %}"
                class="text-white opacity-50 text-hover-primary fs-5 mb-6"
                >Polityka prywatności</a
              >
              <!--end::Link-->
              <!--begin::Link-->
              <a
                href="{% url 'core:cookies_policy' %}"
                class="text-white opacity-50 text-hover-primary fs-5 mb-6"
                >Polityka cookies</a
              >
              <!--end::Link-->
            </div>
            <!--end::Links-->
            <!--begin::Links-->
            <div class="d-flex fw-semibold flex-column me-lg-20">
              <!--begin::Subtitle-->
              <h4 class="fw-bold text-gray-400 mb-6">Grupy Facebook</h4>
              <!--end::Subtitle-->
              <!--begin::Link-->
              <a href="{{LINK_KADRY_PLACE_GRUPA_WSPARCIA}}" class="mb-6">
                <span class="text-white opacity-50 text-hover-primary fs-5 mb-6">
                    Kadry i Płace grupa wsparcia
                  </span
                >
              </a>
              <!--end::Link-->
              <!--begin::Link-->
              <a href="{{LINK_KSIEGOWOSC_KADRY_DAM_PRACE}}" class="mb-6">
                <span class="text-white opacity-50 text-hover-primary fs-5 mb-6">
                    Księgowość i kadry - #Dam pracę, #Szukam pracy
                  </span
                >
              </a>
              <!--end::Link-->
            </div>
            <!--end::Links-->
          </div>
          <!--end::Navs-->
        </div>
        <!--end::Col-->
      </div>
      <!--end::Row-->
    </div>
    <!--end::Container-->
    <!--begin::Separator-->
    <div class="landing-dark-separator"></div>
    <!--end::Separator-->
    <!--begin::Container-->
    <div class="container">
      <!--begin::Wrapper-->
      <div class="d-flex flex-column flex-md-row flex-stack py-7 py-lg-10">
        <!--begin::Copyright-->
        <div class="d-flex align-items-center order-2 order-md-1">
          <!--begin::Logo-->
          <a href="../../demo5/dist/landing.html">
            <img
              alt="Logo"
              src="{% static 'media/logos/wykladowcapl/logo.svg' %}"
              class="h-15px h-md-20px"
            />
          </a>
          <!--end::Logo image-->
          <!--begin::Logo image-->
          <span
            class="mx-5 fs-6 fw-semibold text-gray-600 pt-1"
            href="https://keenthemes.com"
            >© {{CURRENT_YEAR}} {{COMPANY_NAME}}</span
          >
          <!--end::Logo image-->
        </div>
        <!--end::Copyright-->
        <!--begin::Menu-->
        <ul
          class="menu menu-gray-600 menu-hover-primary fw-semibold fs-6 fs-md-5 order-1 mb-5 mb-md-0"
        >
          <li class="menu-item">
            <a
              href="#"
              class="menu-link px-2"
              >Kontakt</a
            >
          </li>
          <li class="menu-item mx-5">
            <a
              href="#"
              class="menu-link px-2"
              >Mapa strony</a
            >
          </li>
        </ul>
        <!--end::Menu-->
      </div>
      <!--end::Wrapper-->
    </div>
    <!--end::Container-->
  </div>
  <!--end::Wrapper-->
</div>
