<!--begin::Aside-->
<!--TODO: Delete this? -->
<div
id="kt_aside"
class="aside"
data-kt-drawer="true"
data-kt-drawer-name="aside"
data-kt-drawer-activate="{default: true, lg: false}"
data-kt-drawer-overlay="true"
data-kt-drawer-width="{default:'200px', '300px': '225px'}"
data-kt-drawer-direction="start"
data-kt-drawer-toggle="#kt_aside_toggle"
data-kt-sticky="false"
data-kt-sticky-name="aside-sticky"
data-kt-sticky-offset="{default: false, lg: '1px'}"
data-kt-sticky-width="{lg: '225px'}"
data-kt-sticky-left="auto"
data-kt-sticky-top="94px"
data-kt-sticky-animation="false"
data-kt-sticky-zindex="95"
>
<!--begin::Aside nav-->
<div
  class="hover-scroll-overlay-y my-5 my-lg-5 w-100 ps-4 ps-lg-0 pe-4 me-1"
  id="kt_aside_menu_wrapper"
  data-kt-scroll="true"
  data-kt-scroll-activate="{default: false, lg: true}"
  data-kt-scroll-height="auto"
  data-kt-scroll-dependencies="#kt_header"
  data-kt-scroll-wrappers="#kt_aside"
  data-kt-scroll-offset="5px"
>
  <!--begin::Menu-->
  <div
    class="menu menu-column menu-active-bg menu-hover-bg menu-title-gray-700 fs-6 menu-rounded w-100"
    id="#kt_aside_menu"
    data-kt-menu="true"
  >

  <!--begin::Menu item-->
  <div class="menu-item">
    <a
      href="{% url 'core:webinar_category_page' slug="wszystkie" %}"
      class="menu-link {% if request.path == "/szkolenia/wszystkie/" %}active{% endif %}"
    >
      <span class="menu-title">Wszystkie szkolenia</span>
    </a>
  </div>
  <!--end::Menu item-->

  {% for category_order, category_count, category_name, category_url in SIDEBAR_CATEGORIES %}
      <!--begin::Menu item-->
      <div class="menu-item">
        <a
          href="{{category_url}}"
          class="menu-link {% if request.path == category_url %}active{% endif %}"
        >
          <span class="menu-title text-gray-700">{{category_name}}</span>
          {% if category_count %}

          <span class="menu-badge">
            <span class="badge badge-sm badge-circle badge-primary">{{category_count}}</span>
        </span>
          {% endif %}
        </a>
      </div>
      <!--end::Menu item-->
  {% endfor %}
  </div>
  <!--end::Menu-->
</div>
<!--end::Aside nav-->
</div>
<!--end::Aside-->