<tr style="border-top-width:0;border-left-width:0;border-right-width:0;border-bottom-width:0;">
<td class="text-size-18 pr-20 pl-20" style="border-top-width:0;border-left-width:0;border-right-width:0;border-bottom-width:0;border-collapse:collapse;padding-left:20px;padding-right:20px;font-size: 18px;">
<span class="text-blue font-bold" style="color:#0082fa;font-weight:700;">
    <strong>Szanowni Państwo</strong>!
</span>
</td>
</tr>
<tr style="border-top-width:0;border-left-width:0;border-right-width:0;border-bottom-width:0;">
<td height="30" style="border-top-width:0;border-left-width:0;border-right-width:0;border-bottom-width:0;border-collapse:collapse;font-size:1px; line-height:0px;">&nbsp;
</td>
</tr>