<!--footer: START-->
<tr>
    <td align="center" valign="top" style="border-collapse:collapse;">
      <div>
        <table style="background-color: #465073;border-spacing:0;" width="100%" border="0" cellpadding="0" cellspacing="0">
          <tbody>
            <tr>
              <td height="20" style="border-collapse:collapse;font-size:1px; line-height:0;">&nbsp;
              </td>
            </tr>
            <tr>
              <td class="rnb-force-col" style="border-collapse:collapse;padding-right: 0px;" valign="top">
                <table align="left" border="0" cellpadding="0" cellspacing="0" class="rnb-col-1" valign="top" width="100%" style="border-spacing:0;">
                  <tbody>
                    <tr>
                      <td class="text-size-16 text-white pl-20 pr-20" style="border-collapse:collapse;font-size:1rem;padding-left:20px;padding-right:20px;color:#ffffff !important;text-align: center;">
                        {{COMPANY_NAME_FULL}}
                      </td>
                    </tr>
                    <tr>
                      <td class="text-size-16 text-white pl-20 pr-20" style="border-collapse:collapse;font-size:1rem;padding-left:20px;padding-right:20px;color:#ffffff !important;text-align: center;">
                        {{COMPANY_ADDRESS}}
                      </td>
                    </tr>
                    <tr>
                      <td class="text-size-16 text-white pl-20 pr-20" style="border-collapse:collapse;font-size:1rem;padding-left:20px;padding-right:20px;color:#ffffff !important;text-align: center;">
                        E-mail: {{COMPANY_OFFICE_EMAIL}} / Telefon: {{COMPANY_OFFICE_PHONE}}
                      </td>
                    </tr>
                    <tr>
                      <td height="50" style="border-collapse:collapse;font-size:1px; line-height:0px;">&nbsp;
                      </td>
                    </tr>
                    
                    <tr>
                      <td height="20" style="border-collapse:collapse;font-size:1px; line-height:0px;">
                      </td>
                    </tr>
                    <tr>
                      <td align="center" class="rnb-del-min-width" valign="top" style="border-collapse:collapse;min-width:0 !important;">
                        <table border="0" cellpadding="0" cellspacing="0" class="rnb-container" style="border-spacing:0;max-width: 100%; min-width: 100%; table-layout: fixed; border-radius: 0px; border-collapse: separate; padding-left: 20px; padding-right: 20px;" width="100%">
                          <tbody>
                            <tr>
                              <td align="center" class="rnb-container-padding" valign="top" style="border-collapse:collapse;">
                                <table border="0" cellpadding="0" cellspacing="0" class="rnb-columns-container" width="100%" style="border-spacing:0;">
                                  <tbody>
                                    {% comment %} <tr>
                                      <td style="text-align: center;">
                                        <a href="https://www.facebook.com/strefakursow/" style="color:#fff;text-decoration: none;padding-right: 30px;font-size: 10px;font-weight: 700;">
                                        FACEBOOK
                                        </a>
                                        <a href="https://www.youtube.com/user/StrefaKursow?sub_confirmation=1" style="color:#fff;text-decoration: none;padding-right: 30px;font-size: 10px;font-weight: 700;">
                                        YOUTUBE
                                        </a>
                                        <a href="https://twitter.com/StrefaKursow_pl" style="color:#fff;text-decoration: none;padding-right: 30px;font-size: 10px;font-weight: 700;">
                                        TWITTER
                                        </a>
                                        <a href="https://pl.linkedin.com/company/strefakursow-pl" style="color:#fff;text-decoration: none;font-size: 10px;font-weight: 700;">
                                        LINKEDIN
                                        </a>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td height="40" style="border-collapse:collapse;font-size:1px; line-height:0px;">
                                      </td>
                                    </tr> {% endcomment %}
                                    <tr>
                                      <td style="border-collapse:collapse;padding-left:20px;padding-right:20px;color:#ffffff !important;text-align: center;font-size: 14px;">
                                        © {{CURRENT_YEAR}} {{COMPANY_NAME}}
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td height="20" style="border-collapse:collapse;font-size:1px; line-height:0px;">&nbsp;
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </td>
  </tr>
  <!--footer: END-->