<!--logo-header: START-->
<tr>
<td align="center" valign="top">
    <div>
    <table border="0" cellpadding="0" cellspacing="0" id="Layout_1" name="Layout_5" style="-webkit-backface-visibility: hidden; line-height: 10px;width:100%">
        <tbody>
        <tr>
            <td align="center" style="max-width: 640px;" valign="top">
            <table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" style="background-color: rgb(255, 255, 255);" width="100%">
                <tbody>
                <tr>
                    <td height="40" style="font-size:1px; line-height:0px;">&nbsp;
                    </td>
                </tr>
                <tr>
                    <td align="center" valign="top">
                    <table border="0" cellpadding="0" cellspacing="0">
                        <tbody>
                        <tr>
                            <td>
                            <p style="font-size: 32px;">
                                {{COMPANY_NAME}}
                            </p>
                            {% comment %}
                            <!-- TODO: Embed this inside e-mail -->
                            <div style="display:block; border-radius:0px; width:150px; border-top:0px None #000;border-right:0px None #000;border-bottom:0px None #000;border-left:0px None #000;border-collapse: separate;border-radius: 0px;">
                                <img alt="{{COMPANY_NAME}}" border="0" hspace="0" src="{{EMAIL_LOGO}}" vspace="0" width="150">
                            </div>
                            {% endcomment %}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    </td>
                </tr>
                <tr>
                    <td height="20" style="font-size:1px; line-height:0px;">&nbsp;</td>
                </tr>
                </tbody>
            </table>
            </td>
        </tr>
        </tbody>
    </table>
    </div>
</td>
</tr>
<!--logo-header: END-->
