{% extends 'geeks/extends/foundation.html' %}

{% load static %}

{% block title %}
  <title>Materiały szkoleniowe</title>
{% endblock title %}

{% block root %}
<main>
    <!-- Page header -->
    <section class="py-lg-6 py-4 bg-primary">
       <div class="container">
          <div class="row">
             <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                <div>
                   <h1 class="text-white display-4 mb-0">
                    Materiały szkoleniowe
                   </h1>
                </div>
             </div>
          </div>
       </div>
    </section>
    <!-- Content -->
    <section class="py-6">
       <div class="container">
          <div class="row">
             <div class="col-xl-8 col-lg-8 col-md-12 col-12">
                <!-- Card -->
                <div class="card mb-4">
                    <!-- Card header -->
                    <div class="card-header">
                        <h4 class="mb-0">
                        Materiały szkoleniowe do szkolenia <i>„{{webinar.title_original}}”</i>
                        </h4>
                    </div>
                    <!-- Card body -->
                    <div class="card-body">
                        <div class="row g-3">
                        {% if not assets_expired  %}
                        
                        {% if webinar_assets %}
                        <div class="col-12 col-md-12">

                            <div class="text-center">
                                <a target="_blank" href="{% url "core:webinar_download_assets_archive" uuid=webinar_metadata.assets_token %}" class="btn btn-lg btn-primary">
                                    <i class="fe fe-download"></i>
                                    Pobierz wszystkie materiały jako archiwum
                                </a>
                            </div>

                            <hr>

                             {% for asset in webinar_assets %}
                             <div class="card mb-4">
                                <!-- Card body -->
                                <div class="card-body">
                                   <!-- quiz -->
                                   <div class="d-lg-flex justify-content-between align-items-center">
                                      <div class="d-flex align-items-center">
                                         <!-- img -->
                                         <a href="{% url 'core:webinar_asset_download' uuid=asset.token %}" title="{{asset.content_type}}">
                                            {% if asset.content_type == "application/pdf" %}
                                            <img src="{% static 'media/svg/files/pdf.svg' %}" class="rounded img-4by3-xs">
                                            {% else %}
                                            <img src="{% static 'media/svg/files/file.svg' %}" class="rounded img-4by3-xs">
                                            {% endif %}
                                         </a>
                                         <!-- content -->
                                         <div class="ms-3">
                                            <h3 class="mb-2">
                                                <a href="{% url 'core:webinar_asset_download' uuid=asset.token %}" class="text-inherit">
                                                    {{asset.filename}}
                                                </a>
                                            </h3>
                                            <div>
                                               <span class="me-2 align-middle">
                                                <a href="{% url 'core:webinar_asset_download' uuid=asset.token %}">
                                                    <b><i class="fe fe-download"></i> Pobierz ten plik</b>
                                                </a>
                                                </span>
                                               <span class="me-2 align-middle">
                                                <i class="fe fe-file-text"></i>
                                                 Rozmiar {{asset.filesize_human}}
                                                </span>
                                            </div>
                                         </div>
                                      </div>
                                      {% comment %} <div class="d-none d-lg-block">
                                         <a href="{% url 'core:webinar_asset_download' uuid=asset.token %}" class="btn btn-info">
                                            Pobierz <i class="fe fe-download"></i>
                                         </a>
                                      </div> {% endcomment %}
                                   </div>
                                </div>
                             </div>
                             {% endfor %}

                        </div>
                        {% else %}
                        <div class="col-4 offset-4">
                            <img src="{% static "geeks/assets/images/background/maintenance-mode.svg" %}" alt="maintenance" class="w-100">
                        </div>
                        <div class="col-12 col-md-12 text-center">
                            <h2>
                                Materiały nie zostały jeszcze przesłane
                            </h2>
                            <h3>
                                Gdy tylko wykładowca dostarczy materiały <br> udostępnimy je Państwu na tej stronie
                            </h3>
                        </div>
                        {% endif %}

                        {% else %}
                        <div class="col-12 col-md-12 text-center">
                           <h2>
                               Dostęp do materiałów szkoleniowych wygasł 
                           </h2>
                           <h3>
                               Materiały szkoleniowe nie są już dostępne dla tego szkolenia.
                           </h3>
                        </div>
                        {% endif %}
                        </div>
                    </div>
                </div>
             </div>
             <div class="col-lg-4 col-md-12 col-12">
                <!-- Card -->
                <div class="card border-0 mb-3">
                   <!-- Card body -->
                   <div class="p-5 text-center">
                      <span class="badge bg-warning">Zarabiaj na polecaniu szkoleń</span>
                      <div class="mb-5 mt-3">
                         <h1 class="fw-bold">Polecaj i Zarabiaj!</h1>
                         <p class="mb-0">
                            Weź udział jako <span class="text-dark fw-medium">firma</span> lub <span class="text-dark fw-medium">osoba prywatna</span> i zarabiaj prowizję za polecanie naszych szkoleń.
                         </p>
                      </div>
                      <div class="d-flex justify-content-center">
                         <div class="display-4 fw-bold text-primary">10% prowizij</div>
                      </div>
                   </div>
                   <hr class="m-0">
                   <div class="p-5">
                      <h4 class="fw-bold mb-4">Co oferujemy:</h4>
                      <!-- List -->
                      <ul class="list-unstyled mb-0">
                         <li class="mb-1">
                            <span class="me-1">
                               <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-check-circle text-success" viewBox="0 0 16 16">
                                  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"></path>
                                  <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"></path>
                               </svg>
                            </span>
                            <span><span class="fw-bold text-dark">10% prowizij od wartości NETTO</span></span>
                         </li>
                         <li class="mb-1">
                            <span class="me-1">
                               <span class="me-1">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-check-circle text-success" viewBox="0 0 16 16">
                                     <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"></path>
                                     <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"></path>
                                  </svg>
                               </span>
                               <span>
                                <span class="fw-bold text-dark">-5% zniżki</span> na szkolenie dla osoby polecanej
                               </span>
                            </span>
                         </li>
                         <li class="mb-1">
                            <span class="me-1">
                               <span class="me-1">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-check-circle text-success" viewBox="0 0 16 16">
                                     <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"></path>
                                     <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"></path>
                                  </svg>
                               </span>
                               <span>
                               Dostęp do <span class="fw-bold text-dark">panelu partnera programu</span>, w którym możesz śledzić swoje prowizje.
                               </span>
                            </span>
                         </li>
                         <li class="mb-1">
                            <span class="me-1">
                               <span class="me-1">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-check-circle text-success" viewBox="0 0 16 16">
                                     <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"></path>
                                     <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"></path>
                                  </svg>
                               </span>
                               <span>Przejrzyste zasady programu.</span>
                            </span>
                         </li>
                      </ul>
                   </div>
                   <!-- hr -->
                   <hr class="m-0">
                   <div class="p-4 text-center">
                      <a href="{% url "core:loyalty_program_info_page" %}" target="_blank" class="btn btn-primary">
                        Dowiedz się więcej!
                      </a>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </section>
 </main>
{% endblock root %}

{% block body_scripts %}{% endblock body_scripts %}
