{% extends './WebinarBase.html' %}

{% load humanize %}

{% block content %}
<div id="review"
    role="tabpanel"
    aria-labelledby="review-tab"
>
    {% if opinions_breakdown %}
    {% include './components/rating_breakdown.html' with opinions_breakdown=opinions_breakdown %}
    {% endif %}
    <!-- hr -->
    <hr class="my-5">
    <div class="mb-3">
        <div class="d-md-flex align-items-center align-items-center justify-content-between mb-5">
            <!-- Reviews -->
            <div class="mb-3 mb-lg-0">
                <h3 class="mb-0">Opinie</h3>
            </div>
            {% comment %} <div>
                <!-- Form -->
                <form class="form-inline">
                    <div class="d-flex align-items-center">
                        <span class="position-absolute ps-3">
                            <i class="fe fe-search"></i>
                        </span>
                        <input type="search" class="form-control ps-6" placeholder="Search Review">
                    </div>
                </form>
            </div> {% endcomment %}
        </div>

        {% for opinion in opinions_page %}
        <!-- Rating -->
        <div class="d-flex border-bottom pb-4 mb-4">
            {% comment %} <img src="../assets/images/avatar/avatar-3.jpg" alt="avatar" class="rounded-circle avatar-lg"> {% endcomment %}
            <div class="ms-3">
                <h4 class="mb-1">
                    {% if request.user.is_staff %}
                    <a 
                        href="{% url 'admin:core_lectureropinion_change' object_id=opinion.id %}" class="text-gray-900 text-hover-primary fs-6 fw-bold"
                        target="_blank"
                    >
                        {{opinion.fullname|default:"Anonimowy"}}
                    </a>
                    {% else %}
                    {{opinion.fullname|default:"Anonimowy"}}
                    {% endif %}
                    <span class="ms-1 fs-6 text-muted">
                        {{opinion.created_at|naturaltime}}
                    </span>
                </h4>
                <div class="fs-6 mb-2">
                    <span class="fs-6 text-muted">
                        {{opinion.job_title}}
                    </span>
                    ,
                    {% for rating in opinion.rating_sequence %}
                        <i class="mdi mdi-star me-n1 {% if rating <= opinion.rating_number %}text-warning{% else %}text-light{% endif %}"></i>
                    {% endfor %}
                </div>
                <p>
                    {{opinion.opinion_text}}
                </p>
                {% comment %} <div class="d-md-flex align-items-center ">
                    <p class="mb-2 mb-md-0">Was this review helpful?</p>
                    <a href="course-single.html#" class="btn btn-xs btn-primary ms-md-3">Yes</a>
                    <a href="course-single.html#" class="btn btn-xs btn-outline-secondary ms-1">No</a>
                </div> {% endcomment %}
            </div>
        </div>
        {% endfor %}
    
        {% include 'geeks/components/pagination.html' with page_obj=opinions_page %}

    </div>
</div>
{% endblock content %}