{% extends './WebinarBase.html' %}

{% block _head_stylesheets %}
<style>
    {% include "core/includes/WebinarProgramStyles.html" %}
</style>
{% endblock _head_stylesheets %}

{% block content %}
<div
  id="description"
  role="tabpanel"
  aria-labelledby="description-tab"
>
  <div class="program-enriched fw-semibold lh-base">
    {{webinar.program_pretty|safe}}
    {% comment %} {{webinar.program|safe}} {% endcomment %}
  </div>
</div>
{% if similar_webinars %}
<section class="py-6">
  <div class="container">
     <div class="row">
        <div class="col-12">
          <h3 class="fs-3">
            Podobne szkolenia
          </h3>
          {% for webinar in similar_webinars %}
           <div class="card mb-4 mb-2 card-hover border">
              <div class="card-body">
                 <h3 class="mb-4">
                    <a href="{% url "core:webinar_program_page" slug=webinar.slug %}" class="text-inherit">
                      {{webinar.title}}
                    </a>
                 </h3>
                 {% if webinar.description %}
                 <p class="mb-4 fs-4">
                   {{webinar.description}}
                  </p>
                  {% endif %}
                 <div class="mb-4">
                    <div class="mb-3 lh-1">
                       <span class="me-1">
                       <i class="bi bi-calendar-check"></i>
                       </span>
                       <span>
                        {{webinar.date|date:"j E Y"}} r.
                       </span>
                    </div>
                    <div class="lh-1">
                       <span class="align-text-top me-1">
                          <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
                             <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
                             <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/>
                          </svg>
                       </span>
                       <span>
                        {{webinar.date|date:"H:i"}} - {{webinar.date_end|date:"H:i"}}
                       </span>
                    </div>
                 </div>
                 <a href="{% url "core:webinar_program_page" slug=webinar.slug %}" class="btn btn-light-primary text-primary">
                  Zobacz szczegóły
                 </a>
              </div>
           </div>
           {% endfor %}
        </div>
     </div>
  </div>
</section>
{% endif %}
{% endblock content %}