{% extends 'geeks/extends/foundation.html' %}

{% load static %}

{% block title %}
  <title>Materiały szkoleniowe</title>
{% endblock title %}

{% block root %}
<main>
    <!-- Page header -->
    <section class="py-lg-6 py-4 bg-primary">
       <div class="container">
          <div class="row">
             <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                <div>
                   <h1 class="text-white display-4 mb-0">
                    Materiały szkoleniowe
                   </h1>
                </div>
             </div>
          </div>
       </div>
    </section>
    <!-- Content -->
    <section class="py-6">
       <div class="container">
          <div class="row">
             <div class="col-xl-8 col-lg-8 col-md-12 col-12">
                {% include "include/webinar_assets/assets_card.html" with webinar=webinar webinar_assets=webinar_assets assets_expired=assets_expired webinar_metadata=webinar_metadata %}
             </div>
             <div class="col-lg-4 col-md-12 col-12">
               {% include "include/adverts/advert_lovalty_program.html" %}
             </div>
          </div>
       </div>
    </section>
 </main>
{% endblock root %}

{% block body_scripts %}{% endblock body_scripts %}
