{% extends 'geeks/extends/foundation.html' %}

{% load static %}

{% block head_stylesheets %}{% endblock head_stylesheets %}

{% block title %}
      <title>{{COMPANY_NAME}}</title>
{% endblock title %}

{% block root %}
<main>
    <section class="container d-flex flex-column">
       <div class="row align-items-center justify-content-center g-0 py-lg-8 py-8">
          <!-- Docs -->
          <div class="offset-xl-1 col-xl-5 col-lg-6 col-md-12 col-12 text-center text-lg-start">
             <h1 class="display-3 mb-2 fw-bold">
                Serdecznie dziękujemy za zapis!
            </h1>
            <p class="fs-4 fw-bold mt-4">
                W ciągu <span class="text-primary"><u>kilku minut</u></span> powinni Państwo <span class="text-primary"><u>otrzymać na swoją skrzynek e-mail</u></span> potwierdzenie wraz z linkiem do wydarzenia.
            </p>
            <p class="fs-4 fw-bold">
                Jeśli wiadomość nie dojdzie w ciągu kliku minut prosimy o sprawdzenie folderu <span class="text-danger">„SPAM”</span> lub <span class="text-danger">„Wiadomości śmieci”</span>.
            </p>
            <p class="fs-4 fst-italic">
                W razie pytań, prosimy o kontakt: {{COMPANY_OFFICE_EMAIL}}
            </p>
          </div>
          <!-- img -->
          <div class="offset-xl-1 col-xl-5 col-lg-6 col-md-12 col-12 mt-8 mt-lg-0">
             <img src="{% static "geeks/assets/images/background/maintenance-mode.svg" %}" alt="maintenance" class="w-100">
          </div>
       </div>
    </section>
 </main>
{% endblock root %}

{% block body_scripts %}{% endblock body_scripts %}