{% extends 'geeks/extends/foundation.html' %}

{% load static %}

{% block head_stylesheets %}
<style>
    {% comment %} Markers inside li {% endcomment %}
    .program-enriched ul, .program-enriched ol {
        list-style-position: inside;
    }
    .program-enriched > ul, .program-enriched > ol {
        padding: 0;
    }
    
    {% comment %} Apply border on first level li-s {% endcomment %}
    .program-enriched > ol > li, .program-enriched > ul > li {
        border: 1px solid #F4F4F4;
        border-radius: 0.625rem;
        margin-bottom: 1rem;
        padding: 1rem;
        background-color: #f1f5f9;
    }
    
    {% comment %} Delete list styling for inner lists {% endcomment %}
    .program-enriched > ol > li > ol,
    .program-enriched > ul > li > ul,
    .program-enriched > ol > li > ul,
    .program-enriched > ul > li > ol{
        list-style-type: none;
    }
    
    {% comment %} Apply custom list style for inner lists {% endcomment %}
    .program-enriched > ol > li > ol > li:before,
    .program-enriched > ul > li > ul > li:before,
    .program-enriched > ol > li > ul > li:before,
    .program-enriched > ul > li > ol > li:before {
        content: '\2714';
        margin-left: -20px;
        margin-right: 10px;
        color: lightgreen;
    }
</style>
{% endblock head_stylesheets %}

{% block meta %}
    {% block inner_meta %}{% endblock inner_meta %}
    {% if webinar.description %}
    <meta name="description" content="{{webinar.description}}" />
    <meta property="og:description" content="{{webinar.description}}" />
    {% endif %}
    {% comment %} <link rel="canonical" href="{{META__BASE_URL}}{{CANONICAL}}" /> {% endcomment %}
    <meta property="og:locale" content="pl_PL" />
    <meta property="og:url" content="{{META__BASE_URL}}{% url "core:conference_edition_page" slug_edition=edition.slug %}" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{webinar.title}}" />
    
    <meta property="og:image:width" content="940" />
    <meta property="og:image:height" content="788" />
    {% if webinar.facebook_post_image %}
    <meta property="og:image" content="{{META__BASE_URL}}{% get_media_prefix %}{{webinar.facebook_post_image}}" />
    {% else %}
    <meta property="og:image" content="{{META__BASE_URL}}{% url "core:webinar_ogimage_page" pk=webinar.pk %}" />
    {% endif %}
    <meta property="og:image:alt" content="{{webinar.title}}" />

    <meta property="og:image:type" content="image/png" />
{% endblock meta %}

{% block title %}
      <title>{{COMPANY_NAME}}</title>
{% endblock title %}

{% block root %}
<main>
   <section class="py-6 bg-light-primary">
      <div class="container">
         <div class="row">
            <div class="offset-lg-2 col-lg-8 col-md-12 col-12 text-center">
               <span class="fs-4 fw-bold text-primary ls-md">
                  BEZPŁATNE SZKOLENIE — Zapisz się już dziś!
               </span>
               <p class="mt-4 mb-1 fw-bold">
                  Temat darmowego szkolenia
                  {% if request.user.is_staff %}
                  <a href="{% url 'admin:core_conferenceedition_change' object_id=edition.id %}">Edytuj / {{status}}</a>
                  {% endif %}
               </p>
               <h1 class="display-3 mt-2 mb-3 fw-bold">
                  {{webinar.title}}
               </h1>
               <!-- para  -->
               <p class="lead px-lg- 8 mb-6">
                  <b>{{webinar.date|date:"j E Y"}}</b> godzina 
                  <b>{{webinar.date|date:"H:i"}} — {{webinar.date_end|date:"H:i"}}</b>
                  <br>
                  Wykładowca: <b>{{webinar.lecturer}}</b>
               </p>

               <div
                  id="startAlert"
                  class="alert alert-success d-flex align-items-center {% if status != "IN_PROGRESS" %}d-none{% endif %}"
                  role="alert"
               >
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-check-circle-fill me-2" viewBox="0 0 16 16">
                     <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                  </svg>
                  <div>
                     Szkolenie już się rozpoczęło, ale nie martw się, <b>nadal możesz dołączyć, wypełniając formularz poniżej!</b>
                  </div>
               </div>

               <div class="d-flex justify-content-center text-dark" id="pageTimerContainer">
                  <div class="bg-white rounded me-4" style="width:110px;height:110px;">
                     <div class="d-flex flex-column text-center pt-2">
                        <div id="pageTimerDays" class="fw-bold" style="font-size:35px;"></div>
                        <div class="fw-bold">Dni</div>
                     </div>
                  </div>
                  <div class="bg-white rounded me-4" style="width:110px;height:110px;">
                     <div class="d-flex flex-column text-center pt-2">
                        <div id="pageTimerHours" class="fw-bold" style="font-size:35px;"></div>
                        <div class="fw-bold">Godzin</div>
                     </div>
                  </div>
                  <div class="bg-white rounded me-4" style="width:110px;height:110px;">
                     <div class="d-flex flex-column text-center pt-2">
                        <div id="pageTimerMinutes" class="fw-bold" style="font-size:35px;"></div>
                        <div class="fw-bold">Minut</div>
                     </div>
                  </div>
                  <div class="bg-white rounded me-4" style="width:110px;height:110px;">
                     <div class="d-flex flex-column text-center pt-2">
                        <div id="pageTimerSeconds" class="fw-bold" style="font-size:35px;"></div>
                        <div class="fw-bold">Sekund</div>
                     </div>
                  </div>
               </div>

            </div>
         </div>
      </div>
   </section>
   <section class="pb-lg-10 pb-3 pt-5">
      <div class="container">
         <div class="row justify-content-center">


            <div class="col-lg-6 col-md-12 col-12">
               <div class="card border">
                  <!-- card body  -->
                  <div class="card-body p-5">
                     <div class="mb-5">
                        <h2 class="fw-semibold">Program <span class="text-primary">bezpłatnego</span> szkolenia</h2>
                     </div>

                     <div
                     id="description"
                     role="tabpanel"
                     aria-labelledby="description-tab"
                     >
                     <div class="program-enriched fw-semibold lh-base">
                        {{webinar.program_pretty|safe}}
                     </div>
                     </div>

                  </div>
               </div>
            </div>

            <div class="col-lg-6 col-md-12 col-12">
               <div class="js-sticky-widget">

                  <div class="card border mb-4">
                     <!-- card body  -->
                     <div class="card-body p-5">
                        <h2 class="fw-semibold text-center">
                           Wypełnij poniższy formularz, aby dołączyć do <span class="text-primary">bezpłatnego</span> wydarzenia
                        </h2>
      
                        <form
                           class="row"
                           method="post"
                           action="{% url "core:conference_edition_page" slug_edition=edition.slug %}"
                           onsubmit="actionSubmit.disabled = true; return true;"
                        >
                           {% csrf_token %}
                           <div class="mb-3 col-12 col-md-6">
                           <label class="form-label" for="id_first_name">
                              Imię
                              <span class="text-danger">*</span>
                           </label>
                              {{form.first_name}}
                           </div>
                           <div class="mb-3 col-12 col-md-6">
                           <label class="form-label" for="id_last_name">
                              Nazwisko
                              <span class="text-danger">*</span>
                           </label>
                           {{form.last_name}}
                           </div>
                           <div class="mb-3 col-12 col-md-6">
                           <label class="form-label" for="id_email">
                              Adres E-mail
                              <span class="text-danger">*</span>
                           </label>
                           {{form.email}}
                           </div>
                  
                           <div class="mb-3 col-12 col-md-6">
                           <label class="form-label" for="id_phone">
                              Numer telefonu
                              <span class="text-danger">*</span>
                           </label>
                           {{form.phone}}
                           </div>
                           <div class="mb-3 col-12 col-md-6">
                           <label class="form-label" for="id_voivodeship">
                              Województwo
                              <span class="text-danger">*</span>
                           </label>
                           {{form.voivodeship}}
                           </div>
                           <div class="mb-3 col-12 col-md-6">
                           <label class="form-label" for="id_know_from">
                              Skąd dowiedziałeś się o szkoleniu?
                              <span class="text-danger">*</span>
                           </label>
                           {{form.know_from}}
                           </div>
                           <div class="mb-3 col-12 col-md-12">
                              <label class="form-label" for="id_using_closed_webinars">
                                 Czy korzystasz ze szkoleń zamkniętych w swojej firmie lub jednostce?
                                 <span class="text-danger">*</span>
                              </label>
                              {{form.using_closed_webinars}}
                           </div>
                           <p>
                              <small>
                                 Zgłaszając się na bezpłatny webinar, wyrażam zgodę na otrzymywanie informacji o nowościach, promocjach, produktach i usługach {{COMPANY_NAME}} na podany przeze mnie adres e-mail.
                              </small>
                           </p>
                           <div class="d-flex justify-content-center">
                              <div>
                                 <input
                                    name="actionSubmit"
                                    id="submit-btn"
                                    type="submit"
                                    class="btn btn-primary mt-2"
                                    value="Prześlij zgłoszenie"
                                 >
                              </div>
                           </div>
                        </form>
   
                     </div>
                  </div>

               </div>
               
            </div>

         </div>
      </div>
   </section>
</main>
{% endblock root %}


{% block body_scripts %}
<script src="{% static 'js/sticksy.min.js' %}"></script>
<script>
   var stickyElement = new Sticksy('.js-sticky-widget', {topSpacing: 70});
   stickyElement.onStateChanged = function (state) {
       if(state === 'fixed') {
         stickyElement.nodeRef.classList.add('widget--sticky')
       } else {
         stickyElement.nodeRef.classList.remove('widget--sticky')
       }
   }
</script><script src="{% static 'js/countdown.min.js' %}"></script>
<script>
   function addLeadingZero(number) {
      return number < 10 ? '0' + number : number.toString();
   }
   (function() {
      countdown(
    new Date('{{webinar.date|date:"c"}}'),
    function(ts) {
      if(ts.value > 0) {
         $("#pageTimerContainer").addClass("d-none");
         $("#startAlert").removeClass("d-none");
      } else {
         document.getElementById('pageTimerDays').innerHTML = addLeadingZero(ts.days);
         document.getElementById('pageTimerHours').innerHTML = addLeadingZero(ts.hours);
         document.getElementById('pageTimerMinutes').innerHTML = addLeadingZero(ts.minutes);
         document.getElementById('pageTimerSeconds').innerHTML = addLeadingZero(ts.seconds);
      }
    },
    countdown.DAYS|countdown.HOURS|countdown.MINUTES|countdown.SECONDS);
   })();
</script>
{% endblock body_scripts %}