{% extends './LecturerBase.html' %}

{% load static %}

{% block content %}
<div class="card mb-4">
    {% comment %} <!-- Card header -->
    <div class="card-header">
        <h3 class="mb-0">Szkolenia</h3>
        <span>
            {{lecturer.fullname}}
        </span>
    </div>
    <!-- Card body --> {% endcomment %}
    <div class="card-body">
        <!-- Table -->
        <div class="table-responsive overflow-y-hidden">
        <table class="table mb-0 text-nowrap table-hover table-centered text-nowrap">
            <tbody>
                {% if webinars %}
                    <tr>
                        <td>
                        <h3>Szkolenia aktualne</h3>
                        </td>
                    </tr>
                    {% for webinar in webinars %}
                        {% include 'geeks/components/webinar_tr.html' with webinar=webinar  %}
                    {% endfor %}
                {% else %}
                    <tr>
                        <td>
                        <h3>
                            Na chwilę obecną nie prowadzimy szkoleń z tym wykładowcą
                        </h3>
                        </td>
                    </tr>
                {% endif %}

                {% if archived_webinars %}
                    <tr>
                        <td>
                        <h3>Szkolenia archiwalne</h3>
                        </td>
                    </tr>
                    {% for webinar in archived_webinars %}
                        {% include 'geeks/components/webinar_tr.html' with webinar=webinar  %}
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
        </div>
    </div>
</div>
{% endblock content %}