{% load static %}


<!--begin::Question-->
<div class="mb-0">
    <!--begin::Head-->
    <div class="d-flex align-items-center justify-content-between mb-2">
      <!--begin::Title-->
      <a
        href="{% url 'core:webinar_program_page' slug=webinar.slug %}"
        class="fs-2 fw-bold text-gray-900 text-hover-primary me-1"
        >{{webinar.title}}</a
      >
      <!--end::Title-->
      <!--begin::Icons-->
      <div class="d-flex align-items-center">
        {% comment %} <span class="ms-1" data-bs-toggle="tooltip" title="New question">
          <i class="ki-duotone ki-information-5 text-primary fs-1">
            <span class="path1"></span>
            <span class="path2"></span>
            <span class="path3"></span>
          </i>
        </span>
        <span class="ms-1" data-bs-toggle="tooltip" title="User replied">
          <i class="ki-duotone ki-sms text-danger fs-1">
            <span class="path1"></span>
            <span class="path2"></span>
          </i>
        </span> {% endcomment %}
        {% if webinar.is_confirmed %}
        <span class="badge badge-warning fs-7">
          <i class="ki-duotone ki-star fs-4 text-light-warning me-1"><i class="path1"></i><i class="path2"></i></i>
          Pewny termin
        </span>
        {% endif %}
      </div>
      <!--end::Icons-->
    </div>
    <!--end::Head-->
    <!--begin::Summary-->
    <div class="fs-base fw-normal text-gray-700 mb-4">
      {% if webinar.description %}
        <p class="mb-0">
          {{webinar.description}}
        </p>
      {% endif %}

    </div>
    <!--end::Summary-->
    <!--begin::Foot-->
    <div class="d-flex flex-stack flex-wrap">
      <!--begin::Author-->
      <div class="d-flex align-items-center py-1">
        <!--begin::Symbol-->


        <div class="symbol symbol-35px me-2">
            <img
                src="{% static 'media/misc/spinner.gif' %}"
                data-src="{% get_media_prefix %}uploads/lecturers/{{webinar.lecturer.slug}}_35x35.webp"
                class="lozad"
                alt="{{webinar.lecturer.fullname}}"
            />
        </div>
        <!--end::Symbol-->
        <!--begin::Name-->
        <div
          class="d-flex flex-column align-items-start justify-content-center"
        >
          <span class="text-gray-900 fs-7 fw-semibold lh-1 mb-2"
            >
            <a href="{% url 'core:lecturer_experience_page' slug=webinar.lecturer.slug %}">
              {{webinar.lecturer.fullname}}
            </a>
            </span
          >
          <span class="text-muted fs-8 fw-semibold lh-1">
            {% for category in webinar.lecturer.categories.all %}
              {% if forloop.last %}
                {{category}}
              {% else %}
                {{category}},
              {% endif %}
            {% endfor %}
          </span
          >
        </div>
        <!--end::Name-->
      </div>
      <!--end::Author-->
      <!--begin::Info-->
      <div class="d-flex align-items-center py-1">
        <!--begin::Answers-->
        {% comment %} <span
          href="../../demo5/dist/apps/devs/question.html#answers"
          class="btn btn-sm btn-outline btn-outline-dashed btn-outline-default px-4 me-2"
          >{{webinar.date|date:"j E Y"}} r.
        </span> {% endcomment %}
        <!--end::Answers-->
        <!--begin::Answers-->
        {% comment %} <span
          href="../../demo5/dist/apps/devs/question.html#answers"
          class="btn btn-sm btn-outline btn-outline-dashed btn-outline-default px-4 me-2"
          >Godz. {{webinar.date|date:"H:i"}} - {{webinar.date_end|date:"H:i"}}
        </span> {% endcomment %}
        <!--end::Answers-->
        <!--begin::Answers-->
        {% comment %} <span
          href="../../demo5/dist/apps/devs/question.html#answers"
          class="btn btn-sm btn-outline btn-outline-dashed btn-outline-default px-4 me-2"
          >
          {% if webinar.is_discounted %}
          <span class="text-decoration-line-through fw-bolder text-danger">
            {{webinar.price_netto}}zł
          </span>
          <span>{{webinar.price}}zł</span>
          {% else %}
          {{webinar.price}}zł
          {% endif %}
          {{PRICE_ADNOTATION}}
        </span> {% endcomment %}
        <!--end::Answers-->
        
        
        <!--begin::Stat-->
        <div class="border border-gray-300 border-dashed rounded min-w-125px py-3 px-4 me-6">
          <!--begin::Number-->
          <div class="d-flex align-items-center">
              <i class="ki-duotone ki-calendar fs-5 text-grey me-2">
                  <i class="path1"></i>
                  <i class="path2"></i>
              </i>
              <div class="fs-7 fw-bold counted">
                  {{webinar.date|date:"j E Y"}}, {{webinar.date|date:"H:i"}}-{{webinar.date_end|date:"H:i"}}
              </div>
          </div>
          <!--end::Number-->
          <!--begin::Label-->
          <div class="fw-semibold fs-8 text-gray-700">Data i godzina szkolenia</div>
          <!--end::Label-->
      </div>
        <!--begin::Stat-->
        <div class="border border-gray-300 border-dashed rounded min-w-125px py-3 px-4 me-6">
          <!--begin::Number-->
          <div class="d-flex align-items-center">
              <i class="ki-duotone ki-calendar fs-5 text-grey me-2">
                  <i class="path1"></i>
                  <i class="path2"></i>
              </i>
              <div class="fs-7 fw-bold counted">
                {% if webinar.is_discounted %}
                <span class="text-decoration-line-through fw-bolder text-danger">
                  {{webinar.price_netto}}zł
                </span>
                <span>{{webinar.price}}zł</span>
                {% else %}
                {{webinar.price}}zł
                {% endif %}
                {{PRICE_ADNOTATION}}
              </div>
          </div>
          <!--end::Number-->
          <!--begin::Label-->
          <div class="fw-semibold fs-8 text-gray-700">
            Cena
            {% if webinar.is_discounted %}
                <span class="text-success fw-bold">
                  (promocja do {{webinar.discount_until|date:"j E Y"}} {{webinar.discount_until|date:"H:i"}})
                </span>
          {% endif %}
          </div>
          <!--end::Label-->
      </div>
      <!--end::Stat-->


      </div>
      <!--end::Info-->
    </div>
    <!--end::Foot-->
    <div class="separator border-4 my-5 border-secondary"></div>
  </div>
  <!--end::Question-->