{% load static %}
<!--begin::Question-->
<div class="mb-0">
    <!--begin::Head-->
    <div class="d-flex align-items-center mb-4">
      <!--begin::Title-->
      <a
        href="{% url 'core:webinar_program_page' slug=webinar.slug %}"
        class="fs-2 fw-bold text-gray-900 text-hover-primary me-1"
        >{{webinar.title}}</a
      >
      <!--end::Title-->
      <!--begin::Icons-->
      <div class="d-flex align-items-center">
        <span class="ms-1" data-bs-toggle="tooltip" title="New question">
          <i class="ki-duotone ki-information-5 text-primary fs-1">
            <span class="path1"></span>
            <span class="path2"></span>
            <span class="path3"></span>
          </i>
        </span>
        <span class="ms-1" data-bs-toggle="tooltip" title="User replied">
          <i class="ki-duotone ki-sms text-danger fs-1">
            <span class="path1"></span>
            <span class="path2"></span>
          </i>
        </span>
      </div>
      <!--end::Icons-->
    </div>
    <!--end::Head-->
    <!--begin::Summary-->
    <div class="fs-base fw-normal text-gray-700 mb-4">
      {{webinar.description}}
    </div>
    <!--end::Summary-->
    <!--begin::Foot-->
    <div class="d-flex flex-stack flex-wrap">
      <!--begin::Author-->
      <div class="d-flex align-items-center py-1">
        <!--begin::Symbol-->


        <div class="symbol symbol-35px me-2">
            <img
                src="{% get_media_prefix %}uploads/lecturers/{{webinar.lecturer.slug}}_35x35.webp"
                alt="{{webinar.lecturer.fullname}}"
            />
        </div>
        <!--end::Symbol-->
        <!--begin::Name-->
        <div
          class="d-flex flex-column align-items-start justify-content-center"
        >
          <span class="text-gray-900 fs-7 fw-semibold lh-1 mb-2"
            >{{webinar.lecturer.fullname}}</span
          >
          <span class="text-muted fs-8 fw-semibold lh-1">
            {% for category in webinar.lecturer.categories.all %}
              {% if forloop.last %}
                {{category}}
              {% else %}
                {{category}},
              {% endif %}
            {% endfor %}
          </span
          >
        </div>
        <!--end::Name-->
      </div>
      <!--end::Author-->
      <!--begin::Info-->
      <div class="d-flex align-items-center py-1">
        <!--begin::Answers-->
        <a
          href="../../demo5/dist/apps/devs/question.html#answers"
          class="btn btn-sm btn-outline btn-outline-dashed btn-outline-default px-4 me-2"
          >16 Answers</a
        >
        <!--end::Answers-->
        <!--begin::Tags-->
        <a
          href="../../demo5/dist/apps/devs/tag.html"
          class="btn btn-sm btn-light px-4 me-2"
          >Metronic</a
        >
        <!--end::Tags-->
        <!--begin::Upvote-->
        <a
          href="#"
          class="btn btn-sm btn-flex btn-light px-3"
          data-bs-toggle="tooltip"
          title="Upvote this question"
          data-bs-dismiss="click"
          >23 <i class="ki-duotone ki-black-right fs-7ms-2 me-0"></i
        ></a>
        <!--end::Upvote-->
      </div>
      <!--end::Info-->
    </div>
    <!--end::Foot-->
  </div>
  <!--end::Question-->